---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/static/polisipreifatrwydd.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/cy/static/polisipreifatrwydd> rel="alternate";
        hreflang="cy-GB"; title="Polisi preifatrwydd", <https://www.moneyadviceservice.org.uk/en/static/privacy>
        rel="alternate"; hreflang="en-GB"; title="Privacy policy"
      X-Session-Id:
      - ff21e72092799dbce92903e9bde5e080
    body:
      encoding: UTF-8
      string: '{"id":"polisipreifatrwydd","title":"Polisi preifatrwydd","description":"Gwybodaeth
        bersonol Rydym yn ystyried bod preifatrwydd ein defnyddwyr yn bwysig iawn
        ac ymdrinir ag unrhyw wybodaeth bersonol rydych yn ei darparu inn ...","body":"<h2>Gwybodaeth
        bersonol </h2><p>Rydym yn ystyried bod preifatrwydd ein defnyddwyr yn bwysig
        iawn ac ymdrinir ag unrhyw wybodaeth bersonol rydych yn ei darparu inni yn
        unol \u00e2\u2019n telerau ac amodau. Mae hyn yn cynnwys gwybodaeth a roddwch
        inni wrth ddefnyddio ein Llinell Gynghori Ariannol, gwasanaeth apwyntiadau
        wyneb yn wyneb a\u2019r wefan hon gan gynnwys y cyfleuster \u2018sgwrs ar
        y we\u2019. </p><p>Bydd unrhyw wybodaeth y byddwch yn ei darparu inni yn cael
        ei thrin yn unol \u00e2 Deddf Diogelu Data 1998. Ni fyddwn yn ceisio gwerthu
        dim i chi ac ni fyddwch yn derbyn galwadau ff\u00f4n diwahoddiad na gohebiaeth
        gennym ni nag unrhyw drydydd parti o ganlyniad i ddarparu data personol i
        ni. </p><h2>Pa wybodaeth bersonol ydym yn ei chasglu? </h2><p>Gallwn gasglou
        a defnyddio\u2019r wybodaeth ddilynol: </p><ul><li>eich enw a gwybodaeth gyswllt
        (yn cynnwys cyfeiriad e-bost) ac unrhyw fanylion cyswllt eraill a ddarparwch
        inni pan gyflwynwch ymholiad trwy\u2019r wefan hon</li><li>gwybodaeth a ddarparwch
        os cofnodwch broblem gyda\u2019r wefan hon</li><li>cofnodion o unrhyw ohebiaeth
        pan gysylltwch \u00e2 ni, a</li><li>manylion o\u2019ch ymweliadau \u00e2\u2019r
        wefan gan gynnwys gwybodaeth am eich gweithgarwch ar-lein ar y wefan, fel
        y tudalennau gwe yr ymwelwch[...]
