<% # Remember to update the <textarea> rows attribute if you add/remove any lines in this partial  %>
<div>
  <noscript><p>You have javascript turned off. Please turn javascript on to see the tools in action.</p></noscript>
  <p>
    <a id="[id]" class="mas-widget" target="_blank" lang="{lang}" href="https://www.moneyadviceservice.org.uk/en/tools/[tool_url]" data-width="{width}">[tool_title]</a>
  </p>
</div>
<script class="application_scripts" src="https://www.moneyadviceservice.org.uk/assets/syndication/tools.js"></script>
