---
http_interactions:
- request:
    method: post
    uri: http://webservices.capnetwork.co.uk/captco_webservice/CAPTCO_Webservice.asmx/GetTCO
    body:
      encoding: UTF-8
      string: Password=ghaj7a&SubscriberID=170796&Database=CAR&CapId=86391&RegistrationDate=2018%2F11%2F30&PurchaseCost=43000.0&FinanceAPR=0&Deposit=0&CurrentMileage=40&AnnualMileage=10&LengthOfOwnership=12&UserAge=30&UserPostCode=N1+1AA&AnnualInsurance=0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<TCOResult xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://webservices.capnetwork.co.uk\">\r\n
        \ <Success>true</Success>\r\n  <FailMessage />\r\n  <TotalCostOfOwnership>15514.67</TotalCostOfOwnership>\r\n
        \ <TotalMonthlyRunningCosts>1292.89</TotalMonthlyRunningCosts>\r\n  <RunningCostsPerMile>1.55</RunningCostsPerMile>\r\n
        \ <FuelCosts>2400.67</FuelCosts>\r\n  <Depreciation>11300</Depreciation>\r\n
        \ <ServiceAndMaintenance>1649.00</ServiceAndMaintenance>\r\n  <InsuranceGroup>50E</InsuranceGroup>\r\n
        \ <Insurance>0.00</Insurance>\r\n  <CostNew>77818.00</CostNew>\r\n  <DeliveryCost>660.0000</DeliveryCost>\r\n
        \ <RoadTax>165.00</RoadTax>\r\n  <PurchasePrice>43000.00</PurchasePrice>\r\n</TCOResult>"
  recorded_at: Tue, 07 Mar 2023 12:47:22 GMT
recorded_with: VCR 4.0.0
