.leader {
  @include respond-to($mq-s) {
    width: 100%;
    margin: 0 auto;
  }

  // Common attributes
  .leader__content {
    background-repeat: no-repeat;
    background-size: 100%;

    @include respond-to($mq-s) {
      height: 0;
      padding-top: 393 / 1200 * 100%;
    }
  }

  .leader__content-mobile-image {
    width: 100%;

    @include respond-to($mq-s) {
      display: none;
    }
  }

  .leader__content--en {
    @include respond-to($mq-s) {
      background-image: image_url('home_beta/leader/leader-image-tablet-en.png');
    }

    @include respond-to($mq-l) {
      background-image: image_url('home_beta/leader/leader-image-en.png');
    }
  }

  .leader__content--cy {
    @include respond-to($mq-s) {
      background-image: image_url('home_beta/leader/leader-image-tablet-cy.png');
    }

    @include respond-to($mq-l) {
      background-image: image_url('home_beta/leader/leader-image-cy.png');
    }
  }
}
