.leader {
  @extend %clearfix;
}

.leader__heading {
  @include body(27, 30);
  @include column(12);

  text-align: center;
  margin-top: $baseline-unit * 3;
  margin-bottom: $baseline-unit * 4;
}

.leader__content {
  @include column(12);
  position: relative;
}

.leader__image {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 0;
  width: 100%;
  padding-top: 408 / 464 * 100%;

  @include respond-to($mq-s) {
    padding-top: 393 / 1200 * 100%;
  }
}

.leader__image_text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: $color-black;
}

.leader__image_text__mq-0 {
  @include respond-to($mq-s) {
    display: none;
  }
}

.leader__image_text__mq-s {
  display: none;

  @include respond-to($mq-s, $mq-l) {
    display: block;
  }
}

.leader__image_text__mq-l {
  display: none;

  @include respond-to($mq-l) {
    display: block;
  }
}

@each $lang in locale, en, cy {
  .leader__content--#{$lang} {
    @include respond-to(0, $mq-s) {
      .leader__image_text__mq-0 {
        display: none;
      }

      @each $value in count, 0, 1, 2 {
        .leader__image--#{$value} {
          .leader__image_text__mq-0--#{$value} {
            display: block;
          }

          background-image: image_url('home_beta/leader/leader_image_mq-0-#{$value}.jpg');
        }
      }
    }

    @include respond-to($mq-s) {
      .leader__image {
        background-image: image_url('home_beta/leader/leader-image-tablet-en.png');
      }
    }

    @include respond-to($mq-l) {
      .leader__image {
        background-image: image_url('home_beta/leader/leader-image-en.png');
      }
    }
  }
}
