// -- Headers ----------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roobert-Bold", sans-serif !important;
  font-style: normal;
  font-weight: bold;
}

h1 {
  color: $blue_primary;
}
h2 {
  color: $blue_primary;
}
h3 {
  color: $text_secondary;
}
// -- *Note H4 restricted to footer links - out of scope for reskin tools --
h5 {
  color: $text_secondary;
}
h6 {
  color: $text_secondary;
}
// ---------------------------------------------------------------------------------

// -- Paragraphs -------------------------------------------------------------------
p {
  font-family: "Roobert-Regular", sans-serif !important;
  font-size: 16px;
  line-height: 23px;
  color: $text_secondary;
  &.callout {
    background-color: $light_grey;
    border-radius: $border_radius;
    padding: 10px;
  }
}
// ---------------------------------------------------------------------------------

// -- Buttons ----------------------------------------------------------------------
.button {
  box-sizing: border-box;
  /*font-family: 'Roobert-Regular', sans-serif;*/
  font-family: "Roobert-SemiBold", sans-serif !important;
  &:active,
  &:focus,
  &:hover {
    outline: none !important;
  }
  &.button--primary {
    background: $magenta_primary;
    color: $white;
    font-size: 16px;
    border: 3px solid $magenta_primary;
    border-radius: $border_radius;
    box-shadow: 0px 3px 0px rgba(0, 11, 59, 0.25);
    padding: 8px 16px;
    &:hover {
      background: $magenta_dark;
      border: 3px solid $magenta_dark;
    }
    &:focus {
      background-color: $yellow_secondary;
      border: 3px solid $support_focus;
      color: $text_secondary;
    }
    &:active {
      background: $magenta_darker;
      color: $white;
      border: 3px solid $yellow_secondary;
      box-shadow: 0px 3px 0px $white, inset 0px 5px 2px rgba(0, 11, 59, 0.25);
    }
    &:disabled {
      background: $light_grey;
      color: $input_border;
      box-shadow: none;
      border: 1px solid $support_hr;
    }
  }
}
a.button {
  text-decoration: none;
}

.js {
  .popup-tip__button {
    background-color: #f3f1f3;
    color: #c82a87;
    border: 3px solid #c82a87;
    &:focus {
      background-color: #f0f05a;
      border-color: #8200d1;
      color: #8200d1;
      outline: none;
    }
    @media print {
      display: none;
    }
    span {
      display: block;
      margin-top: -2px;
    }
  }
  .popup-tip__container {
    border: 1px solid #aeb0bd;
  }
}
// ---------------------------------------------------------------------------------

// -- Form elements ----------------------------------------------------------------
label {
  font-family: "Roobert-Bold", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: $text_secondary;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
  width: 285px;
  height: 40px;
  font-family: "Roobert-Regular", sans-serif;
  box-sizing: border-box;
  background-color: $white;
  border: 1px solid $input_border;
  border-radius: $border_radius;
  padding: 9px 12px 9px 12px;
  &:focus {
    border: 2px solid $support_focus;
    border-radius: 0;
    background-color: $yellow_secondary;
    outline: 0;
  }
}
input[type="radio"] {
  width: auto !important;
  height: auto !important;
  margin-right: 10px;
  &:focus,
  &:hover {
    outline-color: $support_focus;
  }
  + label {
    cursor: pointer;
    vertical-align: text-bottom;
    margin-right: 30px;
  }
}
input[type="checkbox"] {
  &:focus,
  &:hover {
    outline-color: $support_focus;
  }
}
select {
  width: 285px;
  background-color: $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 7px 12px 7px 12px;
  height: auto;
  border-radius: $border_radius;
  &:focus {
    border: 2px solid $support_focus;
    border-radius: 0;
    background-color: $yellow_secondary;
    outline: 0;
  }
}
fieldset {
  legend {
    font-family: "Roobert-Bold", sans-serif;
    font-size: 22px;
    font-weight: 700;
  }
}
.form__row.is-errored {
  border-color: $red_error;
  border-width: 4px;
  label {
    color: $text_secondary;
  }
  input[type="text"],
  input[type="number"] {
    border: 2px solid $red_error;
  }
  select {
    border: 2px solid $red_error;
    color: $text_secondary;
  }
  .js-inline-error {
    p {
      color: $red_error;
      font-size: 16px;
      line-height: 23px;
    }
  }
}
// ---------------------------------------------------------------------------------
