---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/articles/why-save-into-a-pension.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/articles/why-save-into-a-pension>
        rel="alternate"; hreflang="en-GB"; title="Why save into a pension?", <https://www.moneyadviceservice.org.uk/cy/articles/pam-cynilo-mewn-pensiwn>
        rel="alternate"; hreflang="cy-GB"; title="Pam cynilo mewn pensiwn?"
      X-Session-Id:
      - 50c58e28a08c471be380e43ee8ff6490
    body:
      encoding: UTF-8
      string: '{"id":"why-save-into-a-pension","title":"Why save into a pension?","description":"Pensions
        are an efficient way to save for retirement. Contributions are topped up by
        the taxman and often by employers","body":"<p class=\"intro\"><img src=\"/images/why-save-into-a-pension.jpg\"/>Pensions
        might seem complicated but the basic idea is a simple one. It\u2019s worth
        understanding their benefits, because your State Pension \u2013 while providing
        a foundation \u2013 may not be enough to live on. You need to save more.\u00a0
        </p><h2>The importance of retirement savings </h2><div class=\"callout\"><h3>DID
        YOU KNOW? </h3><p>The maximum basic State Pension is far below what most people
        say they hope to retire on. </p></div><p>More than half of people in the UK
        either aren\u2019t saving at all for their retirement or they aren\u2019t
        saving nearly enough to give them the standard of living they hope for when
        they retire. </p><p>If you fall into this category, you have three choices
        really. You can adjust downwards your expectations of what you\u201[...]
