.l-annuities__banner {
  padding-top: $baseline-unit*6;
  padding-bottom: $baseline-unit*2;
  background-image: linear-gradient(180deg, #ffffff, #F3F3F3);
}

.l-annuities__banner-left {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(7);
  }
}

.l-annuities__banner-right {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(5);
  }
}

.l-annuities__list {
  @include body(18, 24);
  margin-top: $baseline-unit*5;

  @include respond-to($mq-l) {
    @include body(22, 30);
  }
}

.l-annuities__video {
  width: 100%;
  min-height: 284px;
  margin-top: $baseline-unit*4;
}

.l-annuities__video-caption {
  @extend %paragraph;
  margin-top: $baseline-unit*2;
}

.l-annuities__image {
  margin-top: $baseline-unit*4;
  margin-left: $baseline-unit*4;
}

.l-annuities__heading {
  @include column(12);
  margin-top: 0;
}

.l-annuities__small-heading {
  @include body(22,26);
  color: $color-heading-extra-small;
}

.l-annuities__intro {
  @extend %heading-extra-small;
}

.l-annuities__citation {
  display: block;
  margin-top: $baseline-unit*2;
}

.l-annuities__panel {
  clear: both;
  overflow: hidden;
  background-color: $color-panel-background;
  padding: $baseline-unit*3 0;
  margin-top: $baseline-unit*6;
  margin-bottom: $baseline-unit*6;

  p {
    @extend %paragraph;
  }
}

.l-annuities-logos {
  margin-top: $baseline-unit*6;
  padding-top: $baseline-unit*3;
  border-top: $default-border-thin;
}

.l-annuities-logos__list {
  margin-top: $baseline-unit*4;

  > li {
    display: inline;
  }
}

.l-annuities-logos__image--aviva {
  width: 102px;
}

.l-annuities-logos__image--canada-life {
  width: 122px;
}

.l-annuities-logos__image--friends-life {
  width: 122px;
}

.l-annuities-logos__image--hodge-lifetime {
  width: 113px;
}

.l-annuities-logos__image--just-retirement {
  width: 172px;
}

.l-annuities-logos__image--legal-general {
  width: 125px;
}

.l-annuities-logos__image--liverpool-victoria {
  width: 140px;
}

.l-annuities-logos__image--mgm {
  width: 188px;
}

.l-annuities-logos__image--partnership {
  width: 188px;
}

.l-annuities-logos__image--prudential {
  width: 157px;
}

.l-annuities-logos__image--saga {
  width: 157px;
}

.l-annuities-logos__image--standard-life {
  width: 160px;
}

.l-annuities-logos__image--scottish-widows {
  width: 150px;
}
