.l-article {
  overflow: hidden;
  margin-bottom: $baseline-unit*4;
}

@include respond-to($mq-m, $mq-l) {

  .l-article-intro,
  .l-article .related-links {
    @include column(9);
    @include push(3);
  }

  .l-article .related-categories {
    @include column(3);
  }

  .l-article-main {
    @include column(9);
    @include push(3);
  }

  .l-hr-article-intro,
  .l-hr-article-related-links {
    @include column(12);
  }

  .l-article .related-categories {
    @include column(3);
  }

  .l-article-main {
    @include column(9);
    margin-bottom: $baseline-unit*2;
  }

  .l-article .related-links {
    margin-bottom: $baseline-unit*3;
  }
}

@include respond-to($mq-l) {

  .l-article-intro {
    @include column(7);
    @include push(2);
    @include pull(3);
  }

  .l-hr-article-intro {
    @include column(9);
  }

  .l-article .related-categories {
    @include column(2);
    clear: left;
  }

  .l-article-main {
    @include column(7);
    @include push(2);
  }

  .l-article .related-links {
    @include column(3);
    margin-bottom: $baseline-unit*3;
  }
}
