.l-c19_diagnostics-results {
	.results__intro {
		font-weight: 700; 
	}

	.results__urgent-actions {
		@include row(12); 

		background: $color-grey-pale; 

		.urgent-actions__heading {
			@include column(12); 

			font-size: 1rem; 
			text-transform: uppercase;
			margin-top: $baseline-unit * 2; 
			color: $color-black; 
		}

		.urgent-actions__actions {
			@include column(12); 

			list-style: none; 
			padding: 0; 
			margin-top: 0; 
			margin-bottom: 0; 
		}

		.urgent-actions__action {
			background: $color-white;
			margin-top: 0; 
			margin-bottom: $baseline-unit * 2; 
			padding: $baseline-unit $default-gutter;
		}
	}

	.results__sections {
		@include row(12); 

		.sections__sections {
			list-style: none; 
			padding: 0;
		}

		.section__title {
			font-size: 1rem; 
			line-height: 1.2; 
			color: $color-green-secondary;
			padding-bottom: $baseline-unit; 
			border-bottom: solid 1px $color-grey-pale; 

			.title__text {
				@include column(12); 

				display: inline-block;
				float: none; 
				padding-right: calc(18px + #{$default-gutter}); 
			}
		}

		.section__subtitle {
			@include column(12); 
			
			font-size: 1rem;
			margin-top: $baseline-unit; 
			color: $color-green-secondary;
		}

		.sections__headings {
			@include column(12); 

			list-style: none; 
			padding: 0;
			margin-top: 0; 
			margin-bottom: 0; 
		}

		.sections__heading {
			border: solid 1px $color-grey-pale;
			padding: $baseline-unit $default-gutter;

			.heading__title {
				font-size: 1rem; 
				margin-top: 0; 
				margin-bottom: $baseline-unit; 
			}

			.heading__content {
				margin-top: 0; 
				margin-bottom: 0; 

				p, a {
					font-size: 0.875rem; 
					margin: $baseline-unit 0;
				}
			}
		}
	}
}

// Component initialised
[data-dough-money-navigator-results-initialised="yes"] {
	.sections__section {
		&.is-collapsed {
			.section__content {
				height: 0;
				overflow: hidden;
			}
		}

		.section__title {
			position: relative;

			.title__icon {
				position: absolute;
				top: 50%; 
				right: $default-gutter; 
				width: 0;
				height: 0; 
				transform: translateY(-50%); 

				border: solid transparent 9px;
				border-bottom-color: $color-black;
				border-top-width: 0; 
			}			
		}
	}
}
