.l-campaign-image {
  width: 100%;
  margin-bottom: $baseline-unit*2;

  @include respond-to($mq-l) {
    display: block;
    margin: 0 auto $baseline-unit*3;
    width: 95%;
  }
}

.l-campaign-image--fill-width {
  @include respond-to($mq-l) {
    width: 100%;
  }
}

.l-campaign__heading {
  @extend .heading-extra-large;
  color: $color-heading-default;
  margin-top: 0;
  margin-bottom: $baseline-unit;
}

.l-campaign__tagline {
  @extend %font-heading-heavy;
  @include body(20, 24);
  margin-top: $baseline-unit*2;
  margin-bottom: $baseline-unit*4;
}

.l-campaign__content {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(7);
    margin-bottom: $baseline-unit*10;
  }

  p {
    @include body(18, 28);
  }
}

.l-campaign__content--padded-top {
  margin-top: $baseline-unit*5;

  @include respond-to($mq-m) {
    margin-top: $baseline-unit*7;
  }

  @include respond-to($mq-l) {
    margin-top: $baseline-unit*10;
  }
}

.l-campaign__next-steps {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(4);
    @include push(1);
    margin-top: $baseline-unit*16;
    margin-bottom: $baseline-unit*10;
  }
}

.l-campaign__next-steps-heading {
  color: $color-heading-extra-small;
  @include body(16, 24);
  margin-top: 0;
}

.l-campaign-directory {
  margin-top: $baseline-unit*6;
}

.l-campaign__2col-heading {
  @include column(12);
}

.l-campaign__2col-left {
  @include respond-to($mq-xs) {
    @include column(6);
    margin: 0 auto;
    display: block;
    float: none;
  }

  @include respond-to($mq-m) {
    @include column(3);
  }

  @include respond-to($mq-l) {
    @include column(4);
  }
}

.l-campaign__2col-main {
  @include respond-to($mq-m) {
    @include column(9);
  }

  @include respond-to($mq-l) {
    @include column(6);
  }
}
