.l-campaign-image {
  width: 100%;
  margin-bottom: $baseline-unit*2;

  @include respond-to($mq-l) {
    width: 80%;
    margin-left: 10%;
  }
}

.l-campaign__heading {
  @extend .heading-extra-large;
  color: $color-heading-default;
  margin-top: 0;
  margin-bottom: $baseline-unit;
}

.l-campaign__tagline {
  @extend %font-heading-medium;
  @include body(20, 24);
  margin-top: 0;
}

.l-campaign__content {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(7);
    margin-bottom: $baseline-unit*10;
  }

  p {
    @include body(18, 26);
    margin-top: 0;
  }
}

.l-campaign__next-steps {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(4);
    @include push(1);
    margin-top: $baseline-unit*16;
    margin-bottom: $baseline-unit*10;
  }
}

.l-campaign__next-steps-heading {
  color: $color-heading-extra-small;
  @include body(18, 24);
  margin-top: 0;
}

.l-campaign-directory {
  margin-top: $baseline-unit*6;
}
