// General
.l-car-campaign {
  position: relative;
  z-index: 2;
}

.l-car-campaign__section-media {
  width: 100%;
}

.l-car-campaign__section .l-car-campaign__section-text {
  h2 {
    margin-top: 0;
  }
}

// Page BG
.l-car-campaign-page-bg {
  height: 600px;
  left: 0;
  position: absolute;
  top: 86px;
  width: 100%;
  z-index: 1;

  @include respond-to($mq-xl){
    background: transparent 0 0 image_url('car_landing/car-banner-grad-bg.png') repeat-x;
  };
}

// Banner
.l-car-campaign__banner {
  background: transparent 50% 100% image_url('car_landing/car-banner.jpg') no-repeat;
  background-size: cover;
  min-height: 300px;
  max-height: 600px;
  padding-bottom: 50%;
  width: 100%;

  .ie8 & {
    min-height: 600px;
    padding-bottom: 0;
  }
}

// Intro
.l-car-campaign__section--intro {
  @include column(12);
  @include respond-to($mq-m){
    @include column(8);
    @include push(2);
  };
}

.l-car-campaign__section-separator {
  background: transparent 50% 95% image_url('car_landing/separator.png') no-repeat;
  background-size: 180%;
  float: left;
  height: 65px;
  margin-bottom: $baseline-unit*4;
  margin-top: $baseline-unit*4;
  padding-bottom: 18.74%;
  width: 100%;

  @include respond-to($mq-s,$mq-m){
    background-size: cover;
  };

  @include respond-to($mq-m){
    @include column(10);
    @include push(1);
    background-position: 50% 50%;
    background-size: 90%;
    height: 85px;
    margin-bottom: $baseline-unit*9;
    margin-top: $baseline-unit*7;
    padding-bottom: 0;
  };

  @include respond-to($mq-l){
    height: 125px;
  };

}


// Buying a car
.l-car-campaign__section--buy {
  @include column(12);
  @include respond-to($mq-m){
    @include column(8);
    @include push(2);
  };
}

.l-car-campaign__section--buy .l-car-campaign__section-row {
  @include row(12);
  @include respond-to($mq-m){
    @include row(8);
  };
}

.l-car-campaign__section--buy .l-car-campaign__section-heading{
  @include column(12,12);
  @include respond-to($mq-m){
    @include column(8,8);
  };
}

.l-car-campaign__section--buy .l-car-campaign__section-text {
  @include column(12,12);

  @include respond-to($mq-m){
    @include column(4,8);
  };
}

.l-car-campaign__section--buy .l-car-campaign__section-heading + .l-car-campaign__section-text {
  @include column(6,12);
  float: right;
  @include respond-to($mq-m){
    @include column(4,8);
    float: left;
  };
}

.l-car-campaign__section--buy .l-car-campaign__section-media {
  @include column(6,12);
  background: transparent -75px top image_url('car_landing/buy-car.png') no-repeat;
  background-size: cover;
  float: left;
  min-height: 350px;
  margin-left: 0;
  padding-bottom: 70.8%;

  @include respond-to(0, $mq-m){
    margin-bottom: $baseline-unit*3;
  };

  @include respond-to($mq-m){
    @include column(4,8);
    background-position: top right;
    background-size: contain;
    float: right;
    min-height: inherit;
    margin-top: -$baseline-unit*10;
    padding-left: 30px;
    padding-bottom: 65.8%;
  };

  .ie8 & {
    padding-left: 0;
  }
}

// Running a car
.l-car-campaign__section--run {
  @include column(12);
  margin-bottom: $baseline-unit*11;

  @include respond-to($mq-m){
    @include column(9);
    @include push(1);
    margin-bottom: $baseline-unit*17;
  };
}

.l-car-campaign__section--run .l-car-campaign__section-row {
  @include row(12);
  @include respond-to($mq-m){
    @include row(9);
  };
}

.l-car-campaign__section--run .l-car-campaign__section-media {
  background: transparent 60px 100% image_url('car_landing/run-car.png') no-repeat;
  float: left;
  min-height: 305px;
  width: 100%;

  @include respond-to(0, $mq-m){
    margin-bottom: $baseline-unit*3;
  };

  @include respond-to($mq-s){
    background-position: right top;
  };

  @include respond-to($mq-m){
    @include column(5,9);
    background-position: top left;
    background-size: contain;
    float: left;
    margin-top: $baseline-unit*14;
    padding-right: 30px;
    padding-bottom: 0;
  };
}

.l-car-campaign__section--run .l-car-campaign__section-text {
  @include column(12);
  @include respond-to($mq-m){
    @include column(4,9);
    float: right;
  };
}

// Selling a car
.l-car-campaign__section--sell {
  @include column(12);
  margin-bottom: $baseline-unit*11;

  @include respond-to($mq-m){
    @include column(10);
    @include push(2);
    margin-bottom: $baseline-unit*6;
  };
}

.l-car-campaign__section--sell .l-car-campaign__section-row {
  @include row(12);
  @include respond-to($mq-m){
    @include row(10);
  };

  .l-car-campaign__section-text:first-child {
    @include respond-to($mq-m){
      margin-top: 10%;
    };
  }
}

.l-car-campaign__section--sell .l-car-campaign__section-text {
  @include column(12);

  position: relative;
  z-index: 1;

  @include respond-to($mq-m){
    @include column(4,10);
  };
}

.l-car-campaign__section--sell .l-car-campaign__section-media {
  float: left;
  width: 100%;

  @include respond-to($mq-m){
    @include column(6,10);
    float: right;
  };

  &:before {
    background: transparent -100px 0 image_url('car_landing/sell-car.png') no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 525px;
    position: relative;
    width: 100%;

    @include respond-to($mq-s){
      background-position: center top;
      background-size: contain;
    };

    @include respond-to($mq-l){
      min-height: 700px;
      left: -70px;
      padding-bottom: 0;
    };

    .ie8 & {
      left: 0;
      width: 575px;
    }
  }
}
