// Category level pages

.l-category__top {
  border-bottom: 1px solid $color-grey-pale;
  color: $color-true-black;
  padding-bottom: 40px;
  position: relative;
}

.l-category--image {
  background-position: right 10px;
  background-repeat: no-repeat;
  background-size: 40% auto;
  padding-bottom: 60px;

  @include respond-to($mq-m) {
    background-position: right 70px;
  }  
}

.editorial .l-category__top__intro {
  @include body(22, 28);
}

.l-category__top__intro {
  display: none;

  @include respond-to($mq-s) {
    display: block;
  }
}

.l-category__top__link-list-heading {
  @extend %heading-smaller;
}

.l-category--image .l-category__top__content {
  width: 60%;
  
  @include respond-to($mq-s) {
    min-height: 170px;
  }
}

.l-category--image .l-category__top {
  @include respond-to($mq-s) {
    min-height: 300px;
  }  
}
