.l-debtmanagement {
  @include body(18, 24);
  overflow: hidden;
  clear: both;
  margin-top: 30px;
  margin-bottom: 60px;

  h1, h2, h3 {
    margin-top: 0;
  }
}

.l-debtmanagement--filters {
  background: $color-grey-pale;
  padding-top: $baseline-unit*2;
  padding-bottom: $baseline-unit*2;
}

.l-debtmanagement--options {
  margin-top: $baseline-unit*-4;
}

.l-debtmanagement--options .l-debtmanagement__inner__heading {
  color: $color-green-dark;
  padding-top: $baseline-unit*4;
}

.l-debtmanagement__inner {
  @include column(12);
}

.l-debtmanagement__inner--with-image {
  @include respond-to($mq-l) {
    @include column(7);
  }
}

.l-debtmanagement__image-small {
  display: none;

  @include respond-to($mq-l) {
    @include column(5);
  }
}

.l-debtmanagement__image-small--left {
  float: left;
}

.l-debtmanagement__button {
  padding: $baseline-unit*2;
  margin-top: $baseline-unit*2;

  @include respond-to($mq-l) {
    @include column(5);
    background: $color-grey-pale;
  }
}

.l-debtmanagement__button .button {
  margin-top: $baseline-unit*4;

  @include respond-to($mq-l) {
    margin-top: 0;
  }
}

.l-debtmanagement__radio-item {
  display: block;
  position: relative;
  margin: $baseline-unit;
  @include column(6);

  @include respond-to($mq-m) {
    @include column(3);
  }
}

.l-debtmanagement__advisor {
  margin-top: $baseline-unit*4;
  margin-bottom: $baseline-unit*6;
  @include column(12);

  @include respond-to($mq-m) {
    @include column(6);
  }
}

.l-debtmanagement__advisor--even {
  padding-bottom: $baseline-unit*8;
  border-bottom: 1px solid $color-grey-palest;

  @include respond-to($mq-m) {
    border-right: 1px solid $color-grey-palest;
    border-bottom: none;
    padding-right: 3.3333333%;
    padding-bottom: 0;
    clear: both;
  }
}

.l-debtmanagement__country-heading {
  clear: both;
}

.l-tool-advert {
  background-color: $color-grey-pale;
  border-bottom: 1px solid $color-grey-palest;
  padding-bottom: $baseline-unit*3;
}

.l-tool-advert__inner {
  @include column(12);
}

.l-tool-advert__heading {
  @include body(24, 24);
  color: black;
}

.no-js .l-debtmanagement--filters,
.js .l-debtmanagement--options,
.js .js-debtmanagement-country,
.js .js-tool-advert {
  display: none;
}

.js .l-debtmanagement--options.is-visible,
.js .js-debtmanagement-country.is-visible,
.js .js-tool-advert.is-visible {
  display: block;
}

.js .js-debtmanagement-country h4 {
  display: none;
}
