.l-error-page {
  min-height: px(600);
}

.l-error-page-message {
  @include column(12);
  text-align: center;
  margin-top: px(60);

  & + .directory {
    background-color: transparent;
  }
}

.error-page__text {
  @extend .intro;
}

.error-page__directory-text {
  text-align: left;
  margin-top: px(120);
  margin-bottom: px(36);

}
