.l-error-page {
  min-height: 600px;
}

.l-error-page-message {
  @include column(12);
  text-align: center;
  margin-top: $baseline-unit*10;
  margin-bottom: px(12);

  & + .directory {
    background-color: transparent;
  }
}

.error-page__text {
  @extend .intro;
}

.error-page__directory-text {
  text-align: left;
  margin-top: $baseline-unit*20;
  margin-bottom: $baseline-unit*6;

}
