.l-trust-banner {
  @include column(12);
}

.l-directory {
  @extend .clearfix;

  @if $responsive {

    & .l-constrained {
      display: flex;
      flex-flow: column;

      @include respond-to($mq-m) {
        flex-flow: row;
        flex-wrap: wrap;
      }
    }

    .directory__item {
      flex-grow: 1;
      margin-left: 1.6667%;
      margin-right: 1.6667%;
      margin-bottom: px(12);

      @include respond-to($mq-m) {
        max-width: 45%;
        margin-bottom: px(18);
      }

      @include respond-to($mq-l) {
        max-width: 30%;
      }
    }

    .ie9 & {
      .directory__item {
        @include column(12);

        @include respond-to($mq-m) {
          @include column(6);
          min-height: 126px;
        }

        @include respond-to($mq-l) {
          @include column(4);
          min-height: 156px;
          margin-bottom: $baseline-unit*4;
        }
      }
    }

  } @else {

    .directory__item {
      @include column(12);

      @include respond-to($mq-m) {
        @include column(6);
        min-height: 126px;
      }

      @include respond-to($mq-l) {
        @include column(4);
        min-height: 180px;
        margin-bottom: $baseline-unit*4;
      }
    }
  }
}

.l-constrained.l-promos {
  margin-bottom: $baseline-unit*2;
}

.l-homepage-promo {
  margin-top: $baseline-unit*4;
  margin-bottom: $baseline-unit*6;

  @include respond-to($mq-s) {
    @include column(6);
    margin-top: $baseline-unit*4;
    min-height: 335px;
  }

  @include respond-to($mq-m) {
    min-height: 397px;
  }

  @include respond-to($mq-l) {
    @include column(3);
    margin-bottom: $baseline-unit*4;
    margin-top: $baseline-unit*4;
  }
}
