.l-home-top {
  @include column(12);
  width: 100%;
  margin: 0;

  @if ($responsive == false) {
    width: $mq-l;
    margin: 0 auto;
    float: none;
    display: block;
  }

  .home-top-trust {
    @include column(12);

    @include respond-to($mq-small-tablet, $mq-small-tablet-end) {
      margin-bottom: $baseline-unit*9;
    }
  }

  .home-top-promo {
    @include column(12);

    @include respond-to($mq-m) {
      @include column(6);
    }
  }
}

.l-home-directory {
  background-color: $color-directory-emphasized-bg;
  clear: both;
}

.l-home-directory__title {
  @extend %font-heading-medium;
  @include column(12);
  @include body(16, 18);
  color: $color-heading-extra-small;
}

.l-homepage-divider {
  @include column(12);
}

.l-home-directory__intro {
  @extend %font-heading-medium;
  @include column(12);
  color: $color-heading-default;
  margin-top: $baseline-unit*6;
}
