.l-trust-banner {
  @include column(12);
}

/* @lintingIgnoreBegin */

.l-directory {
  @extend .clearfix;

  .flexbox & .l-constrained {
    display: flex;
    flex-flow: column;

    @include respond-to($mq-m) {
      flex-flow: row;
      flex-wrap: wrap;
    }
  }

  .flexbox & .directory__item {
    margin-right: $gutter;
    margin-left: $gutter;
    margin-bottom: px(12);

    @include respond-to($mq-m) {
      margin-bottom: px(18);
      flex-basis: 46%;
    }

    @include respond-to($mq-l) {;
      flex-basis: 30%;
    }
  }

  .no-flexbox & .directory__item {
    @include column(12);

    @include respond-to($mq-m) {
      @include column(6);
      min-height: 133px;
    }

    @include respond-to($mq-l) {
      @include column(4);
      min-height: 180px;
      margin-bottom: $baseline-unit*4;
    }

    @include respond-to($mq-xl) {
      min-height: 128px;
    }
  }
}

/* @lintingIgnoreEnd */

.l-constrained.l-promos {
  margin-bottom: $baseline-unit*2;
}

.l-homepage-promo {
  margin-top: $baseline-unit*4;
  margin-bottom: $baseline-unit*6;

  @include respond-to($mq-s) {
    @include column(6);
    margin-top: $baseline-unit*4;
    min-height: 335px;
  }

  @include respond-to($mq-m) {
    min-height: 397px;
  }

  @include respond-to($mq-l) {
    @include column(3);
    margin-bottom: $baseline-unit*4;
    margin-top: $baseline-unit*4;
  }
}
