.l-trust-banner {
  @include column(12);
}

.l-directory {
  @extend .clearfix;

  .directory__item {
    @include column(12);

    @include respond-to($mq-m) {
      @include column(6);
      min-height: 133px;
    }

    @include respond-to($mq-l) {
      @include column(4);
      min-height: 180px;
      margin-bottom: px(24);
    }

    @include respond-to($mq-xl) {
      min-height: 128px;
    }
  }
}

.l-constrained.l-promos {
  margin-bottom: px(12);
}

.l-homepage-promo {
  margin-top: px(24);
  margin-bottom: px(36);

  @include respond-to($mq-s) {
    @include column(6);
    margin-top: px(24);
    min-height: 335px;
  }

  @include respond-to($mq-m) {
    min-height: 397px;
  }

  @include respond-to($mq-l) {
    @include column(3);
    margin-bottom: px(24);
    margin-top: px(24);
  }
}
