.l-trust-banner {
  @include column(12);
}

.l-directory__item {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(6);
    min-height:126px;
  }

  @include respond-to($mq-l) {
    @include column(4);
    margin-bottom: $baseline-unit*4;
  }
}

.l-constrained.l-promos {
  margin-bottom: $baseline-unit*2;
}

.l-homepage-promo {
  @include respond-to($mq-s) {
    @include column(6);
    margin-top: $baseline-unit*4;
    min-height: 325px;
  }

  @include respond-to($mq-m) {
    min-height: 397px;
  }

  @include respond-to($mq-l) {
    @include column(3);
    margin-bottom: $baseline-unit*4;
    margin-top: $baseline-unit*4;
  }
}
