$transition-time: 0.4s;

.l-money_navigator-results {
	.results__subheading {
		text-transform: uppercase;
	}

	.results__intro {
		font-size: 1.125rem;
		font-weight: 700;
	}

	.results__urgent-actions {
		@include row(12);

		background: $color-grey-pale;

		.urgent-actions__heading {
			@include column(12);

			font-size: 1rem;
			margin-top: $baseline-unit * 2;
			color: $color-black;

			.heading--strong {
				text-transform: uppercase;
			}
		}

		.urgent-actions__actions {
			@include column(12);

			@include respond-to($mq-m) {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}

			list-style: none;
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
		}

		.urgent-actions__action {
			@extend %clearfix;

			@include respond-to($mq-m) {
				@include column(12);
			}

			.action__content {
				@extend %clearfix;

				position: relative;
				background: $color-white;
				min-height: 14rem;
				margin-top: 0;
				margin-bottom: $baseline-unit * 2;
				padding: $baseline-unit 0;

				a {
					text-decoration: underline;
				}

				& > p {
					@include column(12);

					clear: left;
					margin-top: 0;

					&:first-child {
						margin-top: 1rem;
					}

					@include respond-to($mq-m) {
						@include column(6);
					}

					@include respond-to($mq-l) {
						@include column(7);
					}

					& > img {
						width: 155px;
					}
				}

				@include respond-to($mq-m) {
					@include row(12);
				}

				@include respond-to($mq-l) {
					width: 100%;
					margin-left: 0;
					margin-right: 0;
				}

				.callout {
					@include column(12);

					margin-top: 0;

					p {
						font-size: 1rem;
					}

					@include respond-to($mq-m) {
						@include column(6);

						position: absolute;
						top: 1.5rem;
						right: $default-gutter;
						margin-top: 0;
						margin-right: 0;
					}

					@include respond-to($mq-l) {
						@include column(5);

						margin-right: 0;
					}
				}

				.action__contact {
					@include column(12);

					margin-bottom: 0;

					& + .action__contact {
						clear: none;
					}

					&:last-child {
						margin-bottom: 1rem;
					}

					@include respond-to($mq-m) {
						@include column(4);

						margin-bottom: 1rem;
					}

					@include respond-to($mq-l) {
						@include column(3);
					}
				}
			}

			&.coronavirus-debt-advice-wales {
				.action__content {
					.action__contact {
						@include column(4);

						position: relative;

						@include respond-to($mq-l) {
							padding-left: 100px;
							padding-left: calc(100px + #{$default-gutter});
							margin-top: -1rem;

							img {
								position: absolute;
								width: 100px;
								left: 0;
								top: 1rem;
							}
						}
					}
				}
			}

			&.coronavirus-self-employed-debt-advice,
			&.coronavirus-self-employed-debt-advice-ni,
			&.urgent-pension-advice,
			&[class*="coronavirus-help-mental-health"] {
				.action__content {
					& > p {
						@include respond-to($mq-m) {
							@include column(8);
						}

						@include respond-to($mq-l) {
							@include column(10);
						}
					}

					.action__contact {
						@include respond-to($mq-m) {
							margin-top: -1rem;

							img {
								position: absolute;
								top: 1.5rem;
								right: $default-gutter;
							}
						}
					}
				}

				&[class*="wales"] {
					.action__content {
						& > p {
							@include respond-to($mq-m) {
								@include column(12);
							}

							@include respond-to($mq-l) {
								@include column(12);
							}
						}
					}
				}
			}
		}
	}

	.results__sections {
		@include row(12);

		.sections__sections {
			list-style: none;
			padding: 0;
		}

		.section__title {
			font-size: 1rem;
			line-height: 1.2;
			color: $color-green-secondary;
			padding-bottom: $baseline-unit;
			border-bottom: solid 1px $color-grey-normal;

			button {
				border: none;
				width: 100%;
				text-align: left;
				padding: 0;
				background: transparent;
			}

			.section__title__text {
				@include column(12);

				display: inline-block;
				float: none;
				padding-right: calc(18px + #{$default-gutter});
			}
		}

		.section__subtitle {
			@include column(12);

			font-size: 1.125rem;
			line-height: 1.2;
			margin-top: $baseline-unit;
			color: $color-green-secondary;
		}

		.sections__headings {
			@include column(12);

			list-style: none;
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;
		}

		.sections__heading {
			button {
				border: none;
				width: 100%;
				text-align: left;
				padding: 0;
				background: transparent;

				@include respond-to($mq-m) {
					padding-top: $baseline-unit * 3;
					padding-bottom: $baseline-unit * 3;
				}
			}

			.heading__title {
				font-size: 1rem;
				line-height: 1.2;
				margin-top: 0;
				margin-bottom: $baseline-unit;
			}

			.heading__content {
				margin-top: 0;
				margin-bottom: 0;

				p, a {
					margin: $baseline-unit 0;
				}

				a {
					border-bottom: 0;
					text-decoration: underline;

					&:hover,
					&:focus {
						text-decoration: none;
					}
				}

				ul {
					list-style: none;

					li:before {
						content: '\2022';
						color: #006a00;
						display: block;
						position: relative;
						width: 0;
						height: 0;
						left: -20px;
						top: -1px;
					}
				}

				.add-action {
					position: relative;
					background-color: $color-article-cta;
					padding: $baseline-unit $baseline-unit*2;
					display: block;
					margin: $baseline-unit*5 0;
					clear: both;

					&:before {
						position: absolute;
						top: -10px;
						left: 0;
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 0 0 10px;
						border-color: transparent transparent transparent $color-article-cta;
					}

					h2:first-child {
						margin-top: 0;
					}
				}

				.callout {
					margin: $baseline-unit*5 0;
					border: 2px solid;

					p {
						padding: $baseline-unit $baseline-unit*2;
						font-size: 1rem;
						font-weight: 300;
						line-height: 1.5;

						@include respond-to($mq-l) {
							font-size: 1.125rem;
						}
					}
				}

				.callout--tip,
				.callout--tool {
					h1, h2, h3 {
						text-indent: 2.25rem;
						color: white;
						margin: 0;
						padding: 0.375rem;
						font-size: 1.375rem;
						line-height: 1.875rem;
					}
				}

				.callout--tip {
					border-color: #24afa8;

					h1, h2, h3 {
						background: #24afa8;
					}
				}

				.callout--tool {
					border-color: #f96e49;

					h1, h2, h3 {
						background: #f96e49;
					}
				}
			}

			.heading__content__title, .overlay__hide {
				display: none;
			}
		}
	}

	.results__actions {
		@include column(12);

		text-align: center;

		.button--restart,
		.button--print {
			width: 100%;

			@include respond-to($mq-m) {
				width: 50%;
			}

			@include respond-to($mq-l) {
				width: 25%;
				float: right;
			}
		}

		.button--restart {
			@include respond-to($mq-l) {
				float: right;
			}
		}

		.button--print {
			margin-bottom: $baseline-unit * 4;

			@include respond-to($mq-l) {
				float: left;
			}
		}
	}

	// Component initialised
	.results__sections[data-dough-money-navigator-results-initialised="yes"] {
		@media not print {
			.sections__section {
				@extend %clearfix;

				.section__content {
					overflow: hidden;

					transition: height;
					transition-duration: $transition-time;
				}

				.section__title {
					button {
						position: relative;
					}

					.section__title__icon {
						position: absolute;
						top: 50%;
						right: $default-gutter;
						width: 18px;
						height: 12px;
						transform: translateY(-50%) rotate(180deg);
						transition: transform;
						transition-duration: $transition-time;
						background-image: image_url('money_navigator_tool/section_title_icon.svg');
						background-repeat: no-repeat;
						background-size: 100%;
						background-position: center;
					}
				}

				.sections__heading {
					border: solid 1px $color-grey-normal;
					box-shadow: 0 2px 4px $color-grey-normal;

					button {
						padding: $baseline-unit * 2 $default-gutter;
					}
				}

				.sections__heading--done {
					background: $color-grey-pale;

					.heading__title__icon {
						&:before {
							content: '\2713';
							display: block;
							text-align: center;
							line-height: 1.25rem;
						}
					}
				}

				.heading__title {
					margin-bottom: 0;
					padding-left: calc(1.25rem + #{$default-gutter});
					position: relative;

					.heading__title__icon {
						display: inline-block;
						width: 1.25rem;
						height: 1.25rem;
						border: solid 1px;
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						background: $color-white;
					}
				}

				.heading__content {
					position: absolute;
					top: 0%;
					left: 0%;
					height: auto;
					width: 100%;
					padding: $baseline-unit * 8 $default-gutter * 4 $baseline-unit * 4;
					z-index: 155;
					background: $color-white;
					transition: top;
					transition-duration: $transition-time;

					@include respond-to($mq-s) {
						padding-left: $default-gutter * 3.5;
						padding-right: $default-gutter * 3.5;
					}

					@include respond-to($mq-m) {
						padding-left: $default-gutter * 3;
						padding-right: $default-gutter * 3;
					}

					@include respond-to($mq-l) {
						left: 30%;
						width: 70%;
						padding-left: $default-gutter * 2.5;
						padding-right: $default-gutter * 2.5;
						transition: left;
					}

					@include respond-to($mq-xl) {
						padding-left: $default-gutter * 2;
						padding-right: $default-gutter * 2;
					}

					.overlay__hide {
						position: absolute;
						margin: 0;
						top: $baseline-unit * 3;
						right: $default-gutter * 4;
						display: inline-block;
						padding: $baseline-unit $baseline-unit * 4 $baseline-unit $baseline-unit;

						@include respond-to($mq-s) {
							right: $default-gutter * 3.5;
						}

						@include respond-to($mq-m) {
							right: $default-gutter * 3;
						}

						@include respond-to($mq-l) {
							right: $default-gutter * 2.5;
						}

						@include respond-to($mq-xl) {
							right: $default-gutter * 2;
						}

						&:focus {
							outline: 3px solid $color-black;
						}

						.overlay__hide__icon {
							position: absolute;
							width: 12px;
							height: 12px;
							right: $baseline-unit;
							top: 50%;
							transform: translateY(-50%);
						}
					}
				}

				.heading__content--hidden {
					position: fixed;
					top: 100%;

					@include respond-to($mq-l) {
						top: 0%;
						left: 100%;
					}
				}

				&.is-collapsed {
					.section__title {
						.section__title__icon {
							transform: translateY(-50%) rotate(0deg);
						}
					}
				}

				.heading__content__title {
					display: block;
					margin-top: 0;
				}
			}
		}

		.results__sections__overlay {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 150;
			background: rgba(0, 0, 0, 0.5);

			&.is-hidden {
				display: none;
			}
		}
	}

	// Enhanced print styles
	@media print {
		p, ul, li, a, h1, h2, h3, h4, h5, h6 {
			font-size: 12pt !important;
		}

		.results__heading {
			font-size: 21pt !important;
		}

		.results__urgent-actions {
			.urgent-actions__heading {
				font-size: 18pt !important;
			}

			.urgent-actions__action {
				margin: 0;

				.action__content {
					width: 100%;
					padding: 0;
					margin: 0;

					.callout {
						border-color: #000;
						padding: 12pt;

						.callout__icon {
							display: none;

							& + p {
								margin-top: 0;

								&:before {
									display: none;
								}
							}
						}
					}
				}
			}
		}

	  .add-action {
	    background: none !important;
	    padding: 0 !important;

	    &:before {
	      content: none !important;
	    }
	  }

		.results__sections {
			.section__title {
				border-bottom: solid 1pt;

				button {
					font-size: 15pt !important;
				}
			}

			.section__content {
				.heading__title {
					font-size: 12pt !important;
				}
			}
		}

		.results__actions {
			display: none;
		}
	}
}
