.l-money_navigator {
	.question__actions {
		@extend %clearfix;

		margin-top: $baseline-unit * 4; 

		@include respond-to($mq-m) {
			.button {
				float: left;
				clear: left;
			}
		}

		@include respond-to($mq-l) {
			@include row(12); 
		}
	}

	.button--submit, 
	.button--continue, 
	.button--start {
		@extend .button--primary; 
		width: 100%; 
	}

	.button--start, 
	.button--back {
		margin: 0 0 $baseline-unit * 2;
	}

	.button--continue, 
	.button--start {
		@include respond-to($mq-l) {
			@include column(3);
		}
	}

	.button--back {
		margin-top: $baseline-unit * 4;

		@include respond-to($mq-l) {
			@include column(1.5); 
		}
	}

	input[type="checkbox"]:disabled {
		& + label {
			font-weight: normal;
			font-style: italic;
			color: $color-grey-medium; 
		}
	}
}

.l-money_navigator__banner {
	color: $color-black; 
	background: $color-grey-pale;	
	padding: $baseline-unit * 2 $default-gutter * 2; 
	text-align: center;
	font-size: 1.25rem; 
	font-weight: 700; 
	border-radius: $baseline-unit; 
	margin: 0 0 $baseline-unit * 4;
}

.l-money_navigator__banner--is-hidden {
	display: none; 
}

.l-money_navigator__questions {
	list-style: none;
	padding: 0;
}

.l-money_navigator__question {
	list-style: none;
	padding: 0;

	.question__counter {
		color: $color-green-secondary;
		font-weight: 700; 
	}

	.question__content {
		border: solid 1px $color-grey-pale;	
		padding: $baseline-unit * 4 $default-gutter * 2 $baseline-unit * 2; 
		overflow: hidden;
	}

	.question__heading {
		font-size: 1.125rem; 
		color: $color-black; 
	}

	.question__error {
		color: $color-red-medium; 
		font-weight: bold; 
	}

	.question__note {
		background: $color-grey-pale;	
		padding: $baseline-unit * 2 $default-gutter * 2; 
		font-size: 0.875rem; 
		font-weight: 700; 
		border-radius: $baseline-unit; 
	}

	.question__explainer {
		font-size: 0.875rem; 
		font-weight: 700; 
	}

	.question__response {
		position: relative;
		font-weight: 700; 
		margin: 0 0 $baseline-unit * 2; 

		.response__control {
			position: absolute;
			top: 50%;
			left: 0; 
			transform: translateY(-50%);
		}

		.response__text {
			display: inline-block;
			padding: 0 0 0 $baseline-unit * 4;
		}
	}

}

// Component initialised
[data-dough-money-navigator-questions-initialised="yes"] {
	.l-money_navigator__question {
		display: none; 

		&.question--active {
			display: block; 
		}

		&[data-question-multiple] {
			.button--no, 
			.button--yes {
				display: inline-block;
				margin: 0 $default-gutter * 2 0 0;

				@include respond-to($mq-s) {
					margin-right: $default-gutter * 1.5; 
				}

				@include respond-to($mq-m) {
					margin-right: $default-gutter; 
				}

				.response__text {
					@extend .button; 
					padding: 0; 
					text-align: left; 
				}

				.response__control {
					@extend .visually-hidden; 

					&:checked + .response__text {
						color: $color-white; 
						background: $color-green-secondary; 
					}

					&:focus + label {
						@include focus-outline;
					}
				}
			}
		}

		&[data-question-grouped] {
			$transition-time: 0.5s;

			.question__groups {
				@extend %clearfix;

				box-sizing: content-box;
				padding: 0 $default-gutter * 2;
				margin: 0 $default-gutter * -2;

				.response__controls,
				.question__response--collection {
					float: left;
					visibility: visible; 
					transition-property: transform, visibility;
					transition-duration: $transition-time, 0s;
				}

				.response__controls {
					transform: translateX(0%);
					margin-right: $default-gutter;
	
					&.question--inactive {
						transform: translateX(-100% - ($default-gutter * 2));
						visibility: hidden; 
						transition-delay: 0s, $transition-time; 
					}
				}

				.question__response--collection {
					transform: translateX(-100% - ($default-gutter * 2));

					&.question--inactive {
						transform: translateX(0%);
						visibility: hidden; 
						transition-delay: 0s, $transition-time; 
					}
				}
			}

			.question__response--control {
				label {
					span:after {
						content: '\A0\2026';
					}
				}
			}

			.question__response--collection {
				.collection__title {
					font-size: 1.125rem; 
					margin-top: 0; 

					&:after {
						content: '\A0\2026';						
					}
				}

				label {
					span {
						span {
							white-space: normal;

							&:before {
								content: '\2026\A0'; 
							}

							&:first-child {
								display: none; 
							}
						}
					}
				}

				.button--reset {
					background: $color-white;
					border: solid 1px;
				}
			}
		}
	}

	.question__content--q0, 
	[data-question-grouped] {
		.response__text {
			@extend .button; 
			padding: 0; 
			width: 100%;
			text-align: left; 
		}

		.response__control {
			@extend .visually-hidden; 

			&[type="radio"]:checked + .response__text, 
			&[type="checkbox"]:checked + .response__text {
				color: $color-white; 
				background: $color-green-secondary; 
			}

			&:checked + .response__text {
				color: $color-white; 
				background: $color-green-secondary; 
			}

			&:focus + label {
				@include focus-outline;
			}

			.button--yes {
				margin-right: 0;
			}
		}
	}

	.question__content--q0 {
		.response__text {
			@extend .button; 
			padding: 0; 
			width: 100%;
			text-align: left; 

			@include respond-to($mq-l) {
				$image-height: 371;
				$image-width: 296;

				@include column(3);

				text-align: center;
				color: $color-green-secondary; 
				padding-left: $default-gutter !important; 
				padding-right: $default-gutter !important; 
				border: solid 1px $color-grey-pale !important;
				border-radius: 0 !important; 
				background: $color-white !important; 

				span:before {
					content: ''; 
					display: block;
					height: 0; 
					padding: $image-height / $image-width * 100% 0 0; 
					margin: 0 0 $baseline-unit * 2; 
					background-image: image_url('money_navigator_tool/image-sprite.png');
					background-repeat: no-repeat;
					background-size: 400%; 
				}

				&[for="q0_a1"] {
					span:before {
				    background-position: left top; 
					}
				}

				&[for="q0_a2"] {
					span:before {
				    background-position: left (1 / 3 * 100%) top; 
					}
				}

				&[for="q0_a3"] {
					span:before {
				    background-position: right (1 / 3 * 100%) top; 
					}
				}

				&[for="q0_a4"] {
					span:before {
				    background-position: right top; 
					}
				}
			}
		}

		.response__control {
			&:checked + .response__text {
				@include respond-to($mq-l) {
					/*color: $color-green-secondary !important;*/
					background: $color-green-pale !important;
					border: solid 1px $color-green-secondary !important;
				}
			}
		}

		fieldset {
			@include respond-to($mq-l) {
				@include row(12);
			}
		}

		.question__heading {
			@include column(12); 
		}
	}
}
