.l-money_navigator-landing {
	section {
		margin-top: $baseline-unit * 4; 

		.landing__section-heading {
			margin-top: 0; 
		}

		&:first-child {
			margin-top: $baseline-unit * 10; 
		}
	}

	.landing__actions {
		@extend %clearfix;

		width: 100%; 

		@include respond-to($mq-l) {
			@include row(12); 
		}
	}

	.button--start {
		@extend .button--primary; 

		width: 100%; 

		@include respond-to($mq-l) {
			@include column(3);
		}
	}

	.landing__intro {
		p {
			font-size: 1.125rem; 
		}
	}

	.landing__how-help {
		.how-help__bullets {
			margin-bottom: $baseline-unit * 8;
		}

		.landing__actions {
			margin-bottom: $baseline-unit * 8; 
		}
	}

	.landing__crisis-help {
		.callout {
			p, a {
				font-size: 1rem; 
				line-height: 1.5; 
			}

			.crisis-help__cta {
				display: block; 
			}
		}
	}

	.supporting-partners__list {
		@include row(12); 

		list-style: none;
		padding: 0;
		margin-top: 0; 
		margin-bottom: 0; 

		.supporting-partners__listitem {
			// Values for logo container: 
			// $max-width = the maximum width of the display area of the logo
			// $max-height = the maximum height of the display area of the logo
			$max-width: 216; 
			$max-height: 144;

			// Values for SVG sprite: 
			// $max-logo-height = the maximum height at which the logo is displayed responsively
			@mixin svg-logo($max-logo-height) {
				position: absolute;
				top: 0;
				width: 100%;
				height: $max-logo-height / $max-height * 100%;
				margin-top: ($max-height - $max-logo-height) / $max-width * 50%;
			}

			// Values for PNG sprite: 
			// $sprite-width = the total width of the image sprite
			// $sprite-height = the total height of the image sprite
			// $max-logo-width = the maximum width at which the logo is displayed responsively
			// $max-logo-height = the maximum height at which the logo is displayed responsively
			// $sprite-left = the position of the logo on the sprite from its left edge
			// $sprite-top = the position of the logo on the sprite from its top edge
			// $ratio = device resolution

			$sprite-width: 1184;
			$sprite-height: 1040;

			@mixin logo($max-logo-width, $max-logo-height, $sprite-left, $sprite-top, $ratio: 1) {
				width: $max-logo-width / $max-width * 100%;
				padding-top: $max-logo-height / $max-width * 100%;
				margin: 
					($max-height - $max-logo-height) / $max-width * 50% 
					0 
					0 
					(100% - ($max-logo-width / $max-width * 100%)) / 2; 
				background-position: 
					left $sprite-left / ($sprite-width - ($max-logo-width * $ratio)) * 100%
					top $sprite-top / ($sprite-height - ($max-logo-height * $ratio)) * 100%;
				background-size: $sprite-width / $max-logo-width * 100% / $ratio; 
			}

			@include column(6); 

			height: 0; 
			position: relative;
			padding-top: $max-height / $max-width * ((100% / 2) - ($default-gutter * 2)); 

			@include respond-to($mq-s) {
				@include column(4); 

				padding-top: $max-height / $max-width * ((100% / 3) - ($default-gutter * 2)); 
			}

			@include respond-to($mq-m) {
				@include column(3); 

				padding-top: $max-height / $max-width * ((100% / 4) - ($default-gutter * 2)); 
			}

			@include respond-to($mq-l) {
				@include column(2); 

				padding-top: $max-height / $max-width * ((100% / 6) - ($default-gutter * 2)); 
			}

			.listitem__png {
				display: block;
				height: 0; 
				background-repeat: no-repeat;
				background-image: image_url('money_navigator_tool/image-sprite.png'); 
			}

			&.listitem__citizens_advice {
				.listitem__svg {
					@include svg-logo(108);
				}

				.listitem__png {
					@include logo(102, 108, 10, 380); 

					@include device-pixel-ratio() {
						@include logo(102, 108, 390, 500, 2); 
					}
				}

				.listitem__png {
					@include logo(140, 90, 120, 380); 

					@include device-pixel-ratio() {
						@include logo(140, 90, 600, 500, 2); 
					}
				}

				.listitem__png {
					@include logo(142, 93, 270, 380); 

					@include device-pixel-ratio() {
						@include logo(142, 93, 890, 500, 2); 
					}
				}

				.listitem__png {
					@include logo(179, 48, 420, 380); 

					@include device-pixel-ratio() {
						@include logo(179, 48, 10, 610, 2); 
					}
				}
			}

			&.listitem__payplan {
				.listitem__svg {
					display: none;
				}

				.listitem__png {
					@include logo(156, 46, 610, 380); 

					@include device-pixel-ratio() {
						@include logo(156, 46, 10, 730, 2); 
					}
				}
			}

			&.listitem__turn2us {
				.listitem__svg {
					display: none;
				}

				.listitem__png {
					@include logo(168, 25, 780, 380); 

					@include device-pixel-ratio() {
						@include logo(168, 25, 330, 730, 2); 
					}
				}
			}

			&.listitem__shelter {
				.listitem__svg {
					display: none;
				}

				.listitem__png {
					@include logo(181, 79, 960, 380); 

					@include device-pixel-ratio() {
						@include logo(181, 79, 760, 730, 2); 
					}
				}
			}

			&.listitem__shelter_cymru {
				.listitem__svg {
					display: none;
				}

				.listitem__png {
					@include logo(181, 97, 10, 500); 

					@include device-pixel-ratio() {
						@include logo(181, 97, 10, 830, 2); 
					}
				}
			}

			&.listitem__shelter_scotland {
				.listitem__svg {
					display: none;
				}

				.listitem__png {
					@include logo(181, 96, 200, 500); 

					@include device-pixel-ratio() {
						@include logo(181, 96, 380, 830, 2); 
					}
				}
			}
		}
	}
}
