$transition-time: 0.4s;

.l-money_navigator-results {
	.results__intro {
		font-weight: 700; 
	}

	.results__urgent-actions {
		@include row(12); 

		background: $color-grey-pale; 

		.urgent-actions__heading {
			@include column(12); 

			font-size: 1rem; 
			text-transform: uppercase;
			margin-top: $baseline-unit * 2; 
			color: $color-black; 
		}

		.urgent-actions__actions {
			@include column(12); 

			list-style: none; 
			padding: 0; 
			margin-top: 0; 
			margin-bottom: 0; 
		}

		.urgent-actions__action {
			background: $color-white;
			margin-top: 0; 
			margin-bottom: $baseline-unit * 2; 
			padding: $baseline-unit $default-gutter;
		}
	}

	.results__sections {
		@include row(12); 

		.sections__sections {
			list-style: none; 
			padding: 0;
		}

		.section__title {
			font-size: 1rem; 
			line-height: 1.2; 
			color: $color-green-secondary;
			padding-bottom: $baseline-unit; 
			border-bottom: solid 1px $color-grey-normal; 

			button {
				border: none; 
				width: 100%;
				text-align: left; 
				padding: 0;
				background: transparent;
			}

			.section__title__text {
				@include column(12); 

				display: inline-block;
				float: none; 
				padding-right: calc(18px + #{$default-gutter}); 
			}
		}

		.section__subtitle {
			@include column(12); 
			
			font-size: 1rem;
			line-height: 1.2; 
			margin-top: $baseline-unit; 
			color: $color-green-secondary;
		}

		.sections__headings {
			@include column(12); 

			list-style: none; 
			padding: 0;
			margin-top: 0; 
			margin-bottom: 0; 
		}

		.sections__heading {
			border: solid 1px $color-grey-normal;
			padding: $baseline-unit * 2 $default-gutter;
			box-shadow: 0 2px 4px $color-grey-normal; 

			@include respond-to($mq-m) {
				padding-top: $baseline-unit * 3;
				padding-bottom: $baseline-unit * 3;
			}

			.heading__title {
				font-size: 1rem; 
				line-height: 1.2; 
				margin-top: 0; 
				margin-bottom: $baseline-unit; 

				button {
					border: none; 
					width: 100%;
					text-align: left; 
					padding: 0;
					background: transparent;
				}
			}

			.heading__content {
				margin-top: 0; 
				margin-bottom: 0; 

				p, a {
					font-size: 0.875rem; 
					margin: $baseline-unit 0;
				}
			}

			.heading__content__title {
				margin-top: 0; 
			}
		}
	}

	// Component initialised
	.results__sections[data-dough-money-navigator-results-initialised="yes"] {
		.sections__section {
			@extend %clearfix; 

			.section__content {
				overflow: hidden;

				transition-property: height; 
				transition-duration: $transition-time; 
			}

			.section__title {
				button {
					position: relative;
				}

				.section__title__icon {
					position: absolute;
					top: 50%; 
					right: $default-gutter; 
					width: 18px;
					height: 12px; 
					transform: translateY(-50%) rotate(0deg); 
					transition-property: transform; 
					transition-duration: $transition-time; 
					background-image: image_url('c19_diagnostics/section_title_icon.svg');
					background-repeat: no-repeat;
					background-size: 100%; 
					background-position: center; 
				}			
			}

			.sections__heading--done {
				background: $color-grey-pale;

				.heading__title__icon {
					&:before {
						content: '\2713'; 
						display: block;
						text-align: center;
						line-height: 1.25rem; 
					}
				}
			}

			.heading__title {
				margin-bottom: 0;
				padding-left: calc(1.25rem + #{$default-gutter}); 
				position: relative;

				.heading__title__icon {
					display: inline-block;
					width: 1.25rem; 
					height: 1.25rem; 
					border: solid 1px;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					background: $color-white;
				}
			}

			.heading__content {
				position: fixed;
				top: 0;
				left: 15%;
				bottom: 0;
				width: 85%;
				padding: $baseline-unit * 4 $default-gutter * 4;
				z-index: 155; 
				background: $color-white;
				transition-property: left; 
				transition-duration: $transition-time; 

				.overlay__hide {
					position: absolute;
					top: $baseline-unit * 2;
					right: $default-gutter * 2;
					width: 20px;
					height: 20px;
					border: solid 1px; 

					&:before {
						content: 'X'; 
						display: block; 
						text-align: center;
						line-height: 20px; 
					}
				}
			}

			.heading__content--hidden {
				left: 100%;
			}

			&.is-collapsed {
				.section__title {
					.section__title__icon {
						transform: translateY(-50%) rotate(180deg); 
					}			
				}
			}
		}
	}

	.results__sections__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 150; 
		background: rgba(0, 0, 0, 0.5);
	}
}
