.l-profile {
  @include clearfix();
  padding-bottom: $baseline-unit*7;
  border-bottom: 1px solid $color-horizontal-rule;
}

.l-profile__intro {
  @include column(12);
}

.l-profile__your-goal {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(8);
  }
}

.l-profile__your-goal__form .form__group {
  @include respond-to($mq-m) {
    width: 75%;
    padding-right: $gutter-width/2;
  }
}

.l-profile__your-goal__form .form__group--last {
  padding-top: $baseline-unit*6;
}

.l-profile__your-goal__form .form__row {
  margin-bottom: $baseline-unit*2;
}

.l-profile__your-tools {
  @include column(12);
  margin-top: $baseline-unit*4;

  @include respond-to($mq-l) {
    @include column(4);
    margin-top: 0;
  }
}

.l-profile__your-tools__heading {
  padding-right: 25px;
  position: relative;

  button {
    text-align: left;
  }

  @include respond-to($mq-l) {
    padding-right: 0;

    // Disable collapsing content
    button {
      cursor: default;
      pointer-events: none;
    }
  }
}

.l-profile__your-tools__heading .collapsable__trigger-icon {
  position: absolute;
  right: 0;
  top: $baseline-unit*2;

  @include respond-to($mq-l) {
    display: none;
  }
}

.l-profile__your-tools__content {
  @include clearfix();
  display: none;

  @include respond-to($mq-l) {
    display: block;
  }

  &.is-active {
    display: block;
  }
}

.l-profile__your-tools__content__list,
.l-profile__your-tools__content__empty {
  margin-top: 0;
  margin-bottom: 0;
}


.l-recommended-tools {
  margin-bottom: $baseline-unit*4;
}

.l-recommended-tools__heading {
  @include column(12);

  padding-right: 25px;
  position: relative;

  button {
    text-align: left;
  }

  @include respond-to($mq-l) {
    padding-right: 0;
    padding-left: 25px;
  }
}

.l-recommended-tools__heading .collapsable__trigger-icon {
  position: absolute;
  right: 0;
  top: $baseline-unit*2;

  @include respond-to($mq-l) {
    right: auto;
    left: 0;
  }
}

.l-recommended-tools__content {
  @include clearfix();
  display: none;

  &.is-active {
    display: block;
  }
}

.l-recommended-tools__content__intro {
  @include column(12);
  margin-top: 0;
  margin-bottom: $baseline-unit*8;
}

.l-recommended-tools__tool {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(6);
  }

  @include respond-to($mq-xl) {
    @include column(4);
  }
}

.l-recommended-tools__tool--1 {
  @include respond-to(0, $mq-m) {
    display: none;
  }
}

.l-recommended-tools__tool--2 {
  @include respond-to(0, $mq-xl) {
    display: none;
  }
}

.l-recommended-tools .recommended-tool__header {
  @include respond-to($mq-m) {
    min-height: $baseline-unit*26;
  }

  @include respond-to($mq-l) {
    min-height: $baseline-unit*20;
  }

  @include respond-to($mq-xl) {
    min-height: $baseline-unit*31;
  }

  .theme-cy & {
    @include respond-to($mq-xl) {
      min-height: $baseline-unit*34;
    }
  }
}
