.l-promos {
  @extend .clearfix;
  overflow: hidden;
  position: relative;

  .flexbox & {
    display: flex;
    flex-flow: column;

    @include respond-to($mq-l) {
      flex-flow: row;
      flex-wrap: wrap;
    }
  }
}

.l-promos__heading {
  @extend %font-heading-medium;
  @include column(12);
  @include body(30, 34);
  color: $color-heading-extra-small;
  margin-top: $baseline-unit*3;
  margin-bottom: $baseline-unit*2;
}

.l-promos__item {
  @include column(12);
  margin-bottom: $baseline-unit*1;
  position: relative;
  border-top: 1px solid #b3afa6;
  padding-top: $baseline-unit*3;
  padding-bottom: $baseline-unit*2;

  &:nth-child(2),
  &:first-child {
    border-top: 0;
  }

  @include respond-to($mq-m) {
    @include column(6);
  }

  @include respond-to($mq-l) {
    @include column(3);
  }

  &:first-child {
    border-bottom: 5px solid #000;
  }

  .flexbox & {
    // @include respond-to($mq-m) {
    //   flex-basis: 46%;
    // }

    @include respond-to($mq-l) {
      flex-basis: 21.55%;
    }
  }
}

.l-promo__view-all {
  @extend %font-heading-medium;
  @include column(12);
  text-align: left;
  padding-bottom: $baseline-unit;
}
