.l-registration {
  @include column(12);

  .registration__row {
    @include row(12);
  }

  .registration__field {
    @include column(12);

    @include respond-to($mq-m) {
      @include column(5);
    }

    @include respond-to($mq-l) {
      @include row(12);
      @include column(4, 12);
    }
  }

  .registration__helper {
    @include column(12);

    @include respond-to($mq-m) {
      @include column(6);
    }

    @include respond-to($mq-l) {
      @include row(12);
      @include column(7, 12);
    }
  }

  .field-help-text {
    @include respond-to($mq-m) {
      @include column(6);
    }

    @include respond-to($mq-l) {
      @include row(12);
      @include column(7, 12);
    }
  }
}
