<div class="action-item">
  <h3>Use your Cash ISA allowance</h3>

  <div class="collapsable">
    <div class="why">
      <h4>Why?</h4>

      <p>Your 'Cash ISA allowance' - <strong>£5,760</strong>&nbsp;- is the maximum you can put into a Cash ISA this
        tax year. If you don't use this year's allowance by 5 April 2014, you won't get it back.
      </p>
    </div>

    <div class="how">
      <h4>How?</h4>

      <p>If you already have an ISA - check how much you've put in since 6 April 2013 and make sure you use any
        remaining allowance.</p>
      <ul>
        <li>
          <a href="https://www.moneyadviceservice.org.uk/en/articles/cash-isas">If you don't have an ISA - find out
            more about them in our guide Cash ISAs </a></li>
        <li>
          <a target="_blank" href="http://pluto.moneyadviceservice.org.uk/savings?table=CashIsas">Alternatively, if
            you know you want to open one, find the right Cash ISA for you using our comparison tables </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="action-item">
  <h3>Use your Cash ISA allowance</h3>

  <div class="collapsable">
    <div class="why">
      <h4>Why?</h4>

      <p>Your 'Cash ISA allowance' - <strong>£5,760</strong>&nbsp;- is the maximum you can put into a Cash ISA this
        tax year. If you don't use this year's allowance by 5 April 2014, you won't get it back.
      </p>
    </div>
    <div class="how">
      <h4>How?</h4>

      <p>If you already have an ISA - check how much you've put in since 6 April 2013 and make sure you use any
        remaining allowance.</p>

      <p>If you already have an ISA - check how much you've put in since 6 April 2013 and make sure you use any
        remaining allowance.</p>
      <ul>
        <li>
          <a href="https://www.moneyadviceservice.org.uk/en/articles/cash-isas">If you don't have an ISA - find out
            more about them in our guide Cash ISAs </a></li>
        <li>
          <a target="_blank" href="http://pluto.moneyadviceservice.org.uk/savings?table=CashIsas">Alternatively, if
            you know you want to open one, find the right Cash ISA for you using our comparison tables </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="action-item">
  <h3>Use your Cash ISA allowance</h3>

  <div class="collapsable">
    <div class="why">
      <h4>Why?</h4>

      <p>Your 'Cash ISA allowance' - <strong>£5,760</strong>&nbsp;- is the maximum you can put into a Cash ISA this
        tax year. If you don't use this year's allowance by 5 April 2014, you won't get it back.
      </p>
    </div>
    <div class="how">
      <h4>How?</h4>

      <p>If you already have an ISA - check how much you've put in since 6 April 2013 and make sure you use any
        remaining allowance.</p>
      <ul>
        <li>
          <a href="https://www.moneyadviceservice.org.uk/en/articles/cash-isas">If you don't have an ISA - find out
            more about them in our guide Cash ISAs </a>
        </li>
      </ul>

      <p>If you already have an ISA - check how much you've put in since 6 April 2013 and make sure you use any
        remaining allowance.</p>
      <ul>
        <li>
          <a href="https://www.moneyadviceservice.org.uk/en/articles/cash-isas">If you don't have an ISA - find out
            more about them in our guide Cash ISAs </a>
        </li>
      </ul>
    </div>
  </div>
</div>