<div class='callout callout--tool'>
  <span class="callout__icon">
    <svg class="callout__tool-icon" role="presentation" viewBox="0 0 100 100">
      <use xlink:href="#svg-icon--tool"></use>
    </svg>
  </span>
  <h3>Budget Planner</h3>
  <p>To help plan your finances use our <a href="/en/budget-planner">Budget Planner</a>
  </p>
</div>
