<ul class="category-filter">
  <li class="category-filter__list-item is-selected"><a href="">All</a></li>
  <li class="category-filter__list-item"><a href="">Teenage voices on first financial decisions</a></li>
  <li class="category-filter__list-item"><a href="">Staying on in education</a></li>
  <li class="category-filter__list-item"><a href="">Moving into work</a></li>
  <li class="category-filter__list-item"><a href="">Saving and borrowing</a></li>
  <li class="category-filter__list-item"><a href="">Teenage voices on first financial decisions</a></li>
  <li class="category-filter__list-item"><a href="">Staying on in education</a></li>
  <li class="category-filter__list-item"><a href="">Moving into work</a></li>
  <li class="category-filter__list-item"><a href="">Saving and borrowing</a></li>
  <li class="category-filter__list-item"><a href="">Moving into work</a></li>
  <li class="category-filter__list-item"><a href="">Saving and borrowing</a></li>
</ul>
