<h1>Help to Buy Scheme – Everything you need to know</h1>

<p class="intro">
  Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna,
  vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta
  ac consectetur ac, vestibulum at eros.
</p>

<p class="intro">
  <!-- the width/height in the image tag is used to show how different sized images reflow the text and are not present in the CMS markup -->
  <img src="http://placehold.it/700x300" alt="Help to Buy schemes - couple with keys to house"/>
  Getting a foot on the first rung of the property ladder (Standfirst).
</p>


<h2>Help to Buy Scheme - Options (h2)</h2>

<p>Help to Buy - the two main schemes:</p>

<div class="add-action">
  <a href="/en/articles/help-to-buy-schemes-faqs">Help to Buy schemes FAQs</a>
</div>

<ul>
  <li><strong>Equity loans</strong> - the government lends you up to a fifth of the value of a new-build home in
    England. A similar equity loan scheme is available in Scotland, for properties valued up to £400,000.
  </li>
  <li><strong>Mortgage guarantees</strong> - the government agrees to cover part of your mortgage if you only have a
    small deposit, taking on the default risk should you fall behind with payments.&nbsp;</li>
</ul>

<h2>Did you know?</h2>

<div class="callout">
  <h3>Budgeting tips</h3>

  <p>In 1985, average first-time buyers needed a deposit of 5% to buy a home - in 2012, this had increased to 20%
    <br/><strong>Source: HM Treasury </strong>
  </p>
</div>

<p>Help to Buy is expected to help make up for the lack of higher loan-to-value products available.</p>

<p>•&nbsp;&nbsp;&nbsp;&nbsp;This is a p element not a list</p>

<p>•&nbsp;&nbsp;&nbsp;&nbsp;This is a p element not a list</p>

<p>•&nbsp;&nbsp;&nbsp;&nbsp;This is a p element not a list</p>

<p>While it’s still occasionally possible for people with a deposit of only 5% to get on the property ladder, the
  government felt there should be more competition between mortgage lenders to provide greater choice to home
  buyers.</p>

<p><a class="articleLink" data-type="action" href="help-to-buy-schemes-faqs">Help to Buy schemes - FAQs</a></p>

<h3>Budget for the other costs of buying a home (h3)</h3>

<table class="datatable-default">
  <thead>
  <tr>
    <th>Heading</th>
    <th>Heading 2</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>&nbsp;Equity loans</td>
    <td>&nbsp;Mortgage guarantees</td>
  </tr>
  <tr>
    <td><a title="News index" href="https://www.moneyadviceservice.org.uk/en/news">New-build properties</a></td>
    <td><a title="BBC News site" target="_blank" href="http://www.bbc.co.uk/news/business/your_money/">New-build and
      pre-owned properties</a></td>
  </tr>
  <tr>
    <td>&nbsp;Minimum 5% deposit</td>
    <td>&nbsp;Minimum 5% deposit</td>
  </tr>
  </tbody>
</table>
<br/>

<p>The Help to Buy equity loan scheme started in April 2013 and will run for up to three years. The mortgage guarantee
  scheme launched in October 2013 will also run for three years.
</p>
<ul>
  <li><a data-action-id="1543" href="#">Find out more on the Help to Buy website</a></li>
  <li><a data-action-id="1543" href="#">Find out more on the Help to Buy website</a></li>
  <li><a data-action-id="1543" href="#">Find out more on the Help to Buy website</a></li>
</ul>
<p>
  <a data-action-id="1544" href="#">Find out more information on the Gov.uk website</a>
</p>

<p>Text introducing bullet points:&nbsp;
</p>
<ul>
  <li>Borrowers will need to pass affordability checks with mortgage lenders. This varies by lender, but usually
    involves them checking that you’ll still be able to meet payments should interest rates go up.
  </li>
  <li>Borrowers will need to state that they have no interest in any other property worldwide, or won’t have by the
    time
    they complete on a mortgage guarantee scheme mortgage product.
  </li>
</ul>
<h2>Alternatives to Help to Buy</h2>

<p><a data-type="action" href="help-to-buy-homebuy-and-other-housing-schemes">Looking for alternatives? Read our guide
  HomeBuy and other housing schemes</a>
</p>
<ul class="yes-no">
  <li class="yes">You should do this</li>
  <li class="yes">and then do this</li>
  <li class="yes">and finally this</li>
  <li class="no">You should not do this</li>
  <li class="no">or this</li>
  <li class="no">and definitely not do this</li>
</ul>
<div class="callout">
  <p>Callout with no heading or citation.</p>
  <a title="Gov.uk" target="_blank" href="https://www.gov.uk/browse/employing-people">This is a link with a
    bulleted
    point.</a>
</div>
<p>How much does Christmas cost? We asked the kids what they think!&nbsp;</p>

<p>
  <a data-type="video" href="#">Watch this video to find out how people are planning to pay for their summer
    holiday.</a>
</p>

<div class="video-wrapper">
<iframe frameborder="0" height="413" width="680" src="https://www.youtube.com/embed/glFy-NkCnu8"> &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
  id="XinhaEditingPostion"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
  id="XinhaEditingPostion"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
  id="XinhaEditingPostion"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
</iframe>
</div>

<a title="Christmas transcript" href="https://www.moneyadviceservice.org.uk/files/the-cost-of-christmas-video-transcript.doc">Read
  a transcript of the video (doc)</a>
<br/>

<p>Young people are more likely to feel the pressure, with almost one in four 18-24 year olds calling in sick due to
  stress over the past 12 months.
</p>
<ol>
  <li>The study also found that that this age group has a greater fear of redundancy than they do of a life-changing
    injury.&nbsp;</li>
  <li>Worries around job security are a concern for over half this age group while one in five worries about
    money.&nbsp;</li>
</ol>
