<ul class="link-list-secondary">
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__text">Help with insurance</a>
  </li>
  <li class="link-list-secondary__item is-selected">
    <a href="#bar" class="link-list-secondary__text">Home insurance</a>
  </li>
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__text is-selected">Life and protection insurance</a>
  </li>
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__text">Car insurance</a>
  </li>
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__text">Travel insurance</a>
  </li>
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__text">Pet insurance</a>
  </li>
</ul>
