<ul class="link-list-primary">
  <li class="link-list-primary__item">
    <a href="#bar" class="link-list-primary__link">Debt and borrrowing</a>
  </li>
  <li class="link-list-primary__item">
    <a href="#bar" class="link-list-primary__link">Budgeting and managing money</a>
  </li>
  <li class="link-list-primary__item is-selected">
    <a href="#bar" class="link-list-primary__link">Saving and investing</a>
  </li>
  <li class="link-list-primary__item">
    <a href="#bar" class="link-list-primary__link">Work, pensions and retirement</a>
  </li>
  <li class="link-list-primary__item">
    <a href="#bar" class="link-list-primary__link">Benefits</a>
  </li>
</ul>
