<ul class="link-list-secondary">
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__link">Help with insurance</a>
  </li>
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__link is-selected">Home insurance</a>
  </li>
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__link">Life and protection insurance</a>
  </li>
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__link">Car insurance</a>
  </li>
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__link">Travel insurance</a>
  </li>
  <li class="link-list-secondary__item">
    <a href="#bar" class="link-list-secondary__link">Pet insurance</a>
  </li>
</ul>
