<ul class="link-list-primary">
  <li class="link-list-primary__item">
    <a href="#bar" class="link-list-primary__text">Debt and borrrowing</a>
  </li>
  <li class="link-list-primary__item">
    <a href="#bar" class="link-list-primary__text">Budgeting and managing money</a>
  </li>
  <li class="link-list-primary__item">
    <span class="link-list-primary__text is-selected">Saving and investing</span>
  </li>
  <li class="link-list-primary__item">
    <a href="#bar" class="link-list-primary__text">Work, pensions and retirement</a>
  </li>
  <li class="link-list-primary__item">
    <a href="#bar" class="link-list-primary__text">Benefits</a>
  </li>
</ul>
