<div class="l-inpage-nav">
  <ul class="link-list-tertiary">
    <li class="link-list-tertiary__item">
      <a href="#bar" class="link-list-tertiary__text">Help with insurance</a>
    </li>
    <li class="link-list-tertiary__item is-selected">
      <a href="#bar" class="link-list-tertiary__text">Home insurance</a>
    </li>
    <li class="link-list-tertiary__item">
      <a href="#bar" class="link-list-tertiary__text is-selected">Life and protection insurance</a>
    </li>
    <li class="link-list-tertiary__item">
      <a href="#bar" class="link-list-tertiary__text">Car insurance</a>
    </li>
    <li class="link-list-tertiary__item">
      <a href="#bar" class="link-list-tertiary__text">Travel insurance</a>
    </li>
    <li class="link-list-tertiary__item">
      <a href="#bar" class="link-list-tertiary__text">Pet insurance</a>
    </li>
  </ul>
</div>
