<h3>Caroline Rookes (Chief Executive) </h3>
<p>
  <img alt="Caroline_Rookes"
       src="https://www.moneyadviceservice.org.uk/images/carolinerookes-ceo-of-the-money-advice-service_130226_120x100.jpg">
  Caroline was appointed as Chief Executive of the Money Advice Service on 1
  February 2013. During a distinguished career in the Civil Service, recognised
  with a CBE in 2010, she has overseen a number of major developments to improve
  people’s personal finances. These include the introduction of automatic
  enrolment
  (the new duty on employers to enrol their staff automatically into a pension),
  the new NEST pension scheme, changes to private pension legislation and
  regulation, reviews of welfare benefits, and simplification of the pension tax
  regime. </p>

<h3>Mark Fiander (Executive Director) </h3>
<p><img alt="Mark Fiander" src="/images/markfiander.jpg">Mark is the Strategy
  and Innovation Director. Mark spent the first eleven years of his career at
  Unilever working across divisions in Sales, Marketing and Strategy. He then
  moved to The Royal Bank of Scotland where he headed up Customer Management and
  UK Marketing Operations. Mark then moved to BUPA before joining the Money
  Advice Service on 2 September 2011. </p>

<p><strong>In this section:</strong></p>
<p>
  <a data-type="link" hreflang="en" href="/en/static/background">Background</a>
  l&nbsp;<a title="Our board" data-type="link" hreflang="en" href="/en/static/our-board">Our
  board</a>&nbsp;l
  <a hreflang="en" href="/en/static/debt-advice">Debt
    advice</a> l
  <a hreflang="en" href="/en/static/accountability-and-funding">Oversight,
    accountability and funding</a>&nbsp;&nbsp; </p>