<h3>Caroline Rookes (Chief Executive) </h3>
<p>
  <img alt="Caroline_Rookes"
       src="https://www.moneyadviceservice.org.uk/images/carolinerookes-ceo-of-the-money-advice-service_130226_120x100.jpg">
  Caroline was appointed as Chief Executive of the Money Advice Service on 1
  February 2013. During a distinguished career in the Civil Service, recognised
  with a CBE in 2010, she has overseen a number of major developments to improve
  people’s personal finances. These include the introduction of automatic
  enrolment
  (the new duty on employers to enrol their staff automatically into a pension),
  the new NEST pension scheme, changes to private pension legislation and
  regulation, reviews of welfare benefits, and simplification of the pension tax
  regime. </p>

<p><strong>In this section:</strong></p>
<p>
  <a data-type="link" hreflang="en" href="/en/static/background">Background</a>
  l&nbsp;<a title="Our board" data-type="link" hreflang="en" href="/en/static/our-board">Our
  board</a>&nbsp;l
  <a hreflang="en" href="/en/static/debt-advice">Debt
    advice</a> l
  <a hreflang="en" href="/en/static/accountability-and-funding">Oversight,
    accountability and funding</a>&nbsp;&nbsp; </p>


<img src="https://www.moneyadviceservice.org.uk/images/23-01-14_mas_unexpected_costs-01.jpg">

<p><strong>Date published: 24 December 2011</strong></p>

<img alt="Map of our location" src="https://www.moneyadviceservice.org.uk/images/location_map.jpg">
