<div class="tab-selector" data-mas-component="TabSelector">
  <div class="tab-selector__items" data-mas-tabselector-wrapper>
    <ul class="tab-selector__items-inner" data-mas-tabselector-triggers>
      <li class="tab-selector__item is-active" data-mas-tabselector-trigger="1">
        <a class="tab-selector__trigger" href="#panel-1">
          Show panel 1
          <span class="tab-selector__icon icon icon--down-chevron-blue"></span>
        </a>
      </li>
      <li class="tab-selector__item is-inactive" data-mas-tabselector-trigger="2">
        <a class="tab-selector__trigger" href="#panel-2">
          Show panel 2
          <span class="tab-selector__icon icon icon--down-chevron-blue"></span>
        </a>
      </li>
      <li class="tab-selector__item is-inactive" data-mas-tabselector-trigger="3">
        <a class="tab-selector__trigger" href="#panel-3">
          Show panel 3
          <span class="tab-selector__icon icon icon--down-chevron-blue"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-selector__target is-active" id="panel-1" data-mas-tabselector-target="1">
    Panel 1
  </div>
  <div class="tab-selector__target is-inactive" id="panel-2" data-mas-tabselector-target="2">
    <div class="is-active" data-mas-tabselector-trigger="1">
      <a href="#panel-1">Show panel 1</a>
    </div>
    <div class="is-inactive" data-mas-tabselector-trigger="2">
      <a href="#panel-2">Show panel 2</a>
    </div>
    <div class="is-inactive" data-mas-tabselector-trigger="3">
      <a href="#panel-3">Show panel 3</a>
    </div>
  </div>
  <div class="tab-selector__target is-inactive" id="panel-3" data-mas-tabselector-target="3">
    Panel 3
  </div>
</div>
