<div class="table-wrapper">
  <table class="datatable-default">
    <thead>
    <tr>
      <th> Features and benefits</th>
      <th> Sheltered accommodation</th>
      <th> Residential care home</th>
      <th> Nursing care home</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> Registered with regulatory body</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td> Self-contained living</td>
      <td>Yes</td>
      <td>No</td>
      <td>No</td>
    </tr>
    <tr>
      <td> Staff on site</td>
      <td> Warden or Manager</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td> 24/7 Security alarms</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td> Suitable for disabled residents</td>
      <td>Some</td>
      <td>Some</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td> Nursing or medical care provided</td>
      <td>No</td>
      <td> No</td>
      <td> Available 24/7</td>
    </tr>
    <tr>
      <td> Level of care</td>
      <td>Low</td>
      <td> Moderate</td>
      <td>High</td>
    </tr>
    <tr>
      <td> Dependency needs</td>
      <td>Low</td>
      <td>Moderate</td>
      <td>High</td>
    </tr>
    <tr>
      <td> Pets allowed</td>
      <td>Some</td>
      <td> Some</td>
      <td> No</td>
    </tr>
    <tr>
      <td> Average cost</td>
      <td> From £8,500 per year</td>
      <td> From £28,000 per year</td>
      <td> From £37,500 per year</td>
    </tr>
    <tr>
      <td> What's included in residential fees?</td>
      <td><p> Varies, but may include: </p>
        <ul>
          <li>social events/activities</li>
        </ul>
        <ul>
          <li>communal areas</li>
          <li>estate management</li>
          <li>on-site warden, and</li>
          <li>‘meals on wheels’.</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>24-hr staff availability</li>
          <li>help with dressing and bathing</li>
          <li>food</li>
          <li>social events/activities, and</li>
          <li>communal areas.</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>24-hr nursing and personal care</li>
          <li>food</li>
          <li>social events/activities, and</li>
          <li>communal areas.</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-wrapper">
  <table class="datatable-default">
    <thead>
    <tr>
      <th><p>Student home region</p></th>
      <th colspan="4"><strong>Location of university or college</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td width="123" valign="top"></td>
      <td width="123" valign="top"><p><strong>England</strong></p></td>
      <td width="123" valign="top"><p><strong>Scotland</strong></p></td>
      <td width="123" valign="top"><p><strong>Wales </strong></p></td>
      <td width="123" valign="top"><p><strong>Northern Ireland </strong></p></td>
    </tr>
    <tr>
      <td width="123" valign="top"><p>England </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
    </tr>
    <tr>
      <td width="123" valign="top"><p>Scotland </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> No fee </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
    </tr>
    <tr>
      <td width="123" valign="top"><p>Wales </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
    </tr>
    <tr>
      <td width="123" valign="top"><p>Northern Ireland </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £3,575 </p></td>
    </tr>
    <tr>
      <td width="123" valign="top"><p>EU </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> No fee </p></td>
      <td width="123" valign="top"><p> Up to £9,000 </p></td>
      <td width="123" valign="top"><p> Up to £3,575 </p></td>
    </tr>
    <tr>
      <td width="123" valign="top"><p>Other international </p></td>
      <td width="123" valign="top"><p> Variable </p></td>
      <td width="123" valign="top"><p> Variable </p></td>
      <td width="123" valign="top"><p> Variable </p></td>
      <td width="123" valign="top"><p> Variable </p></td>
    </tr>
    </tbody>
  </table>
</div>
