<div class="table-wrapper">
  <table class="datatable-default">
    <thead>
    <tr>
      <th>Type of cover</th>
      <th>Monthly loan repayment</th>
      <th>Protection to run for</th>
      <th>Waiting time before policy pays out</th>
      <th>Maximum number of payments per claim&nbsp;</th>
      <th>Illustrative monthly premium</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Accident, sickness and unemployment</td>
      <td>£100</td>
      <td>5 years</td>
      <td>211 days</td>
      <td>6</td>
      <td>£1.60</td>
    </tr>
    <tr>
      <td>Accident, sickness and unemployment</td>
      <td>£100</td>
      <td>5 years</td>
      <td>91 days</td>
      <td>12</td>
      <td>£4.92</td>
    </tr>
    <tr>
      <td>Accident, sickness and unemployment</td>
      <td>£100</td>
      <td>5 years</td>
      <td>15 days</td>
      <td>24</td>
      <td>£10.92</td>
    </tr>
    </tbody>
  </table>
</div>
