<div class="table-wrapper">
  <table class="datatable-default">
    <thead>
    <tr>
      <th> Features and benefits</th>
      <th> Sheltered accommodation</th>
      <th> Residential care home</th>
      <th> Nursing care home</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> Nursing or medical care provided</td>
      <td>No</td>
      <td> No</td>
      <td> Available 24/7</td>
    </tr>
    <tr>
      <td> Level of care</td>
      <td>Low</td>
      <td> Moderate</td>
      <td>High</td>
    </tr>
    <tr>
      <td> Dependency needs</td>
      <td>Low</td>
      <td>Moderate</td>
      <td>High</td>
    </tr>
    <tr>
      <td> Pets allowed</td>
      <td>Some</td>
      <td> Some</td>
      <td> No</td>
    </tr>
    <tr>
      <td> Average cost</td>
      <td> From £8,500 per year</td>
      <td> From £28,000 per year</td>
      <td> From £37,500 per year</td>
    </tr>
    <tr>
      <td> What's included in residential fees?</td>
      <td><p> Varies, but may include: </p>
        <ul>
          <li>social events/activities</li>
        </ul>
        <ul>
          <li>communal areas</li>
          <li>estate management</li>
          <li>on-site warden, and</li>
          <li>‘meals on wheels’.</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>24-hr staff availability</li>
          <li>help with dressing and bathing</li>
          <li>food</li>
          <li>social events/activities, and</li>
          <li>communal areas.</li>
        </ul>
      </td>
      <td>
        <ul>
          <li>24-hr nursing and personal care</li>
          <li>food</li>
          <li>social events/activities, and</li>
          <li>communal areas.</li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
