---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/how-to-invest-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - c49a7e8d459cc934ec2b772703e48f29
    body:
      encoding: UTF-8
      string: '{"id":"how-to-invest-money","title":"Sut i fuddsoddi arian","description":"Dysgwch
        am hanfodion buddsoddi, sut i lunio cynllun buddsoddi, a deall eich agwedd
        tuag at risg.","parent_id":"saving-and-investing","contents":[{"id":"buddsoddi-canllaw-i-ddechreuwyr","type":"guide","title":"Buddsoddi
        \u2013 canllaw i ddechreuwyr","description":"Gall defnyddio buddsoddiadau
        wella eich elw \u2013 a lledaenu''r risg"},{"id":"asesu-perfformiad-eich-cynilion-ach-buddsoddiadau","type":"guide","title":"Asesu
        perfformiad eich cynilion a''ch buddsoddiadau","description":"Sut i fesur
        perfformiad eich cynilion a''ch buddsoddiadau i weld pa mor galed y maent
        yn gweithio a phenderfynu p''un a ddylech wneud newidiadau"},{"id":"eglurhad-o-d[...]
