---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/investment-types.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 1c6c027adceab193163c644ec95e7478
    body:
      encoding: UTF-8
      string: '{"id":"investment-types","title":"Mathau o fuddsoddiad","description":"Gwybodaeth
        am stociau a chyfranddaliadau, bondiau buddsoddi, cronfeydd tracio, polis\u00efau
        gydag-elw a gwaddol.","parent_id":"saving-and-investing","contents":[{"id":"ymddiriedolaethau-uned-a-chwmniau-buddsoddi-penagored","type":"guide","title":"Ymddiriedolaethau
        Uned a Chwmn\u00efau Buddsoddi Penagored","description":"Ffordd seml o ddechrau
        buddsoddi heb wario llawer o arian ymlaen llaw"},{"id":"polisa-au-gwaddol","type":"guide","title":"Polis\u00efau
        gwaddol","description":"Cynilo ar gyfer nod hirdymor? Mae polis\u00efau gwaddol
        yn rhoi pecyn i chi sy''n cynnwys aswiriant bywyd a rhai buddiannau treth
        posibl"},{"id":"bondiau-buddsoddi","type":"guide","title":"Bondiau buddsoddi",[...]
