---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/pension-basics.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 7634dde8ffb8ac539393c6d156b64715
    body:
      encoding: UTF-8
      string: '{"id":"pension-basics","title":"Ffeithiau sylfaenol ynghylch pensiynau","description":"Dysgwch
        pam a phryd i gynilo i bensiwn a sut i gyfrifo faint fydd eich cronfa bensiwn.","parent_id":"work-pensions-and-retirement","contents":[{"id":"pam-cynilo-mewn-pensiwn","type":"guide","title":"Pam
        cynilo mewn pensiwn?","description":"Mae pensiynau\u2019n ffordd effeithlon
        o gynilo at eich ymddeoliad. Bydd y dyn treth, a chyflogwyr yn aml, yn ychwanegu
        at eich cyfraniadau"},{"id":"eich-opsiynau-os-bydd-pethaun-mynd-o-le-gydach-pensiwn","type":"guide","title":"Eich
        opsiynau os bydd pethau\u2019n mynd o le gyda\u2019ch pensiwn","description":"Sut
        i fynd i\u2019r afael \u00e2 phroblemau cysylltiedig \u00e2 Phensiwn y Wladwriaeth,
  [...]
