---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/pensions-in-the-workplace.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 00aea7914cc71d3e8832d0adbc4cf892
    body:
      encoding: UTF-8
      string: '{"id":"pensions-in-the-workplace","title":"Pensiynau yn y gweithle","description":"Paratoi
        ar gyfer newidiadau i bensiynau gweithle a deall rhyddhad treth ar gyfraniadau
        pensiwn","parent_id":"work-and-money","contents":[{"id":"gostyngiad-treth-ar-gyfraniadau-pensiwn","type":"guide","title":"Gostyngiad
        treth ar gyfraniadau pensiwn","description":"Byddwch yn cael gostyngiad treth
        ar unrhyw arian yr ydych yn ei roi yn eich pensiwn, hyd at drothwy blynyddol
        o \u00a350,000 neu eich enillion am y flwyddyn"},{"id":"cofrestriad-awtomatig-ar-bensiwn-man-gwaith","type":"guide","title":"Cofrestru
        awtomatig \u2013 cyflwyniad","description":"Mae ymuno \u00e2 chynllun pensiwn
        eich man gwaith yn ffordd ddidrafferth o ddechrau cynilo ar gyfe[...]
