---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/planning-for-retirement-fl.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - ef8c24aa82dfb46d66734c007d16ad14
    body:
      encoding: UTF-8
      string: '{"id":"planning-for-retirement-fl","title":"Planning for retirement","description":"From
        how and when to start saving for a pension to getting the most from your pension
        fund, we have the tools to help you with your retirement planning goals. Our
        Money Health Check will also show you what you can do to make the most of
        your money.","parent_id":null,"contents":[{"id":"pam-cynilo-mewn-pensiwn","type":"guide","title":"Pam
        cynilo mewn pensiwn?","description":"Mae pensiynau\u2019n ffordd effeithlon
        o gynilo at eich ymddeoliad. Bydd y dyn treth, a chyflogwyr yn aml, yn ychwanegu
        at eich cyfraniadau"},{"id":"gostyngiad-treth-ar-gyfraniadau-pensiwn","type":"guide","title":"Gostyngiad
        treth ar gyfraniadau pensiwn","description":"Byddwch yn cael gostyngiad treth
        ar unrhyw arian yr ydych yn ei roi yn eich pensiwn, hyd at drothwy blynyddol
        o \u00a350,000[...]
