---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/savings-types.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 2f130de9336a8a067c3af02de7b81b6c
    body:
      encoding: UTF-8
      string: '{"id":"savings-types","title":"Mathau o gynilo","description":"Dysgwch
        am gyfrifon cynilo, ISAs arian parod a sut i gynilo ar gyfer plant.","parent_id":"saving-and-investing","contents":[{"id":"cynilo","type":"guide","title":"Cyfrifon
        cynilo, ISAs arian parod a bondiau cynilo","description":"Defnyddiwch ein
        tablau cymharu ar gyfrifon cynilo, ISAs arian parod a bondiau cynilo"},{"id":"cipolwg-ar-gynilion-arian-parod","type":"guide","title":"Cipolwg
        ar gynilion arian parod","description":"Peidiwch \u00e2 chadw eich arian parod
        o dan y fatras! Edrychwch pa fath o gyfrif sy''n addas ar gyfer eich cynilion
        arian parod, a dechreuwch gymharu heddiw"},{"id":"cyfrifon-c[...]
