---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/saving-into-a-pension-for-the-first-time.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 42f5e732a7e9dea8476e52bfe7287265
    body:
      encoding: UTF-8
      string: '{"id":"saving-into-a-pension-for-the-first-time","title":"Cynilo mewn
        pensiwn am y tro cyntaf","description":"Y cyfan fydd ei angen arnoch i roi
        cychwyn arni, gan gynnwys cyfrifydd cyflym sy''n amcangyfrif faint y dylech
        chi fod yn ei gynilo bob mis","parent_id":"pensions-and-retirement","contents":[{"id":"pam-cynilo-mewn-pensiwn","type":"guide","title":"Pam
        cynilo mewn pensiwn?","description":"Mae pensiynau\u2019n ffordd effeithlon
        o gynilo at eich ymddeoliad. Bydd y dyn treth, a chyflogwyr yn aml, yn ychwanegu
        at eich cyfraniadau"},{"id":"eich-pensiwn-cyntaf-y-dewisiadau","type":"guide","title":"Eich
        pensiwn cyntaf \u2013 y dewisiadau","description":"Os oes pensiwn man gwaith
        ar gael i chi, mae\u2019n debygol mai hwn fydd y dewis gorau \u2013 yn enwedig
        os gwnaiff eich cyflogwr g[...]
