---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/articles/pam-bod-cynilon-rheolaidd-yn-talu-ffordd.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/cy/articles/pam-bod-cynilon-rheolaidd-yn-talu-ffordd>
        rel="alternate"; hreflang="cy-GB"; title="Pam bod cynilo'n rheolaidd yn talu
        ffordd", <https://www.moneyadviceservice.org.uk/en/articles/why-it-pays-to-save-regularly>
        rel="alternate"; hreflang="en-GB"; title="Why it pays to save regularly"
      X-Session-Id:
      - 7b6a6185476a3d0842299830b9872bea
    body:
      encoding: UTF-8
      string: '{"id":"pam-bod-cynilon-rheolaidd-yn-talu-ffordd","title":"Pam bod cynilo''n
        rheolaidd yn talu ffordd","description":"Mae mynd i''r arfer o gynilo''n rheolaidd
        yn golygu y bydd eich cynilion yn tyfu''n gyflym \u2013 mae''n gyflym ac yn
        hawdd dechrau arni","body":"<p class=\"intro\"><img src=\"/images/why-it-pays-to-save-regularly.png\"/>Os
        ydych yn cynilo\u2019n rheolaidd, byddwch yn sylweddoli\u2019n gyflym bod
        eich cynilion yn ffynnu ac yn dal i gynyddu. Ewch i''r arfer a gwyliwch wrth
        i''ch arian droi''n fwy o arian. </p><h2>Gwnewch gynilo\u2019n arferiad </h2><div
        class=\"callout\"><h3>AWGRYM DA </h3><p>Mae mynd i''r arfer o gynilo''n rheolaidd
        yn bwysicach na faint y byddwch yn ei gynilo - cewch eich synnu o weld pa
        mor gyflym y gall ychydig bunnoedd y mis dyfu! </p></div><p>Y ffordd hawsaf
        o gynilo''n llwyddiannus yw trefnu eich bod yn ychwanegu ychydig yn awtomatig
        at eich cynilion bob mis. Drwy wneud hynny, ni fydd yn rhaid i chi gofio gwneud
        y taliad ac ni chewch eich temtio i fethu mis. Cyn pen dim, byddwch wedi tyfu
        swm sy[...]
