---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=0\u0026hitsPerPage=10\u0026query=Sut+i+gyllidebu+ar+gyfer+taliad+budd-daliadau+misol"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Sut i gyllidebu ar gyfer taliad budd-daliadau misol","description":"Mae
        taliad Credyd Cyffredinol misol sengl yn golygu y bydd angen ichi fynd i’r
        afael â chyllideb eich cartref - dyma sut i’w wneud","content":"<p><strong>Gall
        y teimlad o fod allan o reolaeth gyda’ch arian fod yn un dychrynllyd, yn enwedig
        os nad ydych yn sicr fod gennych ddigon i fyw arno. Mae’n bosib fod cael un
        taliad Credyd Cynhwysol misol yn eich gwneud yn fwy pryderus fyth ynglŷn â
        chadw dau ben llinyn ynghyd. Yr unig ffordd i reoli’ch arian yw llunio cyllideb
        cartref.</strong></p>\n\n<div class=\"callout callout--tip\">\n  <span class=\"callout__icon\"
        aria-hidden=\"true\">?</span>\n  <h3>Yn byw yng Ngogledd Iwerddon?</h3>\n\n<p>Mae
        Credyd Cynhwysol yn gweithio’n wahanol yng Ngogledd Iwerddon. Dysgwch ragor
        ar <a href=\"https://www.nidirect.gov.uk/articles/universal-credit\" target=\"_blank\">wefan
        nidirect</a>.</p>\n\n</div>\n\n<ul>\n<li><a href=\"#pam-cyllidebu--pam-nawr\">Pam
        cyllidebu – pam nawr?</a></li>\n<li><a href=\"#llunioch-cyllideb--ble-i-ddechrau\">Llunio’ch
        cyllideb – ble i ddechrau</a></li>\n<li><a href=\"#defnyddiwch-ein-cynllunydd-cyllideb\">Defnyddiwch
        ein cynllunydd cyllideb</a></li>\n<li><a href=\"#beth-os-nad-ywch-cyllideb-yn-mantoli\">Beth
        os nad yw’ch cyllideb yn mantoli?</a></li>\n<li><a href=\"#awgrymiadau-i-gadw-ar-y-trywydd-iawn\">Awgrymiadau
        i gadw ar y trywydd iawn</a></li>\n</ul>\n<h2 id=\"pam-cyllidebu--pam-nawr\">Pam
        cyllidebu – pam nawr?</h2>\n\n<div class=\"callout callout--tip\">\n  <span
        class=\"callout__icon\" aria-hidden=\"true\">?</span>\n  <h3>Yn byw yn yr
        Alban?</h3>\n\n<p>Efallai y cewch gynnig rhai dewisiadau ynghylch sut y telir
        eich Credyd Cynhwysol. Darllenwch ein canllaw ar <a href=\"https://www.moneyadviceservice.org.uk/cy/articles/credyd-cynhwysol-os-ydych-yn-byw-yn-yr-alban\">Gredyd
        Cynhwysol yn yr Alban</a>.</p>\n\n[...]
