---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=\u0026hitsPerPage=10\u0026query=Foobar"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[],"nbHits":0,"page":0,"nbPages":0,"hitsPerPage":10,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Foobar","params":"highlightPreTag=%3Cb%3E&highlightPostTag=%3C%2Fb%3E&page=&hitsPerPage=10&query=Foobar"}

'
  recorded_at: Wed, 28 Mar 2018 09:55:05 GMT
recorded_with: VCR 4.0.0
