---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=\u0026hitsPerPage=10\u0026query=How+to+budget+for+a+monthly+benefit+payment"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"How to budget for a monthly benefit payment","description":"A
        single monthly Universal Credit payment means you''ll need to get to grips
        with your household budget - here''s how to do it","published_at":"2017-10-09T13:31:34.000Z","objectID":"/en/articles/how-to-budget-for-a-monthly-benefit-payment","_highlightResult":{"title":{"value":"<b>How</b>
        <b>to</b> <b>budget</b> <b>for</b> <b>a</b> <b>monthly</b> <b>benefit</b>
        <b>payment</b>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["how","to","budget","for","a","monthly","benefit","payment"]},"description":{"value":"<b>A</b>
        single <b>monthly</b> Universal Credit <b>payment</b> means you''ll need <b>to</b>
        get <b>to</b> grips with your household <b>budget</b> - here''s <b>how</b>
        <b>to</b> do it","matchLevel":"partial","fullyHighlighted":false,"matchedWords":["how","to","budget","a","monthly","payment"]},"published_at":{"value":"2017-10-09T13:31:34.000Z","matchLevel":"none","matchedWords":[]}}}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":10,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"How
        to budget for a monthly benefit payment","params":"highlightPreTag=%3Cb%3E&highlightPostTag=%3C%2Fb%3E&page=&hitsPerPage=10&query=How+to+budget+for+a+monthly+benefit+payment"}

'
  recorded_at: Wed, 28 Mar 2018 09:55:07 GMT
recorded_with: VCR 4.0.0
