---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=\u0026hitsPerPage=10\u0026query=Sut+i+gyllidebu+ar+gyfer+taliad+budd-daliadau+misol"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Sut i gyllidebu ar gyfer taliad budd-daliadau misol","description":"Mae
        taliad Credyd Cyffredinol misol sengl yn golygu y bydd angen ichi fynd i’r
        afael â chyllideb eich cartref - dyma sut i’w wneud","published_at":"2017-10-11T10:38:22.000Z","objectID":"/cy/articles/sut-i-gyllidebu-ar-gyfer-taliad-budd-daliadau-misol","_highlightResult":{"title":{"value":"<b>Sut</b>
        <b>i</b> <b>gyllidebu</b> <b>ar</b> <b>gyfer</b> <b>taliad</b> <b>budd-daliadau</b>
        <b>misol</b>","matchLevel":"full","fullyHighlighted":true,"matchedWords":["sut","i","gyllidebu","ar","gyfer","taliad","budd","daliadau","misol"]},"description":{"value":"Mae
        <b>taliad</b> Credyd Cyffredinol <b>misol</b> sengl yn golygu y bydd angen
        ichi fynd <b>i</b>’r afael â chyllideb eich cartref - dyma <b>sut</b> <b>i</b>’w
        wneud","matchLevel":"partial","fullyHighlighted":false,"matchedWords":["sut","i","taliad","misol"]},"published_at":{"value":"2017-10-11T10:38:22.000Z","matchLevel":"none","matchedWords":[]}}}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":10,"processingTimeMS":1,"exhaustiveNbHits":true,"query":"Sut
        i gyllidebu ar gyfer taliad budd-daliadau misol","params":"highlightPreTag=%3Cb%3E&highlightPostTag=%3C%2Fb%3E&page=&hitsPerPage=10&query=Sut+i+gyllidebu+ar+gyfer+taliad+budd-daliadau+misol"}

'
  recorded_at: Wed, 28 Mar 2018 09:55:09 GMT
recorded_with: VCR 4.0.0
