---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=0\u0026hitsPerPage=10\u0026query=How+to+budget+for+a+monthly+benefit+payment"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"How to budget for a monthly benefit payment","description":"A
        single monthly Universal Credit payment means you''ll need to get to grips
        with your household budget - here''s how to do it","content":"<p><strong>Feeling
        out of control when it comes to money can be scary, especially if you don’t
        know whether you’ve got enough to live on. Getting a single monthly Universal
        Credit payment might be making you even more nervous about keeping your head
        above water. The only way to manage your money is to draw up a household budget.</strong></p>\n\n<div
        class=\"callout callout--tip\">\n  <span class=\"callout__icon\" aria-hidden=\"true\">?</span>\n  <h3>Living
        in Northern Ireland?</h3>\n\n<p>Universal Credit works differently in Northern
        Ireland. Find out more on <a href=\"https://www.nidirect.gov.uk/articles/universal-credit\"
        target=\"_blank\">the nidirect website</a>.</p>\n\n</div>\n\n<ul>\n<li><a
        href=\"#why-budget--why-now\">Why budget – why now?</a></li>\n<li><a href=\"#drawing-up-your-budget--where-to-start\">Drawing
        up your budget – where to start</a></li>\n<li><a href=\"#budget-planner\">Budget
        Planner</a></li>\n<li><a href=\"#what-if-your-budget-doesnt-balance\">What
        if your budget doesn’t balance?</a></li>\n<li><a href=\"#tips-for-staying-on-track\">Tips
        for staying on track</a></li>\n</ul>\n<h2 id=\"why-budget--why-now\">Why budget
        – why now?</h2>\n\n<div class=\"callout callout--tip\">\n  <span class=\"callout__icon\"
        aria-hidden=\"true\">?</span>\n  <h3>Living in Scotland?</h3>\n\n<p>You might
        be offered some choices about how your Universal Credit is paid. Read our
        guide to <a href=\"https://www.moneyadviceservice.org.uk/en/articles/universal-credit-if-you-live-in-scotland\">Universal
        Credit in Scotland</a>.</p>\n\n</div>\n\n<p>Drawing up a budget of all your
        household income and outgoings is a must if y[...]
