<section class="l-pace__advice">
  <div class="l-constrained">
    <div class="l-pace__advice__content">
      <%= heading_tag t('pace.advice.heading'), level: 3, class: 'l-pace__advice__heading' %>
      <%= t('pace.advice.text_html') %>
      <ul class="l-pace__advice__organisations">
        <li class="l-pace__advice__organisations__fca"><%= image_tag 'pace/fca.png' %></li>
        <li class="l-pace__advice__organisations__hmgovernment"><%= image_tag 'pace/hmgovernment.png' %></li>
      </ul>
    </div>
  </div>
</section>
