<section class="l-pace__help">
  <div class="l-constrained">
    <div class="l-pace__help__content">
      <%= heading_tag t('pace.help.heading'), level: 3, class: 'l-pace__help__heading' %>
      <%= t('pace.help.text_html') %>
      <p>
        <%= link_to t('pace.help.link'), '#online_advice' %>
      </p>
    </div>
  </div>
</section>
