<section class="l-pace__introduction">
  <div class="l-constrained">
    <%= heading_tag t('pace.introduction.heading'), level: 1, class: 'l-pace__introduction__heading' %>
    <div class="l-pace__introduction__image"></div>
    <div class="l-pace__introduction__panel">
      <div class="l-pace__introduction__panel__content">
        <%= heading_tag t('pace.introduction.subhead'), level: 2 %>
        <p><%= t('pace.introduction.text') %></p>
      </div>
    </div>
  </div>
</section>
