<nav class="l-pace-nav" role="navigation">
  <div class="l-constrained">
    <ul class="l-pace-nav__items">
      <% t('pace.nav.links').each do |link| %>
        <li class="l-pace-nav__item">
          <a href="#<%= link[:id] %>"><%= link[:text] %></a>
        </li>
      <% end %>

      <li class="l-pace-nav__cta">
        <%= link_to t('pace.nav.CTA.text'), @random_url, class: 'button', id: 'cta_nav', target: :blank %>

        <span class="visually-hidden"><%= t('pace.new_window') %></span>
      </li>
    </ul>
  </div>
</nav>
