<section class="l-pace__online_advice" id="online_advice">
  <div class="l-constrained">
    <div class="l-pace__online_advice__content">
      <%= heading_tag t('pace.online_advice.heading'), level: 3, class: 'l-pace__online_advice__heading' %>
      <%= t('pace.online_advice.text_html') %>
      <button class="button"><%= t('pace.online_advice.button') %></button>
    </div>
  </div>
</section>
