<section class="l-pace__online_advice" id="online_advice">
  <div class="l-constrained">
    <div class="l-pace__online_advice__inner">
      <%= heading_tag t('pace.online_advice.heading'), level: 3, class: 'l-pace__online_advice__heading' %>
      <div class="l-pace__online_advice__content">
        <%= t('pace.online_advice.text_html') %>
      </div>

      <%= link_to t('pace.nav.CTA.text'), moneyadvisernetwork_online_url, class: 'button l-pace__online_advice__cta', id: 'cta_online-advice', target: :blank%>

      <span class="visually-hidden"><%= t('pace.new_window') %></span>
    </div>
  </div>
</section>
