<section class="l-pace__online_advice" id="online_advice">
  <div class="l-constrained">
    <div class="l-pace__online_advice__inner">
      <%= heading_tag t('pace.online_advice.heading'), level: 3, class: 'l-pace__online_advice__heading' %>
      <div class="l-pace__online_advice__content">
        <%= t('pace.online_advice.text_html') %>
      </div>

      <a class="button l-pace__online_advice__cta" href="https://www.stepchange.org/start.aspx" target="_blank" id="cta_online-advice">
        <%= t('pace.nav.CTA') %>
      </a>

      <span class="visually-hidden"><%= t('pace.new_window') %></span>
    </div>
  </div>
</section>
