<section class="l-pace__privacy" id="<%= t('pace.nav.links')[3][:id] %>">
  <div class="l-constrained">
    <div class="l-pace__privacy__content">
      <%= heading_tag t('pace.privacy.heading'), level: 3, class: 'l-pace__privacy__heading' %>
      <p><%= t('pace.privacy.text') %></p>
      <p>
        <%= link_to t('pace.privacy.link'), 'pace/privacy' %>
      </p>
    </div>
  </div>
</section>
