<section class="l-pace__referred">
  <div class="l-constrained">
    <div class="l-pace__referred__inner">
      <div
        data-dough-component="Collapsable"
        data-dough-collapsable-config='{"iconPosition":"right","oneGroupOpenOnly":"true","focusTarget":false}'
        data-dough-collapsable-trigger="<% t('pace.referred.id') %>">
        <%= heading_tag t('pace.referred.heading'), level: 3, class: 'l-pace__referred__heading', id: 'referred' %>
      </div>

      <div
        class="l-pace__referred__content"
        data-dough-collapsable-target="<% t('pace.referred.id') %>"
      >
        <ul class="l-pace__referred__list">
          <% t('pace.referred.list').each do |listitem| %>
            <li class="l-pace__referred__list-item <%= "#{listitem[:imageclass]}" %>">
              <div class="l-pace__referred__list-item__image"></div>
              <span class="visually-hidden"><%= "#{listitem[:name]}" %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
