<section class="l-pace__wellbeing">
  <div class="l-constrained l-pace__wellbeing__inner">
    <div class="l-pace__wellbeing__image">
      <div class="l-pace__wellbeing__image__content"></div>
    </div>
    <div class="l-pace__wellbeing__content">
      <div>
        <%= heading_tag t('pace.wellbeing.heading'), level: 3, class: 'l-pace__wellbeing__heading' %>
        <%= t('pace.wellbeing.text_html') %>
      </div>
    </div>
  </div>
</section>
