<style>
  .no-js .js-only-text { display: none; }
</style>

<br />
<br />
<center>
  <strong>
    <span class="js-only-text">You are being directed to one of our online partners in the Money Adviser Network.</span>
    <noscript>
      You will need JavaScript turned on to access this service.
    </noscript>
  </strong>
</center>
<br />
<br />
