<% set_meta_tags(refresh: @redirect_string) %>

<br />
<br />
<center>
  <strong>
    <span>You are being directed to one of our online partners in the Money Adviser Network.</span>
  </strong>
</center>
<br />
<br />
