<form class="newsletter">
  <h3 class="newsletter__heading">Free newsletter</h3>
  <ul class="list--benefits list--benefits--small">
    <li>Receive top money saving tips</li>
    <li>Get the latest money news</li>
    <li>Free, unbiased advice to help you</li>
  </ul>
  <label class="visually-hidden" for="email">Email</label>
  <div class="newsletter__form">
    <input class="newsletter__input" id="email" type="email">
    <button class="button-link newsletter__button" type="submit">Sign up</button>
  </div>
</form>
