---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/videos/get-ready-universal-credit.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 5cd1008f27a098c8f89df212cdf54634
    body:
      encoding: UTF-8
      string: '{"id":"get-ready-universal-credit","title":"Get ready for Universal
        Credit","body":"<p>In April 2013, the government started bringing in a new
        type of financial support called Universal Credit. </p><p>It''s for people
        who are looking for work or on a low income and it will eventually replace
        many of the benefits and tax credits they''re getting at the moment. </p><p>There
        are things you can do beforehand to make sure you''re ready for the changes
        when they happen.\u00a0 </p><p><iframe id=\"video-link\" width=\"620\" height=\"380\"
        src=\"https://www.youtube.com/embed/HvJTdPEKYzo?wmode=transparent&rel=0&iv_load_policy=3\"
        frameborder=\"0\" allowfullscreen></iframe></p><p><a title=\"get ready\" href=\"https://www.moneyadviceservice.org.uk/files/get-ready-for-universal-credit-doc.doc\">Read
        a transcript of this video (Doc)</a>\u00a0 </p>","categories":["videos","universal-credit"],"videoUrl":"https://www.youtube.com/embed/HvJTdPEKYzo"}'
  recorded_at: Tue, 10 Feb 2015 15:43:15 GMT
recorded_with: VCR 2.9.2
