---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/approaching-retirement.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 9f659a3004dbcb745ef5261bcafa4fbf
    body:
      encoding: UTF-8
      string: '{"id":"approaching-retirement","title":"Approaching retirement","description":"As
        retirement nears there are big decisions to make, such as what kind of annuity
        to shop around for - we explain it all","parent_id":"pensions-and-retirement","contents":[{"id":"new-rules-about-pensions-from-27-march-2014","type":"guide","title":"New
        rules about pensions from 27 March 2014","description":"Read our advice on
        the government\u2019s proposed pension changes from April 2015 and interim
        relaxed rules for cash lump sums and income withdrawal."},{"id":"should-you-take-a-pension-tax-free-cash-lump-sum","type":"guide","title":"Should
        you take a cash lump sum from your pension?","description":"Many people take
        a cash lump sum from their pension, but you need to consider the i[...]
