---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/benefits-and-entitlements-if-you-lose-your-job.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 02dbb81aaa6366b58444c54b77db2b99
    body:
      encoding: UTF-8
      string: '{"id":"benefits-and-entitlements-if-you-lose-your-job","title":"Benefits
        and entitlements if you lose your job","description":"Benefits and tax credits
        you can claim after losing your job, can you claim a tax rebate and what happens
        to your pension?","parent_id":"losing-your-job","contents":[{"id":"claiming-a-tax-rebate-after-losing-your-job","type":"guide","title":"Claiming
        your tax rebate after losing your job","description":"When you might be due
        a tax refund and how to claim it"},{"id":"benefits-and-tax-credits-when-youve-lost-your-job","type":"guide","title":"Benefits
        and tax credits when you\u2019ve lost your job","description":"If you\u2019re
        looking for work, you may be able to get Jobseeker\u2019s Allowance and other
        benefits or grants. Find out how to claim"},{"id":"benefits-and-tax-credits-after-job-loss","type":"action_plan","title":"Action
        plan - Benefits and tax credits after job loss","description":"Use this action
        plan to find out what benefits and other entitlements are available following
        redundancy"}]}'
  recorded_at: Tue, 03 Jun 2014 18:49:32 GMT
recorded_with: VCR 2.9.0
