---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/benefits.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - bd9add56d27882d146952d38ce3fd65c
    body:
      encoding: UTF-8
      string: '{"id":"benefits","title":"Benefits","description":"Find out what benefits
        you''re entitled to and learn about Universal Credit.","parent_id":"money-topics","contents":[{"id":"help-with-your-benefits","type":"category","title":"Help
        with your benefits","description":"Help with getting the right entitlements,
        where to get benefits support and advice and what to do if your payments are
        cut."},{"id":"child-benefit","type":"category","title":"Child Benefit","description":"Find
        out how Child Benefit works and how much you might be entitled to claim."},{"id":"universal-credit","type":"category","title":"Universal
        Credit","description":"Get ready for the new single monthly payment which
        has started to replace six existing benefits."},{"id":"benefits-at-work","type":"category","title":"Benefits
        at work","description":"Learn about employee benefits, salary sacrifice schemes
        and benefits and tax credits you can claim after job loss."}]}'
  recorded_at: Tue, 03 Jun 2014 18:49:23 GMT
recorded_with: VCR 2.9.0
