---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/benefits-at-work.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 6f5e38015af0de2c957e2b6d4be347e9
    body:
      encoding: UTF-8
      string: '{"id":"benefits-at-work","title":"Benefits at work","description":"Learn
        about employee benefits, salary sacrifice schemes and benefits and tax credits
        you can claim after job loss.","parent_id":"benefits","contents":[{"id":"benefits-and-tax-credits-after-job-loss","type":"action_plan","title":"Action
        plan - Benefits and tax credits after job loss","description":"Use this action
        plan to find out what benefits and other entitlements are available following
        redundancy"},{"id":"benefits-and-tax-credits-when-youve-lost-your-job","type":"guide","title":"Benefits
        and tax credits when you\u2019ve lost your job","description":"If you\u2019re
        looking for work, you may be able to get Jobseeker\u2019s Allowance and other
        benef[...]
