---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/child-benefit.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 9f6ff82ca00f2be847645aed8970548b
    body:
      encoding: UTF-8
      string: '{"id":"child-benefit","title":"Child Benefit","description":"Find out
        how Child Benefit works and how much you might be entitled to claim.","parent_id":"benefits","contents":[{"id":"changes-to-child-benefit-from-2013","type":"guide","title":"Child
        Benefit for people earning \u00a350,000+","description":"The rules for Child
        Benefit changed in January 2013 - find out how the changes affect you and
        what your options are"},{"id":"claiming-child-benefit","type":"guide","title":"Claiming
        Child Benefit","description":"You may be able to claim Child Benefit as soon
        as your baby is born. Here\u2019s how to do it"},{"id":"claim-work-entitlements-when-pregnant","type":"action_plan","titl[...]
