---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/events-that-may-affect-your-pension.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 0a46e7f842e984dab314a21a4d2d1d3c
    body:
      encoding: UTF-8
      string: '{"id":"events-that-may-affect-your-pension","title":"Events that may
        affect your pension","description":"Be aware of the possible effects on your
        pension of events including parenthood, divorce, redundancy and retiring abroad","parent_id":"pensions-and-retirement","contents":[{"id":"protecting-your-workplace-pension-after-having-a-baby","type":"guide","title":"Protecting
        your workplace pension after having a baby","description":"While you\u2019re
        on paid maternity leave, your employer should keep up your workplace contributions
        for the full 39 weeks"},{"id":"your-pension-options-if-youre-made-redundant","type":"guide","title":"Your
        pension options if you\u2019re made redundant","description":"If you\u2019re
        facing redundancy and worried about your workplace pension, find out about
        your options here"}]}'
  recorded_at: Tue, 03 Jun 2014 18:49:22 GMT
recorded_with: VCR 2.9.0
