---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/help-with-insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 25b1afed2b0eb8d66cf7e60d990558e7
    body:
      encoding: UTF-8
      string: '{"id":"help-with-insurance","title":"Help with insurance","description":"Understand
        what insurance is and how it works. Find out how to buy insurance and how
        to go about making a claim.","parent_id":"insurance","contents":[{"id":"what-is-insurance","type":"guide","title":"What
        is insurance?","description":"Not sure what insurance is or how it works?
        Understand the basics so you can get the right protection for you and your
        family"},{"id":"types-of-insurance","type":"guide","title":"Types of insurance","description":"Not
        sure what insurance you need? This table summarises what each type covers,
        who needs it and the pros and cons of each"},{"id":"things-to-watch-out-for-when-buying-insurance","type":"guide","[...]
