---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/home-insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 8f3070dd6fc9bdb30b3907b59167a733
    body:
      encoding: UTF-8
      string: '{"id":"home-insurance","title":"Home insurance","description":"Find
        out if you need buildings and contents insurance and get help with choosing
        the right policy and cover.","parent_id":"insurance","contents":[{"id":"do-you-need-buildings-insurance","type":"guide","title":"Buildings
        insurance - Do you need it?","description":"Buildings insurance could save
        you a fortune if your home is damaged, and your mortgage lender will normally
        insist on it"},{"id":"buildings-insurance-how-much-cover-do-you-need","type":"guide","title":"Buildings
        insurance \u2013 how much cover do you need?","description":"Find the right
        level of cover for your property and see how subsidence and unusual construction
        might affec[...]
