---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/how-to-invest-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 9da40b2ae130cc9d7a7228042c8be091
    body:
      encoding: UTF-8
      string: '{"id":"how-to-invest-money","title":"How to invest money","description":"Learn
        about investing basics, how to make an investment plan, and understanding
        your attitude to risk.","parent_id":"saving-and-investing","contents":[{"id":"investing-beginners-guide","type":"guide","title":"Investing
        \u2013 beginner\u2019s guide","description":"Using investments can improve
        your profits \u2013 and spread risk"},{"id":"assessing-the-performance-of-your-savings-and-investments","type":"guide","title":"Assessing
        the performance of your savings and investments","description":"How to measure
        the performance of your savings and investments to see how hard they''re working
        and decide whether to make changes"},{"id":"asset-classes-ex[...]
