---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/life-and-protection-insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - f35305bdae38038cd44db8b0e3ca53bd
    body:
      encoding: UTF-8
      string: '{"id":"life-and-protection-insurance","title":"Life and protection
        insurance","description":"Learn about the differences between life, critical
        illness and income protection insurance.","parent_id":"insurance","contents":[{"id":"do-you-need-life-insurance","type":"guide","title":"Do
        you need life insurance?","description":"If your family relies on your income
        \u2013 or you want your mortgage paid off when you die \u2013 then you probably
        need life insurance"},{"id":"life-insurance-how-and-where-to-buy-it","type":"guide","title":"How
        and where to buy life insurance","description":"Shop around to get the best
        deal on life cover - find out where to get quotes and read our key buying
        tips"},{"id":"life-insuranc[...]
