---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/making-a-will.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 2850e4183ed7dc2ae0caebd6a3e0ce15
    body:
      encoding: UTF-8
      string: '{"id":"making-a-will","title":"Making a will","description":"Learn
        how to make and change a will and find out about the different options available.","parent_id":"births-deaths-and-family","contents":[{"id":"why-you-should-make-a-will","type":"guide","title":"Why
        you should make a will","description":"A will is easy to prepare and ensures
        your money, possessions and property go to the right people when you die"},{"id":"top-five-ways-to-cut-your-inheritance-tax","type":"guide","title":"Top
        5 ways to cut your Inheritance Tax","description":"Looking to reduce the Inheritance
        Tax on your estate after you\u2019ve gone? Here are five perfectly legal ways
        to do it"},{"id":"gifts-and-transfers-exempt-f[...]
