---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/redundancy-payments.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 9f7489bd3e6ab30854a8faaf8211aea4
    body:
      encoding: UTF-8
      string: '{"id":"redundancy-payments","title":"Redundancy payments","description":"Are
        you entitled to redundancy pay, how much will you get and will you have to
        pay tax on it?","parent_id":"losing-your-job","contents":[{"id":"redundancy-pay","type":"guide","title":"Redundancy
        pay","description":"After two years with the same employer you''ll get redundancy
        pay. Find out how much you''re entitled to"},{"id":"do-you-have-to-pay-tax-on-your-redundancy-payout","type":"guide","title":"Do
        you have to pay tax on your redundancy pay?","description":"Most redundancy
        pay lump sums are tax free but you have to pay tax on holiday pay and pay
        in lieu of notice"},{"id":"your-pension-options-if-youre-made-redundant","type":"guide","title":"Your
        pension options if you\u2019re made redundant","description":"If you\u2019re
        facing redundancy and worried about your workplace pension, find out about
        your options here"},{"id":"claim-a-tax-rebate-after-losing-your-job","type":"action_plan","title":"Action
        plan - Claim a tax rebate after losing your job","description":"Here\u2019s
        how to check whether you\u2019re due a tax rebate after losing your job and
        how to claim it"}]}'
  recorded_at: Tue, 03 Jun 2014 18:49:31 GMT
recorded_with: VCR 2.9.0
