---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/support-for-carers.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - fe1ee9e2928c7af077d1d4cf0c01f4f0
    body:
      encoding: UTF-8
      string: '{"id":"support-for-carers","title":"Support for carers","description":"Find
        out about support available to carers and how to manage the money of someone
        you''re caring for.","parent_id":"care-and-disability","contents":[{"id":"help-manage-the-money-of-someone-youre-caring-for","type":"guide","title":"Help
        manage the money of someone  you\u2019re caring for","description":"If you\u2019re
        caring for someone who\u2019s struggling to manage their money, there are
        different ways you might be able to help"},{"id":"support-services-available-to-carers","type":"guide","title":"Support
        services available to carers","description":"If you care for someone full
        time or part time, you might be entitled to respite or other support services"},{"id":"[...]
