---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/taking-income-from-your-pension.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 180bde7f16ba74dd7bfebf768deb2dd3
    body:
      encoding: UTF-8
      string: '{"id":"taking-income-from-your-pension","title":"Taking income from
        your pension","description":"We walk you through all the options, including
        cash lump sums and all the different types of annuity you can buy","parent_id":"pensions-and-retirement","contents":[{"id":"higher-pension-income-for-people-with-poor-health","type":"guide","title":"Higher
        pension income for people with poor health","description":"Enhanced annuities
        can provide a higher pension income if you\u2019re in ill-health, or have
        an unhealthy lifestyle"},{"id":"the-lifetime-allowance-for-pension-savings","type":"guide","title":"Lifetime
        Allowance for pension savings","description":"If you accumulate more than
        \u00a31.5 million in pension savings, you risk suffering a heavy tax penalty"},{"id":"pension-release[...]
