---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/types-of-mortgage.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 89ac7dc7b373fb6c9821392de3ca0f1c
    body:
      encoding: UTF-8
      string: '{"id":"types-of-mortgage","title":"Types of mortgage","description":"Learn
        about different kinds of mortgages, from repayment and interest-only to shared
        equity and buy-to-let.","parent_id":"homes-and-mortgages","contents":[{"id":"what-is-an-offset-mortgage","type":"video","title":"What
        is an Offset Mortgage?","description":"Watch this video to find out what an
        Offset Mortgage is and whether it might be right for you"},{"id":"review-an-interest-only-repayment-scheme","type":"action_plan","title":"Action
        plan - Review an interest-only repayment scheme","description":"Guide to check
        that your funds are on track to repay the loan in full when it becomes due"},{"id":"make-an-interest-only-repayment-scheme","type":"action_plan","[...]
