---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/universal-credit.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - e31fbb86e27b6e3488764966d18a0a4c
    body:
      encoding: UTF-8
      string: '{"id":"universal-credit","title":"Universal Credit","description":"Get
        ready for the new single monthly payment which has started to replace six
        existing benefits.","parent_id":"benefits","contents":[{"id":"universal-credit-an-introduction","type":"guide","title":"Universal
        Credit - an introduction","description":"Universal Credit is a new type of
        financial support for people who are looking for work or on a low income -
        find out how it might affect you"},{"id":"get-ready-universal-credit","type":"video","title":"Get
        ready for Universal Credit","description":"In April 2013, the government started
        bringing in a new type of financial support called Universal Credit."},{"id":"universal-credit-start-dat[...]
