---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/using-your-home-to-generate-retirement-income.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - c8b8709ce5a4cb15952271780686d21f
    body:
      encoding: UTF-8
      string: '{"id":"using-your-home-to-generate-retirement-income","title":"Using
        your home to generate retirement income","description":"Whether or not you
        own your home you can use it to boost your income, for example through equity
        release or renting a room","parent_id":"pensions-and-retirement","contents":[{"id":"home-reversion","type":"guide","title":"Home
        reversion","description":"Home reversion involves selling all or part of your
        home, while keeping the right to carry on living in it rent free"},{"id":"equity-release","type":"guide","title":"Equity
        release","description":"Equity release schemes are one way for home owners
        to fund retirement, but they are not suitable for everyone"},{"id":"lifetime-mortgage","type":"guide","title":"Lifetime
        mortgage","description":"Understand how lifetime mortgages work and what you
        need to consider before taking one out"},{"id":"equity-release-help","type":"guide","title":"Equity
        release help","description":"Important information on getting advice and key
        things you need before committing to an equity release scheme"},{"id":"the-rent-a-room-scheme","type":"guide","title":"Renting
        out a room","description":"This government scheme lets you earn up to \u00a34,250
        free of tax for renting out furnished rooms in your house"}]}'
  recorded_at: Tue, 03 Jun 2014 18:49:21 GMT
recorded_with: VCR 2.9.0
