---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/workplace-pensions-changes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 8e79dc98925541db811f777be3d648e9
    body:
      encoding: UTF-8
      string: '{"id":"workplace-pensions-changes","title":"Automatic enrolment","description":"Gradually
        all employers will be required to save into their workers'' pension schemes","parent_id":"pensions-and-retirement","contents":[{"id":"automatic-enrolment-into-a-workplace-pension","type":"guide","title":"Automatic
        enrolment \u2013 an introduction","description":"Joining your workplace pension
        scheme is a hassle-free way to start saving for later life"},{"id":"the-benefits-of-automatic-enrolment","type":"guide","title":"The
        benefits of automatic enrolment","description":"Find out what automatic enrolment
        means for you"},{"id":"automatic-enrolment-what-to-expect-from-your-employer","type":"guide","title":"Automatic
        enrolment - what to expect[...]
