---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/your-redundancy-rights.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 9b986216d4a686abb1d014be01eb2173
    body:
      encoding: UTF-8
      string: '{"id":"your-redundancy-rights","title":"Your redundancy rights","description":"Redundancy
        advice and your legal rights, what process your employer must follow and how
        to tell if you''ve been a victim of unfair dismissal","parent_id":"losing-your-job","contents":[{"id":"your-legal-rights-when-facing-redundancy","type":"guide","title":"Your
        legal rights when facing redundancy","description":"Advice on notice periods,
        gardening leave, time off for job interviews and compromise agreements"},{"id":"redundancy-versus-unfair-dismissal","type":"guide","title":"Unfair
        dismissal versus redundancy","description":"How to check whether your redundancy
        is fair and what to do if you think you''ve been unfairly dismissed"}]}'
  recorded_at: Tue, 03 Jun 2014 18:49:31 GMT
recorded_with: VCR 2.9.0
