*.rbc
*.sassc
.sass-cache
capybara-*.htm
.env
.rspec
.rvmrc
/.bundle
/node_modules
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/a/*
/public/assets/*
/public/javascripts/*
/public/system/*
/coverage/
/spec/tmp/*
/spec/javascripts/coverage
**.orig
rerun.txt
pickle-email-*.html
.project
package-lock.json
config/initializers/secret_token.rb
*.DS_Store
public/version
/vendor/cache/
/vendor/assets/bower_components
.validation
screenlog.*
/config/features.yml
bower.json
.rubocop-*
*.iml
.idea/*
spec/test_status.txt
phantomjs
