FORMAT: 1A
HOST: https://www.moneyadviceservice.org.uk

# Money Advice Service
API for the Money Advice Service, to be consumed by the responsive frontend.

# Group Categories
Category related resources of the **Money Advice Service**.

## Categories Collection [/{locale}/categories.json]
A collection of categories including their subcategories

+ Parameters
    + locale = `en` (optional, string, `en`) ... Locale of the Categories.
        + Values
            + `en`
            + `cy`

### Retrieve all Categories [GET]
+ Response 200 (application/json)

    + Header

            Link: <https://www.moneyadviceservice.org.uk/en/categories; rel="canonical", <https://www.moneyadviceservice.org.uk/cy/categories>; rel="alternate"; hreflang="cy"

    + Body

            [
                {
                    "id": "life-events",
                    "title": "Life events",
                    "description": "When big things happen - having a baby, losing your job, getting divorced or retiring\n - it helps to be in control of your money\n",
                    "subCategories": [
                        {
                            "id": "setting-up-home",
                            "title": "Setting up home",
                            "description": "Deciding whether to rent or buy, working out what you can afford and managing\n money when sharing with others\n",
                            "subCategories": [
                            ]
                        },
                        {
                            "id": "young-people-and-money",
                            "title": "Leaving school or college",
                            "description": "",
                            "subCategories": [
                            ]
                        },
                        {
                            "id": "having-a-baby",
                            "title": "Having a baby",
                            "description": "",
                            "subCategories": [
                            ]
                        }
                    ]
                },
               {
                    "id": "managing-your-money",
                    "title": "Managing your money",
                    "description": "",
                    "subCategories": [
                        {
                            "id": "managing-your-money-better",
                            "title": "Managing your money",
                            "description": "How to take control of your money, make ends meet and make better financial decisions\n",
                            "subCategories": [
                            ]
                        },
                        {
                            "id": "how-to-review-or-reduce-borrowing",
                            "title": "How to review or reduce borrowing",
                            "description": "Tips on cutting the cost of card debt, personal loans, car finance, catalogue or HP agreements and mortgage payments",
                            "subCategories": [
                            ]
                        }
                    ]
                },
                {
                    "id": "money-topics",
                    "title": "Money topics",
                    "description": "",
                    "subCategories": [
                    ]
                },
                {
                    "id": "tools--resources",
                    "title": "Tools & resources",
                    "description": "",
                    "subCategories": [
                    ]
                },
                {
                    "id": "news",
                    "title": "News",
                    "description": "",
                    "subCategories": [
                    ]
                }
            ]

## Category [/{locale}/categories/{id}]
A single category object with all its details

+ Parameters
    + locale = `en` (optional, string, `en`) ... Locale of the Category.
        + Values
            + `en`
            + `cy`
    + id (required, string, `life-events`) ... ID of the Category.

### Retrieve a Category [GET]
+ Response 200 (application/json)

    + Header

            Link: <https://www.moneyadviceservice.org.uk/en/categories/life-events>; rel="canonical"; title="Life events", <https://www.moneyadviceservice.org.uk/cy/categories/life-events>; rel="alternate"; hreflang="cy"; title="Digwyddiadau bywyd"

    + Body

            {
                "title": "Life events",
                "description": "When big things happen - having a baby, losing your job, getting divorced or retiring\n - it helps to be in control of your money\n",
                "id":"life-events",
                "contents":[
                  {
                    "id":"setting-up-home",
                    "type":"category",
                    "title":"Setting up home",
                    "description":"Deciding whether to rent or buy, working out what you can afford and managing\n money when sharing with others\n"
                  },
                  {
                    "id":"how-much-rent-can-you-afford",
                    "type":"guide",
                    "title":"How much rent can you afford?",
                    "description":"When working out what rent you can afford, remember to factor in upfront costs and your ongoing bills once you've moved in"
                  }
                ]
            }


# Group Articles
Article related resources of the **Money Advice Service**.

## Article [/{locale}/articles/{id}]
A single Article object with all its details

+ Parameters
    + locale = `en` (optional, string, `en`) ... Locale of the Article.
        + Values
            + `en`
            + `cy`
    + id (required, string, `where-to-go-to-get-free-debt-advice`) ... ID of the Article.

### Retrieve an Article [GET]
+ Response 200 (application/json)

    + Header

            Link: <https://www.moneyadviceservice.org.uk/en/articles/where-to-go-to-get-free-debt-advice>; rel="canonical"; title="Where to go to get free debt advice", <https://www.moneyadviceservice.org.uk/cy/articles/ble-i-gael-cyngor-am-ddim-ynghylch-dyled>; rel="alternate"; hreflang="cy"; title="Ble i gael cyngor am ddim ynghylch dyled"

    + Body

            {
                "title": "Where to go to get free debt advice",
                "description": "Find out where you can get free, confidential help if you are struggling with debt",
                "body": "<h2>Watch out for companies that aren't charities</h2><p>Look out for companies with misleading names that sound like debt charities but are actually commercial businesses.</p><p>Never ever pay for services from this type of company.</p>"
            }

# Group Action Plans
Action Plan related resources of the **Money Advice Service**.

## Action Plan [/{locale}/action_plans/{id}]
A single Action Plan object with all its details

+ Parameters
    + locale = `en` (optional, string, `en`) ... Locale of the Action Plan.
        + Values
            + `en`
            + `cy`

### Retrieve an Action Plan [GET]
+ Response 200 (application/json)

    + Header

            Link: <https://www.moneyadviceservice.org.uk/en/action_plans/prepare-for-the-cost-of-having-a-baby>; rel="canonical"; title="Action plan – Prepare for the cost of having a baby", <https://www.moneyadviceservice.org.uk/cy/action_plans/paratowch-am-y-gost-o-gael-babi>; rel="alternate"; hreflang="cy"; title="Cynllun gweithredu - Paratowch am y gost o gael babi - Gwasanaeth Cynghori Ariannol"

    + Body

            {
                "title": "Prepare for the cost of having a baby",
                "description": "A handy action plan which can help with planning of the costs involved in having a new baby",
                "body": "<h4>Why?</h4><p>Knowing how much everything costs will help you prepare for your new arrival and avoid any unexpected expenses.</p>"
            }

#Group Search
Search related resources of the **Money Advice Service**.

## Search [/{locale}/search?query={query_chain}]
A collection of search results

+ Parameters
    + locale = `en` (optional, string, `en`) ... Locale of the Search.
        + Values
            + `en`
            + `cy`
    + query_chain (string, `health+check+house`) ... query of the search.

### Retrieve search results [GET]
+ Response 200 (application/json)

    + Header

            Link: <https://www.moneyadviceservice.org.uk/en/search?query=budget+plan+house; rel="canonical", <https://www.moneyadviceservice.org.uk/cy/search>; rel="alternate"; hreflang="cy"

    + Body

            [
                {
                    "id": "manage-your-budget-after-redundancy",
                    "type": "action_plan",
                    "title": "Manage your budget after redundancy",
                    "description":"Use this step-by-step action plan to help you keep the household budget on track after redundancy."
                },
                {
                    "id": "new-baby-why-budget",
                    "type": "article",
                    "title": "New baby – why budget?",
                    "description":"If you find yourself saying that more and more, especially if there's a new baby on the scene, it's probably time to draw up a household budget and start planning your spending."
                },
                {
                    "id": "funeral-plans",
                    "title": "Funeral plans",
                    "type": "article",
                    "description":"A funeral plan is a way of paying for a future funeral today. Here are some things to bear in mind if you're thinking of taking one out."
                },
                {
                    "id": "how-to-make-your-money-go-further",
                    "type": "action_plan",
                    "title": "How to make your money go further",
                    "description":"Follow this action plan to help you save money around the home and when you're out and about, making your hard-earned cash go that bit further."
                }
            ]
