---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/articles/a-ddylech-chi-rentu-neu-brynu.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/cy/articles/a-ddylech-chi-rentu-neu-brynu>
        rel="alternate"; hreflang="cy-GB"; title="A ddylech chi rentu neu brynu?",
        <https://www.moneyadviceservice.org.uk/en/articles/should-you-rent-or-buy>
        rel="alternate"; hreflang="en-GB"; title="Rent or buy?"
      X-Session-Id:
      - 0f3400181b4fca474d5aed06ae0ca128
    body:
      encoding: UTF-8
      string: '{"id":"a-ddylech-chi-rentu-neu-brynu","title":"A ddylech chi rentu
        neu brynu?","description":"Fedrwch chi fforddio prynu eiddo a, hyd yn oed
        os gallwch, a yw\u2019n syniad da \u2013 neu a fuasai hi\u2019n well i chi
        rentu yn lle hynny?","body":"<html><body><p class=\"intro\"><img src=\"/images/should-you-rent-or-buy.jpg\"/>Mae\u2019n
        debygol mai prynu eiddo yw\u2019r penderfyniad ariannol mwyaf y bydd rhaid
        i chi fyth ei wneud. Sut gallwch chi wybod a ydych chi\u2019n gwneud y penderfyniad
        iawn ar hyn o bryd \u2013 neu a fuasai hi\u2019n well i chi rentu yn lle hynny?
        </p><h2>Pethau i\u2019w pwyso a\u2019u mesur os nad ydych chi\u2019n sicr
        pa un ai prynu ynteu rentu </h2><p>Mae bod yn berchen ar eich t\u0177 eich
        hun yn ymrwymiad mawr, nid dim ond i\u2019r adeilad rydych chi\u2019n ei brynu
        ac i\u2019r ardal rydych chi\u2019n dewis byw ynddi, ond hefyd i\u2019ch bywyd
        (a hefyd i berson arall os ydych chi\u2019n prynu gyda rhywun sy\u2019n annwyl
        i chi neu ffrind). </p><h3>Y manteision o fod yn berchennog ar eich cartref
        </h3><p>Mae llawer o fanteision i fod yn berchennog ar eich cartref. Dyma
        rai ohonynt yn unig. </p><ul><li>Unwaith rydych chi wedi talu eich morgais,
        chi biau eich cartref a gallai fod werth llawer mwy nag y gwnaethoch dalu
        amdano. </li></ul><ul><li>Os yw gwerth eich cartref yn codi gallwch ddefnyddio\u2019r
        ecwiti hwnnw i\u2019ch helpu i fforddio cartref mwy neu i ariannu ymddeoliad
        mwy cyfforddus os ydych chi\u2019n prynu cartref llai. </li></ul><ul><li>Pan
        fyddwch chi\u2019n ymddeol ni fydd yr incwm gennych o reidrwydd i ddal ati
        i dalu rhent \u2013 [...]
