---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/buying-a-home.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 4b45cfe7767fd38750400689036c1da0
    body:
      encoding: UTF-8
      string: '{"id":"buying-a-home","title":"Prynu cartref","description":"Cyfrifwch
        eich costau prynu a symud cyffredinol, cyngor i brynwyr tro cyntaf, ac awgrymiadau
        ac offer i''ch helpu chi i gyfrifo beth allwch ei fforddio.","parent_id":"homes-and-mortgages","contents":[{"id":"amcangyfrifwch-eich-costau-prynu-a-symud-cyffredinol","type":"guide","title":"Amcangyfrifwch
        eich costau prynu a symud cyffredinol","description":"Defnyddiwch ein rhestr
        wirio o gostau prynu neu symud i''ch helpu i gael darlun realistig o gyfanswm
        y gost i chi"},{"id":"faint-allwch-chi-fforddio-ei-fenthyca","type":"guide","title":"Faint
        allwch chi fforddio ei fenthyca?","description":"Dysgwch sut mae darparwyr
        morgeisi\u2019n cyfrifo\u2019r swm y gallwch ei fforddio"},{"id":"llinell-amser-arian-wrth-brynu-cartref","[...]
