---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/help-with-mortgages.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 58e943f67ebb3c990f9ddb96a27df195
    body:
      encoding: UTF-8
      string: '{"id":"help-with-mortgages","title":"Cymorth gyda morgeisi","description":"Dechreuwch
        arno gyda''n canllaw dechreuwyr i forgeisi, cael y fargen gywir, ac awgrymiadau
        os ydych yn profi anawsterau wrth dalu.","parent_id":"homes-and-mortgages","contents":[{"id":"morgeisi-canllaw-i-ddechreuwyr","type":"guide","title":"Morgeisi
        \u2013 canllaw i ddechreuwyr","description":"Mae morgeisi\u2019n gyfrifoldeb
        ariannol mawr. Gwnewch yn si\u0175r eich bod yn deall beth rydych yn ei brynu
        cyn ymrwymo"},{"id":"sut-i-ddewis-y-morgais-cywir","type":"action_plan","title":"Cynllun
        gweithredu \u2013 Sut i ddewis y morgais cywir","description":"Dilynwch y
        camau hyn i sicrhau eich bod yn dewis y morgais cywir i chi"},{"id":"cyfrifiannell-fforddiadwyedd-morgais","type":"t[...]
