---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/how-to-buy-a-car.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 158de3012c53f0c677f5f70c80830c41
    body:
      encoding: UTF-8
      string: '{"id":"how-to-buy-a-car","title":"Sut i brynu car","description":"Beth
        i''w ystyried cyn prynu car newydd neu ail-law, gan gynnwys eich cyllideb,
        opsiynau cyllid car, a sut i gael y fargen orau.","parent_id":"cars-and-travel","contents":[{"id":"sut-mae-dod-o-hyd-ir-car-iawn-ar-gyfer-eich-cyllideb","type":"guide","title":"Sut
        mae dod o hyd i''r car iawn ar gyfer eich cyllideb","description":"Offer ac
        awgrymiadau i\u2019ch helpu i gyfrifo\u2019ch cyllideb ar gyfer prynu car
        a\u2019ch anghenion ymarferol, yna dod o hyd i''r car sy\u2019n eu diwallu"},{"id":"cyllid-car-wedii-esbonio","type":"guide","title":"Cyllid
        car wedi\u2019i esbonio","description":"Gwahanol opsiynau ar gyfer cyllid
        car a beth i\u2019w ystyried wrth benderfynu ar sut i dalu am gar newydd n[...]
