---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/how-to-invest-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - c513a7806bccd8e7059e7f0848b86b57
    body:
      encoding: UTF-8
      string: '{"id":"how-to-invest-money","title":"Sut i fuddsoddi arian","description":"Dysgwch
        am hanfodion buddsoddi, sut i lunio cynllun buddsoddi, a deall eich agwedd
        tuag at risg.","parent_id":"saving-and-investing","contents":[{"id":"buddsoddi-canllaw-i-ddechreuwyr","type":"guide","title":"Buddsoddi
        \u2013 canllaw i ddechreuwyr","description":"Gall defnyddio buddsoddiadau
        wella eich elw \u2013 a lledaenu''r risg"},{"id":"cynilo-a-buddsoddi-moesegol","type":"guide","title":"Cynilo
        a buddsoddi moesegol","description":"Os ydych am gefnogi arferion gweithio
        teg a hoffech osgoi buddsoddi yn y ras arfau, tybaco a hapchwarae, gallai
        cynilo a buddsoddi moesegol fod yn iawn i chi"},{"id":"gair-o-gyngor-ar-gyfer-dewis-buddsoddiadau","[...]
