---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/saving-and-investing.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 78bc06182d901f6b24339faf9447d1c1
    body:
      encoding: UTF-8
      string: '{"id":"saving-and-investing","title":"Cynilo a buddsoddi","description":"Sut
        i gynilo arian, mathau o gyfrifon cynilo a rhoi cychwyn arni gyda buddsoddi.","parent_id":null,"contents":[{"id":"how-to-save-money","type":"category","title":"Sut
        i gynilo arian","description":"Cyfrifwch faint allwch fforddio ei gynilo a
        dysgwch sut i sefydlu a chyrraedd eich nod cynilo."},{"id":"savings-types","type":"category","title":"Mathau
        o gynilo","description":"Dysgwch am gyfrifon cynilo, ISAs arian parod a sut
        i gynilo ar gyfer plant."},{"id":"how-to-invest-money","type":"category","title":"Sut
        i fuddsoddi arian","description":"Dysgwch am hanfodion buddsoddi, sut i lunio
        cynllun buddsoddi, a deall eich agwedd tuag at risg."},{"id":"investment-types","type":"category","title":"Mathau
        o fuddsoddiad","description":"Gwybodaeth am stociau a chyfranddaliadau, bondiau
        buddsoddi, cronfeydd tracio, polis\u00efau gydag-elw a gwaddol."}]}'
  recorded_at: Fri, 13 Jun 2014 07:50:38 GMT
recorded_with: VCR 2.9.2
