---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/taking-control-of-debt.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 1588add105b10c8fa2ca2a6214729069
    body:
      encoding: UTF-8
      string: '{"id":"taking-control-of-debt","title":"Cymryd rheolaeth ar ddyled","description":"Ble
        i fynd i gael cyngor rhad ac am ddim ar ddyledion, sut i siarad \u00e2''r
        bobl y mae arnoch arian iddynt, ac awgrymiadau i''ch helpu i ad-dalu''ch dyledion
        yn y drefn iawn.","parent_id":"debt-and-borrowing","contents":[{"id":"ble-i-gael-cyngor-am-ddim-ynghylch-dyled","type":"guide","title":"Ble
        i gael cyngor am ddim ynghylch dyled","description":"Cewch wybod ble i gael
        cymorth cyfrinachol am ddim os ydych yn cael trafferthion \u00e2 dyled"},{"id":"sut-i-flaenoriaethuch-dyledion","type":"guide","title":"Sut
        i flaenoriaethu\u2019ch dyledion","description":"Os ydych yn ei chael yn anodd
        talu\u2019ch holl ddyledion, mae angen i chi wybod pa rai y dylech fod yn
        rhoi blaenoriaeth i\u2019w talu"},{"id":"siaradwch-ar-bobl-y-mae-arnoc[...]
