---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/types-of-pensions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - f72fce87c1e8a80aef157a3dcfee26b8
    body:
      encoding: UTF-8
      string: '{"id":"types-of-pensions","title":"Mathau o bensiynau","description":"O
        gynlluniau cyfraniad diffiniedig a buddion, i bensiynau personol a phensiynau
        ar gyfer pobl hunangyflogedig.","parent_id":"work-pensions-and-retirement","contents":[{"id":"blwydd-daliadau-a-mathau-eraill-o-incwm-pensiwn","type":"guide","title":"Blwydd-daliadau
        a mathau eraill o incwm ymddeol","description":"Golwg gyffredinol ar nodweddion,
        manteision a risgiau gwahanol fathau o flwydd-daliadau a chategor\u00efau
        eraill o incwm pensiwn"},{"id":"pensiynau-ir-hunangyflogedig","type":"guide","title":"Pensiynau
        i\u2019r hunangyflogedig","description":"Mae cynilo ar gyfer pensiwn yn peri
        nifer o heriau os byddwch yn hunangyflogedig, ond mae\u2019n haws cychwyn
        arni nag y byddec[...]
