---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=53
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 85c60d9a0344744725188e71978a8eee
    body:
      encoding: UTF-8
      string: '[{"id":"how-to-protect-your-holiday-budget-top-tips","title":"How to
        protect your holiday budget \u2013 top tips","description":"Despite the much
        hyped trend of staycations, British travellers are increasingly opting for
        holidays abroad.","body":"<p><strong>Date published: 3 May 2013\u00a0</strong></p><p
        class=\"intro\">A new report from Tesco Travel Money has found that almost
        one in two Britons are planning to travel abroad as much as or even more frequently
        than they did five years ago. </p><p>The study also found that two out of
        five 18-24 year old holidaymakers plan to take a break in the next three months
        \u2013 higher than the national average of one in three adults. </p><p>Despite
        many househo[...]
