---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - cca26eebd05545a4d9129c3f11773450
    body:
      encoding: UTF-8
      string: '[{"id":"half-of-brits-plan-to-pay-for-christmas-with-credit-and-overdrafts","title":"Almost
        half of Brits plan to pay for Christmas with credit and overdrafts","description":"Almost
        half of Brits are turning to credit cards, store cards and overdrafts to cover
        the cost of Christmas this year, according to the Money Advice Service\u2019s
        annual Christmas spending survey released today.","body":"<p class=\"intro\">
        Almost half of Brits will turn to credit cards, store cards and overdrafts
        to cover the cost of Christmas this year, according to the Money Advice Service\u2019s
        annual Christmas spending survey released today. </p><p>The survey of 3000
        people also showed the average UK adult will spend \u00a3530 on Christmas
        this year, adding up to a total \u2018seasonal spend\u2019 of \u00a326bn,
        a \u00a32bn increase on last year. </p><p>Yet 30% said they will find Christmas
        harder to afford this year than last year. </p><p>If you\u2019re spending
        more than you can afford to at Christmas, we have tools to help you save and
        cut back. Our <a title=\"Christmas Money Planner\" href=\"https://www.moneyadviceservice.org.uk/en/tools/christmas-money-planner\">Christmas
        Money Planner</a> can help you prioritise the essentials, and our <a title=\"Cut
        Back Calculator\" href=\"https://www.moneyadviceservice.org.uk/en/tools/cut-back-calculator\">Cutback
        Calculator</a> shows how you can make those little cuts to your spending that
        can make all the difference. </p><h2>Christmas presents going to waste </h2><p>According
        to the survey, we spent nearly \u00a32.4bn on food, drink or presents last
        year that eventually went to waste \u2013 either because they were unused,
        unneeded or unwanted. </p><p>This is an average spend of \u00a328 per person
        on discarded food and drink. A total of 37% said they received presents that
        they didn\u2019t use, with an average value of \u00a354. </p><p>Christmas
        spending can easily ge[...]
