<% set_meta_tags(title:  t('.document_title', query: params[:query]),
                 robots: 'noindex') %>

<script>
  dataLayer.push({
    'Search Page': 'No results',
    'event': 'No search results'
  });
</script>

<div class="l-2col-main">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <%= heading_tag t('.page_title_html', query: params[:query]) %>

      <div class="l-search-results" data-dough-component="SearchFocus">
        <%= render 'shared/search', search_in_page_header: false %>
        <p data-dough-search-noresults><%= t('.body') %></p>
      </div>
    </main>
  </div>
</div>
