<% set_meta_tags(title:  t('.document_title', query: params[:query]),
                 robots: 'noindex') %>

<main>
  <div class="l-1col">
    <h1><%= t('.page_title', query: params[:query]) %></h1>
  </div>
  <div class="l-search-results">
    <%= render 'shared/search_box' %>
    <ol class="search-results">
      <%= render partial: 'search_result', collection: search_results.items %>
    </ol>
    <%= render 'pagination', search_results: search_results %>
  </div>
</main>
