<% set_meta_tags(title: t('.document_title'),
                 robots: 'noindex') %>

<div class="l-main">
  <main class="l-main__primary" role="main">
    <h1><%= t('.page_title') %></h1>

    <div class="l-search-results">
      <%= render 'shared/search', search_in_page_header: false %>
    </div>
  </main>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>
