<% set_meta_tags(robots: 'noindex') %>
<div class="l-search-results">
  <main>
    <h1><%= t('.title') %> "<%= params[:query] %>"</h1>

    <ol class="search-results">
      <% search_results.each do |result| %>
        <li class="search-results__item">
          <h2><%= link_to result.title, result.path %></h2>
          <p><%= result.description %></p>
        </li>
      <% end %>
    </ol>
  </main>
</div>
