<% set_meta_tags(title: t('.document_title'),
                 robots: 'noindex') %>

<div class="l-main l-search-results-page">
  <main role="main">
    <h1><%= t('.page_title') %></h1>
    <%= render 'shared/search_box' %>
  </main>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
