.validation-summary__content-container {
    font-family: 'Roobert-Regular', sans-serif !important;
    border-left: 4px solid $red_error;
    color: #D00000 !important;
    background-color: $red_error_background;

    .validation-summary__title {
        font-family: 'Roobert-bold', sans-serif !important;
        color:$red_error;
    }
}

#error_explanation > h2, 
h2.t-registration-subtitle,
input[type=checkbox].form__group-input,
.list > li:before, .editorial ul > li:before,
.list {
    color: $text_secondary;
}

.list,
input[type=checkbox].form__group-input {
    font-family: 'Roobert-Regular', sans-serif !important;
}

p.tooltip__text {
    color: #00788F;
}
