---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/static/terms-and-conditions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: |-
        500 Internal Server Error
        If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong.
  recorded_at: Fri, 26 Sep 2014 10:06:13 GMT
[...]
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/static/terms-and-conditions.json
    body:
      encoding: UTF-8
      string: |-
        500 Internal Server Error
        If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong.
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/static/terms-and-conditions> rel="alternate";
        hreflang="en-GB"; title="Terms and conditions", <https://www.moneyadviceservice.org.uk/cy/static/telerau-ac-amodau>
        rel="alternate"; hreflang="cy-GB"; title="Telerau ac amodau"
      X-Session-Id:
      - ed5e32caded86e14e11c311dc17e2da3
    body:
      encoding: UTF-8
      string: '{"id":"terms-and-conditions","title":"Terms and conditions","description":"General
        The following terms and conditions apply to all sections and pages under the
        moneyadviceservice.org.uk website and, where relevant, to other s ...","body":"<h2>General
        </h2><p>The following terms and conditions apply to all sections and pages
        under the <a title=\"moneyadviceservice.org.uk\" href=\"http://www.moneyadviceservice.org.uk\">moneyadviceservice.org.uk</a>
        website and, where relevant, to other services provided by us. Additional
        terms and conditions may also apply to other services provided by us and these
        are set out below and/or will be explained or made available to you if you
        use these servic[...]
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 36dd3c21c9a73d2903596755a7acc906
    body:
      encoding: UTF-8
      string: '[{"id":"debt-and-borrowing","type":"category","title":"Debt and borrowing","description":"Taking
        control of debt, getting free debt advice, and how to borrow affordably","contents":[{"id":"before-you-borrow","type":"category","title":"Before
        you borrow","description":"Find out if you need to borrow money and whether
        you can afford it. Learn how to work out the true cost of borrowing.","contents":[]},{"id":"taking-control-of-debt","type":"category","title":"Taking
        control of debt","description":"Where to get free debt advice, how to speak
        to the people you owe money to, and tips to help you pay back your debts in
        the right order.","co[...]
