<!DOCTYPE html>
<html>
	<head>
		<title>Dummy host page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style type="text/css">
			iframe {
				min-height: 400px;
				width: 100%;
				border: 0;
				outline: 0;
				margin: 100px 0;
			}
		</style>
	</head>
	<body>
		<h1>Dummy host page</h1>
		<h2>Tests Money Navigator when embedded</h2>
		<p>Some content above the iFrame</p>
		<iframe 
			scrolling="auto" 
			title="Money Navigator tool" 
			src="/dummy_content.html"
			style="height: 900px;"
		></iframe>
		<p>Some content below the iFrame</p>
	</body>
</html>
