<% set_meta_tags(title: 'MoneyHelper Money Navigator tool') %>
<% content_for(:engine_content) do %>
  <div class="l-container-tool">
    <main>
      <div class="l-money_navigator-landing">
        <section class="landing__intro">
          <h1 class="l-money_navigator__heading landing__section-heading">Looking for the MoneyHelper Money Navigator tool?</h1>
          <p>This tool is no longer available. Please visit our <a href="https://www.moneyhelper.org.uk/en/money-troubles/cost-of-living" target="_blank">Help with the cost of living</a> section for easy ways to get on top of your finances, including:</p>
        </section>

        <section class="landing__who-help">
          <ul class="list">
            <li><a href="https://www.moneyhelper.org.uk/en/money-troubles/cost-of-living/squeezed-income#find-ways-to-boost-income" target="_blank">how to boost your income</a></li>
            <li><a href="https://www.moneyhelper.org.uk/en/money-troubles/cost-of-living/bill-prioritiser" target="_blank">which bills to deal with first</a></li>
            <li><a href="https://www.moneyhelper.org.uk/en/money-troubles/cost-of-living/where-can-i-get-emergency-help-with-money-and-food" target="_blank">getting urgent financial help</a>.</li>
          </ul>
        </section>
      </div>
    </main>
  </div>
<% end %>
