<% set_meta_tags(title:       t('money_navigator_tool.meta.title'),
                 description: t('money_navigator_tool.meta.description'),
                 canonical:   t('money_navigator_tool.meta.canonical'),
                 alternate:   t('money_navigator_tool.meta.alternate')) %>
               <h1>THE LANDING PAGE</h1>
