<% set_meta_tags(title:       t('money_navigator_tool.meta.title'),
                 description: t('money_navigator_tool.meta.description'),
                 canonical:   t('money_navigator_tool.meta.canonical'),
                 alternate:   t('money_navigator_tool.meta.alternate')) %>

<div class="l-container-tool">
	<main>
		<div class="l-money_navigator-landing">
			<section class="landing__intro">
				<h1 class="l-money_navigator__heading"><%= t("money_navigator_tool.landing.intro.heading") %></h1>

	      <h2 class="l-money_navigator__subheading">Know what to do next</h2>

	      <p>The coronavirus lockdown measures are relaxing but they’ve affected millions of people. What this means for your finances will be very personal to you.</p>

				<p>So if you’re looking for money guidance but don’t know where to start, you’re not alone.</p>
    	</section>

    	<section class="landing__who-help">
    		<h2>Who we can help</h2>

    		<ul>
    			<li>Your income is down and you’re worried about your future finances</li>
    			<li>You’ve been furloughed and need help to get back on track, including after a payment holiday</li>
    			<li>You’re facing redundancy or have lost your job</li>
    			<li>You’re self-employed and work has dried up</li>
    			<li>You want to make the most of money you’ve saved during lockdown</li>
    		</ul>
    	</section>

    	<section class="landing__how-help">
				<h2>Instant help</h2>

				<p>Our Money Navigator tool gives you action plans based on your own situation.</p>

				<p>Know in 30 seconds:</p>

				<ul>
					<li>the money issues you need to tackle first</li>
					<li>how to stay on top of bills and payments</li>
					<li>What extra help and support you’re entitled to</li>
					<li>Where you can get free advice for debt, housing or redundancy</li>
				</ul>

				<a href="#">Get started</a>
    	</section>

    	<section class="landing__crisis-help">
    		<h2>Need help with debts right now?</h2>

    		<p>If you’re really struggling and debts have already mounted up, you can find a free accredited debt adviser with our Debt Advice Locator</p>

				<a href="#">Find a free debt adviser online</a>
    	</section>

    	<section class="landing__supporting-partners">
    		<h2>Our supporting partners</h2>

				<p>Our money guidance is supported by these key partners who are ready to help if you need further advice about the complex issues caused by coronavirus, including debt, benefits, housing and redundancy.</p>

				<ul>
					<li>Partner</li>
					<li>Partner</li>
					<li>Partner</li>
					<li>Partner</li>
					<li>Partner</li>
					<li>Partner</li>
					<li>Partner</li>
					<li>Partner</li>
					<li>Partner</li>
				</ul>
    	</section>
    </div>
  </main>
</div>
