---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/births-deaths-and-family.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 090fd1f96ae2e2bdd1b4ccf390a5841e
    body:
      encoding: UTF-8
      string: '{"id":"births-deaths-and-family","title":"Births, deaths and family","description":"Having
        a baby, making a will, and dealing with divorce and separation.","parent_id":null,"contents":[{"id":"having-a-baby","type":"category","title":"Having
        a baby","description":"Help with managing your money before, during and after
        the birth of your baby."},{"id":"maternity-and-paternity-rights","type":"category","title":"Maternity
        and paternity rights","description":"Find out how to claim maternity pay and
        leave from your employer and your rights when returning to work."},{"id":"making-a-will","type":"category","title":"Making
        a will","description":"Learn how to make and change a will and find out about
        the different options available."},{"id":"when-someone-dies","type":"category","title":"When
        someone dies","description":"Learn how to deal with money after a death, from
        paying for the funeral to looking after the paperwork and household bills."},{"id":"divorce-and-separation","type":"category","title":"Divorce
        and separation","description":"Find out how to manage your money and divide
        up what you own when going through divorce or separation."}]}'
  recorded_at: Mon, 16 Jun 2014 16:45:38 GMT
recorded_with: VCR 2.9.2
