---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/comparison-tables.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - d874c37d7cf6ecbce735e353ff8e96aa
    body:
      encoding: UTF-8
      string: '{"id":"comparison-tables","title":"Comparison tables","description":"Our
        comparison tables are completely unbiased - we are set up by government and
        don\u2019t receive any incentive or commission if you go on to choose a product","parent_id":"tools--resources","contents":[{"id":"saving","type":"guide","title":"Savings
        comparison table","description":"Use our comparison tables on saving accounts,
        cash ISAs and saving bonds"},{"id":"credit","type":"guide","title":"Current
        accounts comparison table","description":"Use our comparison tables on credit
        cards, current accounts and unsecured loans"},{"id":"mortgages","type":"guide","title":"Mortgages
        comparison table","description":"Use our comparison table on mortgages"},{"id":"retirement","type":"guide","title":"Annuities
        comparison table","description":"Use our comparison table on Pensions, SIPPs
        and annuities"}]}'
  recorded_at: Mon, 30 Jun 2014 11:04:05 GMT
recorded_with: VCR 2.9.2
