---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/debt-and-borrowing.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 1ff7d3fee042f57aadb29021d13e6589
    body:
      encoding: UTF-8
      string: '{"id":"debt-and-borrowing","title":"Debt and borrowing","description":"Taking
        control of debt, getting free debt advice, and how to borrow affordably.","parent_id":null,"contents":[{"id":"before-you-borrow","type":"category","title":"Before
        you borrow","description":"Find out if you need to borrow money and whether
        you can afford it. Learn how to work out the true cost of borrowing."},{"id":"taking-control-of-debt","type":"category","title":"Taking
        control of debt","description":"Where to get free debt advice, how to speak
        to the people you owe money to, and tips to help you pay back your debts in
        the right order."},{"id":"mortgage-and-rent-problems","type":"category","title":"Mortgage
        and rent problems","description":"Help if you''re struggling with your mortgage
        or rent payments and information on government support if you can''t pay your
        mortgage."},{"id":"help-with-loans","type":"category","title":"Help with loans","description":"Learn
        about how personal loans work, better alternatives to payday loans, and help
        when borrowing from a credit union."},{"id":"credit-cards-and-credit-ratings","type":"category","title":"Credit
        cards and credit ratings","description":"Find out how to manage a credit card,
        how to check your credit report, and tips on how you can improve your credit
        rating."}]}'
  recorded_at: Mon, 16 Jun 2014 16:41:15 GMT
recorded_with: VCR 2.9.2
