---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/having-a-baby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - bae9b161edc22705bf2759a617f87284
    body:
      encoding: UTF-8
      string: '{"id":"having-a-baby","title":"Having a baby","description":"Help with
        managing your money before, during and after the birth of your baby.","parent_id":"births-deaths-and-family","contents":[{"id":"entitlements-from-work-when-pregnant","type":"guide","title":"Entitlements
        from work when pregnant","description":"Your employer has to give you paid
        time off for antenatal appointments and maternity leave, as well as maternity
        pay"},{"id":"managing-family-finances-when-youve-had-a-baby","type":"guide","title":"Managing
        family finances when you\u2019ve had a baby","description":"This might be
        the first time you\u2019ve shared your money. Find out how to set ground rules
        to get things running [...]
