---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/help-with-insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 456aa82119643c97add1c4de66b1cdd9
    body:
      encoding: UTF-8
      string: '{"id":"help-with-insurance","title":"Help with insurance","description":"Understand
        what insurance is and how it works. Find out how to buy insurance and how
        to go about making a claim.","parent_id":"insurance","contents":[{"id":"the-financial-services-compensation-scheme---quick-guide","type":"guide","title":"Financial
        Services Compensation Scheme","description":"The Financial Services Compensation
        Scheme may be able to provide compensation if a financial services firm goes
        out of business"},{"id":"sort-out-a-money-problem-make-a-complaint-or-get-compensation","type":"guide","title":"Sort
        out a money problem or make a complaint","description":"Sorting out problems,
        making complaints and getting compensation from banks or other financial compani[...]
