---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/homes-and-mortgages.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - a79dcc2788bc4f3237be6704f0465e07
    body:
      encoding: UTF-8
      string: '{"id":"homes-and-mortgages","title":"Homes and mortgages","description":"Everything
        you need to know about buying a home and choosing the right mortgage","parent_id":null,"contents":[{"id":"buying-a-home","type":"category","title":"Buying
        a home","description":"Work out your overall buying and moving costs, first
        time buyer advice, and tips and tools to help you work out what you can afford."},{"id":"help-with-mortgages","type":"category","title":"Help
        with mortgages","description":"Get started with our beginner''s guide to mortgages,
        getting the right deal, and tips if you''re struggling to pay."},{"id":"types-of-mortgage","type":"category","title":"Types
        of mortgage","description":"Learn about different kinds of mortgages, from
        repayment and interest-only to shared equity and buy-to-let."},{"id":"renting-and-letting","type":"category","title":"Renting
        and letting","description":"Advice to help you work out how much rent you
        can afford, and how to budget and share costs when renting."}]}'
  recorded_at: Tue, 22 Jul 2014 09:44:33 GMT
recorded_with: VCR 2.9.2
