---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 9fe39bbf6a18141e7b5dcd8ba84e4bb6
    body:
      encoding: UTF-8
      string: '{"id":"insurance","title":"Insurance","description":"Help and advice
        on protecting your family and getting the right home and car insurance.","parent_id":null,"contents":[{"id":"help-with-insurance","type":"category","title":"Help
        with insurance","description":"Understand what insurance is and how it works.
        Find out how to buy insurance and how to go about making a claim."},{"id":"home-insurance","type":"category","title":"Home
        insurance","description":"Find out if you need buildings and contents insurance
        and get help with choosing the right policy and cover."},{"id":"life-and-protection-insurance","type":"category","title":"Life
        and protection insurance","description":"Learn about the differences between
        life, critical illness and income protection insurance."},{"id":"car-insurance","type":"category","title":"Car
        insurance","description":"Choosing the right level of cover, getting the best
        deal, and tips for young drivers."},{"id":"travel-insurance","type":"category","title":"Travel
        insurance","description":"Learn how to choose the right level of cover, get
        the best deal, and how to make a travel insurance claim."},{"id":"pet-insurance","type":"category","title":"Pet
        insurance","description":"Help with choosing the right pet insurance policy
        and cover."}]}'
  recorded_at: Fri, 13 Jun 2014 07:19:00 GMT
recorded_with: VCR 2.9.2
