---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/interactive-timelines.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 540e75f9336e5f935a75ede79d1b548c
    body:
      encoding: UTF-8
      string: '{"id":"interactive-timelines","title":"Interactive timelines","description":"Explore
        our money timelines so you know the actions to take and things that could
        affect your income","parent_id":"tools--resources","contents":[{"id":"baby-money-timeline","type":"tool","title":"Having
        a baby \u2013 interactive money timeline","description":"Scroll through our
        interactive money timeline of key dates when you\u2019re having a baby plus
        links to further information"},{"id":"universal-credit-timeline","type":"tool","title":"Benefit
        changes from 2013 \u2013 interactive timeline","description":"Scroll through
        our interactive timeline of key dates for Universal Credit and other benefit
        changes plus links to further information"}]}'
  recorded_at: Mon, 30 Jun 2014 11:04:07 GMT
recorded_with: VCR 2.9.2
