---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/order-forms.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - cfba21d64701933b8e6c1001cad6ee08
    body:
      encoding: UTF-8
      string: '{"id":"order-forms","title":"Order forms","description":"Use these
        forms to order our free printed guides, which give you clear, unbiased information
        and advice in Plain English","parent_id":"tools--resources","contents":[{"id":"order-forms","type":"guide","title":"Order
        forms","description":"Order our free printed guides, which give you clear,
        unbiased information and advice in plain English"}]}'
  recorded_at: Mon, 30 Jun 2014 11:04:06 GMT
recorded_with: VCR 2.9.2
