---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/pet-insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 2089482b6e25a031246d0922eb00f4e6
    body:
      encoding: UTF-8
      string: '{"id":"pet-insurance","title":"Pet insurance","description":"Help with
        choosing the right pet insurance policy and cover.","parent_id":"insurance","contents":[{"id":"do-you-need-pet-insurance","type":"guide","title":"Pet
        insurance - Do you need it?","description":"How to decide whether pet insurance
        is right for you and your pet \u2013 and what to consider before you buy"},{"id":"choosing-the-right-pet-insurance-policy","type":"guide","title":"Pet
        insurance \u2013 choose the right policy and cover","description":"Buying
        pet insurance? Here\u2019s what you need to know to get the right policy first
        time"},{"id":"pet-insurance","type":"video","title":"Pet insurance","description":""}]}'
  recorded_at: Fri, 13 Jun 2014 07:19:02 GMT
recorded_with: VCR 2.9.2
