---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/tools--resources.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 01a379b081524961a3759e4c383c9148
    body:
      encoding: UTF-8
      string: '{"id":"tools--resources","title":"Tools & resources","description":"Calculators,
        letter templates and free printed guides \u2013 useful tools and resources
        to help you.","parent_id":null,"contents":[{"id":"calculators","type":"category","title":"Calculators","description":"Our
        easy-to-use calculators can help you budget, save and cut back on costs"},{"id":"comparison-tables","type":"category","title":"Comparison
        tables","description":"Our comparison tables are completely unbiased - we
        are set up by government and don\u2019t receive any incentive or commission
        if you go on to choose a product"},{"id":"letter-templates","type":"category","title":"Letter
        templates","description":"Our easy-to-use letter templates are here to help
        you if you need to set up, cancel or complain about something"},{"id":"order-forms","type":"category","title":"Order
        forms","description":"Use these forms to order our free printed guides, which
        give you clear, unbiased information and advice in Plain English"},{"id":"free-printed-guides","type":"category","title":"Free
        printed guides","description":"Read our free printed guides, which give you
        clear, unbiased information and advice in Plain English"},{"id":"videos","type":"category","title":"Videos","description":"See
        our videos, covering subjects such as insurance, retirement savings and inflation"},{"id":"interactive-timelines","type":"category","title":"Interactive
        timelines","description":"Explore our money timelines so you know the actions
        to take and things that could affect your income"}]}'
  recorded_at: Mon, 30 Jun 2014 11:04:05 GMT
recorded_with: VCR 2.9.2
