---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/types-of-mortgage.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: |-
        500 Internal Server Error
        If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong.
  recorded_at: Tue, 30 Sep 2014 13:58:21 GMT
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/types-of-mortgage.json
    body:
      encoding: UTF-8
      string: |-
        500 Internal Server Error
        If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong.
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - e9b870ca3d9a6d803703f0364ffa468a
    body:
      encoding: UTF-8
      string: '{"id":"types-of-mortgage","title":"Types of mortgage","description":"Learn
        about different kinds of mortgages, from repayment and interest-only to shared
        equity and buy-to-let.","parent_id":"homes-and-mortgages","contents":[{"id":"what-is-an-offset-mortgage","type":"video","title":"What
        is an Offset Mortgage?","description":"Watch this video to find out what an
        Offset Mortgage is and whether it might be right for you"},{"id":"review-an-interest-only-repayment-scheme","type":"action_plan","title":"Action
        plan - Review an interest-only repayment scheme","description":"Guide to check
        that your funds are on track to repay the loan in full when it becomes due"},{"id":"make-an-interest-only-repayment-scheme","type":"action_plan","[...]
