<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__inline-dot"></div>
        <h2 class="graphic-info-box__heading">Thinking about retirement - 5 years out</h2>
        <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/missing.png" %>
        </div>
        <p class="graphic-info-box__copy">
          This is the time to gather all of your pension paperwork together, review all of your pension investments and make last-minute adjustments to help maximise your retirement income.
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Getting a State Pension forecast</h3>
          <p>
            A State Pension Forecast will show you how much you will get when you retire - you may be able to increase it by topping up your National Insurance contributions.
          </p>
          <p>
          <a href="">
            Get a State Pension forecast and find out about topping up National Insurance contributions
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Finding lost pension pots</h3>
          <p>
            If you think you may have lost track of a workplace pension, the pension tracing service will help you track it down.
          </p>
          <p>
          <a href="">
            Find out how to trace a lost pension – use our letter templates to save time
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Reviewing your pension investments</h3>
          <p>
            Check retirement dates and values for each pension pot and whether you need to move your money into less risky funds – we recommend getting financial advice for this.
          </p>
          <p>
          <a href="">
            Use our Retirement Advisor Directory to search for a financial adviser near you
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Estimating your retirement income</h3>
          <p>
            Work out your overall likely income, taking into account tax and benefits, then use our budget planner to make sure you’ll have enough to live on.
          </p>
          <p>
          <a href="">
            Use our 5-step plan to estimate your overall income after you retire, including the effect on tax and benefits
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Getting free guidance</h3>
          <p>
            You can get free, impartial guidance from the government’s Pension Wise service about the options for using your pension pot and the effect on tax and benefits.
          </p>
          <p>
          <a href="">
            Find out about Pension Wise and how to book a telephone or face-to-face appointment
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Getting financial advice</h3>
          <p>
            A financial adviser will make recommendations for how you might adjust your current pension savings to maximise growth, based on your personal circumstances and attitude to risk.
          </p>
          <p>
          <a href="">
            Find out more and search for a financial adviser near you
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
