<section class="intro-section">
  <div class="l-constrained">
    <div class="l-1col">
      <h1>
        <%= t('pension_savings_timeline.intro_section.title') %>
      </h1>
      <p class="intro concepts-intro">
        <%= t('pension_savings_timeline.intro_section.text') %>
      </p>
    </div>
  </div>
</section>
