<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__inline-dot"></div>
        <h2 class="graphic-info-box__heading">Managing money in retirement</h2>
        <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/managing-money-in-retirement.png" %>
        </div>
        <p class="graphic-info-box__copy">
        It's likely you'll have less to live on when you retire so it's important to keep your income sources under review and find ways to make your money go further. You also need to plan for the unexpected should your or your partner’s health change later in life.
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Managing your money day to day</h3>
          <p>
            It's likely that your income will fall and your spending patterns change in retirement - but there’s lots you can do to plan for this and help your money go further.
          </p>
          <p>
          <a href="">
            Get tips for making your money go further money in retirement
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Reviewing your pension investments</h3>
          <p>
            Retirement can last over 30 years so be sure to check annually that any remaining pension pot or drawdown funds are on track to meet your long-term needs - a financial adviser can help you do this.
          </p>
          <p>
          <a href="">
            Create an annual diary alert now, then search for a financial adviser near you
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Planing for long-term healthcare needs</h3>
          <p>
            As you grow older you need to think about how you would cope financially if you or your partner needed long-term care – understanding who pays for what will help you plan.
          </p>
          <p>
          <a href="">
            Find out about costs and funding for long-term care and financial support for carers
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Appointing a power of attorney</h3>
          <p>
            As you grow older it’s wise to put in place measures to allow someone you trust to manage your affairs if you become unable to do so yourself  –  this is called granting power or attorney.
          </p>
          <p>
          <a href="">
            Find out about types of power of attorney and how to set one up
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Reviewing your will</h3>
          <p>
            By the time you retire a lot will have changed - now’s the time to check whether your will still reflects how you’d like to pass on your money and other assets when you die.
          </p>
          <p>
          <a href="">
            Find out how to change your will
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
