<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__inline-dot"></div>
        <h2 class="graphic-info-box__heading">Moving into retirement</h2>
        <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/missing.png" %>
        </div>
        <p class="graphic-info-box__copy">
          Whether retiring fully or gradually, you need to draw up a retirement income plan in the months beforehand to ensure you’ll have enough to live on. Use this to get guidance or financial advice on which options for using your pension pot may be suitable.
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Getting retirement income quotes</h3>
          <p>
            Get quotes from your pension provider(s) and ask if you have a guaranteed annuity rate -- if you do it will be hard to beat. Get a State Pension forecast if you’ve not done so yet.
          </p>
          <p>
          <a href="">
            Get a State Pension forecast 
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Making sure you’ll have enough to live on</h3>
          <p>
            Check that your pension and other income will provide the right mix of security and flexibility to meet your and any dependant’s long-term needs - if it won’t you may need to retire later.
          </p>
          <p>
          <a href="">
            Use our retirement income options tool to understand your income options and help draw up a retirement income plan
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Understanding what tax you’ll pay</h3>
          <p>
            The first 25% of your pension pot is tax-free and you pay Income Tax on the rest and on your State Pension - remember to factor this in when budgeting for retirement.
          </p>
          <p>
          <a href="">
            Find out more about Income Tax in retirement
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Checking your benefits</h3>
          <p>
            The age-related benefits you’re entitled to in retirement will sometimes depend on your income – and may affect how you choose to use your pension pot.
          </p>
          <p>
          <a href="">
            Find out what benefits you can get in retirement
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Creating a retirement budget</h3>
          <p>
            Once you have a clear idea of your likely retirement income use our budget planner to make sure you’ll have enough to live on.
          </p>
          <p>
          <a href="">
            Create a retirement budget plan online or on paper
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Getting free guidance</h3>
          <p>
            If you’ve not done so yet take advantage of free, impartial guidance from the government’s Pension Wise service. 
          </p>
          <p>
          <a href="">
            Find out about telephone and face-to-face guidance from Pension Wise
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Shopping around for annuities</h3>
          <p>
            If you’re considering an annuity, you’re more likely to get better deal by shopping around -- you could try this yourself, but get financial advice before committing to anything.
          </p>
          <p>
          <a href="">
            Follow our 4-step plan for shopping around for an annuity – then get advice
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Getting financial advice</h3>
          <p>
            Unless you are certain about which retirement income option is best for you, get financial advice -your choices will affect your income for the rest of your life and may be irreversible.
          </p>
          <p>
          <a href="">
            Use our Retirement Advisor Directory to search for a specialist near you
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
