<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__top-dot"></div>
        <h2 class="graphic-info-box__heading">Starting Out</h2>
        <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/starting-out-illustration.png"  %>
        </div>
        <p class="graphic-info-box__copy">
        Pensions offer a way to save tax-free and get tax back to help build up a pot of money for you to live off later in life. The sooner you start a pension the more tax you’ll save and get back and the bigger your pension pot when you finally stop work.
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Starting a pension</h3>
          <p>
          If your employer offers a workplace pension this is the easiest way to start. If they don’t or you’re self-employed, you can start a personal pension.
          </p>
          <p>
          <a href="">
            Find out more about workplace and personal pensions
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Deciding how much to save</h3>
          <p>
          For every £80 you pay into a pension the government tops it up with £20 basic rate tax relief (within limits) and higher rate taxpayers can claim back the extra – so it pays to save more.
          </p>
          <p>
          <a href="">
            Use our workplace pensions calculator to see how much you can afford to save
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
