<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__inline-dot"></div>
        <h2 class="graphic-info-box__heading">Thinking about retirement - 10 years out</h2>
        <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/thinking-about-retirement.png" %>
        </div>
        <p class="graphic-info-box__copy">
        Retirement may seem a long way off, but now’s the time to to check whether your pension pots look set to provide the income you want  and understand your options for accessing them. It’s also a good time to review your debts, make a will if you don’t have one - and to get advice if you need it.
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Reviewing your pension investments</h3>
          <p>
            It’s important to check whether your pensions investments are on track to give you the income you want – if there’s a shortfall you need to look at ways of boosting your savings.
          </p>
          <p>
          <a href="">
            Find out how to check the progress of your pension savings
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Understanding your retirement income options</h3>
          <p>
            To help you plan ahead, read up on your options for taking your pension in advance and how they may affect your tax and any state benefits.
          </p>
          <p>
          <a href="">
            Read an overview of your options for taking your pension and download an at-a-glance sheet
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Reviewing your debts</h3>
          <p>
            Now’s also a good time to take stock of your debts to make sure they’ll be paid off by the time you plan to retire.
          </p>
          <p>
          <a href="">
            Find out about which loans or debts to prioritise and get tips for paying them off faster
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Making a will</h3>
          <p>
            If you’ve not made a will yet you should do so now – to make sure your money, other assets and any unused pension pot pass on to those you would like.
          </p>
          <p>
          <a href="">
            Find out why you should make a will and how to go about it
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Getting free guidance</h3>
          <p>
            You can get free, impartial guidance from the government’s Pension Wise service about the options for using your pension pot and the effect on tax and benefits.
          </p>
          <p>
          <a href="">
            Find out about Pension Wise and how to book a telephone or face-to-face appointment
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Getting financial advice</h3>
          <p>
            A financial adviser will make recommendations for how you might adjust your current pension savings to maximise growth, based on your personal circumstances and attitude to risk.
          </p>
          <p>
          <a href="">
            Find out more and search for a financial adviser near you
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
