<section class="graduated-section">
  <div class="l-constrained">
    <div class="l-1col">
      <div class="graphic-info-box">
        <div class="graphic-info-box__inline-dot"></div>
        <h2 class="graphic-info-box__heading">Throughout working life</h2>
        <div class="graphic-info-box__illustration">
          <%= image_tag "retirement_concepts/throughout-working-life-illustration.png" %>
        </div>
        <p class="graphic-info-box__copy">
          Pensions invest in stocks and shares so be sure to check regularly how your pot is performing and get advice if concerned. As your salary increases it normally makes sense to save more into your pension, provided you have sufficient money to live on and any debts under control.
        </p>
        <div class="graphic-info-box__line-fade-in"></div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Monitoring your pension investments</h3>
          <p>
          Don’t forget about your pension pots – make a diary note to periodically check whether they’re on track to meet your needs and take action if they’re not.
          </p>
          <p>
          <a href="">
            Find out how to check the progress of your pension savings
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Saving more into your pension</h3>
          <p>
          You can get tax relief on pensions savings of up to £40,000 each year so it’s worth topping up when you can afford it - and the sooner you top up the faster your pension pot will grow.
          </p>
          <p>
          <a href="">
            Use our pensions calculator to see how much retirement income different contribution amounts might generate
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Managing your debt</h3>
          <p>
            It’s fine to have pensions and other savings and debt but it’s important to stay in control and know what to prioritise if money becomes tight.
          </p>
          <p>
          <a href="">
            Check which debts you should pay off first and why
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--left">
          <h3>Managing your money</h3>
          <p>
            You’ll of course have lots of other commitments during your working life - find out how to budget and make your money go further while keeping pension saving in the mix.
          </p>
          <p>
          <a href="">
            Read a beginner’s guide to budgeting and managing money
          </a>
          </p>
        </div>
      </div>
      <div class="linear">
        <div class="line-marker line-marker--waypoint">
          <div class="line-marker__small-outline-dot"></div>
        </div>
        <div class="speech-bubble speech-bubble--right">
          <h3>Getting guidance and advice</h3>
          <p>
            Major life changes like moving home, getting divorced or losing your job will impact your finances -- if you’re worried take advantage of the free advice that’s out there or speak to a financial adviser.
          </p>
          <p>
          <a href="">
            Find out where to get free help and information
          </a>
          </p>
          <p>
          <a href="">
            Understand the different types of financial adviser and how to find one
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
