---
http_interactions:
- request:
    method: post
    uri: http://webservices.capnetwork.co.uk/CAPVehicles_Webservice/capvehicles.asmx/GetCAPMan
    body:
      encoding: US-ASCII
      string: Subscriber_ID=170796&Password=796MAS&Database=CAR&JustCurrentManufacturers=false&BodyStyleFilter=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<CAPDataSetResult xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://www.capnetwork.co.uk/CAPVehicles/\">\r\n
        \ <Success>true</Success>\r\n  <FailMessage />\r\n  <Returned_DataSet>\r\n
        \   <xs:schema id=\"NewDataSet\" xmlns=\"\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:msdata=\"urn:schemas-microsoft-com:xml-msdata\">\r\n      <xs:element
        name=\"NewDataSet\" msdata:IsDataSet=\"true\" msdata:UseCurrentLocale=\"true\">\r\n
        \       <xs:complexType>\r\n          <xs:choice minOccurs=\"0\" maxOccurs=\"unbounded\">\r\n
        \           <xs:element name=\"Table\">\r\n              <xs:complexType>\r\n
        \               <xs:sequence>\r\n                  <xs:element name=\"CMan_Code\"
        type=\"xs:int\" minOccurs=\"0\" />\r\n                  <xs:element name=\"CMan_Name\"
        type=\"xs:string\" minOccurs=\"0\" />\r\n                </xs:sequence>\r\n
        \             </xs:complexType>\r\n            </xs:element>\r\n          </xs:choice>\r\n
        \       </xs:complexType>\r\n      </xs:element>\r\n    </xs:schema>\r\n    <diffgr:diffgram
        xmlns:msdata=\"urn:schemas-microsoft-com:xml-msdata\" xmlns:diffgr=\"urn:schemas-microsoft-com:xml-diffgram-v1\">\r\n
        \     <NewDataSet xmlns=\"\">\r\n        <Table diffgr:id=\"Table1\" msdata:rowOrder=\"0\">\r\n
        \         <CMan_Code>47156</CMan_Code>\r\n          <CMan_Name>ABARTH                   </CMan_Name>\r\n
        \       </Table>\r\n        <Table diffgr:id=\"Table2\" msdata:rowOrder=\"1\">\r\n
        \         <CMan_Code>25545</CMan_Code>\r\n          <CMan_Name>AC                       </CMan_Name>\r\n
        \       </Table>\r\n        <Table diffgr:id=\"Table3\" msdata:rowOrder=\"2\">\r\n
        \         <CMan_Code>21394</CMan_Code>\r\n          <CMan_Name>AIXAM                    </CMan_Name>\r\n
        \       </Table>\r\n        <Table diffgr:id=\"Table4\" msdata:rowOrder=\"3\">\r\n
        \         <CMan_Code>1</CMan_Code>\r\n          <CMan_Name>ALFA ROMEO               </CMan_Name>\r\n
        \       </Table>\r\n        <Table diffgr:id=\"Table5\" msdata:rowOrder=\"4\">\r\n
        \         <CMan_Code>132</CMan_Code>\r\n          <CMan_Name>ASIA                     </CMan_Name>\r\n
        \       </Table>\r\n        <Table diffgr:id=\"Table6\" msdata:rowOrder=\"5\">\r\n
        \         <CMan_Code>140</CMan_Code>\r\n          <CMan_Name>ASTON MARTIN
        \            </CMan_Name>\r\n        </Table>\r\n        <Table diffgr:id=\"Table7\"
        msdata:rowOrder=\"6\">\r\n          <CMan_Code>164</CMan_Code>\r\n          <CMan_Name>AUDI
        \                    </CMan_Name>\r\n        </Table>\r\n        <Table diffgr:id=\"Table8\"
        msdata:rowOrder=\"7\">\r\n          <CMan_Code>607</CMan_Code>\r\n          <CMan_Name>AUSTIN
        \                  </CMan_Name>\r\n        </Table>\r\n        <Table diffgr:id=\"Table9\"
        msdata:rowOrder=\"8\">\r\n          <CMan_Code>836</CMan_Code>\r\n          <CMan_Name>BENTLEY
        \ [...]
