---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 001537cf7fa8db8a45e2af2641aa414d
    body:
      encoding: UTF-8
      string: '[{"id":"managing-your-money","type":"category","title":"Managing your
        money","description":"Advice, tips and tools to help you get your finances
        under control and make your money go further\r\n                        ","contents":[{"id":"young-people-and-money","type":"category","title":"Leaving
        school or college","description":"Help and advice on staying on in education,
        moving into work and paying your own way as a young adult","contents":[{"id":"moving-into-work","type":"category","title":"Moving
        into work","description":"Learn about how you\u2019re paid and taxed at work,
        plus we look at payslip basics","contents":[]},{"id":"independent-living","type":"category","title":"Independent
  [...]
