<p class="js-end-of-article-signup">
  <%= I18n.t('articles.inline_sign_up.message', signup_link: link_to(I18n.t('articles.inline_sign_up.link'),
                                                                     new_user_registration_path)).html_safe %>
</p>
