<% if Feature.active?(:previous_and_next_links) %>
  <div>
    <span class='previous'>
      <% previous_link = @article.previous_link %>
      <% if previous_link.present? %>
        <strong>&lt; <%= t('.previous') %></strong>
        <div>
          <%= link_to previous_link.title, previous_link.path %>
        </div>
      <% end %>
    </span>

    <span class='next'>
      <% next_link = @article.next_link %>
      <% if next_link.present? %>
        <strong><%= t('.next') %> &gt;</strong>
        <div>
          <%= link_to next_link.title, next_link.path %>
        </div>
      <% end %>
    </span>
  </div>
<% end %>
