<% if Feature.active?(:popular_links) && @article.popular_links.present? %>
  <h2 class="related-links__heading"><%= t('.popular_links_title') %></h2>

  <div class="related-links">
    <ul class="unstyled-list">
      <% @article.popular_links.each do |popular_link| %>
        <li class="related-links__link">
          <%= link_to popular_link.title, popular_link.path %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
