<div class="campaign-promo">
  <div class="campaign-promo__image">
  	<a href="/en/campaigns/survive-january">
  	  <%= image_tag('campaign/survive-january-promo.png') %>
    </a>
  </div>
  <div class="campaign-promo__content">
    <%= heading_tag 'Is money tight after Christmas?', class: 'campaign-promo__title', level: 3 %>
    <p class="campaign-promo__text">
  	  <a href="/en/campaigns/survive-january">Click here to make more of your money</a>
    </p>
  </div>
</div>
