<% set_meta_tags(description: article.description) %>

<div class="l-article editorial">
  <h1><%= title article.title %></h1>

  <div id="article-content">
    <%= article.content %>
  </div>
</div>
