<% set_meta_tags description: article.description %>

<div class="l-container editorial">
  <div class="l-2col-side">

  </div>
  <div class="l-2col-main">
    <h1><%= title article.title %></h1>

    <div id="article-content">
      <%= article.content %>
    </div>
  </div>
</div>
