.category-detail {
  border-bottom: $default-border-thin;
  margin-bottom: $baseline-unit*6;
  padding-bottom: $baseline-unit*4;
  position: relative;

  &:last-child {
    @include respond-to(0, $mq-m) {
      margin-bottom: 0;
    }
  }
}

.category-detail__list {
  list-style: none;
  padding: 0;
  margin-top: $baseline-unit*4;
  margin-bottom: 0;
}

.category-detail__view-more {
  background: #ecf0ef;
  padding: 6px 16px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.category-detail__list-item {
  margin-bottom: $baseline-unit*3;

  @include respond-to($mq-m) {
    margin-bottom: $baseline-unit*2;
  }

  &.is-off {
    display: none;
  }
}

.category-detail__view-all {
  display: none;
  color: $color-link-default;
  cursor: pointer;

  .js & {
    display: block;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $color-link-default;
    text-decoration: underline;
  }

  &.is-off{
    display: none;
  }
}

.category-detail__heading {
  @extend %collapsable-trigger;
}

.category-detail__list-container {
  @extend %collapsable-target;
}

.js .category-detail__heading {
  position: relative;
  padding-left: $category-inset;

  button {
    margin-left: -$category-inset;
    padding-left: $category-inset;
    text-align: left;

    &:focus,
    &:hover {
      outline: none;
      text-decoration: underline;
    }
  }

  & .icon--toggle {
    @extend .icon--plus;
    position: absolute;
    top: 6px;
    left: 0;
  }

  &.is-on .icon--toggle {
    @extend .icon--minus;
  }
}

.js .category-detail__intro,
.js .category-detail__list-container {
  padding-left: $category-inset;
}
