.category-detail {
  border-bottom: 3px solid $color-category-border;
  margin-bottom: $baseline-unit*6;
  padding-bottom: $baseline-unit*4;
}

.category-detail__list {
  list-style: none;
  padding: 0;
  margin-top: $baseline-unit*4;
}

.category-detail__list-item {
  margin-bottom: $baseline-unit*3;

  @include respond-to($mq-m) {
    margin-bottom: $baseline-unit*2;
  }
}


.category-detail__heading {
  @extend %collapsable-trigger;
}

.category-detail__list-container {
  @extend %collapsable-target;
}

.js .category-detail__heading {
  position:relative;
  padding-left:$category-inset;

  button {
    margin-left:-$category-inset;
    padding-left:$category-inset;
    text-align:left;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  & .icon--toggle {
    @extend .icon--plus;
    position:absolute;
    top:6px;
    left:0;
  }

  &.is-on .icon--toggle {
    @extend .icon--minus;
  }
}

.js .category-detail p,
.js .category-detail__list-container {
  padding-left:$category-inset;
}
