.category-detail {
  border-bottom: $default-border-thin;
  margin-bottom: $baseline-unit*6;
  position: relative;

  &:last-child {
    @include respond-to(0, $mq-m) {
      margin-bottom: 0;
    }
  }
}

.category-detail__list {
  list-style: none;
  padding: 0;
  margin-top: $baseline-unit*4;
  margin-bottom: 0;
}

.editorial .category-detail__list--extended.collapsible-section {
  padding: 0;
  border: 0;
}

.category-detail__list-item {
  margin-bottom: $baseline-unit*3;

  @include respond-to($mq-m) {
    margin-bottom: $baseline-unit*2;
  }

  &.is-off {
    display: none;
  }
}

.category-detail__view-all {
  display: none;

  .js & {
    @include body(16, 26);
    color: $color-black;
    font-weight: 700;
    display: inline-block;
    padding-left: $baseline-unit*6;
    padding-bottom: $baseline-unit*3;
  }

  &:before {
    @extend .icon;
    content: '';
    background-size: 550px;
    background-position: -412px -215px;
    width: 31px;
    height: 31px;
    position: absolute;
    left: 0;
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }

  &.is-on{
    display: none;
  }
}

.js .category-detail__intro {
  display: none;

  @include respond-to($mq-s) {
    display: block;
  }
}

