.content-hub__heading {
  color: $color-black;
  font-size: 2rem;
  width: auto;
  margin-left: $content-hub-horizontal-space;
  margin-right: $content-hub-horizontal-space;

  @include respond-to($content-hub-one-col-breakpoint) {
    margin-left: $content-hub-horizontal-space;
    margin-right: $content-hub-horizontal-space;
    font-size: 2.5rem;
  }
}

.content-hub__hero__title {
  color: $content-hub-title-color;
  margin-top: 0;
}

.content-hub__hero__image {
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; // contain;

  @include respond-to($content-hub-one-col-breakpoint) {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-bottom: 0;
    width: 50%;
    padding: 0 $content-hub-horizontal-space;
  }
}

.content-hub__hero__description {
  @extend %paragraph-intro
}

.content-hub__hero__button {
  width: 100%;

  @include respond-to($content-hub-one-col-breakpoint) {
    width: 75%;
  }

  @include respond-to($content-hub-two-col-breakpoint) {
    width: 50%;
  }
}

.content-hub__module__title {
  margin-top: 0;
  color: $content-hub-title-color;
}

.content-hub__module__description {
  @include body(20, 24);

  @include respond-to($content-hub-one-col-breakpoint) {
    @include body(21, 24);
  }
}

.content-hub__module__links {
  @extend %paragraph-intro;

  margin-top: $baseline-unit;

  & li {
    margin-top: $baseline-unit * 4;
  }
}

.content-hub__module__button {
  display: block;
  width: 100%;
  margin: 0 auto;

  @include respond-to($content-hub-one-col-breakpoint) {
    width: 75%;
  }
}

// module-specific variations
// img-con-lnk --
.content-hub__module--img-con-lnk {
  .l-content-hub__module__content {
    @include respond-to($content-hub-one-col-breakpoint) {
      position: absolute;
      bottom: $baseline-unit * 3;
    }
  }
}
// -- img-con-lnk

// hdr-lnks-cta --
.content-hub__module--hdr-lnks-cta {
  .l-content-hub__module__inner {
    position: relative;

    @include respond-to($content-hub-one-col-breakpoint) {
      position: static;
    }
  }

  .content-hub__module__links {
    padding-bottom: 40px;
  }

  .content-hub__module__cta {
    display: block;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 40px;
    position: absolute;
    bottom: $baseline-unit * 3;
    right: 0;
    color: $content-hub-title-color;

    @include respond-to($content-hub-one-col-breakpoint) {
      right: $content-hub-module-margin-width;
    }
  }

  .content-hub__module__cta-icon {
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}
// -- hdr-lnks-cta

// hdr-con-lnk-img --
.content-hub__module--hdr-con-lnk-img {
  @include respond-to($content-hub-one-col-breakpoint) {
    width: $content-hub_width_two-module;
  }

  .l-content-hub__module__inner {
    @include respond-to($content-hub-one-col-breakpoint) {
      margin: 0 ($content-hub-module-margin-width / 2);
    }
  }

  .l-content-hub__module__content {
    @include respond-to($content-hub-one-col-breakpoint) {
      width: 50% - ($content-hub-module-margin-width / 2);
    }
  }

  .l-content-hub__module__image {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;

    @include respond-to($content-hub-one-col-breakpoint) {
      position: absolute;
      top: 0;
      right: 0;
      width: $content-hub-width-one-module;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      padding-bottom: 0;
    }
  }
}
// -- hdr-con-lnk-img
