.contact-detail {
  @include respond-to($mq-xs, $mq-m) {
    padding-bottom: px(12);
    border-bottom: $default-border-thick;

    &:last-of-type {
      margin-bottom: px(24);
    }
  }
}

.contact-detail__heading {
  @extend %collapsable-trigger;

  @include respond-to($mq-xs, $mq-m) {
    @include body(16, 24);
    color: $color-link-default;
  }

  button {
    text-align: left;

    @include respond-to($mq-xs, $mq-m) {
      font-weight: 300;
    }
  }
}

.js .contact-detail__heading {
  @include respond-to($mq-xs, $mq-m) {
    position: relative;
    padding-left: $category-inset;

    button {
      margin-left: -$category-inset;
      padding-left: $category-inset;
      text-align: left;

      &:focus,
      &:hover {
        outline: none;
        text-decoration: underline;
      }
    }
  }

  & .icon--toggle {
    @extend .icon--plus;
    position: absolute;
    top: 2px;
    left: 0;

    @include respond-to($mq-m) {
      display: none;
    }
  }

  &.is-on .icon--toggle {
    @extend .icon--minus;

    @include respond-to($mq-m) {
      display: none;
    }
  }
}

.contact-detail__content {
  @extend %collapsable-target;

  @include respond-to($mq-m) {
    &.is-off {
      display: block;
    }
  }
}
