.debt-advisor__heading {
  @include body(24,24);

  color: $color-black;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.debt-advisor__subheading {
  @include body(18,24);
  font-weight: 300;
  color: $color-text-default;
  margin: 0;
}

.debt-advisor__opening-hours {
  > li {
    margin-bottom: 0;
  }
}

.debt-advisor__go-to-button {
  margin: 0.5em 0 1em 0;

  + p {
    margin-top: 0;
  }
}

[href^=tel].debt-advisor__phone {
  @include body(24,24);
  color: $color-green-secondary;
  display: block;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.debt-advisor__or-call {
  font-weight: normal;
  color: $color-true-black;
}

.debt-advisor__email {
  margin-top: 1em;
  display: block;
}

.debt-advisor__website {
  @include body(22,24);
  margin-bottom: 0;
}

.debit-advisor__online {
  @include respond-to($mq-m) {
    @include column(6);
  }

  @include respond-to($mq-l) {
    display: block;
    float: none;
    margin-left: 0;
    width: auto;
  }
}

.debt-advisor__contact {
  @include respond-to($mq-m) {
    @include column(5);
    @include push(1);
    padding-top: $baseline-unit*13;
  }

  @include respond-to($mq-l) {
    display: block;
    float: none;
    margin-left: 0;
    width: auto;
    padding-top: 0;
  }
}
