.debt-advisor__heading {
  @include body(24,24);

  color: $color-black;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.debt-advisor__subheading {
  @include body(18,24);
  font-weight: 300;
  color: $color-text-default;
  margin: 0;
}

.debt-advisor__go-to-button {
  margin: 0.5em 0 1em 0;

  + p {
    margin-top: 0;
  }
}
