.directory-container {
  background-color: $home-page-feature;
}

.directory {
  @extend %clearfix;
  list-style: none;
  padding-left: 0;
  width: 100%;

  @include respond-to($mq-m) {
    padding-top: $baseline-unit*8;
  }
}

.directory__item {
  padding: $baseline-unit*2 $baseline-unit 0 $baseline-unit;
  margin: 0;

  @include respond-to($mq-m) {
    @include column(6);
    border: none;
    padding: 0;
  }

  @include respond-to($mq-l) {
    @include column(4);
    padding: 0;
    margin-bottom: $baseline-unit*4;
  }
}

.directory__item__heading {
  @extend %type-homepage-headings;
  display: block;
}
