// Directory navigation component found on the homepage
//
// Styleguide Directory

.directory {
  overflow: hidden;
  background-color: $home-page-feature;
  padding-top: $baseline-unit*5;
  padding-bottom: $baseline-unit*2;
}

.directory__title {
  @extend %font-heading-medium;
  @include body(18, 24);
  margin-top: 0;
  margin-bottom: $baseline-unit;

  @include respond-to($mq-m) {
    @include body(24, 30);
    margin-bottom: $baseline-unit*2;
  }

  .theme-cy & {
    @include respond-to($mq-m) {
      @include body(18, 24);
    }
  }
}

.directory__description {
  @include respond-to($mq-xs, $mq-m) {
    margin-bottom: $baseline-unit*4;
  }

}
