// Directory navigation component found on the homepage
//
// Styleguide Directory

.directory {
  background-color: $home-page-feature;
  padding-top: $baseline-unit*4;
  padding-bottom: $baseline-unit*2;

  @include respond-to($mq-m) {
    padding-top: $baseline-unit*7;
  }
}

.directory__title {
  @include font-weight(medium);
  margin-top: 0;
  margin-bottom: $baseline-unit;

  @include respond-to($mq-m) {
    @include font-size($poseidon);
    @include line-height(30, $poseidon);
    margin-bottom: $baseline-unit*2;
  }

  .theme-cy & {
    @include respond-to($mq-m) {
      @include font-size($apollo);
      @include line-height(24, $apollo);
    }
  }
}

.directory__description {
  @include respond-to($mq-xs, $mq-m) {
    margin-bottom: $baseline-unit*4;
  }

}
