/*
  Featured links component
  Used on category pages to promote links with tags for subcategories
*/

.featured-links {
  @extend .unstyled-list;
  margin: $baseline-unit*5 0 $baseline-unit*4 0;
  padding-left: $baseline-unit*6;
  overflow: hidden;

  .no-js & {
    padding-left: 0;
  }
}

.featured-links__item {
  float: right;
  width: 48%;

  &:before {
    content: none !important;
  }

  &:first-child {
    float: left;
  }
}

.featured-links__tag {
  @include heading(15, 22);
  background: $color-green-dark;
  padding: 3px 18px;
  border-radius: 3px;
  color: $color-white;
  display: inline-block;
  text-transform: uppercase;
}

.featured-links__tag {
  margin: 0;
}

.featured-links__tag--blog {
  background: $color-blue-cerulean;
}

.featured-links__tag--popular {
  background: $color-teal-dark;
}

.featured-links__tag--recommended {
  background: $color-green-dark;
}

.featured-links__title {
  @include body(18, 24);
  margin: $baseline-unit 0;
}

.featured-links__description {
  display: none;

  @include respond-to($mq-s) {
    display: block;
  }
}
