.chat-box__container,
.chat-popup__container {
  background-color: $color-white;
  position: fixed;
  z-index:99;
  -webkit-box-shadow:  0 0 7px 1px rgba(133,133,133,0.71);
  -moz-box-shadow:  0 0 7px 1px rgba(133,133,133,0.71);
  box-shadow:  0 0 7px 1px rgba(133,133,133,0.71);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    background-color: $color-white;
  }
}

.chat-box__container {
  top:30%;
  left: 0;
  padding: $baseline-unit*2;
  border: 2px solid $color-green-primary;
  border-radius: 0 4px 4px 0;
  border-left-style: none;
  display: none;
  // min-width 960
  @include respond-to($mq-l) {
    display: block;
  }

  .chat-box__heading {
    color: $color-heading-extra-small;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .chat-box__icon {
    margin-left: -35px;	
  }
}

.chat-popup__container {
  bottom: $baseline-unit*2;
  right: $default-gutter*2;
  padding: $baseline-unit*2 $baseline-unit*2 $baseline-unit;
  border-radius: 4px;
  display: block;
  transition: all 0.4s;
  // min-width 479
  @include respond-to($mq-xs-max) {
    right: $default-gutter;
  }
  // min-width 960
  @include respond-to($mq-l) {
    display: none;
  }

  .no-js & {
    display: none;
  }

  .no-svg & {
    padding: $baseline-unit*2;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &.chat-popup--raised {
    bottom: 55px;
  }

  svg.icon-svg--web-chat,
  span.icon  {
    width: 55px;
    height: 45px;
  }

  span.icon {
    margin: 0;
    background-position: 75.696% 68.22%;
    background-size: 600px;
  }

  .svg & span.icon,
  .no-svg & svg.icon-svg--web-chat {
    display: none;
  }
}

.chat-box__container--hidden {
  display: none;
}
