.chat-box__container {
  background-color: $color-white;
  position: fixed;
  top:30%;
  left: 0;
  padding: $baseline-unit*3;
  z-index:9999;
  border-radius: 0 4px 4px 0;
  border: 2px solid $color-green-primary;
  border-left-style: none;
  -webkit-box-shadow:  0 0 7px 1px rgba(133,133,133,0.71);
  -moz-box-shadow:  0 0 7px 1px rgba(133,133,133,0.71);
  box-shadow:  0 0 7px 1px rgba(133,133,133,0.71);

  &:hover {
    text-decoration: none;
  }

  @include respond-to($mq-xs) {
    display: none;
  }

  @include respond-to($mq-l) {
    display: block;
  }
}

.chat-box__heading {
  color: $color-heading-extra-small;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.chat-box__icon {
  margin-left: -35px;	
}

.chat-box__container--hidden {
  display: none;
}
