.chat-box__container,
.mobile-webchat__container {
  background-color: $color-white;
  position: fixed;
  z-index: 90;
  -webkit-box-shadow: 0 0 7px 1px rgba(133, 133, 133, 0.71);
  -moz-box-shadow: 0 0 7px 1px rgba(133, 133, 133, 0.71);
  box-shadow: 0 0 7px 1px rgba(133, 133, 133, 0.71);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    background-color: $color-white;
  }
}

.chat-box__container {
  top: 30%;
  left: 0;
  padding: $baseline-unit*2;
  border: 2px solid $color-green-primary;
  border-radius: 0 4px 4px 0;
  border-left-style: none;
  display: none;

  // min-width 960
  @include respond-to($mq-l) {
    display: block;
  }

  .chat-box__heading {
    color: $color-heading-extra-small;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .chat-box__icon {
    margin-left: -35px;
  }
}

.mobile-webchat__container {
  bottom: $baseline-unit*2;
  right: $default-gutter*2;
  border-radius: .15em;
  transition: transform 0.5s, bottom 0.4s, width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // min-width 479
  @include respond-to($mq-xs-max) {
    right: $default-gutter;
  }

  // min-width 960
  @include respond-to($mq-l) {
    display: none;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &:focus {
    outline: none;
  }

  // raised state in article pages
  &.mobile-webchat--raised {
    bottom: 55px;
  }

  // icons
  svg.icon-svg--web-chat,
  span.icon.icon--web-chat {
    width: 55px;
    height: 45px;
  }

  span.icon.icon--web-chat {
    margin: 0;
    background-position: 75.2% 68.7%;
    background-size: 690px;
  }

  // icon fallback
  .no-svg & {
    padding: $baseline-unit*2;
  }

  .no-js &,
  .svg & span.icon.icon--web-chat,
  .no-svg & svg.icon-svg--web-chat {
    display: none;
  }

  // popup opened state
  &>*:not(.mobile-webchat--icon) {
    opacity: 0;
    transition: opacity 0.4s linear 0.1s;
  }

  &.mobile-webchat--opened {
    padding: $baseline-unit*2;
    width: 94vw;

    &:hover {
      transform: none;
    }

    // min-width 479
    @include respond-to($mq-xs-max) {
      width: 70vw;
    }

    // min-width 479
    @include respond-to($mq-m) {
      width: 50vw;
    }

    .mobile-webchat--icon {
      display: none;
    }

    .mobile-webchat__close,
    .mobile-webchat__form {
      display: block;
    }
  }

  // popup closed state
  &.mobile-webchat--closed {
    padding: $baseline-unit*2 $baseline-unit*2 $baseline-unit;

    .mobile-webchat--icon {
      display: block;
    }

    .mobile-webchat__close,
    .mobile-webchat__form {
      display: none;
    }
  }
}

// form container
.mobile-webchat__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  h4 {
    margin-top: 0;
    font-size: 0.9rem;
  }

  // min-width 345
  @include respond-to((345 / $base-font-size) * 1em) {
    h4 {
      font-size: 1rem;
    }
  }
  // min-width 479
  @include respond-to($mq-xs-max) {
    padding: 0 3%;
  }
  // min-width 479
  @include respond-to($mq-s-max) {
    padding: 0 6%;
  }
}

.mobile-webchat__form-select--container {
  margin-bottom: $baseline-unit*2;
}

.mobile-webchat__form-select {
  $padding: .6em;
  $arrow-width: .55em;
  -webkit-appearance: none; // Strip native appearance
  appearance: none;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: .3em $padding;
  padding-right: $padding + $arrow-width + $padding;
  border: 1px solid $color-grey-light;
  border-radius: .15em;
  color: $color-grey-seven;
  font-weight: 500;
  background-color: white;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(-45deg, transparent 50%, currentColor 50%);
  background-size: $arrow-width / 2 $arrow-width / 2;
  background-position: calc(100% - #{$arrow-width / 2 + $padding}) center,
  calc(100% - #{$padding}) center;
  background-repeat: no-repeat;
  box-shadow: none;
  transition: box-shadow 0.2s;

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 .15em hsla(0, 0%, 0%, .1);
  }

  &::-ms-expand {
    display: none; // Strip IE10+ native arrow
  }
}

//webchat buttons
.mobile-webchat__form-button--container {
  display: flex;
  justify-content: space-between;

  .mobile-webchat__form-button--spacer {
    width: 48%;
  }
  // general button styles
  .mobile-webchat__form-button--whatsapp,
  .mobile-webchat__form-button--webchat {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
    font-weight: 700;
    border-radius: .15em;
    padding: 2px 5px;
    user-select: none;
    position: relative;
    border: 1px solid $color-green-primary;
    border-bottom: none;
    box-shadow: 0px 4px $color-green-primary;
    transition: top 0.2s ease;
    text-decoration: none;

    &:active {
      box-shadow: 0px 1px $color-green-primary;;
      top: 4px;
    }

    &:focus {
      outline: 0;
    }

    svg {
      width: 55px;
      height: 45px;
      padding: 4px;
    }

    .form-button__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      

      .form-button__text-heading {
        display: block;
        font-size: 0.8rem;
        line-height: 0.9rem;
      }
      .form-button__text-service {
        font-size: 0.85rem;
        // min-width 345
        @include respond-to((345 / $base-font-size) * 1em) {
          font-size: 1rem;
        }
      }
    }
  }

  .mobile-webchat__form-button--whatsapp {
    background-color: #25D366;
    color: $color-white;
  }

  .mobile-webchat__form-button--webchat {
    background-color: $color-white;
    color: $color-black;
  }
}

// other contact methods link
.mobile-webchat__contact {
  margin-top: 10px;
  text-align: right;

  .mobile-webchat__contact--link {
    color: $color-black;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8rem;
  }
}

// popup close button
.mobile-webchat__close {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  padding: 3px;
  text-align: center;
  color: $color-white;
  border: none;
  border-radius: 0 .15em 0 .15em;
  background-color: $color-green-primary;
  transition: color 0.25s, background-color 0.25s, opacity 0.4s linear 0.4s;
  z-index: 91;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $color-white;
    color: $color-green-primary;
  }
}

.chat-box__container--hidden {
  display: none;
}
