// Banner at the top of the home page
//
// Styleguide Home Top

.home-top {
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;

  @include respond-to($mq-m) {
    padding-bottom: 0;
  }

  @include respond-to($mq-xl) {
    .theme-cy & {
      background: none;
    }
  }

}

.home-top-trust {
  position: relative;
  margin-top: $baseline-unit*7;
  margin-bottom: $baseline-unit*7;

  @include respond-to($mq-xl) {
    width: 1000px;
  }
}

.home-top__image {

  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  padding-top: 55.64%;
  position: absolute;
  width: 100%;

  @include respond-to($mq-m) {
    padding-top: 33%;
    right: 0;
    width: 60%;
  }

  @include respond-to($mq-l) {
    background-position: right;
    padding-top: 28%;
    width: 55%;
  }

  @include respond-to($mq-xl) {
    @include absolutely-centre-horizontally(1350px);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 46%;
    height: 345px;
  }

  @if $responsive == false {
    display: none;
  }
}

.home-top-trust__heading {
  @extend %font-heading-heavy;
  @include body(36, 42);
  color: $color-heading-extra-small;
  margin: 0;
  padding-bottom: $baseline-unit*7;
  padding-top: 0;

  @include respond-to($mq-small-tablet, $mq-small-tablet-end) {
    max-width: 500px;
  }

  @include respond-to($mq-m) {
    @include body(42, 48);

    .theme-cy & {
      max-width: 600px;
    }
  }

  @include respond-to($mq-l) {
    max-width: 530px;

    .theme-cy & {
      max-width: 500px;
    }
  }

  @include respond-to($mq-xl) {
    max-width: 620px;

    .theme-cy & {
      max-width: 750px;
    }
  }

  @if $responsive == false {
    max-width: 700px;
  }
}

.home-top-trust-content {
  @extend .unstyled-list;
  @extend .list-benefits;
  margin-bottom: $baseline-unit*2;
}

.home-top-trust-content__item {
  @extend %font-heading-medium;
  @include body(16, 24);
  margin-bottom: $baseline-unit;

  @include respond-to($mq-m) {
    max-width: 45%;
  }

  @include respond-to($mq-l) {
    max-width: none;

    .theme-cy & {
      max-width: 570px;
    }
  }

  @include respond-to($mq-l, $mq-xl) {
    .theme-cy & {
      max-width: 50%;
    }
  }
}

.home-top-promo {
  clear: both;

  @include respond-to($mq-small-tablet, $mq-small-tablet-end) {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  @include respond-to($mq-l) {
    bottom: 0;
    clear: none;
    margin: 0;
    position: absolute;
    right: 3%;
  }
}

.home-top-promo__text {
  @extend %font-heading-heavy;
  @include body(22, 30);
  background-color:$color-black;
  background: rgba(0,0,0,0.8);
  border-radius: 6px;
  margin: 0 $baseline-unit*3;
  max-width: 400px;
  padding: $baseline-unit*4 $baseline-unit*7 $baseline-unit*4 $baseline-unit*4;
  position: relative;

  @include respond-to($mq-small-tablet) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include respond-to($mq-m) {
    margin: $baseline-unit*2 0 0;
    padding: $baseline-unit*2 $baseline-unit*8 $baseline-unit*2 $baseline-unit*4;
    width: 55%;
  }

  @include respond-to($mq-l) {
    width: 80%;
  }
}

.home-top-promo-link {
  display: block;

  &:link,
  &:visited,
  &:hover {
    color: $color-white;
  }

  &:focus {
    color: $color-black;
  }
}

.home-top-promo-link__arrow {
  fill: $color-white;
  height: 34px;
  position: absolute;
  right: 5%;
  top: 30%;
  width: 21px;
}
