.home-buying-checklist__form {
  @include column(12);
  @extend %clearfix;
}

input.home-buying-checklist__form-input {
  width: 85%;
  min-width: 3rem;
  border: 1px solid $color-bluegrey-light;
  background-color: $color-table-heading;
  height: 3em;
  line-height: inherit;
  border-radius: 3px;
  padding: $baseline-unit;
  font-size: 1rem;
  padding: $baseline-unit * 2;
}

input.home-buying-checklist__form-input--green {
  width: 85%;
  min-width: 3rem;
  border: 1px solid $color-bluegrey-light;
  background-color: $color-table-heading;
  height: 3em;
  line-height: inherit;
  border-radius: 3px;
  padding: $baseline-unit;
  font-size: 1rem;
  padding: $baseline-unit * 2;
}  

.home-buying-checklist-top {
  @include column(12);
  @extend %clearfix;
  margin-bottom: $baseline-unit * 6;
  font-size: 1.125rem;
}

.home-buying-checklist__top-content {
  @include column(12);
  @extend %clearfix;
}

.home-buying-checklist__top-content-text {
  @include column(12);
  display: inline;

  @include respond-to($mq-s) {
    @include column(8);
  }
}

.home-buying-checklist__top-content-video {
  @include column(12);
  display: none;

  @include respond-to($mq-s) {
    @include column(4);
    display: block;
  }
}

.home-buying-checklist__collapsable {
  @include column(12);
}

.home-buying-checklist__collapsable-trigger {
  display: inline-block;
  line-height: 1em;
  font-style: italic;
  text-align: left;
  display: inline-block;
  position: relative;
  margin: 0;
  font-size: 1rem;
  font-weight:500;
}

.home-buying-checklist__collapsable-target {
  display: inline-block;
  background: $color-green-pale;
  padding: $baseline-unit * 3;
}

.home-buying-checklist__form {
  @include column(12);
  @extend %clearfix;
  background: $color-table-background-alt;
  border: 2px solid $color-green-paler;
}


.home-buying-checklist__form-description {
  @include column(12);
  @extend %clearfix;
}

.home-buying-checklist__callout-active {
    display: block;
}

.home-buying-checklist__callout-inactive {
    display: none;
}

.home-buying-checklist__form-header {
  @extend %clearfix;
  font-weight: 500;
  font-size: 1.125rem;
  border-bottom: 1px solid $color-bluegrey-light;
  background: $color-green-pale;
}

.home-buying-checklist__form-row {
	@extend %clearfix;
	border-bottom: 1px solid $color-bluegrey-light;
  background-color: white;
}

.home-buying-checklist__form-header-left,
.home-buying-checklist__form-header-center,
.home-buying-checklist__form-header-right,
.home-buying-checklist__form-left,
.home-buying-checklist__form-center,
.home-buying-checklist__form-right,
.home-buying-checklist__form-results-left,
.home-buying-checklist__form-results-right {
	padding: $baseline-unit * 3;
}

.home-buying-checklist__form-header-left {
  display:none;

  @include respond-to($mq-s) {
    @include column(2);
  }
}

.home-buying-checklist__form-header-center {
  display:none;

  @include respond-to($mq-s) {
    @include column(6);
  }
}

.home-buying-checklist__form-header-right {
  @include column(12);

  @include respond-to($mq-s) {
    @include column(4);
  }
}

.home-buying-checklist__form-left {
  @include column(12);
  display: inline;

  @include respond-to($mq-s) {
    @include column(2);
    display: block;
  }
}

.home-buying-checklist__form-center {
  display:none;

  @include respond-to($mq-s) {
    @include column(6);
    display: block;
  }
}

.home-buying-checklist__form-right {
  @include column(12);
  display: inline;

  @include respond-to($mq-s) {
    @include column(4);
    display: block;
  }
}

.home-buying-checklist__form-label {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 500;
}

.home-buying-checklist__form-description--link {
  @include column(12);
  display: inline;
  margin: 1rem 0 1rem 0;
}

.home-buying-checklist__form-row--gray {
  @include clearfix;
  font-weight: 500;
  font-size: 1.125rem;
}

.home-buying-checklist__form-results-left  {
  @include column(12);
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.5em;
  display: inline;

  @include respond-to($mq-s) {
    @include column(8);
    display: block;
  }
}

.home-buying-checklist__form-results-right {
  @include column(12);
  display: inline;

  @include respond-to($mq-s) {
    @include column(4);
    display: block;
  }
}

@media print{
  input.home-buying-checklist__form-input,
  input.home-buying-checklist__form-input--green {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance:textfield;
    border: none;
    padding: 0;
    height: auto;
  }

  .home-buying-checklist__collapsable {
    display: none;
  }

  .home-buying-checklist__form-left,
  .home-buying-checklist__form-right,
  .home-buying-checklist__form-results-left,
  .home-buying-checklist__form-results-right {
    @include column(6);
  }
}
