// Banner at the top of the home page
//
// Styleguide Home Top

.home-top {
  position: relative;
  overflow: hidden;

  @include respond-to($mq-m) {
    padding-bottom: 0;
  }

  @include respond-to($mq-l) {
    display: flex;
  }
}

.home-top-left,
.home-top-right {
  width: 100%;
  overflow: hidden;
  float: left;
}

.home-top-right {
  position: relative;
  @include respond-to($mq-s) {
    padding: 0 $baseline-unit*2;
  }
  @include respond-to($mq-m) {
    padding: 0;
    width: 33%;
  }
  @include respond-to($mq-m, $mq-m-max) {
    padding-top: $baseline-unit * 4;
  }
  @include respond-to($mq-l) {
    display: flex;
    width: 50%;
  }
}

.home-top-left {
  @include respond-to($mq-m) {
    width: 66%;
  }
  @include respond-to($mq-l) {
    display: flex;
    width: 50%;
  }
}

.home-top-trust {
  position: relative;
  margin-top: $baseline-unit*4;
  margin-bottom: $baseline-unit*4;

  @include respond-to($mq-xl) {
    margin-top: $baseline-unit*7;
    margin-bottom: $baseline-unit*7;
    width: 1000px;
  }
}

.home-top__image {
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  padding-top: 55.64%;
  width: 100%;

  @if $responsive == false {
    display: none;
  }
}

.home-top-trust__heading {
  @extend %font-heading-heavy;
  @include body(36, 42);
  color: $color-heading-extra-small;
  margin: 0;
  padding-bottom: $baseline-unit*4;
  padding-top: 0;

  @include respond-to($mq-small-tablet, $mq-small-tablet-end) {
    max-width: 500px;
  }

  @include respond-to($mq-m) {
    @include body(36, 40);
  }

  @include respond-to($mq-l) {
    @include body(40, 44);
    padding-bottom: $baseline-unit*5;
    max-width: 530px;
  }

  @include respond-to($mq-xl) {
    max-width: 620px;
    padding-bottom: $baseline-unit*7;
    @include body(42, 48);
  }

  @if $responsive == false {
    max-width: 700px;
  }
}

.home-top-trust-content {
  @extend .unstyled-list;
  @extend .list-benefits;
  margin-bottom: $baseline-unit*2;
}

.home-top-trust-content__item {
  @extend %font-heading-medium;
  @include body(16, 24);
  margin-bottom: $baseline-unit;

  @include respond-to($mq-l) {
    max-width: none;
  }
}

.home-top-promo {
  bottom: 0;
  clear: none;
  margin: 0;
  position: absolute;
  @include respond-to($mq-m, $mq-m-max) {
    position: static;
    margin-bottom: $baseline-unit*4;
  }
  @include respond-to($mq-m) {
    right: 0;
  }
}

.home-top-promo__text {
  @extend %font-heading-heavy;
  @include body(22, 30);
  background-color:$color-black;
  background: rgba(0,0,0,0.8);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0 $baseline-unit;
  max-width: 400px;
  padding: $baseline-unit $baseline-unit*7 $baseline-unit $baseline-unit*4;
  position: relative;

  @include respond-to($mq-m, $mq-m-max) {
    border-radius: 0;
    margin: 0;
  }

  @include respond-to($mq-m) {
    padding: $baseline-unit*2 $baseline-unit*8 $baseline-unit*2 $baseline-unit*4;
  }

  @include respond-to($mq-l) {
    margin: $baseline-unit*2 0 0;
    width: 90%;
  }
}

.home-top-promo-link {
  display: block;

  &:link,
  &:visited,
  &:hover {
    color: $color-white;
  }

  &:focus {
    color: $color-black;
  }
}

.home-top-promo-link__arrow {
  fill: $color-white;
  height: 34px;
  position: absolute;
  right: 5%;
  top: 30%;
  width: 21px;
}
