.inline-feedback {
  margin: 2rem 0 -1rem 0;
  text-align: right;
}

.inline-feedback__link {
  @include body(14, 18);

  &:link,
  &:visited {
    color: $color-text-default;
    text-decoration: underline;
  }
}

.inline-feedback__title {
  @extend %heading-extra-small;
  margin-top: 0;
}
