.on-page-feedback {
  @extend %clearfix;

  background: $color-grey-pale;
  padding: $baseline-unit*2;
  padding-bottom: $baseline-unit*4;
  text-align: center;

  .social-sharing__title {
    margin-top: 0;
    margin-bottom: $baseline-unit*2;
    color: $color-green-dark;
  }

  .is-hidden {
    display: none;
  }

  .form__row {
    margin-bottom: 1em;
  }

  display: none;
  &[data-dough-on-page-feedback-initialised="yes"] {
    display: block;
  }
}

.on-page-feedback__thumb-button-up,
.on-page-feedback__thumb-button-down {
  border: none;
  border-radius: 50%;
  background-color: $color-yellow-light;
  border-bottom: 2px solid $color-yellow-dark;
  padding: $baseline-unit*2;
  width: 60px;
  height: 60px;
}

.on-page-feedback__thumb-button-up {
  margin-right: $baseline-unit*2;
}

.on-page-feedback__thumb-button-down {
  margin-left: $baseline-unit*2;
}

.on-page-feedback__title {
  font-size: 1.3125rem;
  margin-top: 0;
}

.on-page-feedback__label {
  display: block;
  font-size: 1.3125rem;
  font-weight: bold;
  color: $color-green-dark;
  margin-top: $baseline-unit;
  padding-bottom: $baseline-unit*2;
}

.on-page-feedback__form {
  padding: 0 $baseline-unit*4;
}

.on-page-feedback__form-submit {
  float: right;
}

// Animation

.on-page-feedback__results-item {
  perspective: 300px;
  display: inline-block;
}

.on-page-feedback__results-item-card {
  float: left;
  position: relative;
  background-color: $color-yellow-light;
  border: 2px solid $color-yellow-dark;
  margin-right: $baseline-unit*2;
  padding: $baseline-unit*1.5;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  transition: transform 0.6s ease-out;
  transform-style: preserve-3d;

  &:last-of-type {
    margin-right: 0;
    margin-left: $baseline-unit*2;
  }
}

.on-page-feedback__results-item.is-animating .on-page-feedback__results-item-card {
  transform: rotateY(360deg);
}

.on-page-feedback__results-item-front, .on-page-feedback__results-item-back {
  backface-visibility: hidden;
  padding-top: 18px;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px; 
  height: 80px;
}

.on-page-feedback__results-item-front {
  transform: rotateY(0deg);
  z-index: 2;
}
.on-page-feedback__results-item-back {
  transform: rotateY(180deg);
}

.on-page-feedback__results-item-number {
  font-weight: bold;
  color: #000;
}
