.on-page-feedback {
  @extend %clearfix;
  background: $color-grey-pale;
  padding: $baseline-unit*2;
  text-align: center;

  .social-sharing__title {
    margin-top: 0;
    margin-bottom: $baseline-unit*2;
    color: $color-green-dark;
  }

  .is-hidden {
    display: none;
  }

  // Don't show until it's initialised - needs JS
  display: none;
  &[data-dough-on-page-feedback-initialised="yes"] {
    display: block;
  }
}

// Step 1 thumb buttons
.on-page-feedback__one-thumb-button-up,
.on-page-feedback__one-thumb-button-down {
  @include column(6);
  border: none;
  background-color: transparent;
}

// Override for default H2 style
.on-page-feedback__one-title,
.on-page-feedback__two-title,
.on-page-feedback__results-title {
  font-size: 1.3125rem;
  margin-top: 0;
}

// User input form
.on-page-feedback__two-form {
  padding: 0 $baseline-unit*4;
}

.on-page-feedback__two-form-input {
  margin-bottom: $baseline-unit;
}

.on-page-feedback__two-form-submit {
  float: right;
}

// Social media share
.on-page-feedback__three {
  .social-sharing {
    padding-bottom: $baseline-unit*3;
  }
}

// Results
.on-page-feedback__results-item {
  @include column(6);
}

.on-page-feedback__results-item-number {
  margin-top: $baseline-unit;
}

.animating {
  animation: spin 1s ease-in-out;
  transform: rotateY(20deg);
}

@keyframes spin {
  0%: {transform: rotateY(0deg);}
  100%: {transform: rotateY(360deg);}
}
