.on-page-feedback {
  @extend %clearfix;
  background: $color-grey-pale;
  padding: $baseline-unit*2;
  text-align: center;

  .social-sharing__title {
    margin-top: 0;
    margin-bottom: $baseline-unit*2;
    color: $color-green-dark;
  }

  .is-hidden {
    display: none;
  }

  // Don't show until it's going to work
  display: none;
  &[data-dough-on-page-feedback-initialised="yes"] {
    display: block;
  }
}

// Step 1 thumb buttons
.on-page-feedback__one-thumb-button-up,
.on-page-feedback__one-thumb-button-down {
  border: none;
  border-radius: 50%;
  background-color: $color-yellow-light;
  border-bottom: 2px solid $color-yellow-dark;
  padding: $baseline-unit*2;
  width: 60px;
  height: 60px;
}

.on-page-feedback__one-thumb-button-up {
  margin-right: $baseline-unit*2;
}

.on-page-feedback__one-thumb-button-down {
  margin-left: $baseline-unit*2;
}

// Override for default H2 style
.on-page-feedback__one-title,
.on-page-feedback__two-title,
.on-page-feedback__results-title {
  font-size: 1.3125rem;
  margin-top: 0;
}

// Hide steps
// .on-page-feedback__two,
// .on-page-feedback__three,
// .on-page-feedback__results {
//   display: none;
// }

// User input form
.on-page-feedback__two-form {
  padding: 0 $baseline-unit*4;
}

.on-page-feedback__two-form-input {
  margin-bottom: $baseline-unit;
}

.on-page-feedback__two-form-submit {
  float: right;
}

// Social media share
.on-page-feedback__three {
  .social-sharing {
    padding-bottom: $baseline-unit*3;
  }
}

// Results
.on-page-feedback__results-item {
  display: inline-block;
  background-color: $color-white;
  padding: $baseline-unit*1.5;
  border-radius: 50%;
  border: 2px solid $color-green-primary;
  width: 80px;
  margin-right: $baseline-unit*2;
  height: 80px;

  &:last-of-type {
    margin-right: 0;
    margin-left: $baseline-unit*2;
  }
}

.on-page-feedback__results-item-number {
  font-weight: bold;
}

