.previous-and-next {
  @extend .l-2col !optional;
  @extend %paragraph;
  overflow: auto;
  margin: 30px 0;

  a:focus {
    outline: 0;

    strong {
      outline: solid $baseline-unit/2 $color-focus-BG;
    }
  }
}

%previous-and-next__item {
  position: relative;
}

.previous-and-next__previous {
  @extend .l-2col-even--unresponsive;
  @extend %previous-and-next__item;

  border-right: 1px solid #edf0f0;
  text-align: right;
  padding-right: 15px;

  @include respond-to($mq-m) {
    padding-left: 20px;
    padding-right: 0;
    border-right: none;
    text-align: left;

    .chevron {
      left: 0;
    }
  }
}

.previous-and-next__next {
  @extend .l-2col-even-right--unresponsive;
  @extend %previous-and-next__item;

  padding-left: 5px;
  text-align: left;

  @include respond-to($mq-m) {
    padding-left: 0;
    padding-right: 20px;
    text-align: right;

    .chevron {
      right: 0;
    }
  }

  &:first-child {
    border-left: 1px solid #edf0f0;
    padding-left: 15px;

    @include respond-to($mq-m) {
      border-left: none;
    }
  }
}

%previous-and-next__chevron {
  display: inline;

  > .icon {
    vertical-align: middle;
  }

  @include respond-to($mq-m) {
    display: block;
    position: absolute;
    top: 0;
  }
}

.previous-and-next__chevron--right {
  @extend %previous-and-next__chevron;

  @include respond-to($mq-m) {
    right: 0;
  }
}

.previous-and-next__chevron--left {
  @extend %previous-and-next__chevron;

  @include respond-to($mq-m) {
    left: 0;
  }
}
