// Promos can be promoted articles or promoted tools on the homepage
//
// Styleguide Promo

.promo {
  // no styles
}

.promo__heading {
  @extend %font-heading-medium;
  @include body(18, 24);
  color: $color-link-default;
  margin: 0 0 $baseline-unit;
  position: relative;
  display: inline-block;

  &.promo__heading--blog {
    display: block;
  }

  @include respond-to($mq-m) {
    @include body(20, 24);
  }

  .l-tool-promos__item & {
    margin-right: $baseline-unit*6;
  }

  .promo__link:focus & {
    @include focus-outline;
    background: $color-focus-bg;
  }
}

.promo__heading--blog:after {
  background: $color-mas-blog-blue;
  border-radius: 4px;
  bottom: 0;
  color: $color-white;
  content: "Blog";
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  height: 30px;
  left: 50%;
  padding: $baseline-unit/2 $baseline-unit*2.5;
  position: absolute;
  text-transform: uppercase;
  top: -$baseline-unit*6;
  transform: translateX(-50%);
}

.promo__link {
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none !important;
    background: transparent !important;

    .promo__heading {
      text-decoration: underline;
    }
  }

  &:focus .promo__heading {
    color: $color-focus-fg;
  }

  .l-promo-articles__item--no-image & {
    display: block;
    margin-left: 20px;
  }
}

.promo__content {
  @include body(16, 24);
  margin: 0;
  color: $color-grey-primary;
}

.promo__img {
  width: 100%;
  margin-bottom: $baseline-unit*2;
}

.promo__arrow {
  fill: $color-button-primary;
  height: 34px;
  position: absolute;
  right: 0;
  top: 30%;
  width: 21px;

  @include respond-to($mq-l) {
    top: 13%;
  }
}
