// Promos can be promoted articles or promoted tools on the homepage
//
// Styleguide Promo

.promo {
  // no styles
}

.promo__heading {
  @extend %font-heading-medium;
  @include body(18, 24);
  margin-top: 0;

  @include respond-to($mq-m) {
    @include body(20, 24);
  }

  .icon {
    position: relative;
    top: 6px;
  }
}

.promo__content {
  @include body(16, 24);
}

.promo__img {
  width: 100%;
  margin-bottom: $baseline-unit*2;
}
