// Promo section of the home page
//
// Styleguide Promo

.promo img {
  width: 100%;
  margin-bottom: $baseline-unit*2;
}

.promo__heading {
  @extend %font-heading-medium;
  @include body(24, 30);
  display: block;
  margin-bottom: $baseline-unit;
  margin-top: 0;

  .theme-cy & {
    @include respond-to($mq-m) {
      @include body(18, 24);
    }
  }
}

.promo__content,
.promo__heading {
  @include column(12);
}
