// Promos can be promoted articles or promoted tools on the homepage
//
// Styleguide Promo

.promo {
  // no styles
}

.promo__heading {
  @extend %font-heading-medium;
  @include body(22, 30);
  margin-top: 0;

  .icon {
    position: relative;
    top: 6px;
  }
}

.promo__img {
  width: 100%;
  margin-bottom: $baseline-unit*2;
}
