// Content box that appears on article pages displaying related links
//
// Styleguide related link

.related-links__heading {
  @include body(18, 24);
  letter-spacing: 0;
  color: $related-links-heading;
  padding: px(12) 0;
  margin-top: 0;
  margin-bottom: px(18);
  border-bottom: $related-links-border;
}

.related-links__link {
  @include body(16, 24);
}
