// Content box that appears on article pages displaying what categories an
// article belongs to
//
// Styleguide related categories

.related-categories {
  padding-bottom: $baseline-unit*2;
  @include respond-to(0, $mq-m) {
    border-bottom: 1px solid #edf0f0;
  }
}

.related-categories_heading {
  @extend %heading-extra-small;
  margin-top: $baseline-unit*2;
  margin-bottom: $baseline-unit;
}

.related-categories__link {
  @extend %type-related-links;
  margin-bottom: $baseline-unit;
}
