// Content box that appears on article pages displaying related links
//
// Styleguide related link

.related-links--collapsable {
  display: none;

  &.is-active {
    display: block;
    margin-bottom: $baseline-unit*2;
  }
}

.related-links--mobile {
  margin-top: $baseline-unit*10;

  @include respond-to($mq-m) {
    display: none;
  }
}

.related-links--desktop {
  display: none;
  @include respond-to($mq-m) {
    display: block;
    padding-top: $baseline-unit*2;
  }
}

.related-links--desktop-fixed {
  position: fixed;
  position: -webkit-sticky;
  top: 0;
}

.related-links--desktop-bottom {
  position: absolute;
  bottom: 0
}

.related-links__heading {
  @include body(18, 24);
  letter-spacing: 0;
  color: $related-links-heading;
  padding: 0;
  margin-top: 0;
  margin-bottom: $baseline-unit*3;
  border-bottom: $related-links-border;
  position: relative;

  .collapsable__trigger-icon {
    display: none;
  }

  .unstyled-button {
    width: 100%;
    text-align: left;

    &:after {
      content: "+";
      position: absolute;
      top: 0;
      right: 0;
    }

    &.is-active {
      &:after {
        content: "-";
      }
    }
  }
}

.related-links__heading--article-links {
  border-bottom-width: 4px;
}

.related-links__heading--guides {
  border-color: $color-green-primary;
}

.related-links__heading--popular {
  border-color: #148573;
}

.related-links__heading--blog {
  border-color: $color-mas-blog-blue;
}

.related-links__link {
  @include body(16, 24);
  padding-bottom: $baseline-unit*2;
  border-bottom: 1px solid $color-grey-pale;

  &:last-child {
    margin-bottom: 0;
  }
}
