// Content box that appears on article pages displaying related links
//
// Styleguide related link

.related-links__heading {
  @extend %heading-extra-small;
  padding: 0 $baseline-unit;
  margin-bottom: -16px;
}

.related-links__category-link {
  @extend %type-related-links;
  padding: 0 $baseline-unit;
}

.related-links__category-heading {
  @extend %heading-related-links;
  padding: $baseline-unit*2 $baseline-unit;
  background: $color-related-links-background;

  a {
    color: #388426;
  }
}
