// Content box that appears on article pages displaying what categories an
// article belongs to
//
// Styleguide related categories

.related-categories_heading {
  @extend %paragraph;
  @extend %font-body;
  color: $related-categories-heading;
  display: inline;
}

.related-categories__link {
  @extend %paragraph;
  padding: 0 6px;
}

.related-categories__divider {
  @include body(18, 18);
  color: $breadcrumbs-divider-color;

  &:last-child {
    display: none;
  }
}
