// Content box that appears on article pages displaying what categories an
// article belongs to
//
// Styleguide related categories

%related-links-type {
  @include body(14, 24);
  font-weight: 300;

  @include respond-to($mq-m) {
    @include body(16, 24);
  }
}

.related-categories {
  @extend %related-links-type;
  margin: 0;
  color: $related-categories-heading;
  display: block;

  @include respond-to($mq-s) {
    display: inline;
  }
}

.related-categories__link {
  @extend %related-links-type;
  display: block;

  @include respond-to($mq-m) {
    display: inline;
  }
}

.related-categories__divider {
  @include body(16, 18);
  color: $breadcrumbs-divider-color;
  display: none;

  &:last-child {
    display: none;
  }

  @include respond-to($mq-m) {
    display: inline;
  }
}
