.retirements-panel {

}

.retirements-panel__title {
  @include body(20, 26);

  color: $color-black;

  a:link & {
    color: $color-link-default;
  }

  a:visited & {
    color: $color-link-default;
  }
}

.retirements-panel__image {
  display: block;
  padding-bottom: $baseline_unit*2;
}

.retirements-panel__image--placeholder {
  height: 0;
  padding-bottom: 48.5%;
}

.retirements-panel-callout {
  @include clearfix();
  background-color: $color-white;
  border: 1px solid $color-grey-light;
  padding: $baseline_unit;
  position: relative;
};

.retirements-panel-callout__image {
  float: left;
  width: 140px;
  max-width: 140px;
  margin-right: 20px;
};

.retirements-panel-callout__link {
  @include body(16, 20);
  display: block;
  margin-left: 115px;
};
