// Stripe banner which appears on the homepage
//
// Styleguide Stripe banner

.stripe-banner {
  @extend %stripe-bg;
  background-color: $color-off-white;
  background-size: 8px 8px;
  text-align: center;
  margin-top: $baseline-unit*8;

  @include respond-to($mq-l) {
    margin-top: $baseline-unit*14;
  }
}

.stripe-banner__link {
  display: block;
  position: relative;
  padding: $baseline-unit*6;
  font-size: 30px;
  line-height: 32px;
  &:link,
  &:visited,
  &:hover {
    color: $color-true-black;
  }

  @include respond-to($mq-s) {
    padding-right: 20%;
  }

  @include respond-to($mq-l) {
    padding-right: 16%;
  }

  @include respond-to($mq-xl) {
    padding-right: 12%;
  }
}

.stripe-banner__bold {
  font-weight: 700;
}

.stripe-banner-arrow {
  width: 64px;
  height: 64px;
  display: block;
  margin: $baseline-unit auto 0 auto;

  @include respond-to($mq-s) {
    position: absolute;
    top: 25%;
    right: 7%;
  }

  @include respond-to($mq-l) {
    top: 15%;
    right: 7%;
  }
}

.stripe-banner-arrow__circle {
  fill: $color-button-primary;

  .stripe-banner__link:hover &,
  .stripe-banner__link:focus & {
    fill: $color-button-primary-active;
  }
}
