// Trust banner displayed on the home page
//
// Styleguide Trust banner

.trust-banner {
  position: relative;

  @include respond-to($mq-l) {
    background: image_url('illustrated_people.png') 100% 100% no-repeat;
  }
}

.trust-banner__heading {
  @extend %font-heading-heavy;
  @include body(36, 42);
  color: $color-heading-extra-small;
  padding-top: 1.2em;
  padding-bottom: 1em;
  margin: 0;

  @include respond-to($mq-m) {
    @include body(48, 54);
    max-width: 700px;

    .theme-cy & {
      max-width: 820px;
    }
  }
}

.trust-banner__content {
  @extend .unstyled-list;
  @extend .list-benefits;
  margin-bottom: $baseline-unit*8;

  > li {
    @include body(16,24);
    margin-bottom: $baseline-unit;
    @extend %font-heading-medium;
  }

  @include respond-to($mq-l, $mq-xl) {
    .theme-cy & {
      max-width: 50%;
    }
  }
}
