.want-to-talk {
  display: none;
  position: relative;
}

.want-to-talk--sidebar {
  padding-top: $baseline_unit*2;
  text-align: center;
}

.want-to-talk--inline {
  margin-top: $baseline_unit*4;
  max-width: 260px;
  padding-bottom: $baseline_unit*1.5;
}

.want-to-talk--fixed {
  position: fixed;
  position: -webkit-sticky;
  top: 0;
}

.want-to-talk--bottom {
  position: absolute;
  bottom: 0
}

.want-to-talk--initialised.want-to-talk--inline {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include respond-to($mq-m) {
    display: none;
  }
}

.want-to-talk--initialised.want-to-talk--sidebar {
  @include respond-to($mq-m) {
    display: block;
  }
}

.want-to-talk__body {
  position: relative;
  z-index: 4;
  overflow: hidden;
  max-height: 0;
  transition: max-height 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-align: center;
}

.want-to-talk--open .want-to-talk__body {
  max-height: 20em;
}

.want-to-talk__intro {
  border: none;
  background: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.want-to-talk__intro__title {
  @include body(22, 28);
  margin-top: $baseline_unit*2.5;
  margin-bottom: $baseline_unit*2;
  color: $color-black;

  @include respond-to($mq-m, $mq-l) {
    @include body(20, 26);
  };

  @include respond-to($mq-m, $mq-l) {
    .want-to-talk--fixed.want-to-talk--open & {
      margin-top: 0;
    }
  };
}

.want-to-talk__icon {
  display: block;
  margin: 0 auto;

  @include respond-to($mq-m, $mq-l) {
    .want-to-talk--fixed.want-to-talk--open & {
      display: none;
    }
  };
}

.want-to-talk__trigger {
  display: block;
  margin: $baseline_unit*2 auto $baseline_unit*3;
  text-align: center;
}

.want-to-talk__trigger__button {
  @extend %stripe-bg;
  background-color: $color-off-white;
  border: none;
  display: inline-block;
  margin: 0 auto;
  padding: $baseline_unit 3px;
  position: relative;
  text-align: center;
  width: 90%;
}

.want-to-talk__trigger__button__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #e7ba33;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  border-radius: 50%;
  border: 2px solid $color-white;
  vertical-align: middle;

  &:before {
    box-shadow: 0 0 5px 1px rgba(200, 200, 200, .5);
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid $color-white;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
  }

  &:after {
    @include body(17, 28);
    content: "+";
    color: $color-black;
    font-weight: 700;
  }

  &:focus {
    outline: none;
    border-color: $color-focus;

    &:before {
      border-color: $color-focus;
    }
  }

  .want-to-talk--open &:after {
    content: "\2013"; // => &ndash
  }
}

.want-to-talk__trigger__button__text {
  margin-right: 10px;
  vertical-align: middle;

  @include respond-to($mq-m, $mq-xl) {
    margin-right: 0;
    margin-bottom: $baseline_unit;
    display: block;
  };

  @include respond-to($mq-m, $mq-l) {
    .want-to-talk--fixed.want-to-talk--open & {
      margin-bottom: 0
    }
  };
}

.want-to-talk__intro__text {
  @include body(18, 24);
  margin: 0 auto $baseline_unit;
  width: 70%;

  // For specificity of inline version
  .editorial & {
    @include body(18, 24);
  }
}

.want-to-talk__body__small-print {
  @include body(14, 20);

  @include respond-to($mq-xl) {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  };

  // For specificity of inline version
  .editorial & {
    @include body(14, 18);
    margin-top: $baseline_unit*2;
  }
}

.want-to-talk__body__call-us {
  @include body(16, 20);
  margin-top: 0;
  margin-bottom: $baseline_unit*2.5;
}

// For specificity
.want-to-talk__body__phone {
  @include body(22, 26);
  font-weight: 700;
}

// For specificity
a[href^=tel].want-to-talk__body__phone {
  color: $color-link-default;
}
