<div class="sidebar">
  <div class="panel">
    <h2 class="heading-extra-small">Yr hyn na allwn gynnig help ar ei gyfer</h2>

    <p>Nid ydym wedi ein rheoleiddio gan yr Awdurdod Ymddygiad Ariannol sy’n golygu ni allwn roi argymhellion penodol i chi ar gynnyrch, megis dweud wrthych pa gyfrif cynilo i’w ddewis.</p>

    <p>Os oes angen cyngor ariannol rheoleiddiol arnoch, bydd angen i chi ymgynghori â chynghorwr ariannol proffesiynol. Darllenwch ein canllaw am ragor o wybodaeth ar
      <a href="/en/articles/choosing-a-financial-adviser">Ddewis cynghorydd ariannol</a>.</p>
  </div>


  <h2 class="heading-extra-small">Cyfeiriad ein pencadlys yw</h2>

  <p>
    <a href="https://www.google.co.uk/maps/place/The+Money+Advice+Service/@51.5178989,-0.1080938,19z/data=!4m7!1m4!3m3!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134!2sThe+Money+Advice+Service!3b1!3m1!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134">
      Y Gwasanaeth Cynghori Ariannol, Holborn Centre, 120 Holborn, Llundain, EC1N 2TD</a>
  </p>

  <a href="https://www.google.co.uk/maps/place/The+Money+Advice+Service/@51.5178989,-0.1080938,19z/data=!4m7!1m4!3m3!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134!2sThe+Money+Advice+Service!3b1!3m1!1s0x48761b4dace22dd7:0xbcae8d3aa50a5134">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.5180658,-0.108537&zoom=17&size=260x200&scale=2&markers=color:green%7Clabel:M%7C51.5180658, -0.108537"/>
  </a>

  <h2 class="heading-extra-small">Ein cyfeiriad e-bost cyffredinol yw</h2>

  <p><a href="mailto:enquiries@moneyadviceservice.org.uk">enquiries@moneyadviceservice.org.uk</a></p>

  <h2 class="heading-extra-small">Ein Horiau agor yw</h2>

  <ul class="unstyled-list">
    <li>Llun i Wener: 8am to 8pm</li>
    <li>Dydd Sadwrn: 9am to 1pm</li>
    <li>Dydd Sul a Gwyliau Banc: ar gau</li>
  </ul>

  <h2 class="heading-extra-small">Call our Money Advice Line on</h2>

  <ul class="unstyled-list">
    <li><a href="tel:+443005005000">0300 500 5000</a> (Saesneg)</li>
    <li><a href="tel:+443005005555">0300 500 5555</a> (Cymraeg)*</li>
    <li>Typetalk: <a href="tel:1800103005005000">18001 0300 500 5000</a>*</li>
    <li>O dramor: <a href="tel:+441443827658">+44 1443 827658</a></li>
  </ul>

  <div class="sidebar__smallprint">
    <p class="smallprint">*Mae cost rhif 0300 yr un fath â chost galwad ffôn gyffredin. Os yw’ch galwadau am ddim, yna bydd yn rhad ac am ddim, hyd yn oed o ffonau symudol.</p>

    <p class="smallprint">Rydym yn ymroddedig i ddarparu gwasanaeth o safon uchel, felly gall galwadau gael eu recordio neu eu monitro at ddibenion hyfforddi.</p>
  </div>
</div>
