---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/how-to-save-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 00bba4eb00b2a85392708da6ed70b9bc
    body:
      encoding: UTF-8
      string: '{"id":"how-to-save-money","title":"How to save money","description":"Work
        out how much you can afford to save and find out how to set and reach your
        savings goal.","parent_id":"saving-and-investing","contents":[{"id":"how-to-set-a-savings-goal","type":"tool","title":"How
        to set a savings goal","description":"Get into the habit of successful saving
        - set a clear goal, plan how you\u2019ll get there, and watch your money grow"},{"id":"why-it-pays-to-save-regularly","type":"guide","title":"Why
        it pays to save regularly","description":"A regular savings habit makes your
        savings grow fast \u2013 getting started is quick and easy"},{"id":"build-an-emergency-savings-fund","type":"action_plan","title":"Action
        p[...]
