---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/how-to-invest-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 2a9a8653cba77572fcc65f06c630eabe
    body:
      encoding: UTF-8
      string: '{"id":"how-to-invest-money","title":"How to invest money","description":"Learn
        about investing basics, how to make an investment plan, and understanding
        your attitude to risk.","parent_id":"saving-and-investing","contents":[{"id":"investing-beginners-guide","type":"guide","title":"Investing
        \u2013 beginner\u2019s guide","description":"Using investments can improve
        your profits \u2013 and spread risk"},{"id":"ethical-saving-and-investing","type":"guide","title":"Ethical
        saving and investing","description":"If you want to support fair working practices
        and would prefer to avoid investing in the arms race, tobacco and gambling,
        ethical saving and investing might be for you"},{"id":"top-tips-for-choosing-investments","t[...]
