---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/pensions-in-the-workplace.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 65c74ccd015b3ffebc5ba3a2dc4197d4
    body:
      encoding: UTF-8
      string: '{"id":"pensions-in-the-workplace","title":"Pensions in the workplace","description":"Preparing
        for changes to workplace pensions and understanding about tax relief on pension
        contributions","parent_id":"work-and-money","contents":[{"id":"tax-relief-on-pension-contributions","type":"guide","title":"Tax
        relief on pension contributions","description":"You\u2019ll get tax relief
        on any money you save into your pension, up to an annual limit of \u00a350,000
        or your earnings for the year"},{"id":"automatic-enrolment-into-a-workplace-pension","type":"guide","title":"Automatic
        enrolment \u2013 an introduction","description":"Joining your workplace pension
        scheme is a hassle-free way to start saving for later life"},{"id":"why-save-into-a-pe[...]
