---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/planning-for-retirement-fl.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 8664f44cb72ed30923fe9fb08c73a4f8
    body:
      encoding: UTF-8
      string: '{"id":"planning-for-retirement-fl","title":"Planning for retirement","description":"From
        how and when to start saving for a pension to getting the most from your pension
        fund, we have the tools to help you with your retirement planning goals. Our
        Money Health Check will also show you what you can do to make the most of
        your money.","parent_id":null,"contents":[{"id":"why-save-into-a-pension","type":"guide","title":"Why
        save into a pension?","description":"Pensions are an efficient way to save
        for retirement. Contributions are topped up by the taxman and often by employers"},{"id":"tax-relief-on-pension-contributions","type":"guide","title":"Tax
        relief on pension contributions","description":"You\u2019ll get tax relief
        on any money you save into your pension, up to an annual limit of \u00a350,000
        or your earnings for the year"},{"id":"pension-calculat[...]
