---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/savings-types.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - b60c79e2a195e764dbf05eb70250ab63
    body:
      encoding: UTF-8
      string: '{"id":"savings-types","title":"Types of savings","description":"Learn
        about savings accounts, cash ISAs, and how to save for children.","parent_id":"saving-and-investing","contents":[{"id":"saving","type":"guide","title":"Saving
        accounts, cash ISAs and saving bonds","description":"Use our comparison tables
        on saving accounts, cash ISAs and saving bonds"},{"id":"cash-savings-at-a-glance","type":"guide","title":"Cash
        savings at a glance","description":"Don\u2019t leave your cash under the mattress!
        See what type of account is right for your cash savings, and start comparing
        today"},{"id":"child-trust-fund-accounts","type":"guide","title":"Child Trust
        [...]
