---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/action_plans/how-to-open-a-bank-account.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/action_plans/how-to-open-a-bank-account>
        rel="alternate"; hreflang="en-GB"; title="Action plan - How to open a bank
        account", <https://www.moneyadviceservice.org.uk/cy/action_plans/sut-i-agor-cyfrif-banc>
        rel="alternate"; hreflang="cy-GB"; title="Cynllun gweithredu - Sut i agor
        cyfrif banc"
      X-Session-Id:
      - 6c71c12246c1ff9a04ae8587d008d606
    body:
      encoding: UTF-8
      string: '{"id":"how-to-open-a-bank-account","title":"Action plan - How to open
        a bank account","description":"Learn how to open the most suitable bank account
        for you. View this action plan to compare bank accounts and select the most
        appropriate option for you.","body":"<p class=\"intro\"><img src=\"/images/new_action_plan_icon.jpg\"/>Follow
        these steps to choose and open a bank account that''s right for you. </p><div
        class=\"action-item\"><h3>Compare accounts to get the best one for you </h3><div
        class=\"collapsable\"><div class=\"why\"><h4>Why? </h4><p>Fees, charges and
        interest vary a lot between bank accounts so it''s important to choose an
        account that suits the way you manage your money. </p></div><div class=\"how\"><h4>How?
        </h4><ul><li><a href=\"https://www.moneyadviceservice.org.uk/en/articles/how-to-choose-the-right-bank-account\">Check
        our guide How to choose the right bank account</a></li><li><a title=\"Compare
        current accounts\" href=\"https://compare.moneyadviceservice.org.uk/currentaccounts/Step1?language=en\">Use
        our unbiased current account comparison table to compare the cost of accounts\u00a0</a></li></ul></div></div></div><div
        class=\"action-item\"><h3>Decide whether you want a joint[...]
