// Callout
$color-callout-background: $color-green-pale;
$color-callout-instructional-background: $color-grey-pale;

// Panels
$color-panel-background: $color-grey-pale;
$color-panel-footer-background: $color-white;
