@mixin form-input-focus {
  background-color: white;
  border-color: transparent;
}

@mixin form-input-focus-container {
  background-color: white;
  border: 2px solid $color-focus-border;
  outline: none;
}

@mixin form-input-focus-outline {
  outline: solid $baseline-unit/2 $color-focus-border;
}
