<div class="l-content-hub__module l-content-hub__module--img-con-lnk">
  <div class="l-content-hub__module-inner">
    <div class="content-hub__module-image" style="background-image:url(<%= asset_path("content_hub/#{block[:image]}") %>)"></div>
    <div class="content-hub__module-content">
      <div class="content-hub__module-description">
        <p><%= block[:description] %></p>
      </div>
      <%= form_tag block[:button][:url], method: :get do %>
        <button class="button button--primary content-hub__module-button">
          <%= block[:button][:text] %>
        </button>
      <% end %>
    </div>
  </div>
</div>
