<div class="l-content-hub__module l-content-hub__module--img-hdr-lnks">
  <div class="l-content-hub__module-inner">
    <div class="video-wrapper">
      <iframe width="912" height="513" src="<%=block[:video]%>" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="content-hub__module-content">
      <%= heading_tag block[:header], class: 'content-hub__module-title heading-medium', level: 2 %>

      <ul class="content-hub__module-links unstyled-list">
        <% block[:links].each do |link| %>
          <li><a href="<%= link[:url] %>"><%= link[:text] %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
