<div class="l-content-hub__module content-hub__module--hdr-con-lnk-img">
  <div class="l-content-hub__module__inner">
    <%= heading_tag block[:header], class: 'content-hub__module__title heading-medium', level: 1 %>
    <div class="l-content-hub__module__image" style="background-image:url(<%= asset_path("content_hub/#{block[:image]}") %>)"></div>
    <div class="l-content-hub__module__content">
      <p class="content-hub__module__description"><%= block[:description] %></p>
      <button class="button button--primary content-hub__module__button"><%= block[:link] %></button>
    </div>
  </div>
</div>
