---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/buying-a-home.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 6698bfbb802922aa9a22ecf2f9119470
    body:
      encoding: UTF-8
      string: '{"id":"buying-a-home","title":"Prynu cartref","description":"Cyfrifwch
        eich costau prynu a symud cyffredinol, cyngor i brynwyr tro cyntaf, ac awgrymiadau
        ac offer i''ch helpu chi i gyfrifo beth allwch ei fforddio.","parent_id":"homes-and-mortgages","contents":[{"id":"amcangyfrifwch-eich-costau-prynu-a-symud-cyffredinol","type":"guide","title":"Amcangyfrifwch
        eich costau prynu a symud cyffredinol","description":"Defnyddiwch ein rhestr
        wirio o gostau prynu neu symud i''ch helpu i gael darlun realistig o gyfanswm
        y gost i chi"},{"id":"faint-allwch-chi-fforddio-ei-fenthyca","type":"guide","title":"Faint
        allwch chi fforddio ei fenthyca?","description":"Pan fyddwch yn cyfrifo cyfanswm
        y morgais y gallwch ei fforddio, sicrhewch eich bod yn ystyried mwy na''ch
        ad-daliadau misol [...]
