---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/help-with-insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - de1c9d447ebc8747fd62bcc4e3650bc8
    body:
      encoding: UTF-8
      string: '{"id":"help-with-insurance","title":"Cymorth gydag yswiriant","description":"Deall
        beth yw yswiriant a sut mae''n gweithio. Dysgwch sut i brynu yswiriant a sut
        mae mynd ati i wneud hawliad.","parent_id":"insurance","contents":[{"id":"beth-yw-yswiriant","type":"guide","title":"Beth
        yw yswiriant?","description":"Ddim yn si\u0175r beth yw yswiriant neu sut
        mae\u2019n gweithio? Deall y pethau sylfaenol fel y gallwch gael y diogelwch
        cywir ar eich cyfer chi a\u2019ch teulu"},{"id":"mathau-o-yswiriant","type":"guide","title":"Mathau
        o yswiriant","description":"Ddim yn si\u0175r pa yswiriant sydd ei angen arnoch
        chi? Mae\u2019r tabl hwn yn crynhoi beth mae pob math yn yswirio, pwy sydd
        ei angen a manteision ac[...]
