---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/help-with-insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 2a44706d5b0f9ba7e17b701f143c3428
    body:
      encoding: UTF-8
      string: '{"id":"help-with-insurance","title":"Cymorth gydag yswiriant","description":"Deall
        beth yw yswiriant a sut mae''n gweithio. Dysgwch sut i brynu yswiriant a sut
        mae mynd ati i wneud hawliad.","parent_id":"insurance","contents":[{"id":"cynllun-digolledu-gwasanaethau-ariannol","type":"guide","title":"Cynllun
        Digolledu Gwasanaethau Ariannol","description":"Efallai y bydd y Cynllun Digolledu
        Gwasanaethau Ariannol yn gallu darparu digollediad os bydd cwmni gwasanaethau
        ariannol yn mynd allan o fusnes"},{"id":"cael-trefn-ar-broblem-ariannol-neu-wneud-cwyn","type":"guide","title":"Cael
        trefn ar broblem ariannol neu wneud cwyn","description":"Cael trefn ar broblemau,
        gwneud cwynion a chael digollediad gan fanciau neu gwmn\u00efau ariannol er[...]
