---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/how-to-save-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - ca13b08fe8d17986e37137040cd62e96
    body:
      encoding: UTF-8
      string: '{"id":"how-to-save-money","title":"Sut i gynilo arian","description":"Cyfrifwch
        faint allwch fforddio ei gynilo a dysgwch sut i sefydlu a chyrraedd eich nod
        cynilo.","parent_id":"saving-and-investing","contents":[{"id":"sut-i-bennu-nod-cynilo","type":"tool","title":"Sut
        i bennu nod cynilo","description":"Ewch i''r arfer o gynilo''n llwyddiannus
        \u2013 pennwch nod clir, cynlluniwch sut i gyrraedd y nod hwnnw a gwyliwch
        eich arian yn tyfu"},{"id":"pam-bod-cynilon-rheolaidd-yn-talu-ffordd","type":"guide","title":"Pam
        bod cynilo''n rheolaidd yn talu ffordd","description":"Mae mynd i''r arfer
        o gynilo''n rheolaidd yn golygu y bydd eich cynilion yn tyfu''n gyflym \u2013
        mae''n gyflym ac yn hawdd dech[...]
