---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/renting-and-letting.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 399842af38d797115b84245a80ada37f
    body:
      encoding: UTF-8
      string: '{"id":"renting-and-letting","title":"Rhentu a gosod","description":"Cyngor
        i''ch helpu i gyfrifo faint o rent y gallwch chi fforddio, a sut i gyllidebu
        a rhannu costau wrth rentu.","parent_id":"homes-and-mortgages","contents":[{"id":"faint-o-rent-y-gallwch-chi-ei-fforddio","type":"guide","title":"Faint
        o rent y gallwch chi ei fforddio?","description":"Wrth ystyried pa rent y
        gallwch ei fforddio, cofiwch ffactorio costau o flaen llaw a\u2019ch biliau
        rheolaidd unwaith yr ydych wedi symud i mewn"},{"id":"cyllidebu-a-rhannu-costau-wrth-rentu","type":"guide","title":"Cyllidebu
        a rhannu costau wrth rentu","description":"Os ydych chi\u2019n rhannu gyda
        phobl eraill, dyma rai ffyrdd i gyllidebu a threfnu eich biliau fel nad ydych
        [...]
