---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/running-a-bank-account.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 29261a965cb319e5ea3b785aa7568ebc
    body:
      encoding: UTF-8
      string: '{"id":"running-a-bank-account","title":"Rhedeg cyfrif banc","description":"Dysgwch
        sut i reoli cyfrif banc, o dalu arian i mewn i gadw llygad ar log a ffioedd.","parent_id":"budgeting-and-managing-money","contents":[{"id":"sut-mae-dewis-y-cyfrif-banc-cywir","type":"guide","title":"Sut
        mae dewis y cyfrif banc cywir","description":"Dewis y cyfrif banc cywir i
        chi gyda\u2019r nodweddion rydych chi eu heisiau, am y pris cywir"},{"id":"sut-i-agor-cyfrif-banc","type":"action_plan","title":"Cynllun
        gweithredu - Sut i agor cyfrif banc","description":"Dilynwch y camau hyn i
        ddewis ac agor cyfrif banc"},{"id":"rheoli-eich-cyfrif-banc","type":"guide","title":"Rheoli
        eich cyfrif banc","description":"Sut mae rheoli eich cyfrif b[...]
