$color-grey-alabaster: #f7f7f7;

$color-recommended-tool-body-background: $color-grey-alabaster;
$color-recommended-tool-footer-background: $color-grey-concrete;
$color-recommended-tool-title: $color-heading-medium;
