---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/articles/pam-bod-cynilon-rheolaidd-yn-talu-ffordd.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/cy/articles/pam-bod-cynilon-rheolaidd-yn-talu-ffordd>
        rel="alternate"; hreflang="cy-GB"; title="Pam bod cynilo'n rheolaidd yn talu
        ffordd", <https://www.moneyadviceservice.org.uk/en/articles/why-it-pays-to-save-regularly>
        rel="alternate"; hreflang="en-GB"; title="Why it pays to save regularly"
      X-Session-Id:
      - 6b4ed12b673d36f4f4924553450db957
    body:
      encoding: UTF-8
      string: '{"id":"pam-bod-cynilon-rheolaidd-yn-talu-ffordd","title":"Pam bod cynilo''n
        rheolaidd yn talu ffordd","description":"Mae mynd i''r arfer o gynilo''n rheolaidd
        yn golygu y bydd eich cynilion yn tyfu''n gyflym \u2013 mae''n gyflym ac yn
        hawdd dechrau arni","body":"<img src=\"/images/why-it-pays-to-save-regularly.png\"/><p
        class=\"intro\"> Os byddwch yn cynilo''n rheolaidd, buan y byddwch yn ychwanegu
        at eich cynilion ac y byddant yn parhau i dyfu. Ewch i''r arfer a gwyliwch
        wrth i''ch arian droi''n fwy o arian. </p><h2> Ewch i''r arfer o gynilo </h2><div
        class=\"callout\"><p>Mae mynd i''r arfer o gynilo''n rheolaidd yn bwysicach
        na faint y byddwch yn ei gynilo \u2013 cewch eich synnu o weld pa mor gyflym
        y gall ychydig bunnoedd y mis dyfu! </p></div><p> Y ffordd hawsaf o gynilo''n
        llwyddiannus yw trefnu eich bod yn ychwanegu ychydig yn awtomatig at eich
        cynilion bob mis. Drwy wneud hynny, ni fydd yn rhaid i chi gofio gwneud y
        taliad ac ni chewch eich temtio i fethu mis. Cyn pen dim, byddwch wedi llwyddo
        i gynilo swm sylweddol. </p><p> Y ffordd gyflymaf i wneud hyn yw trefnu archeb
        sefydlog (taliad rheolaidd) o gyfrif cyfredol banc i mewn i''ch dewis gyfrif
        cynilo. </p><p><div class=\"add-action\"><a href=\"/cy/articles/debydau-uniongyrchol-ac-archebion-sefydlog\">Mynnwch
        fwy o wybodaeth am archebion sefydlog</a> <a href=\"#\" class=\"action-email\"
        data-action-id=\"\" data-article-id=\"debydau-uniongyrchol-ac-archebion-sefydlog\"
        data-article-type=\"guide\" id=\"email_me_debydau-uniongyrchol-ac-archebion-sefydlog\"
        tabindex=\"0\">E-bostio hwn <span class=\"visuallyhidden\">dudalen</span></a><form
        action=\"/cy/action_items/internal?article_id=debydau-uniongyrchol-ac-archebion-sefydlog&amp;article_type=guide\"
        class=\"action-form\" data-remote=\"true\" data-resource-path=\"/cy/action_items/internal?article_id=debydau-uniongyrchol-ac-archebion-sefydlog&amp;article_type=guide\"
        method=\"post\" name=\"guide_debydau-uniongyrchol-ac-archebion-sefydlog\"><div><input
        class=\"action-submit\" data-action-event=\"add\" tabindex=\"0\" type=\"submit\"
        value=\"Ychwanegu i&#x27;m rhestr tasgau i&#x27;w cyflawni\" /><input name=\"authenticity_token\"
        type=\"hidden\" value=\"c4jE945yOtQ36Dpfk1ynJB9aOtsFjeZLtjw/FFa8WxE=\" /></div></form>
        </div></p><h2> Trefnwch eich taliad ar gyfer y diwrnod y cewch eich cyflog
        </h2><p> Yr amser gorau i roi arian i''r neilltu yw yn ystod y cyfnod yn syth
        ar \u00f4l i chi gael eich talu, felly trefnwch eich archeb sefydlog ar gyfer
        y diwrnod y cewch eich talu neu''n syth wedi hynny. </p><p> Neu gofynnwch
        i''ch gweithle a oes ganddynt gy[...]
