.line-marker {
  position: relative;
  z-index: 2;
  left: 10px;
  @include respond-to($mq-m) {
    left: 50%;
  }
}

.line-marker--waypoint{
  width: 12px;
  height: 12px;
  top: 27px;
  margin-left: -6px;
  @include respond-to($mq-m) {
    margin-left: -6px;
  }
}

.line-marker--section {
  width: 32px;
  height: 32px;
  top: 38px;
  margin-left: -16px;
}

.line-marker__small-outline-dot{
  width: 14px;
  height: 14px;
  background-position: -37px 0;
  background-image: url(image-path("retirement_concepts/dot-sprite@1x.png")); 
  background-size: 90px 139px;
  background-repeat: no-repeat;

  @include device-pixel-ratio() {
    background-image: url(image-path("retirement_concepts/dot-sprite@2x.png")); 
  }
}

.ie8 .line-marker__small-outline-dot{
  background-position: 0 0;
  background-image: url(image-path('retirement_concepts/small-outline-dot-x1.png'));
}
