.baseline {
  background-image: -webkit-linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%)!important;
  background-image: -moz-linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%)!important;
  background-image: linear-gradient(top, #fff 0, #fff 95%, #f00 95%, #f00 100%)!important;
  background-repeat: repeat-y!important;
  background-size: 100% 24px!important;
  //  Background size height equals rendered line height at the respective breakpoint
}