---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 1701e8327a29bc5c6cc573ac38a2d6bf
    body:
      encoding: UTF-8
      string: '[{"id":"debt-and-borrowing","type":"category","title":"Debt and borrowing","description":"Taking
        control of debt, getting free debt advice, and how to borrow affordably.","contents":[{"id":"before-you-borrow","type":"category","title":"Before
        you borrow","description":"Find out if you need to borrow money and whether
        you can afford it. Learn how to work out the true cost of borrowing.","contents":[]},{"id":"taking-control-of-debt","type":"category","title":"Taking
        control of debt","description":"Where to get free debt advice, how to speak
        to the people you owe money to, and tips to help you pay back your debts in
        the right order.","co[...]
