---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/static/about-us.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/static/about-us> rel="alternate";
        hreflang="en-GB"; title="About us", <https://www.moneyadviceservice.org.uk/cy/static/amdanom-ni>
        rel="alternate"; hreflang="cy-GB"; title="Amdanom ni"
      X-Session-Id:
      - 85e0953dc0cf7ab7202adfe4ab1470e1
    body:
      encoding: UTF-8
      string: '{"id":"about-us","title":"About us","description":"The Money Advice
        Service helps people manage their money. We do this directly through our own
        free and impartial advice service. We also work in partn ...","body":"<p class=\"intro\">The
        Money Advice Service helps people manage their money. We do this directly
        through our own free and impartial advice service. We also work in partnership
        with other organisations to help people make the most of their money. We are
        an independent service, set up by government. </p><iframe frameborder=\"0\"
        height=\"413\" width=\"680\" src=\"https://www.youtube.com/embed/oZ0_U108aZw\">&lt;span
        id=\"XinhaEditingPostion\"&gt;&lt;/span&gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
        id=\"XinhaEditingPostion\"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
        id=\"XinhaEditingPostion\"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
        id=\"XinhaEditingPostion\"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
        </iframe><h2>Money advice </h2><p>Our free and impartial money advice is available
        <a title=\"website\" href=\"https://www.moneyadviceservice.org.uk/\">online</a>,
        over the phone (Tel. 0300 500 5000) and by web-chat, in <a title=\"guides\"
        href=\"https://www.moneyadviceservice.org.uk/en/categories/free-printed-guides\">printed
        guides</a>, and <a title=\"face to face\" href=\"https://www.moneyadviceservice.org.uk/en/static/contact-us\">face
        to face</a> through a UK-wide[...]
