---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/static/privacy.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/static/privacy> rel="alternate";
        hreflang="en-GB"; title="Privacy policy", <https://www.moneyadviceservice.org.uk/cy/static/polisipreifatrwydd>
        rel="alternate"; hreflang="cy-GB"; title="Polisi preifatrwydd"
      X-Session-Id:
      - f25e2deb8c047a2642f73a3a2f2b4458
    body:
      encoding: UTF-8
      string: '{"id":"privacy","title":"Privacy policy","description":"Personal information
        We regard the privacy of our users as very important and any personal information
        which you provide to us will be dealt with in a ...","body":"<h2>Personal
        information </h2><p>We regard the privacy of our users as very important and
        any personal information which you provide to us will be dealt with in accordance
        with our terms and conditions. This includes information you give us when
        using our telephone the Money Advice Line, face-to-face appointment service
        and this website including the \u2018web-chat\u2019 facility. </p><p>Any personal
        information you provide to us will be treated in accordance with the Data
        Protection Act 1998. We will not try to sell you anything and you will not
        receive unsolicited telephone calls or mail from us or any third parties as
        a result of personal data being provided to us. </p><h2>What personal information
        do we collect? </h2><p>We may collect and use the following information: </p><ul><li>your
        name and contact information (including e-mail address) and any other contact
        details you provide to us when you submit a query via this website</li><li>information
        you provide if you report a problem with this website</li><li>records of any
        correspondence when you contact us, and</li><li>details of your visits to
        the website including information about your online activity on the website,
        such as the web pages you visit, the links you click, [...]
