---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/action_plans/sut-i-agor-cyfrif-banc.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/cy/action_plans/sut-i-agor-cyfrif-banc>
        rel="alternate"; hreflang="cy-GB"; title="Cynllun gweithredu - Sut i agor
        cyfrif banc", <https://www.moneyadviceservice.org.uk/en/action_plans/how-to-open-a-bank-account>
        rel="alternate"; hreflang="en-GB"; title="Action plan - How to open a bank
        account"
      X-Session-Id:
      - e8cb58f5179f020e35141f3854dd7f18
    body:
      encoding: UTF-8
      string: '{"id":"sut-i-agor-cyfrif-banc","title":"Cynllun gweithredu - Sut i
        agor cyfrif banc","description":"Dysgwch sut i agor y cyfrif banc mwyaf addas
        i chi. Edrychwch ar y cynllun gweithredu hwn er mwyn cymharu cyfrifon banc
        a dewis yr opsiwn mwyaf priodol i chi.","body":"<p class=\"intro\"><img src=\"/images/new_action_plan_icon.jpg\"/>Dilynwch
        y camau hyn i ddewis ac agor cyfrif banc sy\u2019n gywir i chi. </p><div class=\"action-item\"><h3>Cymharwch
        gyfrifon i gael yr un gorau i chi </h3><div class=\"collapsable\"><div class=\"why\"><h4>Pam?
        </h4><p>Mae cryn amrywiaeth rhwng ffioedd, taliadau a llog cyfrifon banc felly
        mae\u2019n bwysig dewis cyfrif sy\u2019n addas ar gyfer y ffordd rydych yn
        rheoli\u2019ch arian. </p></div><div class=\"how\"><h4>Sut? </h4><ul><li><a
        href=\"https://www.moneyadviceservice.org.uk/cy/articles/sut-mae-dewis-y-cyfrif-banc-cywir\">Gwiriwch
        ein canllaw Sut i ddewis y cyfrif banc cywir</a></li><li><a title=\"Cymharu
        cyfrifon cyfredol\" href=\"https://compare.moneyadviceservice.org.uk/currentaccounts/Step1?language=cy\">Defnyddiwch
        ein tabl cymharu cyfrifon cyfredol diduedd i gymharu cost cyfrifon.</a></li></ul></div></div></div><div
        class=\"action-item\"><h3>Penderfynwch p\u2019un a ydych e[...]
