<div class="l-constrained">

  <div class="home-buying-checklist-top">
    <div class="l-1col">
      <h1>Your home-buying costs checklist</h1>
    </div>
    <div class="home-buying-checklist__top-content">
      <div class="home-buying-checklist__top-content-text">
        <p>Buying a new home isn’t just about saving for a deposit and securing a mortgage. There are lots of other costs associated with buying a home that you might not have thought of, and they add up to thousands of pounds.</p>
        <p>This checklist lets you estimate how much it’ll cost you to buy your new home so you can put aside what you need to make your move as smooth as possible.</p>
      </div>
      <div class="home-buying-checklist__top-content-video">
        <iframe width="100%" height="200px" src="https://www.youtube.com/embed/jfaZQBCzY44" frameborder="0" allowfullscreen title="Video: The total cost of buying a home"></iframe>
      </div>

      <div class="home-buying-checklist__collapsable">
        <p class="collapsable__trigger" data-dough-component="Collapsable" data-dough-collapsable-trigger="how-it-works">
          How to use this checklist
        </p>

        <div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="how-it-works">
          <p>We’ve listed each fee and put an average cost against it, based on a home price of £250,000. This gives you an idea of how much each charge will be.</p>
          <p>You can then type in the costs for your new property, check you’re not paying too much, and then our checklist will add it all together so you know how much you’ll need. You can also download the checklist or email it to yourself to use later or send to a partner or friend.</p>
        </div>
      </div>
    </div>
    <div class="l-1col">
      <h2>Work out your upfront costs before you buy your home</h2>
    </div>
  </div>

  <form action="">
    <div class="home-buying-checklist__form" data-dough-component="HomeBuyingChecklist">

      <div class="home-buying-checklist__form-header">
        <div class="home-buying-checklist__form-header-left">
          <p>Fees and costs</p>
        </div>
        <div class="home-buying-checklist__form-header-center">
          <p>Description <br />(averages based on a property value of £250,000)</p>
        </div>
        <div class="home-buying-checklist__form-header-right">
          <p>Estimated cost for your home</p>
        </div>
      </div>

      <div class="home-buying-checklist__form-row">
        <div class="home-buying-checklist__form-left">
          <div class="home-buying-checklist__form-label">
            Deposit
          </div>
        </div>

        <div class="home-buying-checklist__form-center">
          <div class="home-buying-checklist__form-description" data-dough-component="PopupTip">
            <p>A down payment to buy your first home. You’ll need at least 5% of the home value, but larger deposits of around 20% will get you better mortgage options.</p>

            <p>
              Average deposit: £12,500 - £50,000
              <button data-dough-popup-trigger type="button" class="popup-tip__button">
                i
              </button>
            </p>

        
            <div data-dough-popup-content class="popup-tip__content">
              Average costs based on a property value of £250,000.
              <button data-dough-popup-close type="button" class="popup-tip__close">
                <span aria-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--mobile-close-box">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
                  </svg>
                </span>
                <span class="visually-hidden">Close</span>
              </button>
            </div>

            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">Read more about deposits</a>
            </div>
          </div>
        </div>

        <div class="home-buying-checklist__form-right">
          £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-deposit>
          <div class="home-buying-checklist__callout-inactive" data-dough-input-message>
            <div class="callout">
              <p>Your deposit will be 5% - 20% of your property value.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="home-buying-checklist__form-row">
        <div class="home-buying-checklist__form-left">
          <div class="home-buying-checklist__form-label">
            Stamp Duty
          </div>
        </div>

        <div class="home-buying-checklist__form-center">
          <div class="home-buying-checklist__form-description" data-dough-component="PopupTip">
            <p>A tax paid on homes costing over £125,000. If your home costs more, you’ll pay stamp duty of 2% to 12%, depending on the property’s value.</p>
            <p>
              Average stamp duty cost: £2,500
              <button data-dough-popup-trigger type="button" class="popup-tip__button">i</button>
            </p>
            
            <div data-dough-popup-content class="popup-tip__content">
              Average cost based on a property value of £250,000.
              <button data-dough-popup-close type="button" class="popup-tip__close">
                <span aria-hidden="true">
                <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--mobile-close-box">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
                </svg>
                </span>
                <span class="visually-hidden">Close</span>
              </button>
            </div>

            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">More information about Stamp Duty</a>
            </div>
            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/tools/house-buying/stamp-duty-calculator">Find your cost with our Stamp Duty calculator</a>
            </div>
          </div>
        </div>

        <div class="home-buying-checklist__form-right">
          £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-stamp>
          <div class="home-buying-checklist__callout-inactive" data-dough-input-message>
            <div class="callout">
              <p>Your Stamp Duty cost depends on your house value. You can find the cost with our <a href="https://www.moneyadviceservice.org.uk/en/tools/house-buying/stamp-duty-calculator">Stamp Duty calculator</a>.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="home-buying-checklist__form-row">
        <div class="home-buying-checklist__form-left">
          <div class="home-buying-checklist__form-label">
            Valuation fee
          </div>
        </div>

        <div class="home-buying-checklist__form-center">
          <div class="home-buying-checklist__form-description" data-dough-component="PopupTip">
            <p>A fee you pay to your mortgage lender for assessing the value of the property. They use the value to work out how much they’re prepared to lend you. The cost varies according to the property value and the lender you use.</p>
            <p>Average fee: £150 - £1,500
              <button data-dough-popup-trigger type="button" class="popup-tip__button">i</button>
            </p>

            <div data-dough-popup-content class="popup-tip__content">
              Average cost based on a property value of £250,000. Fees also vary between lenders.
              <button data-dough-popup-close type="button" class="popup-tip__close">
                <span aria-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--mobile-close-box">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
                  </svg>
                </span>
                <span class="visually-hidden">Close</span>
              </button>
            </div>
            
            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">Find out more about valuation fees</a>
            </div>
          </div>
        </div>

        <div class="home-buying-checklist__form-right">
          £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-valuation>
          <div class="home-buying-checklist__callout-inactive" data-dough-input-message>
            <div class="callout">
              <p>The valuation fee is around £150 - £1,500 on average, but varies depending on your property’s value.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="home-buying-checklist__form-row">
        <div class="home-buying-checklist__form-left">
          <div class="home-buying-checklist__form-label">
            Surveyors fee
          </div>
        </div>

        <div class="home-buying-checklist__form-center">
          <div class="home-buying-checklist__form-description">
            <p>A payment to a structural surveyor to check for any building issues or structural problems with the property. Fees vary depending on what type of survey you choose.</p>
            <p>Average fee: £250 - £600</p>
            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">Surveyors fees further information</a>
            </div>
          </div>
        </div>

        <div class="home-buying-checklist__form-right">
          £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-surveyors>
          <div class="home-buying-checklist__callout-inactive" data-dough-input-message>
            <div class="callout">
              <p>The average surveyors fee is £250 - £600 but depends on the survey you choose.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="home-buying-checklist__form-row">
        <div class="home-buying-checklist__form-left">
          <div class="home-buying-checklist__form-label">
            Legal fee (Conveyancing fee)
          </div>
        </div>

        <div class="home-buying-checklist__form-center">
          <div class="home-buying-checklist__form-description" data-dough-component="PopupTip">
            <p>Fees you pay to a solicitor or conveyancer for carrying out the legal work for your home purchase.</p>
            <p>
              Average fee: £850 - £1,500
              <button data-dough-popup-trigger type="button" class="popup-tip__button">i</button>
            </p>
            
            <div data-dough-popup-content class="popup-tip__content">
              Average cost based on a property value of £250,000.
              <button data-dough-popup-close type="button" class="popup-tip__close">
                <span aria-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--mobile-close-box">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
                  </svg>
                </span>
                <span class="visually-hidden">Close</span>
              </button>
            </div>
            
            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">Read more about legal fees</a>
            </div>
          </div>
        </div>

        <div class="home-buying-checklist__form-right">
          £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-legal>
          <div class="home-buying-checklist__callout-inactive" data-dough-input-message>
            <div class="callout">
              <p>Legal fees are £850 - £1,500 on average but depend on your property’s value.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="home-buying-checklist__form-row">
        <div class="home-buying-checklist__form-left">
          <div class="home-buying-checklist__form-label">
            Local searches costs
          </div>
        </div>

        <div class="home-buying-checklist__form-center">
          <div class="home-buying-checklist__form-description">
            <p>A charge from your solicitor or conveyancer for carrying out a check to find out if there are any local plans or problems in the area that could affect your property’s value in the future.</p>
            <p>Average cost: £300</p>
            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">Find out more</a>
            </div>
          </div>
        </div>

        <div class="home-buying-checklist__form-right">
          £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-local>
          <div class="home-buying-checklist__callout-inactive" data-dough-input-message>
            <div class="callout">
              <p>The average cost for carrying out local searches is £300.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="home-buying-checklist__form-row">
        <div class="home-buying-checklist__form-left">
          <div class="home-buying-checklist__form-label">
            Electronic transfer fee
          </div>
        </div>

        <div class="home-buying-checklist__form-center">
          <div class="home-buying-checklist__form-description">
            <p>A fee to transfer the mortgage money electronically from your lender to the solicitor when you complete your purchase.</p>
            <p>Average fee: £50</p>
            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">More information</a>
            </div>
          </div>
        </div>

        <div class="home-buying-checklist__form-right">
          £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-electronic>
          <div class="home-buying-checklist__callout-inactive" data-dough-input-message>
            <div class="callout">
              <p>The average electronic transfer fee is £50.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="home-buying-checklist__form-row">
        <div class="home-buying-checklist__form-left">
          <div class="home-buying-checklist__form-label">
            Removal costs
          </div>
        </div>

        <div class="home-buying-checklist__form-center">
          <div class="home-buying-checklist__form-description">
            <p>The cost of hiring a removals company to help you move your possessions, or of hiring a van.</p>
            <p>Average removal costs: £300 - £600</p>
            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">Further information</a>
            </div>
          </div>
        </div>

        <div class="home-buying-checklist__form-right">
          £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-removal>
          <div class="home-buying-checklist__callout-inactive" data-dough-input-message>
            <div class="callout">
              <p>The average amount spent on removal costs is £300 - £600.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="home-buying-checklist__form-row">
        <div class="home-buying-checklist__form-left">
          <div class="home-buying-checklist__form-label">
            Mortgage fee
          </div>
        </div>

        <div class="home-buying-checklist__form-center">
          <div class="home-buying-checklist__form-description">
            <p>A fee you pay to your lender for arranging the mortgage. It can also be called a product fee, booking fee or application fee. Fee sizes vary depending on your mortgage.</p>
            <p>Average fee: £100 – £2,250</p>
            <div class="home-buying-checklist__form-description--link">
              <a href="https://www.moneyadviceservice.org.uk/en/articles/estimate-your-overall-buying-and-moving-costs">Read more</a>
            </div>
          </div>
        </div>

        <div class="home-buying-checklist__form-right">
          £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-mortgage>
          <div class="home-buying-checklist__callout-inactive" data-dough-input-message>
            <div class="callout">
              <p>The average mortgage fee is £100 - £2,250 but varies depending on your mortgage.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="home-buying-checklist__form-row--gray">
        <div class="home-buying-checklist__form-results-left">
          <div class="home-buying-checklist__form-label">
            Your total upfront cost:
          </div>
        </div>

        <div class="home-buying-checklist__form-results-right">
          £ <input type="number" class="home-buying-checklist__form-input--green" data-dough-input-result>
        </div>
      </div>
    </div>
  </form>
</div>
