<div class="l-constrained">

	<div class="home-buying-checklist-top">
	  <div class="l-1col">
			<h1>Your home-buying costs checklist</h1>
    </div>
			<div class="home-buying-checklist__top-content">
				<div class="home-buying-checklist__top-content-text">
					<p>Buying a new home isn’t just about saving for a deposit and securing a mortgage. There are lots of other costs associated with buying a home that you might not have thought of or even heard of, and they add up to thousands of pounds.</p>
          <p>This tool lets you estimate how much it’ll cost you to buy your new home so you can put aside what you need to make your move as smooth as possible.</p>
			  </div>
				<div class="home-buying-checklist__top-content-video">
					<p>Video</p>
				</div>

        <div class="home-buying-checklist__collapsable">
					<p class="collapsable__trigger" data-dough-component="Collapsable" data-dough-collapsable-trigger="how-it-works">
					  How it works
					</p>

					<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="how-it-works">
					  <p>Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.</p>
					</div>
			  </div>
			</div>
	</div>

		<form action="">
			<div class="home-buying-checklist__form" data-dough-component="HomeBuyingChecklist">

			  <div class="home-buying-checklist__form-header">
		      <div class="home-buying-checklist__form-header-left">
		      	<p>Type of cost</p>
		      </div>
		      <div class="home-buying-checklist__form-header-center">
		      	<p>Cost description <br />(average fees below are based on a £250,000 property)</p>
		      </div>
		      <div class="home-buying-checklist__form-header-right">
	          <p>Calculate your upfront cost <br /> (based on the price of your property)</p>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row">
		      <div class="home-buying-checklist__form-left">
		      	<div class="home-buying-checklist__form-label">
		      		Deposit
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-center">
		      	<div class="home-buying-checklist__form-description">
			      	You will need at least 5% to 20% of the purchase price of the property for a deposit. Average deposit £10,896 - £43,585
    	        <div class="home-buying-checklist__collapsable">
								<p class="home-buying-checklist__collapsable-trigger icon-info" data-dough-component="Collapsable" data-dough-collapsable-trigger="deposit">
								  i
								</p>
								<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="deposit">
								  Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.
								</div>
						  </div>
			      	<div class="home-buying-checklist__form-description--link">
			      		<a href="#">find out more</a>
			      	</div>
		        </div>
		      </div>

		      <div class="home-buying-checklist__form-right">
			      £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-deposit>
	          <div class="home-buying-checklist__callout-inactive" data-dough-input-message-deposit>
		          <div class="callout">
		            <p>Tri-tip pork belly ball tip, spare ribs leberkas tenderloin ham shoulder meatloaf pancetta.</p>
		          </div>
            </div>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row">
		      <div class="home-buying-checklist__form-left">
		      	<div class="home-buying-checklist__form-label">	
		      	  Stamp duty
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-center">
		      	<div class="home-buying-checklist__form-description">
			      	A tax paid on homes costing over £125,000. If your home costs more than this, you’ll pay stamp duty of between 2% and 12%, depending on your property’s value. Average stamp duty £1,858,56
    	        <div class="home-buying-checklist__collapsable">
								<p class="home-buying-checklist__collapsable-trigger icon-info" data-dough-component="Collapsable" data-dough-collapsable-trigger="stamp-duty">
								  i
								</p>
								<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="stamp-duty">
								  Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.
								</div>
						  </div>
			      	<div class="home-buying-checklist__form-description--link">
			      		<a href="#">find out more</a>
			      	</div>
		        </div>
		      </div>

		      <div class="home-buying-checklist__form-right">
			      £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-stamp>
	          <div class="home-buying-checklist__callout-inactive" data-dough-input-message-stamp>
		          <div class="callout">
		            <p>Shankle prosciutto picanha pancetta turducken, drumstick filet mignon turkey short loin hamburger doner.</p>
		          </div>
            </div>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row">		    	
		      <div class="home-buying-checklist__form-left">
		      	<div class="home-buying-checklist__form-label">	
		      	  Mortgage fee
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-center">
		      	<div class="home-buying-checklist__form-description">
			      	A fee you pay to your lender for arranging the mortgage. It can also be called a product fee, booking fee or application fee. Average fee £99 - £2,250
    	        <div class="home-buying-checklist__collapsable">
								<p class="home-buying-checklist__collapsable-trigger icon-info" data-dough-component="Collapsable" data-dough-collapsable-trigger="mortgage-fee">
								  i
								</p>
								<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="mortgage-fee">
								  Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.
								</div>
						  </div>
			      	<div class="home-buying-checklist__form-description--link">
			      		<a href="#">find out more</a>
			      	</div>
		        </div>
		      </div>

		      <div class="home-buying-checklist__form-right">
			      £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-mortgage>
	          <div class="home-buying-checklist__callout-inactive" data-dough-input-message-mortgage>
		          <div class="callout">
		            <p>Shankle prosciutto picanha pancetta turducken, drumstick filet mignon turkey short loin hamburger doner.</p>
		          </div>
            </div>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row">		    	
		      <div class="home-buying-checklist__form-left">
		      	<div class="home-buying-checklist__form-label">	
		      	  Valuation fee
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-center">
		      	<div class="home-buying-checklist__form-description">
			      	A fee you pay to your mortgage lender for assessing the value of the property. They use the value to work out how much they’re prepared to lend you. Average fee £150 - £1,500
    	        <div class="home-buying-checklist__collapsable">
								<p class="home-buying-checklist__collapsable-trigger icon-info" data-dough-component="Collapsable" data-dough-collapsable-trigger="valuation-fee">
								  i
								</p>
								<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="valuation-fee">
								  Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.
								</div>
						  </div>
			      	<div class="home-buying-checklist__form-description--link">
			      		<a href="#">find out more</a>
			      	</div>
		        </div>
		      </div>

		      <div class="home-buying-checklist__form-right">
			      £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-valuation>
	          <div class="home-buying-checklist__callout-inactive" data-dough-input-message-valuation>
		          <div class="callout">
		            <p>Strip steak brisket pig beef sausage. Tail ham hock boudin frankfurter, beef ribs tongue burgdoggen andouille brisket shoulder cupim strip steak.</p>
		          </div>
            </div>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row">		    	
		      <div class="home-buying-checklist__form-left">
		      	<div class="home-buying-checklist__form-label">	
		      	  Surveyors fee
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-center">
		      	<div class="home-buying-checklist__form-description">
			      	A fee you pay to a structural surveyor to check for any building issues or structural problems with the property. Fees vary depending on what type of survey you go for. Average fee £250 - £600
    	        <div class="home-buying-checklist__collapsable">
								<p class="home-buying-checklist__collapsable-trigger icon-info" data-dough-component="Collapsable" data-dough-collapsable-trigger="surveyors-fee">
								  i
								</p>
								<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="surveyors-fee">
								  Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.
								</div>
						  </div>
			      	<div class="home-buying-checklist__form-description--link">
			      		<a href="#">find out more</a>
			      	</div>
		        </div>
		      </div>

		      <div class="home-buying-checklist__form-right">
			      £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-surveyors>
	          <div class="home-buying-checklist__callout-inactive" data-dough-input-message-surveyors>
		          <div class="callout">
		            <p>Cupim salami spare ribs venison doner meatball rump, pork loin ribeye andouille jowl turkey.</p>
		          </div>
            </div>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row">		    	
		      <div class="home-buying-checklist__form-left">
		      	<div class="home-buying-checklist__form-label">	
		      	  Legal fee
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-center">
		      	<div class="home-buying-checklist__form-description">
			      	Fees you pay to a solicitor or a conveyancer for carrying out the legal work for your house purchase. Average fee £850-£1500
    	        <div class="home-buying-checklist__collapsable">
								<p class="home-buying-checklist__collapsable-trigger icon-info" data-dough-component="Collapsable" data-dough-collapsable-trigger="legal-fee">
								  i
								</p>
								<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="legal-fee">
								  Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.
								</div>
						  </div>
			      	<div class="home-buying-checklist__form-description--link">
			      		<a href="#">find out more</a>
			      	</div>
		        </div>
		      </div>

		      <div class="home-buying-checklist__form-right">
			      £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-legal>
	          <div class="home-buying-checklist__callout-inactive" data-dough-input-message-legal>
		          <div class="callout">
		            <p>Porchetta capicola sausage, turkey tail ham pig cow burgdoggen turducken.</p>
		          </div>
            </div>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row">		    	
		      <div class="home-buying-checklist__form-left">
		      	<div class="home-buying-checklist__form-label">	
		      	  Local searches
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-center">
		      	<div class="home-buying-checklist__form-description">
			      	A fee you pay to your solicitor or conveyancer for carrying out a check to find out if there are any local plans or problems in the area that could affect your property’s value in the future. Average cost £250 - £300
    	        <div class="home-buying-checklist__collapsable">
								<p class="home-buying-checklist__collapsable-trigger icon-info" data-dough-component="Collapsable" data-dough-collapsable-trigger="local-searches">
								  i
								</p>
								<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="local-searches">
								  Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.
								</div>
						  </div>
			      	<div class="home-buying-checklist__form-description--link">
			      		<a href="#">find out more</a>
			      	</div>
		        </div>
		      </div>

		      <div class="home-buying-checklist__form-right">
			      £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-local>
	          <div class="home-buying-checklist__callout-inactive" data-dough-input-message-local>
		          <div class="callout">
		            <p>Biltong jowl beef, ball tip corned beef pancetta short ribs boudin kielbasa shankle cupim hamburger strip steak bresaola capicola.</p>
		          </div>
            </div>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row">		    	
		      <div class="home-buying-checklist__form-left">
		      	<div class="home-buying-checklist__form-label">	
		      	  Electronic transfer fee
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-center">
		      	<div class="home-buying-checklist__form-description">
			      	A fee to transfer the mortgage money electronically from your lender to the solicitor when you complete your purchase. Average fee £40-£50
    	        <div class="home-buying-checklist__collapsable">
								<p class="home-buying-checklist__collapsable-trigger icon-info" data-dough-component="Collapsable" data-dough-collapsable-trigger="electronic-transfer-fee">
								  i
								</p>
								<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="electronic-transfer-fee">
								  Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.
								</div>
						  </div>
			      	<div class="home-buying-checklist__form-description--link">
			      		<a href="#">find out more</a>
			      	</div>
		        </div>
		      </div>

		      <div class="home-buying-checklist__form-right">
			      £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-electronic>
	          <div class="home-buying-checklist__callout-inactive" data-dough-input-message-electronic>
		          <div class="callout">
		            <p>Landjaeger meatball beef ribs shoulder, kielbasa turkey brisket shankle pork drumstick sirloin pancetta beef leberkas porchetta.</p>
		          </div>
            </div>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row">		    	
		      <div class="home-buying-checklist__form-left">
		      	<div class="home-buying-checklist__form-label">	
		      	  Removal costs
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-center">
		      	<div class="home-buying-checklist__form-description">
			      	The cost of hiring a removals company to help you move your possessions, or of hiring a van. Average costs £300-£600
    	        <div class="home-buying-checklist__collapsable">
								<p class="home-buying-checklist__collapsable-trigger icon-info" data-dough-component="Collapsable" data-dough-collapsable-trigger="removal-costs">
								  i
								</p>
								<div class="home-buying-checklist__collapsable-target collapsable__target" data-dough-collapsable-target="removal-costs">
								  Tail prosciutto jerky, flank salami sirloin picanha ham swine landjaeger corned beef venison ball tip chuck burgdoggen. Andouille beef turducken pork belly t-bone flank leberkas.
								</div>
						  </div>
			      	<div class="home-buying-checklist__form-description--link">
			      		<a href="#">find out more</a>
			      	</div>
		        </div>
		      </div>

		      <div class="home-buying-checklist__form-right">
			      £ <input type="number" class="home-buying-checklist__form-input" data-dough-input-value data-dough-input-removal>
	          <div class="home-buying-checklist__callout-inactive" data-dough-input-message-removal>
		          <div class="callout">
		            <p>Prosciutto capicola kielbasa shoulder swine. Pancetta jerky pork loin sausage. Picanha shankle ham, bresaola kielbasa pancetta pastrami swine salami.</p>
		          </div>
            </div>
		      </div>
		    </div>

		    <div class="home-buying-checklist__form-row--gray">
		      <div class="home-buying-checklist__form-results-left">
		      	<div class="home-buying-checklist__form-label">	
		      		Your total upfront cost:
		      	</div>
		      </div>

		      <div class="home-buying-checklist__form-results-right">
			      £ <input type="number" class="home-buying-checklist__form-input--green" data-dough-input-result>
		      </div>
		    </div>

			</div>
    </form>

</div>
