<div class="pagination">
  <a class="button button--compact">
    <span class="icon icon--left-chevron"></span>
    <span class="button--compact__text">Prev<span class="visually-hidden">ious page</span></span>
  </a>

  <p class="pagination__counter">Page 3 of 12</p>

  <a class="button button--compact">
    <span class="button--compact__text">Next <span class="visually-hidden">page</span></span>
    <span class="icon icon--right-chevron"></span>
  </a>
</div>
