<% content_for :heading do %>
    <h1>CSS Styleguide</h1>
<% end %>

<% content_for :sidebar do %>
    <ul>
      <li>CSS Coding Standards</li>
      <li>Style Guide</li>
      <li>Utilities</li>
      <li>Components</li>
      <li>Layouts</li>
      <li>Form demo</li>
      <li>Article demo</li>
    </ul>
<% end %>