<h1>Page demonstrating all CMS components</h1>
<p class="intro">The CMS has predefined components which the editorial team can
  use to build CMS pages. This pages contains all components available to build
  articles, action plans and static pages.
</p>

<hr/>

<div class="editorial">
  <%= render 'styleguide/shared/guide' %>
  <%= render 'styleguide/shared/action_plan' %>
  <%= render 'styleguide/shared/static' %>
</div>