<h1>CSS Styleguide</h1>

<h2>CSS Naming Convention</h2>
As a team we have decided on the following naming convention

<%= css do %>
  /* Component */
  .componentName {}

  /* Component modifier */
  .componentName--modifierName {}

  /* Component descendant */
  .componentName-descendant {}

  /* Component descendant modifier */
  .componentName-descendant--modifierName {}

  /* Component state (scoped to component) */
  .componentName.is-stateOfComponent {}

  /* Utility */
  .u-utilityName {}

  /* Non-styled JavaScript hooks */
  .js-someName {}
<% end %>


<p><strong>CSS must not use <code>id</code> or <code>js-*</code> classes in selectors.</strong></p>

<p>The <code>id</code> attribute and <code>js-*</code> class names are reserved for JavaScript-only use.</p>

<p>The example below includes a dedicated JavaScript utility class to which behaviour is bound. It is independent of
  any specific UI component.</p>

<%= html do %>
  <a class="js-showProfile" data-username="necolas" href="{url}">...</a>
<% end %>

<p>The HTML element has a <code>.no-js</code> class which is replaced with <code>.js</code> for browsers that js enabled
  and pass our criteria for a browser that we want to provide javascript support for. This enables to provide different
  styles for javascript and non-javascript experiences. <code>.no-js</code> can be utilsed to prevent the javascript
  version having to override the non-javascript version but does not have to be used.</p>

<%= css do %>
  /* style non-javascript version of componenet */
  .no-js .componentName {

  }

  /* style javascript version of componenet */
  .js .componentName {

  }
<% end %>


<h2>CSS Lint Configuration</h2>
<p>We use <a href="http://csslint.net/">CSS Lint</a> to perform static analysis of our compiled CSS to enforce good
  practice. CSS Lint comes with predefined <a href="https://github.com/stubbornella/csslint/wiki/Rules">rules</a> which can either be errors, warnings or ignored. Errors will fail the
  build and therefore require fixing. Warnings suggest that there may be an issue with the CSS so developers are expected
  to check warnings and confirm that they are ok to be used.</p>

<p>This is how we have our configuration file set:</p>
<%= yaml do %>
  css:
    errors:
    - important
    - known-properties
    - errors
    - duplicate-background-images
    - duplicate-properties
    - empty-rules
    - fallback-colors
    - font-faces
    - star-property-hack
    - import
    - ids
    - underscore-property-hack
    - shorthand
    - text-indent
    - vendor-prefix
    - zero-units
    warnings:
    - overqualified-elements
    - display-property-grouping
    - bar
    - regex-selectors
    - selector-max-approaching
    - font-sizes
    - floats
    - outline-none
    - qualified-headings
    - unique-headings
    - universal-selector
    - unqualified-attributes
    off:
    - adjoining-classes
    - box-sizing
    - box-model
    - bulletproof-font-face
    - compatible-vendor-prefixes
    - gradients
<% end %>

<p>For information about each rule check the <a href="https://github.com/stubbornella/csslint/wiki/Rules">documentation</a></p>

