<h1>
  Welcome to the Money Advice Service
</h1>

<ul>
    <li>Free, unbiased, independent money advice</li>
    <li>Set up by government</li>
    <li>Help online, over the phone or in person</li>
</ul>


<a href="/foo">This is a default link</a>

<p>This is a temporary landing page, set up as a first iteration for testing purposes. It is a fully responsive landing page with some basic functionality and styling.</p>




<h2>Class and utilities</h2>

<%= styleguide_section sections['specialList'] do %>
  <ul class="specialList">
      <li>Free, unbiased, independent money advice</li>
      <li>Set up by government</li>
      <li>Help online, over the phone or in person</li>
  </ul>
<% end %>


<%= styleguide_section sections['u-visuallyhidden'] do %>
  <span class="u-visuallyhidden">Text to visually hide</span> Text to display
<% end %>