<h1>Forms</h1>


<h2>Fieldsets, Legends, and Form Elements</h2>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>

<form class="form" novalidate>

  <div class="form__row">
    <label for="text_field" class="form__label-heading">Text Field</label>
    <input type="text" id="text_field">
  </div>

  <div class="form__row">
    <label for="text_field_hint" class="form__label-heading">Text Field with hint</label>
    <input type="text" id="text_field_hint" aria-describedby="f">
    <p class="form__hint" id="frmhint1">e.g. 01/01/1970</p>
  </div>

  <div class="form__row">
    <label for="disabled" class="form__label-heading">Disabled Text Field</label>
    <input type="text" id="disabled" value="Some disabled text" disabled>
  </div>

  <div class="form__row">
    <label for="text_area" class="form__label-heading">Text Area</label>
    <textarea id="text_area"></textarea>
  </div>

  <div class="form__row">
    <label for="select_element" class="form__label-heading">Select Element</label>
    <select name="select_element" id="select_element">
      <optgroup label="Option Group 1">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </optgroup>
      <optgroup label="Option Group 2">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </optgroup>
    </select>
  </div>

  <div class="form__row">
    <fieldset class="form__group">
      <legend>Form group (default)</legend>
      <div class="form__group-item">
        <label>
          <input class="form__group-input" name="fsitem1" type="checkbox">
          This is the first option
        </label>
      </div>
      <div class="form__group-item">
        <label>
          <input class="form__group-input" name="fsitem1" type="checkbox">
          This is another option
        </label>
      </div>
      <div class="form__group-item">
        <label>
          <input class="form__group-input" checked name="fsitem1" type="checkbox">
          Here’s a third option
        </label>
      </div>
    </fieldset>
  </div>

  <div class="form__row">
    <fieldset class="form__group form__group--inline">
      <legend>Form group (inline)</legend>
      <div class="form__group-item">
        <label>
          <input checked type="radio" name="fsitem2" class="form__group-input">
          This option
        </label>
      </div>
      <div class="form__group-item">
        <label>
          <input type="radio" name="fsitem2" class="form__group-input">
          Or this option
        </label>
      </div>
      <div class="form__group-item">
        <label>
          <input type="radio" name="fsitem2" class="form__group-input">
          Or this option
        </label>
      </div>
    </fieldset>
  </div>

  <div class="form__row">
    <label class="form__label-heading" for="input4" id="form-label4">Inset label (single)</label>
    <span class="form__input-container">
      <span class="form__input-label" id="input-label4a">&pound;</span>
      <input id="input4" class="form__input" type="text" aria-labelledby="form-label4 input-label4a input-label4b">
      <span class="form__input-outline"></span>
    </span>
  </div>

  <div class="form__row">
    <label class="form__label-heading" for="input3" id="form-label3">Inset label (multiple)</label>
    <span class="form__input-container">
      <span class="form__input-label" id="input-label3a">APR</span>
      <input id="input3" class="form__input" type="text" aria-labelledby="form-label3 input-label3a input-label3b">
      <span class="form__input-label" id="input-label3b">%</span>
      <span class="form__input-outline"></span>
    </span>
  </div>

  <div class="form__row">
    <p>Inset label - (with label included as part of the input)</p>
    <label class="form__label-heading" for="input6" id="form-label6">
      <span class="form__input-container">
        <span class="form__input-label" id="input-label6">APR</span>
        <input id="input6" class="form__input" type="text" aria-labelledby="form-label6 input-label6">
        <span class="form__input-outline"></span>
      </span>
    </label>
  </div>

  <h3>HTML5-specific Form Elements</h3>

  <div class="form__row">
    <label for="email" class="form__label-heading">Email</label>
    <input type="email" id="email">
  </div>

  <div class="form__row">
    <label for="number" class="form__label-heading">Number (with <code>type="text"</code> and <code>pattern</code> attribute)</label>
    <input id="number" type="text" min="0" max="100000" step="1" value="5" pattern="\d*">
  </div>

  <div class="form__row">
    <label for="search" class="form__label-heading">Search</label>
    <input type="search" id="search">
  </div>

  <div class="form__row">
    <input class="button" type="reset" value="Clear">
    <input class="button button--primary" type="submit" value="Submit">
  </div>

</form>

<h2>Errors</h2>

<div class="validation-summary">
  <div class="validation-summary__content-container">
    <p class="validation-summary__title">
      1 error
      prevented calculation:
    </p>
    <ol class="validation-summary__list">
      <li>
        <a href="#savings_goal-errors">Your savings goal can't be blank</a>
      </li>
    </ol>
  </div>
</div>

<div class="form__row is-errored">
  <div id="savings_goal-errors">
    <p>1. Your savings goal can't be blank</p>
  </div>
  <label class="form__label-heading" for="input4" id="form-label4">What is your savings goal?</label>
    <span class="form__input-container">
      <span class="form__input-label" id="input-label4a">£</span>
      <input id="input4" class="form__input" type="text" aria-labelledby="form-label4 input-label4a input-label4b">
      <span class="form__input-outline"></span>
    </span>
</div>
