<h1>Forms</h1>


<h1>Fieldsets, Legends, and Form Elements</h1>

<fieldset>
  <legend>Legend</legend>

  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>

  <form novalidate>
    <h2>Form Element</h2>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.</p>

    <p><label for="text_field">Text Field:</label><br />
    <input class="form__input" type="text" id="text_field" /></p>

    <p><label for="text_area">Text Area:</label><br />
    <textarea id="text_area"></textarea></p>

    <p><label for="select_element">Select Element:</label><br />
      <select name="select_element">
      <optgroup label="Option Group 1">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </optgroup>
      <optgroup label="Option Group 2">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </optgroup>
    </select></p>

    <p><label for="radio_buttons">Radio Buttons:</label><br />
      <input class="form__input" type="radio" class="radio" name="radio_button" value="radio_1" /> Radio 1<br/>
      <input class="form__input" type="radio" class="radio" name="radio_button" value="radio_2" /> Radio 2<br/>
      <input class="form__input" type="radio" class="radio" name="radio_button" value="radio_3" /> Radio 3<br/>
    </p>

    <p><label for="checkboxes">Checkboxes:</label><br />
      <input class="form__input" type="checkbox" class="checkbox" name="checkboxes" value="check_1" /> Radio 1<br/>
      <input class="form__input" type="checkbox" class="checkbox" name="checkboxes" value="check_2" /> Radio 2<br/>
      <input class="form__input" type="checkbox" class="checkbox" name="checkboxes" value="check_3" /> Radio 3<br/>
    </p>

    <p><label for="password">Password:</label><br />
      <input class="form__input" type="password" class="password" name="password" />
    </p>



    <h3>HTML5-specific Form Elements</h3>

    <p><label for="email">Email:</label><br />
      <input class="form__input" type="email">
    </p>

    <p><label for="number">Number:</label><br />
      <input class="form__input" type="text" min="0" max="100000" step="1" value="5" pattern="\d*">
    </p>

    <p><label for="search">Search:</label><br />
      <input class="form__input" type="search">
    </p>

    <p><input class="button" type="reset" value="Clear" /> <input class="button" type="submit" value="Submit" />
    </p>

  </form>

</fieldset>
