<h1>HTML Styleguide</h1>

<h2>Site Header</h2>

<header class="l-header l-container">
  <img src="logo.png" width="100" height="200" alt="the Money Advice Service" />
</header>



<h2>Site Footer - Internal Links</h2>

<div class="l-footerSiteLinks l-container">
  <ul class="siteLinks">
    <li>
      <a href="">Cymraeg</a>
    </li>
  </ul>
</div>


<h2>Site Footer - Social Links</h2>

<footer class="l-footerSocialLinks l-container">

  <div class="l-splitStart">
    <a href="#">
      <span class="icon icon--masLogoSmall">
          <span class="u-visuallyHidden">Money Advice Service</span>
      </span>
    </a>
  </div>

  <div class="l-splitEnd">
    <ul class="socialLinks">

      <li>
        <a href="">
          <span class="icon icon--mas">
            <span class="u-visuallyHidden">YouTube</span>
          </span>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon icon--mas">
            <span class="u-visuallyHidden">Facebook</span>
          </span>
        </a>
      </li>

      <li>
        <a href="">
          <span class="icon icon--mas">
            <span class="u-visuallyHidden">Twitter</span>
          </span>
        </a>
      </li>

    </ul>
  </div>

</footer>