<h1>JavaScript Styleguide</h1>

<p>We are following the Airbnb <a href="https://github.com/moneyadviceservice/javascript">
  JavaScript Style Guide</a></p>

<p>To help automate that task you can configure your editor to automatically
  lint your code and warn you of any problems. If you are using IntelliJ / RubyMine / WebStorm
  as your editor you can configure it to use our JSHint configuration -
  <a href="https://github.com/moneyadviceservice/dough/blob/master/.jshintrc">
    https://github.com/moneyadviceservice/dough/blob/master/.jshintrc</a>
</p>
