
<div class="l-demoContainer test">
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
</div>

<div class="l-demoContainer test">
  <aside class="left">
    <h2>Col1 - left</h2>
  </aside>
  <div class="mid">
    <h1>Col2 - center</h1>
  </div>
  <aside class="right">
    <h2>Col3 - right</h2>
  </aside>
</div>