<h1>Layouts</h1>

<%= styleguide_section sections['layout-2col'] do %>
<div class="demo">
  <div class="l-container">
    <h2>2 columns small on left</h2>
    <div class="l-2col">
      <div class="l-2col-side"></div>
      <div class="l-2col-main"></div>
    </div>

    <h2>2 columns small on right</h2>
    <div class="l-2col">
      <div class="l-2col-side"></div>
      <div class="l-2col-main"></div>
    </div>
  </div>
</div>
<% end %>


<!-- 
<div class="l-demoContainer test">
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
  <aside class="col1"><h4>Col1 - left</h4></aside>
</div>

<div class="l-demoContainer test">
  <aside class="left">
    <h2>Col1 - left</h2>
  </aside>
  <div class="mid">
    <h1>Col2 - center</h1>
  </div>
  <aside class="right">
    <h2>Col3 - right</h2>
  </aside>
</div> -->