<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <h1>Give us your feedback</h1>

      <p>* Indicates required fields</p>

      <!--<div class="form__row">-->
        <!--<label for="disabled" class="form__label-heading">What is your feedback about?</label>-->
        <!--<input type="text" id="disabled" value="Feedback on technical issues" disabled="">-->
      <!--</div>-->

      <div class="form__row">
        <label for="email" class="form__label-heading">What were you trying to do? * <span class="visually-hidden">required</span></label>
        <textarea id="comment" aria-required="true"></textarea>
      </div>

      <div class="form__row">
        <label for="email" class="form__label-heading">What went wrong? * <span class="visually-hidden">required</span></label>
        <textarea id="comment" aria-required="true"></textarea>
      </div>

      <input class="button button--primary" type="submit" value="Submit feedback">

    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
