<div class="l-main">
  <main role="main">
    <h1>Leaving school or college</h1>

    <p class="intro">Help and advice on staying on in education, moving into work and paying your own
      way as a young adult</p>

    <%= render 'styleguide/shared/category_details' %>
  </main>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>
