<div class="l-search-results">
  <main>
    <h1><%= t('search_results_page.title') %> "Money" </h1>

    <div class="search-results__item">
      <h2>Let's talk about money</h2>

      <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
        have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about money.</p>
    </div>

    <div class="search-results__item">
      <h2>Money chat</h2>

      <p>Is the money taboo preventing you from making the most of your money? Become part of our campaign, and start
        your conversation today.</p>
    </div>

    <div class="search-results__item">
      <h2>Breaking down the money taboo</h2>

      <p>If the money taboo is preventing you from making the most of your money, it’s time to start talking.</p>
    </div>

    <%= render 'pagination' %>
  </main>
</div>
