<div class="l-1col">
  <section class="category-detail">
    <h1 class="category-detail__heading"><a href="">Teenage voices on first financial decisions</a></h1>

    <p class="intro intro--constrained">Hear what young people like you have to say about how they are making their
      first financial decisions and how they are coping with the pressures and opportunities this brings.</p>

    <ol class="category-detail__list category-detail__list--icons">
      <li><a href="/">How to set a savings goal</a></li>
      <li><a href="/">Planning your savings</a></li>
      <li><a href="/">Stocks shares ISAs and other popular investments</a></li>
      <li><a href="/">Planning your investments</a></li>
      <li><a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Endowments
        and other life insurance investments</a></li>
      <li><a href="/">Property investments</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/"><span class="icon icon--tool"></span></span><span class="visually-hidden">Tool</span>Alternative
        investments</a></li>
      <li><a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Choosing
        where to put your money</a></li>
      <li><a href="/">Cash savings options</a></li>
    </ol>
  </section>
</div>
