<main role="main">
  <div class="l-error-page-message">
    <h1>Sorry!</h1>

    <p>The page you were looking for was not found</p>

    <p>You might find what you’re looking for in one of the following sections.</p>
  </div>

  <%= render 'shared/directory', items: category_navigation %>
</main>
