<h1>Leaving school or college</h1>

<p class="intro intro--constrained">Help and advice on staying on in education, moving into work and paying your own
  way as a young adult</p>

<%= render 'styleguide/shared/category_details' %>
