<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <main role="main">
    <h2 class="heading-small"><a href="/en/">Free or fee: Does it makes sense to pay for a current account?</a></h2>
    <p class="smallprint">13 June 2014</p>
    <p>Tesco is the latest provider to throw its hat in the current account ring, with a new twist on paid-for accounts.
      Around 9 million of us pay a monthly fee for an account, but are they value for money?</p>
    <h2 class="heading-small"><a href="/en/">Free or fee: Does it makes sense to pay for a current account?</a></h2>
    <p class="smallprint">13 June 2014</p>
    <p>Tesco is the latest provider to throw its hat in the current account ring, with a new twist on paid-for accounts.
      Around 9 million of us pay a monthly fee for an account, but are they value for money?</p>
  </main>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
