<div class="l-1col">
  <h1>Managing your money</h1>

  <p class="intro intro--constrained">Saving and investing, borrowing and debt, homes and mortgages, insurance, pensions and retirement</p>
</div>

<div class="l-grid-max-3">
  <section class="category-detail category-detail--1 l-cell">
    <h2 class="category-detail__heading"><a href="">Managing your money better</a></h2>

    <ol class="category-detail__list">
      <li><a href="/">How to set a savings goal</a></li>
      <li><a href="/">Planning your savings</a></li>
      <li><a href="/">Stocks shares ISAs and other popular investments</a></li>
      <li><a href="/">Planning your investments</a></li>
      <li><a href="/">Endowments and other life insurance investments</a></li>
      <li><a href="/">Property investments</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Alternative investments</a></li>
      <li><a href="/">Choosing where to put your money</a></li>
      <li><a href="/">Cash savings options</a></li>
      <li><a href="/">Children and saving</a></li>
      <li><a href="/">Reviewing your savings and investments</a></li>
      <li><a href="/">Savings and investments to avoid</a></li>
      <li><a href="/">If things go wrong</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--2 l-cell">
    <h2 class="category-detail__heading"><a href="">How to review or reduce borrowing</h2>

    <ol class="category-detail__list">
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--3 l-cell">
    <h2 class="category-detail__heading"><a href="">Money saving tips</h2>

    <ol class="category-detail__list">
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--4 l-cell">
    <h2 class="category-detail__heading"><a href="">Universal credit and other benefits</h2>

    <ol class="category-detail__list">
      <li><a href="/">How to set a savings goal</a></li>
      <li><a href="/">Planning your savings</a></li>
      <li><a href="/">Stocks shares ISAs and other popular investments</a></li>
      <li><a href="/">Planning your investments</a></li>
      <li><a href="/">Endowments and other life insurance investments</a></li>
      <li><a href="/">Property investments</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Alternative investments</a></li>
      <li><a href="/">Choosing where to put your money</a></li>
      <li><a href="/">Cash savings options</a></li>
      <li><a href="/">Children and saving</a></li>
      <li><a href="/">Reviewing your savings and investments</a></li>
      <li><a href="/">Savings and investments to avoid</a></li>
      <li><a href="/">If things go wrong</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--5 l-cell">
    <h2 class="category-detail__heading"><a href="">Work and money</h2>

    <ol class="category-detail__list">
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--6 l-cell">
    <h2 class="category-detail__heading"><a href="">Bank accounts and credit or debit cards</h2>

    <ol class="category-detail__list">
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--7 l-cell">
    <h2 class="category-detail__heading"><a href="">Scams and identity theft</h2>

    <ol class="category-detail__list">
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--8 l-cell">
    <h2 class="category-detail__heading"><a href="">Money complaints and compensation</h2>

    <ol class="category-detail__list">
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--9 l-cell">
    <h2 class="category-detail__heading"><a href="">Financial help and advice</h2>

    <ol class="category-detail__list">
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--10 l-cell">
    <h2 class="category-detail__heading"><a href="">Help someone else with money</h2>

    <ol class="category-detail__list">
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ol>
  </section>

  <section class="category-detail category-detail--11 l-cell">
    <h2 class="category-detail__heading"><a href="">Wills and estate planning</h2>

    <ol class="category-detail__list">
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ol>
  </section>
</div>
