<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <%= render 'styleguide/shared/guide' %>

      <%= render 'shared/related_links', categories: categories %>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
