<%= render 'shared/trust_banner' %>

<% if params.key?('welsh') %>
  <div class="theme-cy">
    <div class="temp-dynamic-directory-container">
      <%= render 'shared/directory',
                 items: @categories_for_directory_cy %>
    </div>
  </div>
<% else %>
  <div class="temp-dynamic-directory-container">
    <%= render 'shared/directory',
               items: @categories_for_directory_en %>
  </div>
<% end %>
</div>

<%= render 'shared/promos', items: t('home.show.promoted') %>
