<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>


<div class="l-constrained">
  <div class="temp-tool-placeholder">
    insert tool here
  </div>
</div>


<div class="l-tool-nav">
  <div class="l-constrained">
    <section class="tool-nav">

      <div class="l-1col">
        <h2>You may also be interested in...</h2>

        <h3 class="heading-extra-small">From this section</h3>

        <%= render 'shared/tool_category_links',
                   categories: categories %>

        <h3 class="heading-extra-small">More from the Money Advice Service</h3>
      </div>

      <%= render 'shared/directory',
                 items: categories_for_directory_en, heading_level: 4 %>

    </section>
  </div>
</div>
