<div class="l-search-results">
  <main>
    <h1><%= t('search_results.index_with_results.title') %> &ldquo;Money&rdquo;</h1>
    <ol class="search-results">
      <li class="search-results__item">
        <h2><a href="/">Let's talk about money</a></h2>

        <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about
          money.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Money chat</a></h2>

        <p>Is the money taboo preventing you from making the most of your money? Become part of our campaign, and start
          your conversation today.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Breaking down the money taboo</a></h2>

        <p>If the money taboo is preventing you from making the most of your money, it’s time to start talking.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Let's talk about money</a></h2>

        <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about
          money.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Money chat</a></h2>

        <p>Is the money taboo preventing you from making the most of your money? Become part of our campaign, and start
          your conversation today.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Breaking down the money taboo</a></h2>

        <p>If the money taboo is preventing you from making the most of your money, it’s time to start talking.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Let's talk about money</a></h2>

        <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about
          money.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Money chat</a></h2>

        <p>Is the money taboo preventing you from making the most of your money? Become part of our campaign, and start
          your conversation today.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Breaking down the money taboo</a></h2>

        <p>If the money taboo is preventing you from making the most of your money, it’s time to start talking.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Let's talk about money</a></h2>

        <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about
          money.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Money chat</a></h2>

        <p>Is the money taboo preventing you from making the most of your money? Become part of our campaign, and start
          your conversation today.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Breaking down the money taboo</a></h2>

        <p>If the money taboo is preventing you from making the most of your money, it’s time to start talking.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Let's talk about money</a></h2>

        <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about
          money.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Money chat</a></h2>

        <p>Is the money taboo preventing you from making the most of your money? Become part of our campaign, and start
          your conversation today.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Breaking down the money taboo</a></h2>

        <p>If the money taboo is preventing you from making the most of your money, it’s time to start talking.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Let's talk about money</a></h2>

        <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about
          money.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Money chat</a></h2>

        <p>Is the money taboo preventing you from making the most of your money? Become part of our campaign, and start
          your conversation today.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Breaking down the money taboo</a></h2>

        <p>If the money taboo is preventing you from making the most of your money, it’s time to start talking.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Let's talk about money</a></h2>

        <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about
          money.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Money chat</a></h2>

        <p>Is the money taboo preventing you from making the most of your money? Become part of our campaign, and start
          your conversation today.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Breaking down the money taboo</a></h2>

        <p>If the money taboo is preventing you from making the most of your money, it’s time to start talking.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Let's talk about money</a></h2>

        <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about
          money.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Money chat</a></h2>

        <p>Is the money taboo preventing you from making the most of your money? Become part of our campaign, and start
          your conversation today.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Breaking down the money taboo</a></h2>

        <p>If the money taboo is preventing you from making the most of your money, it’s time to start talking.</p>
      </li>

      <li class="search-results__item">
        <h2><a href="/">Let's talk about money</a></h2>

        <p>It’s safe to say that most of us love to chat. But when it comes to money matters, it seems many of us don’t
          have anyone to confide in. Well, here at the Money Advice Service we want to get people talking about
          money.</p>
      </li>
    </ol>
  </main>
</div>
