<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <div class="l-grid-container">
    <main class="l-main__primary" role="main">
      <%= render 'styleguide/shared/contact_detail' %>
    </main>

    <div class=" l-main__secondary">
      <%= render 'styleguide/shared/contact_us_sidebar' %>
    </div>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>
