<h1>Money topics</h1>

<p class="intro">Saving and investing, borrowing and debt, homes and mortgages, insurance, pensions and retirement</p>

<div class="l-container">
  <section class="category-list">
    <h2><a href="">Saving and investing</a></h2>

    <ul>
      <li><a href="/">How to set a savings goal</a></li>
      <li><a href="/">Planning your savings</a></li>
      <li><a href="/">Stocks shares ISAs and other popular investments</a></li>
      <li><a href="/">Planning your investments</a></li>
      <li><a href="/">Endowments and other life insurance investments</a></li>
      <li><a href="/">Property investments</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Alternative investments</a></li>
      <li><a href="/">Choosing where to put your money</a></li>
      <li><a href="/">Cash savings options</a></li>
      <li><a href="/">Children and saving</a></li>
      <li><a href="/">Reviewing your savings and investments</a></li>
      <li><a href="/">Savings and investments to avoid</a></li>
      <li><a href="/">If things go wrong</a></li>
    </ul>
  </section>

  <section class="category-list">
    <h2><a href="">Borrowing money</h2>

    <ul>
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ul>
  </section>

  <section class="category-list">
    <h2><a href="">Debt management</h2>

    <ul>
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ul>
  </section>

  <section class="category-list">
    <h2><a href="">Homes and mortgages</h2>

    <ul>
      <li><a href="/">How to set a savings goal</a></li>
      <li><a href="/">Planning your savings</a></li>
      <li><a href="/">Stocks shares ISAs and other popular investments</a></li>
      <li><a href="/">Planning your investments</a></li>
      <li><a href="/">Endowments and other life insurance investments</a></li>
      <li><a href="/">Property investments</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Alternative investments</a></li>
      <li><a href="/">Choosing where to put your money</a></li>
      <li><a href="/">Cash savings options</a></li>
      <li><a href="/">Children and saving</a></li>
      <li><a href="/">Reviewing your savings and investments</a></li>
      <li><a href="/">Savings and investments to avoid</a></li>
      <li><a href="/">If things go wrong</a></li>
    </ul>
  </section>

  <section class="category-list">
    <h2><a href="">Insurance</h2>

    <ul>
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ul>
  </section>

  <section class="category-list">
    <h2><a href="">Pensions and retirement</h2>

    <ul>
      <li><a href="/">Before you borrow money</a></li>
      <li><a href="/">Overdrafts and personal loans</a></li>
      <li><a href="/">Applying for credit</a></li>
      <li><a href="/">Credit cards and store cards</a></li>
      <li><a href="/">Buy now pay later</a></li>
      <li><a href="/">Staying on top of your borrowing</a></li>
      <li><a href="/">Put your investment plans into practice</a></li>
      <li><a href="/">Last resort borrowing</a></li>
    </ul>
  </section>
</div>
