<%= render 'shared/header' %>

<div class="l-container editorial">
  <div class="l-2col-side tempComponent">
    <h2>Table of Contents</h2>
    insert_dynamic_links_to_h2s
  </div>
  <div class="l-2col-main">
    <%= render 'styleguide/shared/guide' %>
  </div>
</div>


<%= render 'shared/footer_site_links', locals: %w(en) %>
<%= render 'shared/footer_social_links' %>