<div class="l-article editorial">
  <main>
    <h1>Action Plan - Use your Cash ISA allowance</h1>

    <p class="intro">
      <!-- the width/height in the image tag is used to show how different sized images reflow the text and are not present in the CMS markup -->
      <img src="http://placehold.it/190x140" alt="Help to Buy schemes - couple with keys to house">

      We explain what you need to know about Help to Buy - the government's schemes aimed at first-time buyers with low
      deposits and current owners with limited equity.
    </p>

    <%= render 'styleguide/shared/action_plan' %>

    <div class="action-item">
      <h2>Use your Cash ISA allowance</h2>

      <div class="collapsable">
        <div class="why">
          <h3>Why?</h3>

          <p>Your 'Cash ISA allowance' - <strong>£5,760</strong>&nbsp;- is the maximum you can put into a Cash ISA this
            tax year. If you don't use this year's allowance by 5 April 2014, you won't get it back.
          </p>
        </div>
        <div class="how">
          <h3>How?</h3>

          <p>If you already have an ISA - check how much you've put in since 6 April 2013 and make sure you use any
            remaining allowance.</p>

          <p>If you already have an ISA - check how much you've put in since 6 April 2013 and make sure you use any
            remaining allowance.</p>
          <ul>
            <li>
              <a href="https://www.moneyadviceservice.org.uk/en/articles/cash-isas">If you don't have an ISA - find out
                more about them in our guide Cash ISAs </a></li>
            <li>
              <a target="_blank" href="http://pluto.moneyadviceservice.org.uk/savings?table=CashIsas">Alternatively, if
                you know you want to open one, find the right Cash ISA for you using our comparison tables </a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="action-item">
      <h2>Use your Cash ISA allowance</h2>

      <div class="collapsable">
        <div class="why">
          <h3>Why?</h3>

          <p>Your 'Cash ISA allowance' - <strong>£5,760</strong>&nbsp;- is the maximum you can put into a Cash ISA this
            tax year. If you don't use this year's allowance by 5 April 2014, you won't get it back.
          </p>
        </div>
        <div class="how">
          <h3>How?</h3>

          <p>If you already have an ISA - check how much you've put in since 6 April 2013 and make sure you use any
            remaining allowance.</p>
          <ul>
            <li>
              <a href="https://www.moneyadviceservice.org.uk/en/articles/cash-isas">If you don't have an ISA - find out
                more about them in our guide Cash ISAs </a>
            </li>
          </ul>

          <p>If you already have an ISA - check how much you've put in since 6 April 2013 and make sure you use any
            remaining allowance.</p>
          <ul>
            <li>
              <a href="https://www.moneyadviceservice.org.uk/en/articles/cash-isas">If you don't have an ISA - find out
                more about them in our guide Cash ISAs </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>