<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', categories: @categories %>
<% end %>

<div class="l-article-v2 editorial">
  <main>
    <%= render 'styleguide/shared/guide_v2' %>



    <%= render 'shared/related_links',
               categories: [
                   {
                       title:    'Home & mortgages',
                       path:     '#',
                       contents: [
                           { title: 'Interest-only mortgages', path: '#' },
                           { title: 'Buying property - what can you afford?', path: '#' },
                           { title: 'Understanding mortgages', path: '#' },
                           { title: 'Choosing the right mortgage', path: '#' }
                       ]
                   },
                   {
                       title:    'Renting a property',
                       path:     '#',
                       contents: [
                           { title: 'How much rent can you afford?', path: '#' },
                           { title: 'Rent or buy?', path: '#' },
                           { title: 'Budgeting and sharing costs when renting', path: '#' },
                           { title: 'Your legal and financial responsibilities when renting', path: '#' },
                           { title: 'Rent arrears and problems paying your rent', path: '#' },
                           { title: 'Buy-to-let mortgages', path: '#' }
                       ]
                   }
               ].map(&:to_ostruct).map { |c| [c, c.contents] } %>
  </main>
</div>
s
