<div class="l-homepage">
  <main>
    <%= render 'shared/homepage_intro',
               heading: t('home.show.heading_html'),
               summary: t('home.show.summary_list_html'),
               introduction: t('home.show.introduction_text_html')  %>


  </main>
</div>    

<%= render 'shared/homepage_contact' %>
