<div class="l-main editorial">
  <main class="l-main__primary" role="main">
    <h1>Contact us</h1>

    <p>Our trained staff can help you work out what’s right for you. Whatever your question, we’re here to help. If we
      don’t know the answer, we'll point you in the right direction of someone who does.</p>

    <h2>For face-to-face advice</h2>

    <p>If you would prefer to speak to someone face to face, we work with a number of partners across the UK to give
      free unbiased money advice in person.</p>

    <p>To book a face-to-face Money Advice session (call rates may vary)</p>

    <ul>
      <li>England – 0333 321 3434 or book online</li>
      <li>Wales – 0300 330 0520 or email moneyadviser@citizensadvice.org.uk</li>
      <li>Scotland – 0808 800 0118 or book online</li>
      <li>Northern Ireland – 0333 321 2424 or book online</li>
    </ul>

    <h2>For Money Advice Service printed guides</h2>

    <p>Our free printed guides give you clear, unbiased information and advice. They are a good starting point and can
      help you make informed choices. Our guides are intended for consumers of UK financial services, resident in the
      UK.</p>

    <p>Use our online order forms to request a printed guide.</p>

    <h2>To make a complaint</h2>

    <p>Email: complaints@moneyadviceservice.org.uk or write to our head office.</p>

    <p>We will send you an acknowledgement within five working days and reply to you within twenty working days.</p>

    <p>To ensure that we learn from the feedback we receive, our Board gets regular reports summarising any complaints
      and comments we have received and the actions we have taken.</p>

    <h2>For our press office enquiries (journalists only)</h2>

    <p>Email: pressoffice@moneyadviceservice.org.uk</p>

    <p>Phone: 020 7943 0593 (07767 438 670 for out-of-hours or urgent calls)</p>

    <p>The press office regrets it cannot take sales and marketing enquiries, please email:
      marketing@moneyadviceservice.org.uk</p>
  </main>

  <div class=" l-main__secondary">
    <div class="sidebar sidebar--green">
      <h2 class="heading-extra-small">What we can’t help with</h2>

      <p class="side__content">We’re not regulated by the Financial Conduct Authority which means we can’t give you
        specific product
        recommendations, such as telling you which savings account to take out.</p>

      <p class="side__content">If you need regulated financial advice, you'll need to speak with a professional
        financial
        adviser. Read our
        guide for more information on <a href="">choosing a financial adviser</a>.</p>
    </div>

    <div class="sidebar">
      <h2 class="heading-extra-small underlined">What we can’t help with</h2>

      <div>
        <img src="http://placehold.it/260x200"/>
      </div>

      <h3 class="heading-extra-small">Our head office address is</h3>

      <p>The Money Advice Service, Holborn Centre, 120 Holborn, London, EC1N 2TD</p>

      <h3 class="heading-extra-small">Our general email address is</h3>

      <p>enquiries@moneyadviceservice.org.uk</p>

      <h3 class="heading-extra-small">Our opening hours are</h3>

      <ul>
        <li>Monday to Friday: 8am to 8pm</li>
        <li>Saturday: 9am to 1pm</li>
        <li>Sunday and Bank Holidays: closed</li>
      </ul>

      <h3 class="heading-extra-small">Call our Money Advice Line on</h3>

      <p>0300 500 5000 (English) or 0300 500 5555 (Welsh)*</p>

      <p>Typetalk: 18001 0300 500 5000*</p>

      <p>From overseas: +44 1443 827658</p>

      <p class="smallprint">* The cost of an 0300 number is the same as calling a normal phone number. If your calls are
        free, then it’s free, even from mobiles.</p>

      <p class="smallprint">We’re committed to providing you with a quality service, so calls may be recorded or
        monitored for training
        purposes.</p>
    </div>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>
