<div class="l-constrained">
  <img alt="" class="l-campaign-image" src="/assets/campaign/interest-rate-rise-campaign-bg.jpg">

  <article>
    <div class="l-campaign__content">
      <h2 aria-level="2" class="l-campaign__heading" role="heading">Interest rates</h2>
      <p class="l-campaign__tagline">When interest rates rise, make sure you don't end up in a financial hole</p>

      <p>
        Interest rates are likely to rise, maybe later this year or perhaps in 2015. The rises may be small and gradual, and they’ll affect everyone with a mortgage. But new research from the Money Advice Service shows three out of four homeowners haven’t considered how a rise would affect their repayments.
      </p>
      <p>
        More than half of homeowners would find it hard to cover an increase of £150 a month, while three out of four would struggle to pay an extra £200 a month.
      </p>
      <p>
        But there are actions you can take today so you can be better prepared when the rises come.
      </p>
      <p>
        Take the first step and use our mortgage calculator to see how a rise would impact your monthly outgoings.
      </p>
    </div>

    <section class="l-campaign__next-steps">
      <h2 aria-level="2" class="l-campaign__next-steps-heading" role="heading">Next steps...</h2>

      <div class="next-step">
        <a class="next-step__link" href="/en/tools/mortgage-calculator">
          <h2 aria-level="2" class="next-step__heading" role="heading">Add it up</h2>
          <p class="next-step__content">
            Calculate what an increase will mean for your mortgage repayments.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/en/news/more-than-half-of-uk-homeowners-not-prepared-for-interest-rate-rises">
          <h2 aria-level="2" class="next-step__heading" role="heading">Be prepared</h2>
          <p class="next-step__content">
            Find out more about how a rise in interest rates could affect you.
          </p>
        </a>
      </div>

      <div class="next-step">
        <a class="next-step__link" href="/en/news/interest-rates-what-home-owners-can-do-now-to-beat-the-rise">
          <h2 aria-level="2" class="next-step__heading" role="heading">Take action</h2>
          <p class="next-step__content">
            Why wait? Find out what steps you can take now be ready for rate rises.
          </p>
        </a>
      </div>
      <div class="next-step">
        <a class="next-step__link" href="/en/news/interest-rate-rises-why-they-matter">
          <h2 aria-level="2" class="next-step__heading" role="heading">Interest Rate Rises</h2>
          <p class="next-step__content">
            Understand why they matter, and the impact of a rise on your household budget.
          </p>
        </a>
      </div>
    </section>
  </article>
</div>

<div class="campaign-trust-banner">
  <div class="l-constrained">
    <div class="l-campaign-trust-banner">
      <p class="l-campaign-trust-banner__left campaign-trust-banner__content">Free &amp; impartial money advice, set up by government</p>
      <div class="l-campaign-trust-banner__right">
        <span class="logo logo--green"></span>
      </div>
    </div>
  </div>
</div>

<div class="l-campaign-directory">
  <div class="l-constrained">
    <%= render 'shared/directory', items: category_navigation, heading_level: 4 %>
  </div>
</div>
