<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <main role="main">
    <h1>News and features</h1>

    <%= render 'styleguide/shared/news_item' %>
  </main>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
