<div class="l-article editorial">
  <main>
    <h1>Action Plan - Use your Cash ISA allowance</h1>

    <p class="intro">
      <!-- the width/height in the image tag is used to show how different sized images reflow the text and are not present in the CMS markup -->
      <img src="http://placehold.it/300x200" alt="Help to Buy schemes - couple with keys to house">

      We explain what you need to know about Help to Buy - the government's schemes aimed at first-time buyers with low
      deposits and current owners with limited equity.
    </p>

    <%= render 'styleguide/shared/action_plan' %>
    <%= render 'styleguide/shared/action_plan' %>
    <%= render 'styleguide/shared/action_plan' %>
  </main>
</div>