<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <h1>Give us your feedback</h1>

      <p>All fields are mandatory</p>

      <div class="form__row">
        <label for="trying" class="form__label-heading">What were you trying to do? <span class="visually-hidden">required</span></label>
        <textarea id="trying" cols="60" rows="6" aria-required="true"></textarea>
      </div>

      <div class="form__row">
        <label for="wrong" class="form__label-heading">What went wrong? <span class="visually-hidden">required</span></label>
        <textarea id="wrong" cols="60" rows="6" aria-required="true"></textarea>
      </div>

      <input class="button button--primary" type="submit" value="Submit feedback">

    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
