<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <main role="main">
    <article itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/NewsArticle">
      <h1 itemprop="headline">One in 11 Britons has less than £10 a month disposable income</h1>
      <hr>
      <p class="smallprint"><time itemprop="datePublished" datetime="">18 Nov 2013</time></p>
      <%= render 'styleguide/shared/news_article' %>
    </article>
  </main>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
