<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <main role="main">
    <%= render 'styleguide/shared/guide_v2' %>

    <%= render 'shared/related_links', categories: categories %>
  </main>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
