<%= render 'shared/header' %>

<div class="l-container error-page">
  <%= render 'styleguide/examples/error' %>
</div>

<%= render 'shared/footer_site_links', locals: %w(en) %>
<%= render 'shared/footer_social_links' %>