<div class="l-main editorial">
  <div class="l-main__row">
      <main class="l-main__cell-full l-category" role="main" data-parent="debt-and-borrowing">
      <div class="l-category__top">
        <div class="l-category__top__content">
          <h1 aria-level="1" class="l-category__heading" role="heading">Teenage voices on first financial decisions</h1>
          <span class="l-category__top__background"></span>
          <p class="l-category__top__intro">Hear what young people like you have to say about how they are making their
        first financial decisions and how they are coping with the pressures and opportunities this brings.</p>
        </div>
      </div>
      <ol class="category-detail__list">
        <li><a href="/">How to set a savings goal</a></li>
        <li><a href="/">Planning your savings</a></li>
        <li><a href="/">Stocks shares ISAs and other popular investments</a></li>
        <li><a href="/">Planning your investments</a></li>
        <li>
          <a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Endowments
            and other life insurance investments</a></li>
        <li><a href="/">Property investments</a></li>
        <li><a href="/">Put your investment plans into practice</a></li>
        <li>
          <a href="/"><span class="icon icon--tool"></span></span><span class="visually-hidden">Tool</span>Alternative
            investments</a></li>
        <li>
          <a href="/"><span class="icon icon--video"></span></span><span class="visually-hidden">Video</span>Choosing
            where to put your money</a></li>
        <li><a href="/">Cash savings options</a></li>
      </ol>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav', categories: category_navigation %>
</div>
