<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <%= render 'styleguide/shared/guide' %>

      <%= render 'shared/related_links', categories: categories %>

      <section class="panel feedback-panel">
        <h2 class="feedback-panel__title">Give us your feedback</h2>

        <p>What is your feedback about?</p>

        <ul>
          <li><a href="/en/styleguide/pages/feedback_information?no-nav">The information on this page</a></li>
          <li><a href="/en/styleguide/pages/feedback_technical?no-nav">Feedback on technical issues</a></li>
          <li><a href="/en/styleguide/pages/feedback_advice?no-nav">Feedback on my money problems</a></li>
        </ul>

      </section>
    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
