<% content_for(:context_bar) do %>
  <%= render 'shared/breadcrumbs', breadcrumbs: categories %>
<% end %>

<div class="l-main editorial">
  <div class="l-main__row">
    <main class="l-main__cell-single" role="main">
      <h1>Help and money advice</h1>

      <p>For help and money advice, please contact us:</p>

      <h2>Call us</h2>

      <p><strong><a href="tel:+443005005000">0300 500 5000</a></strong></p>

      <p>
        Monday–Friday: <strong>8am–8pm</strong><br>
        Saturday: <strong>9am–1pm</strong>
      </p>

      <a href="/en/static/contact-us">Find out about call charges</a>

    </main>
  </div>
</div>

<div class="l-nav">
  <%= render 'shared/nav' %>
</div>
