<div class="l-1col">
  <h1>Leaving school or college</h1>

  <p class="intro intro--constrained">Help and advice on staying on in education, moving into work and paying your own
    way as a young adult</p>
</div>


<div class="l-2col">
  <div class="l-2col-side">
    <%= render 'styleguide/shared/category_filter' %>
  </div>
  <div class="l-2col-main">
    <%= render 'styleguide/shared/category_details' %>
  </div>
</div>
