<h1>Sass Variables</h1>

<h2>Colours</h2>
<ul class="swatches list--unstyled">
  <li class="color-black">$color-black</li>
  <li class="color-grey-primary">$color-grey-primary</li>
  <li class="color-green-primary">$color-green-primary</li>
  <li class="color-green-secondary">$color-green-secondary</li>
  <li class="color-green-tertiary">$color-green-tertiary</li>
  <li class="color-green-paler">$color-green-paler</li>
  <li class="color-green-pale">$color-green-pale</li>
  <li class="color-green-light">$color-green-light</li>
  <li class="color-green-medium">$color-green-medium</li>
  <li class="color-teal-light">$color-teal-light</li>
  <li class="color-teal-dark">$color-teal-dark</li>
  <li class="color-blue-light">$color-blue-light</li>
  <li class="color-blue-medium">$color-blue-medium</li>
  <li class="color-blue-dark">$color-blue-dark</li>
  <li class="color-grey-pale">$color-grey-pale</li>
  <li class="color-grey-light">$color-grey-light</li>
  <li class="color-grey-medium">$color-grey-medium</li>
  <li class="color-grey-dark">$color-grey-dark</li>
  <li class="color-bluegrey-dark">$color-bluegrey-dark</li>
  <li class="color-bluegrey-medium">$color-bluegrey-medium</li>
  <li class="color-bluegrey-light">$color-bluegrey-light</li>
  <li class="color-pink-medium">$color-pink-medium</li>
  <li class="color-pink-dark">$color-pink-dark</li>
  <li class="color-red-medium">$color-red-medium</li>
  <li class="color-red-dark">$color-red-dark</li>
  <li class="color-orange-medium">$color-orange-medium</li>
  <li class="color-orange-dark">$color-orange-dark</li>
  <li class="color-yellow-light">$color-yellow-light</li>
  <li class="color-yellow-dark">$color-yellow-dark</li>
</ul>