<h1>Living Styleguide</h1>

<p class="intro">Welcome to the internal Money Advice Service (MAS) style guide.</p>

<p>This is where you should look if you're interested in how to write code for MAS. We have a living HTML styleguide,
  CSS styleguide and JavaScript styleguide.</p>
