<h1>Styleguide</h1>

<p>Welcome to the internal Money Advice Service (MAS) styleguide. This is where you should look if you're interested in how to write code for MAS. We have a living HTML styleguide, CSS styleguide, SASS styleguide, JavaScript styleguide and some recommendations on
how to write Ruby code.</p>
