// Use clearfix to prevent a container element from collapsing when an internal element is floated.
//
// Styleguide clearfix

%clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}
