<% set_meta_tags(title: 'MoneyHelper Money Manager Tool') %>
<% content_for(:engine_content) do %>
  <div class="l-container-tool">
    <main>
      <div class="l-money_navigator-landing">
        <section class="landing__intro">
          <h1 class="l-money_navigator__heading landing__section-heading">Looking for the MoneyHelper money management tool?</h1>
          <p>This tool is no longer available, but please visit the <a href="https://www.moneyhelper.org.uk/en/money-troubles/cost-of-living" target="_blank">Help with the cost of living</a> section for the latest information.</p>
          <p>You might also find these guides and tools useful:</p>
        </section>

        <section class="landing__who-help">
          <ul class="list">
            <li><a href="https://www.moneyhelper.org.uk/en/everyday-money/budgeting/budget-planner" target="_blank">Budget planner</a></li>
            <li><a href="https://www.moneyhelper.org.uk/en/benefits/universal-credit/universal-credit-advance-payments-and-other-help" target="_blank">Universal Credit advance payments and other help</a></li>
            <li><a href="https://www.moneyhelper.org.uk/en/benefits/problems-with-benefits" target="_blank">Help sorting problems with Universal Credit</a></li>
          </ul>
        </section>
      </div>
    </main>
  </div>
<% end %>
