*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// prevent skip to main content link destination element displaying a focus outline
// using attribute selector to keep specificity low and prevent csslint error
div[id="main"] {
  outline: 0;
}
