
// @font-face {
//   font-family: 'MuseoSlab300';
//   src: url(font-path('museo_slab_300-webfont.eot'));
//   src: url(font-path('museo_slab_300-webfont.eot') + '?#iefix') format('embedded-opentype'),
//        url(font-path('museo_slab_300-webfont.woff')) format('woff'),
//        url(font-path('museo_slab_300-webfont.ttf')) format('truetype'),
//        url(font-path('museo_slab_300-webfont.svg') + '#MuseoSlab300' ) format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'MuseoSlab700';
//   src: url(font-path('museo_slab_700-webfont.eot'));
//   src: url(font-path('museo_slab_700-webfont.eot') + '?#iefix' ) format('embedded-opentype'),
//        url(font-path('museo_slab_700-webfont.woff')) format('woff'),
//        url(font-path('museo_slab_700-webfont.ttf')) format('truetype'),
//        url(font-path('museo_slab_700-webfont.svg') + '#MuseoSlab700') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'icon';
//   src: url(font-path('icomoon.eot'));
//   src: url(font-path('icomoon.eot') + '?#iefix' ) format('embedded-opentype'),
//        url(font-path('icomoon.woff')) format('woff'),
//        url(font-path('icomoon.ttf')) format('truetype'),
//        url(font-path('icomoon.svg') + '#icon' ) format('svg');
//   font-weight: normal;
//   font-style: normal;
// }



@if $responsive == true {
  @font-face {
    font-family: 'MuseoSlab';
    src: asset-data-url('museo_slab_300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MuseoSlab';
    src: asset-data-url('museo_slab_700-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'icomoon';
    src: asset-data-url('icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
}
// $responsive == false
@else {
  @font-face {
    font-family: 'MuseoSlab300';
    src: url(font-path('museo_slab_300-webfont.eot'));
    src: url(font-path('museo_slab_300-webfont.eot') + '?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MuseoSlab700';
    src: url(font-path('museo_slab_700-webfont.eot'));
    src: url(font-path('museo_slab_700-webfont.eot') + '?#iefix' ) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'icomoon';
    src: url(font-path('icomoon.eot'));
    src: url(font-path('icomoon.eot') + '?#iefix' ) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
}



// Test to force flicker of unstyled content        
// @font-face {
//   font-family: 'test';
//   src: url('http://www.moneyadviceservice.org.uk/assets/museo_slab_700-webfont.eot');
//   src: url('http://www.moneyadviceservice.org.uk/assets/museo_slab_700-webfont.eot?#iefix' ) format('embedded-opentype'),
//        url('http://www.moneyadviceservice.org.uk/assets/museo_slab_700-webfont.woff') format('woff'),
//        url('http://www.moneyadviceservice.org.uk/assets/museo_slab_700-webfont.ttf') format('truetype'),
//        url('http://www.moneyadviceservice.org.uk/assets/museo_slab_700-webfont.svg#MuseoSlab700') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
