//= depend_on_asset museosans_300-webfont.woff
//= depend_on_asset museosans_700-webfont.woff
//= depend_on_asset icon-font.woff
//= depend_on_asset museosans_300-webfont.eot
//= depend_on_asset museosans_700-webfont.eot
//= depend_on_asset icon-font.eot

@if $responsive == true {

  @font-face {
    font-family: 'museo_sans';
    src: asset-data-url('museosans_300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'museo_sans';
    src: asset-data-url('museosans_500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'museo_sans';
    src: asset-data-url('museosans_700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'icon-font';
    src: asset-data-url('icon-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

} @else {

  @font-face {
    font-family: 'museo_sans';
    src: url(font-path('museosans_300-webfont.eot'));
    src: url(font-path('museosans_300-webfont.eot') + '?#iefix') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'museo_sans';
    src: url(font-path('museosans_300-webfont.eot'));
    src: url(font-path('museosans_300-webfont.eot') + '?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'museo_sans';
    src: url(font-path('museosans_700-webfont.woff'));
    src: url(font-path('museosans_700-webfont.woff') + '?#iefix' ) format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'icon-font';
    src: url(font-path('icon-font.eot'));
    src: url(font-path('icon-font.eot') + '?#iefix' ) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
}
