button {
  @extend %font-smoothing;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"] {
  @extend %form-input;
  @extend %form-input-text;

  &[disabled] {
    background-color: $color-input-disabled-background;
    color: $color-input-disabled-text-color;
  }
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="checkbox"],
input[type="radio"],
textarea {
  &:focus {
    @include form-input-focus;
    @include form-input-focus-outline;
  }
}

input[type="search"] {
  &:focus {
    outline-offset: -1px;
  }
}

input[type="reset"],
input[type="submit"],
button,
select {
  &:focus {
    @include form-input-focus-outline;
  }
}

textarea {
  @extend %form-input;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  color: $color-fieldset-legend-fg;
  display: block;
  font-weight: 500;
  margin-bottom: $baseline-unit*2;
}
