// Currently we only have styles for H1 - H4
//
// Styleguide headings

h1 {
  color: $color-heading-default;
  @extend %heading-large;
}

h2 {
  @extend %heading-medium;
}

h3 {
  @extend %heading-small;
}

h4 {
  @extend %heading-extra-small;
}

h2, h3, h4, h5 {
  color: $color-heading-medium;
}

h6 {
  color: $color-heading-extra-small;
}
