// Basic primary links and their accompanying hover and focus states
//
// :visited - Foo
// :hover - Foo
// :focus - Foo
// .link--brandFont      - Foo
// .link--navigation:visited - Foo
// .link--navigation:hover - Foo
// .link--navigation:focus - Foo
//
// Styleguide a

a {
  color: $color-blue-medium;
  text-decoration: none;
}

a:visited {
  color: $color-blue-dark;
  color: red;
}

a:hover {
  color: $color-blue-medium;
  border-bottom:1px solid;
}

a:focus{
  color: $color-blue-medium;
  outline: 1px solid;
  background-color: $color-accessible-focus;
  border-bottom:1px dotted;
}


// Menu links and styled using the brand font
.link--brandFont {
  font-family: MuseoSlab;
  font-weight: 700;
}


// Secondary links used for internal navigation and menus
.link--navigation,
.link--navigation:visited {
  color: $color-green-primary;
}

.link--navigation:hover {
  color: $color-green-primary;
}

.link--navigation:focus {
  color: $color-green-primary;
  background-color: $color-accessible-focus;
}
