// Basic primary links and their accompanying hover and focus states
//
// :visited - Foo
// :hover - Foo
// :focus - Foo
// .link-nav:visited - Foo
// .link-nav:hover - Foo
// .link-nav:focus - Foo
//
// Styleguide a

a {
  color: $color-link-default;
  text-decoration: none;

  &:visited {
    color: $color-link-visited;
  }

  &:hover {
    color: $color-link-default;
    text-decoration: underline;
  }

  &:focus{
    color: $color-link-default;
    outline: 1px solid;
    background-color: $color-link-focus;
    text-decoration-line: dotted;
  }
}

.link-nav {
  @extend %link-nav;
}
