// Basic primary links and their accompanying hover and focus states
//
// :visited - Foo
// :hover - Foo
// :focus - Foo
// .link-nav - Foo
// .link-nav:visited - Foo
// .link-nav:hover - Foo
// .link-nav:focus - Foo
//
// Styleguide a

a {
  @include links($color-link-default);
}

%link-nav,
.link-nav {
  @include links($color-link-nav, $color-link-nav-visited);
}

a:not([href*="moneyadviceservice"]):after {
  @extend .icon;
  @extend .icon--external-link;
  color: $color-link-external;
  padding-left: 5px;
}

// override for links that do not contain moneyadviceservice but are not external links
a[href^="/"]:after,
a[href^="#"]:after {
  display: none;
}

a[href$=".doc"] {
  margin-top: $baseline-unit*3;

  &:before {
    @extend .icon;
    @extend .icon--doc;
    padding-right: 5px;
  }
}

a[href$=".pdf"] {
  margin-top: $baseline-unit*3;

  &:before {
    @extend .icon;
    @extend .icon--pdf;
    padding-right: 5px;
  }
}
