// Basic primary links and their accompanying hover and focus states
//
//
//
//
// Styleguide a

a,
a:visited {
  color: $color-blue-medium;
  text-decoration: none;
}

a:hover {
  color: $color-blue-medium;
  border-bottom:1px solid;
}


a:focus{
  color: $color-blue-medium;
  outline: 1px solid;
  background-color: $color-accessible-focus;
  border-bottom:1px dotted;
}







// Menu links and styled using the brand font
//
//
//
//
// Styleguide link--brandFont

.link--brandFont {
  font-family: MuseoSlab;
  font-weight: 700;
}

// Secondary links used for internal navigation and menus
//
//
//
//
// Styleguide link--navigation

.link--navigation,
.link--navigation:visited {
  color: $color-green-primary;
}

.link--navigation:hover {
  color: $color-green-primary;
}

.link--navigation:focus {
  color: $color-green-primary;
  background-color: $color-accessible-focus;
}




// Navigation links
//
//
//
//
// Styleguide nav a

nav a,
nav a:visited {
  display: inline-block;
  color: $color-text--default;
  text-decoration: none;
  padding: 15px;
  width: 100%;
}

nav a:hover {
  color: $color-green-primary;
  background-color: $color-accessible-focus;
  border: none;
}


nav a:focus{
  color: $color-green-primary;
  outline: 1px solid;
  background-color: $color-accessible-focus;
  border-bottom: none;
}