// Links and their accompanying hover and focus states
//
// Styleguide Links

a,
a:visited {
  color: $color-green-primary;
  text-decoration: none;
}

a:hover {
  color: $color-green-primary;
  border-bottom:1px solid;
}


a:focus{
  color: $color-green-primary;
  outline: 1px solid;
  background-color: $color-focus-highlight;
  border-bottom:1px dotted;
}

.specialLink {
  font-family: MuseoSlab;
  font-weight: 700;
}

nav a,
nav a:visited {
  display: inline-block;
  color: $color-text-default;
  text-decoration: none;
  padding: 15px;
  width: 100%;
}

nav a:hover {
  color: $color-green-primary;
  background-color: $color-focus-highlight;
  border: none;
}


nav a:focus{
  color: $color-green-primary;
  outline: 1px solid;
  background-color: $color-focus-highlight;
  border-bottom: none;
}