// The default style for numbered lists. The padding offsets the bullets by 25px;
//
// Styleguide ol

ol {
  padding: 0 0 0 25px;
}



// The default style for unordered lists. The padding offsets the bullets by 20px.
//
// Styleguide ul

ul {
  padding: 0 0 0 20px;
}



// The basic unordered list style - only provided to browser that support :before :
//
// Styleguide list

.test-support:before,
.list {
  list-style: none;

  > li:before {
    content:'\2022';
    display: block;
    position: relative;
    width: 0px;
    height: 0px;
    left: -20px;
    top: -5px;
    color: $color-list-bullet;
    font-size: 24px;
  }
}



// A list that has ticks and crosses for bullet points
//
// Styleguide list-benefits

.test-support:before,
.list-benefits {
  padding: 0;
  list-style: none;

  li {
    margin-left: 28px;
  }

  li:before {
    position: relative;
    font-family: 'icomoon';
    @include font-size(18);
    content: '\e609';
    color: $color-list-yes;
    padding-right: 10px;
    margin-left: -28px;
  }

  .no:before {
    top: 3px;
    content: '\e61e';
    color: $color-list-no;
  }
}




// Lists for Articles and Editorial Content
.yes-no {
  @extend .list-benefits;
}


// This is the basic unstyled list without bullet points and with margins and padding removed.
// ...it can also be used as a helper class to remove formatting from a list element.
//
// Styleguide list-unstyled

.list-unstyled,
.list-unstyled li {
  padding: 0;
  margin: 0;
  list-style-type: none;

}