// TODO added to prevent undefined variable error.
$responsive: true;



body {
  font-family: "Helvetica Neue";
  line-height: 1.4;
}




// This is the H1 heading
//
//
//
//
// Styleguide h1

h1 {
  @extend %heading-alpha;
  font-size: 48px;
  line-height: 1.2;
}

.l-editorial-container h1 {
  @extend %heading-alpha;
}




// This is the H2 heading
//
//
//
//
// Styleguide h2

h2 {
  @extend %heading-beta;
}






// This is the H3 heading
//
//
//
//
// Styleguide h3

h3 {
  @extend %heading-gamma;
}







// The basic paragraph style
//
//
//
//
// Styleguide p

p {
  @extend %text-basicParagraph;
}





// Style for the article introductory paragraph.
//
//
//
//
// Styleguide intro

.intro {
  @extend %text-introParagraph;
  @extend .clearfix;

  > img {
    float: right;
    margin: 0 0 $gw $gw;
    background-color: grey;
  }
}