// TODO added to prevent undefined variable error.
$responsive: true;

body {
  font-family: 'Helvetica Neue';
  line-height: 1.4;
}


// Currently we only support H1 - H3
//
// Styleguide headings

h1 {
  @extend %heading-alpha;
}

h2 {
  @extend %heading-beta;
}

h3 {
  @extend %heading-gamma;
}


// Our default font-size is 16px, with a line-height of 1.4(?). This is applied to the <body> and all paragraphs.
//
// Styleguide p

p {
  @extend %text-basicParagraph;
}


// Larger text size for the article introductory paragraph.
//
// Styleguide intro

.intro {
  @extend %text-introParagraph;
  @extend .clearfix;

  > img {
    float: right;
    margin: 0 0 $gw $gw;
    background-color: grey;
  }
}
