body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: $bl*4;

  // optimize the font for legibility (kerning of characters)
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;

  // allows access to kerning and ligatypes in fonts that support it.
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";

  // doesn't work as well with italics as with regular text
  -webkit-font-smoothing: antialiased;

  // improves antialiasing in Chrome and Windows
  text-shadow: 1px 1px transparent;

  // prevent automatic text zooming when changing orientation or viewing mobile
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

// Currently we only support H1 - H3
//
// Styleguide headings

h1 {
  @extend %heading-one;
}

h2 {
  @extend %heading-two;
}

h3 {
  @extend %heading-three;
}

h4 {
  @extend %heading-four;
}

// Our default font-size is 16px, with a line-height of 1.4(?). This is applied to the <body> and all paragraphs.
//
// Styleguide p

p {
  @extend %text-basic-paragraph;
}

// The default style for numbered lists. The padding offsets the bullets by 25px;
//
// Styleguide ol

ol {
  padding: 0 0 0 25px;
}

// The default style for unordered lists. The padding offsets the bullets by 20px.
//
// Styleguide ul

ul {
  padding: 0 0 0 25px;
}

li {
  margin-bottom: $bl;
}
