body {
  @extend %type;
  @extend %font-smoothing;
  @extend %prevent-text-zooming;

  @include legibility(normal);
  @include font-features(liga, kern);
}

// Currently we only support H1 - H3
//
// Styleguide headings

h1 {
  @extend %heading-large;
}

h2 {
  @extend %heading-medium;
}

h3 {
  @extend %heading-small;
}

h4 {
  @extend %heading-extra-small;
}

// Our default font-size is 16px, with a line-height of 1.4(?). This is applied to the <body> and all paragraphs.
//
// Styleguide p

p {
  @extend %paragraph;
}

b {
  font-weight: 700;
}

// The default style for numbered lists. The padding offsets the bullets by 25px;
//
// Styleguide ol

ol {
  padding: 0 0 0 25px;
}

// The default style for unordered lists. The padding offsets the bullets by 25px.
//
// Styleguide ul

ul {
  margin: $baseline-unit*2 0 $baseline-unit*4 0;
  padding: 0 0 0 25px;
}
