h1 {
  color: $color-green-primary;
}

// Font loading test
h1 {
  font-family: arial;
  font-weight: normal;
  .wf-museoslab-n4-active & {
    font-family: 'MuseoSlab', arial;
  }
}

p {
  font-family: arial;
}


// A list that has ticks for bullet points
//
// Styleguide specialList
.specialList {
  color:red;
}
