// Use .visually-hidden to hide content from all but screen-reader users
//
// Styleguide visually-hidden

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height:  1px;
  width:   1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

// Use .clearfix to prevent a container element from collapsing when an internal element is floated.
//
// Styleguide clearfix

.u-clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}