// Override Yeast variables

$color-heading-default: $color-true-black;
$color-link-default: $color-blue-cerulean;

// New colors

$color-yellow-dark: #e8b940;
$color-yellow-link-active: #daaf2d;
$color-grey-very-light: #ecf0ef;
