<ul class="authentication <% unless display_search_box_in_header? %>l-authentication<% end %>">

  <li class="authentication__item l-language-link">
    <%= render 'shared/language_link', locals: alternate_locales %>
  </li>

</ul>
