<nav role="navigation" class="breadcrumb">
    <p class="breadcrumb">
        <span class="visuallyHidden">You are here:</span>
        <a href="index.html">Home</a> >
        <a href="products.html">Life Event</a> >
        <%= current_page %>
    </p>
</nav>