<nav class="breadcrumbs" role="navigation" aria-label="<%= t('breadcrumbs.aria_label') %>">
  <ul class="unstyled-list">
    <% breadcrumbs.each_with_index do |breadcrumb, index| %>
      <li class="breadcrumbs__item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <% if index > 0 %>
          <span class="visually-hidden">&gt;</span>
          <span class="breadcrumbs__divider" aria-hidden="true"></span>
        <% end %>
        <%= link_to breadcrumb.path, itemprop: 'url' do %>
          <span itemprop="title"><%= breadcrumb.title %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
