<div class="campaign-trust-banner">
  <div class="l-campaign-trust-banner">
    <div class="l-constrained">
      <p class="l-campaign-trust-banner__left campaign-trust-banner__content"><%= t('home.show.strapline') %></p>
      <div class="l-campaign-trust-banner__right">
        <span class="logo logo--green"></span>
      </div>
    </div>
  </div>
</div>
