<nav role="navigation" class="l-category-nav">
  <ul class="link-list-primary">
    <% category_navigation.each do |category| %>
      <li class="link-list-primary__item <%= active_categories.member?(category.id) ? 'is-selected' : '' %>">
        <%= link_to category.title, main_app.category_path(category.id), class: 'link-list-primary__link' %>
        <% if active_categories.member? category.id %>
          <ul class="link-list-secondary">
            <% category.contents.each do |sub_category| %>
              <li class="link-list-secondary__item <%= active_categories.member?(sub_category.id) ? 'is-selected' : '' %>">
                <%= link_to sub_category.title, main_app.category_path(sub_category.id), class: 'link-list-secondary__link' %>
              </li>
            <% end %>
          </ul>
      <% end %>
      </li>
    <% end  %>
  </ul>
</nav>
