<div class="covid_banner l-constrained">
	<div class="covid_banner__content">
		<p class="covid_banner__head"><%= t('covid_banner.head') %></p>
		<p class="covid_banner__body"><%= t('covid_banner.body_html', href: t('covid_banner.href')) %></p>
	</div>
</div>
