<div class="covid_banner" data-dough-component="CovidBanner">
	<div class="l-constrained">
		<div class="covid_banner__content">
			<div class="covid_banner__inner">
				<a href="#" class="covid_banner__close" data-dough-close>
					<svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--mobile-close-box">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--mobile-close-box"></use>
					</svg>
				</a>
				<p class="covid_banner__head"><%= t('covid_banner.head') %></p>
				<p class="covid_banner__body"><%= t('covid_banner.body_html', href: t('covid_banner.href')) %></p>
			</div>
		</div>
	</div>
</div>
