<div class="covid_banner l-constrained">
	<div class="covid_banner__content">
		<p class="covid_banner__head">Coronavirus and your money</p>
		<p class="covid_banner__body">For more information, read our pages on <a href="#">coronavirus</a></p>
	</div>
</div>
