<div class="directory l-directory">
  <section class="l-constrained">
    <% items.each do |item| %>
      <div class="directory__item">
        <%= heading_tag(level: 2, class: 'directory__title') do %>
          <%= link_to item.title, item.path %>
        <% end %>

        <p class="directory__description"><%= item.description %></p>
      </div>
    <% end %>
  </section>
</div>
