<section class="inline-feedback">
  <%= link_to t('inline_feedback.technical_feedback_link'), new_technical_feedback_path, class: 'inline-feedback__link t-inline-feedback__technical-feedback-link' %>
</section>
