<div class="feedback">
  <div class="l-container">
    <a href="/">
      <p>
        <span class="icon icon--speech"></span>
        <b><%= t('feedback.message_part_one') %></b>
        <br>
        <%= t('feedback.message_part_two') %>
      </p>
    </a>
  </div>
</div>
