<div class="feedback">
  <div class="l-container">
    <p>
      <span class="icon icon--speech"></span>
      <b><%= t('feedback.message') %></b>
      <br>
      <%= t('feedback.call_to_action') %> <a class="js-linkParent" href="#test"><%= t('feedback.feedback') %></a>.
    </p>
  </div>
</div>
