<div class="footer-opt-out">
  <div class="l-container">
    <%= form_tag(opt_out_index_path) do %>
      <%= button_tag(t('opt_out.footer'), class: 'button--link icon--desktop') %>
    <% end %>
  </div>
</div>
