<div class="footer-social-links">
  <div class="l-constrained">
    <div class="l-split-start">
      <a href="#">
        <span class="mas-logo-small"></span>
        <span class="visually-hidden">Money Advice Service</span>
      </a>
    </div>

    <div class="l-split-end">
      <%= render 'shared/social_links' %>
    </div>
  </div>
</div>
