<footer class="footerSocialLinks">
  <div class="l-container">
    <div class="l-splitStart">
      <a href="#">
        <span class="icon icon--masLogo"></span>
        <span class="u-visuallyHidden">Money Advice Service</span>
      </a>
    </div>

    <div class="l-splitEnd">
      <ul class="socialLinks">
        <li>
          <a href="https://www.youtube.com/user/MoneyAdviceService">
            <span class="icon icon--youtube" aria-hidden="true"></span>
            <span class="u-visuallyHidden">YouTube</span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/MoneyAdviceService?ref=mas">
            <span class="icon icon--facebook" aria-hidden="true"></span>
            <span class="u-visuallyHidden">Facebook</span>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/YourMoneyAdvice">
            <span class="icon icon--twitter" aria-hidden="true"></span>
            <span class="u-visuallyHidden">Twitter</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>