<footer class="footerSocialLinks">
  <div class="l-container">
    <div class="l-splitStart">
      <a href="#">
          <span class="icon icon--masLogo">
              <span class="u-visuallyHidden">Money Advice Service</span>
          </span>
      </a>
    </div>

    <div class="l-splitEnd">
      <ul class="socialLinks">
        <li>
          <a href="">
              <span class="icon icon--youtube">
                <span class="u-visuallyHidden">YouTube</span>
              </span>
          </a>
        </li>
        <li>
          <a href="">
              <span class="icon icon--facebook">
                <span class="u-visuallyHidden">Facebook</span>
              </span>
          </a>
        </li>
        <li>
          <a href="">
              <span class="icon icon--twitter">
                <span class="u-visuallyHidden">Twitter</span>
              </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>