<div class="footerSiteLinks">
  <div class="l-container">
    <ul class="siteLinks unstyledList">
      <% locals.each do |locale| %>
        <li>
          <%= link_to t("locales.#{locale}"), { locale: locale },
                      { id: "#{locale}Link", class: 'specialLink' } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
