<div class="footer-social-links">
  <div class="l-constrained">
    <div class="l-split-start">
      <%= link_to root_path, class: 'footer-social-links__home' do %>
        <span class="icon icon--logo"></span>
        <span class="visually-hidden">Money Advice Service</span>
      <% end %>
    </div>

    <div class="l-split-end">
      <%= render 'shared/social_links' %>
    </div>
  </div>
</div>
