<footer class="footerSocialLinks">
  <div class="l-container">
    <div class="l-splitStart">
      <a href="#">
        <span class="icon icon--masLogo"></span>
        <span class="u-visuallyHidden">Money Advice Service</span>
      </a>
    </div>

    <div class="l-splitEnd">
      <%= render 'shared/social_links' %>
    </div>
  </div>
</footer>
