<div class="footer-site-links">
  <div class="l-container">
    <ul class="list-unstyled">
      <% locals.each do |locale| %>
        <li>
          <%= link_to t("locales.#{locale}"), { locale: locale },
                      { id: "#{locale}Link" } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
