<div class="footerSiteLinks">
  <div class="l-container">
    <ul class="link--brandFont list-unstyled">
      <% locals.each do |locale| %>
        <li>
          <%= link_to t("locales.#{locale}"), { locale: locale },
                      { id: "#{locale}Link", class: 'link--navigation' } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
