<nav class="global-nav" role="navigation" aria-label="main" id="global-nav" tabindex="-1">
  <div class="l-constrained">
    <ul class="global-nav__clumps">
      <li class="global-nav__clump">
        <a href="#" class="global-nav__clump__heading">
          <span class="global-nav__clump__heading__text">Debt &amp; Borrowing</span>

          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon global-nav__clump__heading__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="l-constrained global-nav__clump__content">
          <div class="l-constrained">
            <p class="global-nav__clump__description">Taking control of debt, getting free debt advice, and how to borrow affordably</p>

            <a href="#" class="global-nav__clump__content__heading">
              <span class="global-nav__clump__content__heading__text">Debt &amp; Borrowing</span>

              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow global-nav__clump__content__heading__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="global-nav__categories">
              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Debt &amp; Borrowing</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Before you borrow</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Taking control of debt</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Mortgage and rent problems</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Help with loans</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Credit cards and credit ratings</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category global-nav__tool-category">
                <ul class="global-nav__subcategories">
                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Debt test</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Loan calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Loan calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Credit card calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="global-nav__clump">
        <a href="#" class="global-nav__clump__heading">
          <span class="global-nav__clump__heading__text">Homes &amp; Mortgages</span>

          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon global-nav__clump__heading__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="l-constrained global-nav__clump__content">
          <div class="l-constrained">
            <p class="global-nav__clump__description">Everything you need to know about buying a home and choosing the right mortgage</p>

            <a href="#" class="global-nav__clump__content__heading">
              <span class="global-nav__clump__content__heading__text">Homes &amp; Mortgages</span>

              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow global-nav__clump__content__heading__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="global-nav__categories">
              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Homes</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Renting and letting</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Mortgages</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Buying a home</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Types of mortgage</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Help with mortgages</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category global-nav__tool-category">
                <ul class="global-nav__subcategories">
                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Mortgage calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Mortgage affordability calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Stamp Duty calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="global-nav__clump">
        <a href="#" class="global-nav__clump__heading">
          <span class="global-nav__clump__heading__text">Managing Money</span>

          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon global-nav__clump__heading__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="l-constrained global-nav__clump__content">
          <div class="l-constrained">
            <p class="global-nav__clump__description">Advice on running a bank account, planning your finances, and cutting costs</p>

            <a href="#" class="global-nav__clump__content__heading">
              <span class="global-nav__clump__content__heading__text">Managing Money</span>

              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow global-nav__clump__content__heading__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="global-nav__categories">
              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Budgeting and managing money</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Running a bank account</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Managing money</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Student and graduate money</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Cutting costs</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Saving and investing</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">How to save money</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Types of savings</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">How to invest money</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Types of investment</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category global-nav__tool-category">
                <ul class="global-nav__subcategories">
                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Money Health Check</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Quick cash finder</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="global-nav__clump">
        <a href="#" class="global-nav__clump__heading">
          <span class="global-nav__clump__heading__text">Work, Benefits &amp; Pensions</span>

          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon global-nav__clump__heading__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="l-constrained global-nav__clump__content">
          <div class="l-constrained">
            <p class="global-nav__clump__description">Find out what benefits you're entitled to and learn about Universal Credit</p>

            <a href="#" class="global-nav__clump__content__heading">
              <span class="global-nav__clump__content__heading__text">Work, Benefits &amp; Pensions</span>

              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow global-nav__clump__content__heading__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="global-nav__categories">
              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Pensions &amp; retirement</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Saving for retirement</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Types of pension</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Workplace pensions</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Pension basics</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Using your pension pot</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Financial advice</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">State Pension and benefits</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Managing money and planning ahead</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Help in later life</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">More help with pensions</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Work &amp; redundancy</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Employment basics</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Redundancy</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Benefits at work</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Self-employment</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Benefits</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Help with your benefits</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Child Benefit</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Universal Credit</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category global-nav__tool-category">
                <ul class="global-nav__subcategories">
                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Pension calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Workplace pension contribution calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Redundancy pay calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Tax credit calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="global-nav__clump">
        <a href="#" class="global-nav__clump__heading">
          <span class="global-nav__clump__heading__text">Family</span>

          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon global-nav__clump__heading__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="l-constrained global-nav__clump__content">
          <div class="l-constrained">
            <p class="global-nav__clump__description">Having a baby, making a will, and dealing with divorce and separation</p>

            <a href="#" class="global-nav__clump__content__heading">
              <span class="global-nav__clump__content__heading__text">Family</span>

              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow global-nav__clump__content__heading__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="global-nav__categories">
              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Births</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Having a baby</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Maternity and paternity rights</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Deaths</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">When someone dies</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Family</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Divorce and separation</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Making a will</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Disability</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Support for carers</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Care advice and help</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Paying for care</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Care</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Illness and disability</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category global-nav__tool-category">
                <ul class="global-nav__subcategories">
                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Baby cost calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Budget planner</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Christmas money planner</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="global-nav__clump">
        <a href="#" class="global-nav__clump__heading">
          <span class="global-nav__clump__heading__text">Cars &amp; Travel</span>

          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon global-nav__clump__heading__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="l-constrained global-nav__clump__content">
          <div class="l-constrained">
            <p class="global-nav__clump__description">Help with buying, running and selling a car, buying foreign currency, and sending money abroad</p>

            <a href="#" class="global-nav__clump__content__heading">
              <span class="global-nav__clump__content__heading__text">Cars &amp; Travel</span>

              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow global-nav__clump__content__heading__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="global-nav__categories">
              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Travel</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Travel money &amp; sending money abroad</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Cars</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Running a car</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">How to buy a car</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">How to sell a car</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category global-nav__tool-category">
                <ul class="global-nav__subcategories">
                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Car cost calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Budget planner</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>

                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Credit card calculator</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="global-nav__clump">
        <a href="#" class="global-nav__clump__heading">
          <span class="global-nav__clump__heading__text">Insurance</span>

          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon global-nav__clump__heading__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>

        <div class="l-constrained global-nav__clump__content">
          <div class="l-constrained">
            <p class="global-nav__clump__description">Help and advice on protecting your family and getting the right home and car insurance</p>

            <a href="#" class="global-nav__clump__content__heading">
              <span class="global-nav__clump__content__heading__text">Insurance</span>

              <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--arrow--narrow global-nav__clump__content__heading__arrow" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
              </svg>
            </a>

            <ul class="global-nav__categories">
              <li class="global-nav__category">
                <a href="#" class="global-nav__category__heading">Insurance</a>

                <ul class="global-nav__subcategories">
                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Car insurance</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Home insurance</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Travel insurance</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Pet insurance</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Life and protection insurance</a>
                  </li>

                  <li class="global-nav__subcategory">
                    <a href="#" class="global-nav__subcategory__link">Help with insurance</a>
                  </li>
                </ul>
              </li>

              <li class="global-nav__category global-nav__tool-category">
                <ul class="global-nav__subcategories">
                  <li class="global-nav__tool">
                    <a href="#" class="global-nav__tool__link">Budget planner</a>

                    <span class="global-nav__tools__icon">
                       <svg class="global-nav__tool-icon" role="presentation" viewBox="0 0 100 100">
                         <use xlink:href="#svg-icon--tool"></use>
                       </svg>
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="global-nav__clump">
        <a href="#" class="global-nav__clump__heading">
          <span class="global-nav__clump__heading__text">Blog</span>

          <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon global-nav__clump__heading__arrow" focusable="false">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--arrow--narrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
