<header class="header" role="banner">
  <div class="l-container">
    <a class="skip-to-content" href="#main">Skip to main content</a>
    <div class="mas-logo">
      <span class="visually-hidden">the Money Advice Service</span>
    </div>
    <nav role="navigation">
      <%= render 'shared/primary_nav' %>
      <%= render 'shared/search_box' %>
    </nav>
  </div>
</header>
