<header class="l-header header" role="banner">
  <div class="l-container">
    <div class="mas-logo">
      <span class="visually-hidden">the Money Advice Service</span>
    </div>
  </div>

  <nav class="l-container" role="navigation">
    <%= render 'shared/mobile_nav' %>
    <%= render 'shared/primary_nav' %>
  </nav>

  <%= render 'shared/search_box' %>
</header>
