<header class="l-header header" role="banner">
  <div class="l-constrained">
    <%= link_to root_path do %>
      <div class="mas-logo">
        <span class="visually-hidden">the Money Advice Service</span>
      </div>
    <% end %>
  </div>

  <nav class="l-constrained" role="navigation" aria-label="primary">
    <%= render 'shared/mobile_nav' %>
    <%= render 'shared/primary_nav' %>
  </nav>

  <%= render 'shared/search_box' %>
</header>
