<div class="home-feature">
  <div class="l-constrained l-padded">
    <div class="home-feature__content">
      <h1 class="home-feature__heading"><%= strapline %></h1>

      <ul class="home-feature__list">
        <%= list %>
      </ul>
    </div>
  </div>
</div>
