<div class="home-contact">
  <div class="l-constrained">
    <section class="home-contact__header">
      <h2><%= t('home.show.contact.title') %></h2>
      <%= t('home.show.contact.introduction_html') %>
    </section>
    <div class="home-contact__details"><%= t('home.show.contact.details_html') %></div>
  </div>
</div>
