<section class="home-contact">
  <div class="l-constrained">
    <header class="home-contact__header">
      <h2><%= title %></h2>
      <div class="home-contact__introduction"><%= introduction %></div>
    </header>
    <div class="home-contact__details"><%= details %></div>
  </div>
</section>
