<div class="home-feature">
  <div class="l-constrained">
    <div class="home-feature__content">
      <h1 class="home-feature__strapline"><%= strapline %></h1>

      <ul class="home-feature__list">
        <% items.each do |item| %>
          <li class="home-feature__list-item">
            <a class="home-feature__heading" href="<%= item['url'] %>"><%= item['title'] %></a>
            <p><%= item['description'] %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
