<section class="l-constrained">
  <ul class="home-promoted">
    <li class="home-promoted__item">
      <a href="">
        <%= image_tag("home-promoted-1.jpg", alt: "") %>
        Discover the true cost of affording your home
      </a>
    </li>
    <li class="home-promoted__item">
      <a href="">
        <%= image_tag("home-promoted-2.jpg", alt: "") %>
        Discover the true cost of affording your home
      </a>
    </li>
    <li class="home-promoted__item">
      <a href="">
        <%= image_tag("home-promoted-3.jpg", alt: "") %>
        Discover the true cost of affording your home
      </a>
    </li>
  </ul>
</section>
