<div class="home-feature">
  <div class="l-constrained">
    <div class="home-feature__content">
      <h1 class="home-feature__strapline"><%= strapline %></h1>

      <ul class="home-feature__list">
        <%= list %>
      </ul>
    </div>
  </div>
</div>
