<div class="l-home-top">
  <div class="l-home-top__image"></div>
  <div class="l-constrained">
    <%= render 'shared/trust_banner', items: t('home.show.trust_banner_list') %>
    <%= render 'shared/promo_link' %>
  </div>
</div>
