<section class="l-constrained">
  <ul class="home-promoted">
    <% items.each do |item| %>
      <li class="home-promoted__item">
        <%= link_to item['url'] do %>
          <%= image_tag(item['image'], alt: '') %>
          <%= item['text'] %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
