<section class="home-feature">
  <div class="l-constrained">
    <header class="home-feature__header">
      <h1><%= strapline %></h1>
      <%= image_tag('home-illustration.jpg') %>
    </header>

    <ul class="home-feature__list">
      <%= list %>
    </ul>
  </div>
</section>
