<section class="home-feature">
  <div class="l-constrained">
    <header class="home-feature__header">
      <h1><%= t('home.show.feature.strapline_html') %></h1>
      <%= image_tag('home-illustration.jpg') %>
    </header>

    <ul class="home-feature__list">
      <%= t('home.feature.list_html') %>
    </ul>
  </div>
</section>
