<div class="l-maps_banner<%= ' l-header__content--non-sticky' if hide_sticky_header? %>">
  <div class="l-constrained">
    <div class="l-maps_banner__content">
      <a href="https://moneyandpensionsservice.org.uk/" target="_blank" class="maps_banner__link">
        <span class="maps_banner__mps-text">
          <span><%= t('maps_banner.mps_provided_1') %></span>
          <span><%= t('maps_banner.mps_provided_2') %></span>
        </span>

        <%= image_tag("mps-logo-#{locale}.png", class: 'mps-logo__img', alt: "#{t('maps_banner.mps')}") %>

        <span class="visually-hidden">opens in a new window</span>
      </a>
    </div>
  </div>
</div>
