<div class="l-container message-bar">
  <p>
    You are viewing an early release of the new Money Advice Service website&#160;
    <a href=""><span class="icon icon--desktop"></span>&#160;View&#160;desktop&#160;site</a>
  </p>
</div>
