<div class="l-mh_banner">
  <div class="l-constrained">
    <div class="l-mh_banner__content">
        <p class="mh_banner__header"><%= t('mh_banner.header') %></p>
        <p class="mh_banner__body"><%= t('mh_banner.body') %></p>
        <div class="mh_banner__logo"></div>
    </div>
  </div>
</div>
