<ul class="mobile-nav">
  <li class="mobile-nav__item">
    <a href="#primary-nav">Menu</a>
  </li>

  <li class="mobile-nav__item mobile-nav__item--search">
    <a href="#search-bar">
      <span class="icon icon--search-white"></span>
      <span class="visually-hidden">Search</span>
    </a>
  </li>
</ul>
