<ul class="mobile-nav">
  <li>
    <a class="mobile-nav__item" href="#primaryNav">Menu</a>
  </li>

  <li>
    <a href="#searchBar" class="mobile-nav__item">
      <span aria-hidden="true" class="icon icon--search"></span>
      <span class="visually-hidden">Search</span>
    </a>
  </li>
</ul>
