<ul class="mobile-nav">
  <li class="mobile-nav__item">
    <a href="#primary-nav">Menu</a>
  </li>

  <li class="mobile-nav__item">
    <a href="#search-bar" class="icon icon--search-white">
      <span class="visually-hidden">Search</span>
    </a>
  </li>
</ul>
