<ul class="my-account">
  <li class="my-account__item">
    <a class="my-account__link" href=""><%= t('account.sign_in') %></a>
  </li>
  <li class="my-account__item">
    <a class="my-account__link" href=""><%= t('account.register') %></a>
  </li>
</ul>
