<nav class="nav" role="navigation" aria-label="main">
  <ul class="link-list-primary">
    <li class="link-list-primary__item">
      <a href="#bar" class="link-list-primary__link">Debt and borrrowing</a>
    </li>

    <li class="link-list-primary__item">
      <a href="#bar" class="link-list-primary__link is-selected">Budgeting and managing money</a>

      <ul class="link-list-secondary">
        <li class="link-list-secondary__item">
          <a href="#bar" class="link-list-secondary__link">Help with insurance</a>
        </li>
        <li class="link-list-secondary__item">
          <a href="#bar" class="link-list-secondary__link is-selected">Home insurance</a>
        </li>
        <li class="link-list-secondary__item">
          <a href="#bar" class="link-list-secondary__link">Life and protection insurance</a>
        </li>
        <li class="link-list-secondary__item">
          <a href="#bar" class="link-list-secondary__link">Car insurance</a>
        </li>
        <li class="link-list-secondary__item">
          <a href="#bar" class="link-list-secondary__link">Travel insurance</a>
        </li>
        <li class="link-list-secondary__item">
          <a href="#bar" class="link-list-secondary__link">Pet insurance</a>
        </li>
      </ul>
    </li>

    <li class="link-list-primary__item">
      <a href="#bar" class="link-list-primary__link">Saving and investing</a>
    </li>

    <li class="link-list-primary__item">
      <a href="#bar" class="link-list-primary__link">Work, pensions and retirement</a>
    </li>

    <li class="link-list-primary__item">
      <a href="#bar" class="link-list-primary__link">Benefits</a>
    </li>
  </ul>
</nav>
