<div class="opt-out-bar">
  <div class="l-container">
    <p><%= t('opt_out.message') %></p>
    <%= form_tag(opt_out_index_path) do %>
      <%= button_tag(t('opt_out.button'), class: 'opt-out-bar__button icon--desktop') %>
    <% end %>
  </div>
</div>
