<div class="l-container message-bar">
  <p>
    You are viewing an early release of the new Money Advice Service website&#160;
    <%= button_to('View desktop site', opt_out_index_path, class: 'icon icon--desktop' ) %>
  </p>
</div>
