<div class="stripe-banner t-pas__stripe_banner">
  <div class="l-constrained">
    <a href="<%= t('pas_chat_banner.banner_link') %>" target="_blank" class="stripe-banner__link">
      <span class="stripe-banner__content">
        <strong><%= t('pas_chat_banner.banner_title') %></strong>
        <%= t('pas_chat_banner.banner_content') %>
        <span class="visually-hidden">(<%= t('pas_chat_banner.banner_new_window') %>)</span>
      </span>
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--stripe-banner-arrow" focusable="false">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--stripe-banner-arrow"></use>
      </svg>
      <span class="icon icon--stripe-banner-arrow"></span>
    </a>
  </div>
</div>
