<div class="promo-link l-promo-link">
  <p class="promo-link__text">
    <a href="#" class="promo-link__link">
      <%= t('home.show.promo_link_text') %>

      <svg class="promo-link__link-arrow">
        <use xlink:href="#icon-arrow-right"></use>
      </svg>
    </a>
  </p>
</div>
