<div class="l-constrained">
  <section class="clearfix">
    <% items.each do |item| %>
      <div class="promo l-homepage-promo">
        <h2>
          <%= link_to item[:url] do %>
            <%= image_tag("promos/#{item[:image]}", alt: '') %>
            <span class="promo__heading"><%= item[:text] %></span>
          <% end %>
        </h2>

        <p class="promo__content"><%= item[:content] %></p>
      </div>
    <% end %>
  </section>
</div>
