<p class="related-categories">
  <%= t('articles.show.related_categories.title') %>:&nbsp;
  <% categories.each_with_index do |category, index| %>
    <%= link_to category.title, category.path, class: 'related-categories__link' %>
    <% unless category == categories.last %>
      <span class="related-categories__divider">&nbsp;|&nbsp;</span>
    <% end %>
  <% end %>
</p>
