<div class="related-categories">
  <h2 class="related-categories_heading">Article appears in</h2>
  <ul class="unstyled-list">
    <li class="related-categories__link"><a href="#foo">Homes &amp; mortgages</a></li>
    <li class="related-categories__link"><a href="#foo">Renting a property</a></li>
  </ul>
</div>
