<div class="related-categories">
  <h2 class="related-categories_heading"><%= t('articles.show.related_categories.title') %></h2>
  <ul class="unstyled-list">
    <% categories.each do |category| %>
      <li class="related-categories__link">
        <%= link_to category.title, category.path %>
      </li>
    <% end %>
  </ul>
</div>
