<% categories.each do |category| %>
  <div class="related-links">
    <%= category.related_links_title %>
    <ul class="unstyled-list">
      <% category.contents.each do |article| %>
        <li class="related-links__link">
          <%= link_to article.title, article.path %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
