<div class="related-links">
  <h2 class="visually-hidden">Related content</h2>
  <% categories.each do |category| %>
    <div class="related-links__category">
      <h3 class="related-links__heading">
        <%= category.title %>
      </h3>
      <ul class="unstyled-list">
        <% category.contents.each do |article| %>
          <li class="related-links__category-link">
            <%= link_to article.title, article.path %>
          </li>
        <% end %>
        <li class="related-links__category-link"><%= link_to 'View all...', category.path %></li>
      </ul>
    </div>
  <% end %>
</div>
