<p class="related-categories">
  <%= t('articles.show.related_categories.title') %>:&nbsp;
  <% categories.each do |category| %>
    <%= link_to category.title, category.path, class: 'related-categories__link' %>
    <span class="related-categories__divider">&nbsp;|&nbsp;</span>
  <% end %>
</p>
