<div class="related-categories">
  <h2 class="related-categories_heading">Article appears in</h2>
  <ul>
    <li><a href="#foo">Homes &amp; mortgages</a></li>
    <li><a href="#foo">Renting a property</a></li>
  </ul>
</div>
