<div class="related-links">
  <h2>Related content</h2>

  <h3 class="related-links__category-heading">
     <a href="#foo" class="related-links__category-link">Homes &amp; Mortgages</a>
  </h3>
  <ul>
    <li><a href="#foo">Interest-only mortgages</a></li>
    <li><a href="#foo">Buying property - what can you afford?</a></li>
    <li><a href="#foo">Understanding mortgages</a></li>
    <li><a href="#foo">Chooseing the right mortgage</a></li>
  </ul>

  <h3 class="related-links__category-heading">
    <a href="#foo" class="related-links__category-link">Renting a property</a>
  </h3>
  <ul>
    <li><a href="#foo">Interest-only mortgages</a></li>
    <li><a href="#foo">Buying property - what can you afford?</a></li>
    <li><a href="#foo">Understanding mortgages</a></li>
    <li><a href="#foo">Chooseing the right mortgage</a></li>
  </ul>
</div>
