<form class="search-box" id="search-bar" action="/search" method="get" role="search">
  <div class="l-search-box">
    <label class="visually-hidden">Search the Money Advice Service</label>
    <input class="search-box__input" type="text" placeholder="Search..."/>
    <button class="search-box__submit icon icon--search" type="submit">
      <span class="visually-hidden">Search</span>
    </button>
  </div>
</form>
