<form class="search-box" action="/search" method="get" role="search">
  <label class="visually-hidden">Search the Money Advice Service</label>
  <input class="search-box__input" type="text" placeholder="Search"/>
  <button class="search-box__submit" type="submit">Search</button> <!-- can we have this as a button? -->
</form>
