<ul class="socialLinks">
  <li>
    <a href="https://www.youtube.com/user/MoneyAdviceService">
      <span class="icon icon--youtube">
        <span class="u-visuallyHidden">YouTube</span>
      </span>
    </a>
  </li>

  <li>
    <a href="https://www.facebook.com/MoneyAdviceService?ref=mas">
      <span class="icon icon--facebook">
        <span class="u-visuallyHidden">Facebook</span>
      </span>
    </a>
  </li>

  <li>
    <a href="http://twitter.com/YourMoneyAdvice">
      <span class="icon icon--twitter">
        <span class="u-visuallyHidden">Twitter</span>
      </span>
    </a>
  </li>
</ul>