<ul class="socialLinks">
  <li>
    <a href="https://www.youtube.com/user/MoneyAdviceService" id="youtubeLink">
      <span class="icon icon--youtube" aria-hidden="true"></span>
      <span class="u-visuallyHidden">YouTube</span>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/MoneyAdviceService?ref=mas" id="facebookLink">
      <span class="icon icon--facebook" aria-hidden="true"></span>
      <span class="u-visuallyHidden">Facebook</span>
    </a>
  </li>
  <li>
    <a href="http://twitter.com/YourMoneyAdvice" id="twitterLink">
      <span class="icon icon--twitter" aria-hidden="true"></span>
      <span class="u-visuallyHidden">Twitter</span>
    </a>
  </li>
</ul>
