<div class="stripe-banner">
  <div class="l-constrained">
    <a href="<%= t('home.show.stripe_banner.url') %>" class="stripe-banner__link">
      <b class="stripe-banner__bold"><%= t('home.show.stripe_banner.worried_about_debt') %></b> <%= t('home.show.stripe_banner.find_out_where') %><svg class="stripe-banner__arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 65" enable-background="new 0 0 65 65"><circle fill="#E4B92D" cx="32.5" cy="32.5" r="32.5"/><path d="M30 44.3L25.7 40l8.1-8-9-8.5 4.2-4.3 13.4 12.7z"/></svg>
    </a>
  </div>
</div>
