<div class="stripe-banner">
  <div class="l-constrained">
    <a href="<%= item.promo_banner_url %>" class="stripe-banner__link">
 	  <span class="stripe-banner__content">
	    <%= markdown item.promo_banner_content %>
      </span>
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--stripe-banner-arrow">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--stripe-banner-arrow"></use>
      </svg>
      <span class="icon icon--stripe-banner-arrow"></span>
    </a>
  </div>
</div>
