<div class="stripe-banner">
  <div class="l-constrained">
    <a href="<%= t('home.show.stripe_banner.url') %>" class="stripe-banner__link">
      <b class="stripe-banner__bold"><%= t('home.show.stripe_banner.worried_about_debt') %></b> <%= t('home.show.stripe_banner.find_out_where') %>
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon svg-icon--stripe-banner-arrow">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-icon--stripe-banner-arrow"></use>
      </svg>
      <span class="icon icon--stripe-banner-arrow"></span>
    </a>
  </div>
</div>
