<div class="global-alert--warning global-alert--in-page">
  <div class="global-alert__content-container">
    <strong class="global-alert__heading"><%= t('tools_budget_warning.title') %></strong>
    <p class="global-alert__message"><%= t('tools_budget_warning.description') %></p>
  </div>
</div>