<div class="l-constrained">
  <div class="trust-banner l-trust-banner">
    <p class="trust-banner__heading"><%= t('home.show.heading') %></p>
    <%= image_tag("illustrated_people.png", alt: '', class: 'trust-banner__image') %>

    <ul class="trust-banner__content">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Curabitur blandit tempus porttitor.</li>
      <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
    </ul>
  </div>
</div>
