<div class="l-constrained">
  <div class="trust-banner l-trust-banner">
    <h1 class="trust-banner__heading"><%= t('home.show.heading') %></h1>
    <div class="trust-banner__image"></div>
  </div>
</div>
