<div class="trust-banner l-trust-banner">
  <p class="trust-banner__heading"><%= t('home.show.heading') %></p>
  <ul class="trust-banner__content">
    <% items.each do |item| %>
      <li><%= item[:text] %></li>
    <% end %>
  </ul>
</div>
