---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/redundancy.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - dc728ddcc45fabbe207c1fdd8d641770
    body:
      encoding: UTF-8
      string: '{"id":"redundancy","title":"Redundancy","description":"Help with making
        a redundancy plan, benefits you can claim, and your legal rights.","parent_id":"work-pensions-and-retirement","contents":[{"id":"managing-your-money-if-your-job-is-at-risk","type":"guide","title":"Managing
        money if your job is at risk","description":"Job loss on the horizon? How
        to take control of your finances and survive a period out of work"},{"id":"redundancy","type":"tool","title":"Action
        plan - Redundancy","description":"Whether you have just been made redundant
        or you think redundancy might be on the horizon, use this step-by-step action
        plan to take control of your situation"},{"id":"redundancy-pay","type":"guide","title":"R[...]
