---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/retirement-income-basics.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 20b4c2a60e9b255f1d5374bd77bfe3e2
    body:
      encoding: UTF-8
      string: '{"id":"retirement-income-basics","title":"Retirement income basics","description":"Setting
        a clear retirement income goal and managing your money once you\u2019ve stopped
        working.","parent_id":"work-pensions-and-retirement","contents":[{"id":"new-rules-about-pensions-from-27-march-2014","type":"guide","title":"New
        rules about pensions from 27 March 2014","description":"Read our advice on
        the government\u2019s proposed pension changes from April 2015 and interim
        relaxed rules for cash lump sums and income withdrawal"},{"id":"protecting-your-retirement-income","type":"guide","title":"Protecting
        your retirement income","description":"With a guarantee period or lump-sum
        death benefit your partner or dependant may get some of your pension income
    [...]
