<% set_meta_tags(title: 'MoneyHelper car costs calculator') %>
<div class="l-container-tool">
  <main>
    <div class="l-money_navigator-landing">
      <section class="landing__intro">
        <h1 class="l-money_navigator__heading landing__section-heading">Looking for the MoneyHelper car costs calculator?</h1>
        <p>This tool is no longer available, but please visit the <a href="https://www.moneyhelper.org.uk/en/everyday-money/buying-and-running-a-car" target="_blank">Buying and running a car</a> section for full help on car ownership, including:</p>
      </section>

      <section class="landing__who-help">
        <ul class="list">
          <li><a href="https://www.moneyhelper.org.uk/en/everyday-money/buying-and-running-a-car/whats-the-best-way-to-finance-buying-a-car" target="_blank">how car finance works</a></li>
          <li><a href="https://www.moneyhelper.org.uk/en/everyday-money/buying-and-running-a-car/cut-your-car-and-train-costs" target="_blank">ways to reduce car running costs</a></li>
          <li>how to <a href="https://www.moneyhelper.org.uk/en/everyday-money/buying-and-running-a-car/how-to-find-the-right-car-for-your-budget" target="_blank">buy</a> and <a href="https://www.moneyhelper.org.uk/en/everyday-money/buying-and-running-a-car/selling-your-car" target="_blank">sell</a> a car.</li>
        </ul>
      </section>
    </div>
  </main>
</div>
