---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=32\u0026hitsPerPage=10\u0026query=money"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Alg-Pt:
      - '1'
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Press release: UK could gain £108 billion from improved
        money management","description":"","content":"<p><strong>Wednesday 16 November
        2016</strong></p>\n\n<p>New research from the Money Advice Service reveals
        that people across the UK could be better off by around £108 billion over
        the next 30 years if they were a better able to manage their money.</p>\n\n<p>Research
        shows that people’s confidence and skills in dealing with money issues, known
        as “Financial Capability” remains stubbornly low. This means they could be
        missing out on the financial benefits tha[...]
