---
http_interactions:
- request:
    method: post
    uri: https://xgb5qlte67-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=1\u0026hitsPerPage=10\u0026query=money"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Press release: Money Advice Service calls for evidence
        to improve UK’s financial well being","description":"Money Advice Service
        calls for evidence to improve UK’s financial well being","content":"<p>**16
        May 2013 **</p>\n\n<p>The Money Advice Service is today beginning the process
        of drawing up a new strategy to improve the financial well being of the nation.</p>\n\n<p>The
        first step is a call for individuals and organisations to provide evidence
        of projects and initiatives which have been successful in improving people’s
        financial well being.</p>\n\n<ul>\n  <li>\n    <p><a href=\"https://www.moneyadviceservice.org.uk/files/money-advice-service-calls-for-evidence-pr-160513-final.pdf\">Read
        the press release in full (PDF)</a>.</p>\n  </li>\n  <li>\n    <p><a href=\"https://www.moneyadviceservice.org.uk/en/static/financial-capability-call-for-evidence\">Find
        out more and read the Money Advice Service UK Financial Capability Strategy
        - Call for evidence in full</a>.</p>\n  </li>\n</ul>\n\n","published_at":"2015-03-16T11:27:55.000Z","objectID":"/en/corporate/money-advice-service-calls-for-evidence-to-improve-uks-financial-well-being","_highlightResult":{"title":{"value":"Press
        release: <b>Money</b> Advice Service calls for evidence to improve UK’s financial
        well being","matchLevel":"full","fullyHighlighted":false,"matchedWords":["money"]},"description":{"value":"<b>Money</b>
        Advice Service calls for evidence to improve UK’s financial well being","matchLevel":"full","fullyHighlighted":false,"matchedWords":["money"]}}},{"title":"Press
        release: Money Advice Service publishes 2013-14 Business Plan, to help people
        make the most of their money","description":"Money Advice Service publishes
        2013-14 Business Plan, to help people make the most of their money","content":"<p><strong>27
        March 2013</strong></p>\n\n<p>The Plan details the Service’s vision to get
        more people saving, managing debt and protecting what they own - with almost
        half a million outcomes.</p>\n\n<p>In the year ahead, the Service will continue
        to provide advice on the whole range of money issues faced by everyone across
        the UK, young or old, but will focus particularly on those people in greatest
        financial need: younger adults and low to middle income famil[...]
