---
http_interactions:
- request:
    method: post
    uri: https://bhpslyij2l-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=\u0026hitsPerPage=10\u0026query=health"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Money Health Check","description":"Use the Money
        Health Check to give you a picture of your finances and an action plan","published_at":"2015-03-09T13:12:26.000Z","objectID":"/en/tools/health-check","_highlightResult":{"title":{"value":"Money
        <b>Health</b> Check","matchLevel":"full","fullyHighlighted":false,"matchedWords":["health"]},"description":{"value":"Use
        the Money <b>Health</b> Check to give you a picture of your finances and an
        action plan","matchLevel":"full","fullyHighlighted":false,"matchedWords":["health"]},"published_at":{"value":"2015-03-09T13:12:26.000Z","matchLevel":"none","matchedWords":[]}}},{"title":"Debt
        health check","description":"Our debt health check will help you work out
        the best option to help you beat your money worries and find free debt advice
        [...]
