---
http_interactions:
- request:
    method: post
    uri: https://xgb5qlte67-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=\u0026hitsPerPage=10\u0026query=money"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Money Manager tool for Universal Credit claimants","description":"Money
        Manager is designed just for people on Universal Credit. You can use it whether
        you’re making a new claim or moving to Universal Credit from existing benefits.","content":"\n","published_at":"2018-03-27T10:26:38.000Z","objectID":"/en/tools/money-manager","_highlightResult":{"title":{"value":"<b>Money</b>
        Manager tool for Universal Credit claimants","matchLevel":"full","fullyHighlighted":false,"matchedWords":["money"]},"description":{"value":"<b>Money</b>
        Manager is designed just for people on Universal Credit. You can use it whether
        you’re making a new claim or moving to Universal Credit from existing benefits.","matchLevel":"full","fullyHighlighted":false,"matchedWords":["money"]}}},{"title":"Money
        Advice Toolkits","description":"Money Advice Service toolkits provide information
        about policy changes and topical money issues","content":"<h2 id=\"money-advice-toolkits\">Money
        Advice Toolkits</h2>\n\n<p>We are happy to work with charities, local authorities,
        employers and any other organisations to ensure that they are able to give
        accurate and helpful money advice to their customers and clients. To help
        with this, the Money Advice Service has created toolkits to provide information
        and support a round upcoming policy changes and specific areas of financial
        capability. You can download the toolkits, free of charge, from the links
        below:</p>\n\n<h3 id=\"interest-only-mortgages-toolkit--downloadfilesinterest-only-mortgages-toolkitpdf\">Interest-only
        Mortgages Toolkit ( <a href=\"/files/interest-only-mortgages-toolkit.pdf\">download</a>)</h3>\n\n<p><img
        src=\"https://www.moneyadviceservice.org.uk/images/interest-only-toolkit.png\"
        alt=\"\" /></p>\n\n<p>We have pulled together a snapshot of material we think
        is relevant to the ‘interest-only’ mortgage customer from the extensive range
        of resources avail[...]
