---
http_interactions:
- request:
    method: post
    uri: https://xgb5qlte67-dsn.algolia.net/1/indexes/pages/query
    body:
      encoding: UTF-8
      string: '{"params":"highlightPreTag=%3Cb%3E\u0026highlightPostTag=%3C%2Fb%3E\u0026page=35\u0026hitsPerPage=10\u0026query=money"}'
    headers:
      X-Algolia-Api-Key:
      - "<API_KEY>"
      X-Algolia-Application-Id:
      - "<APP_ID>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Content-Disposition:
      - inline; filename=a.txt
    body:
      encoding: UTF-8
      string: '{"hits":[{"title":"Press release: CFEB to continue its role in helping
        consumers manage money","description":"","content":"<p>**17 June 2010 **</p>\n\n<p>Mark
        Hoban, Financial Secretary to the Treasury, has confirmed in Parliament that
        CFEB will continue to be responsible for developing and delivering financial
        capability programmes for the UK. The Minister confirmed that a new Consumer
        Protection and Markets Authority will take on the FSA’s responsibility for
        consumer protection and conduct regulation, and will oversee CFEB.</p>\n\n<p>Responding
        to the Minister’s announcement, Tony Hobman, Chief Executive, CFEB said:\n>
        “The Consumer Financial Body is committed to enhancing the public’s understanding
        of money matters, and dedicated to improving their ability to confidently
        manage their own financial affairs. I am delighted to hear the Minister confirm
        the importance of our role in improving financial capability.”\n> \n> *   <a
        href=\"https://www.moneyadviceservice.org.uk/files/20100617_cfebhelpingconsumers.pdf\">Press
        release</a></p>\n\n","published_at":"2015-03-17T10:55:20.000Z","objectID":"/en/corporate/cfeb-to-continue-role","_highlightResult":{"title":{"value":"Press
        release: CFEB to continue its role in helping consumers manage <b>money</b>","matchLevel":"full","fullyHighlighted":false,"matchedWords":["money"]},"description":{"value":"","matchLevel":"none","matchedWords":[]}}},{"title":"Press
        release: Young people heavily influenced by parents’ past and present money
        habits","description":"","content":"<p><strong>24 October 2014</strong></p>\n\n<p>Research
        by the Money Advice Service shows how significantly a young person’s money
        habits are heavily influenced by their parents’ past and present financial
        behaviour. It also confirms the extent to which young people rely on parents
        for financial advice and help on money matters.</p>\n\n<p>For example, we
        found that the harder the family finds it to cope with saving for emergencies,
        the less confident the young person is at managing their own money, and less
        likely to be developing positive money habits.</p>\n\n<ul>\n  <li>Read the
        <a href=\"/files/young-people-influenced-by-parents-past-and-present-money-habits-241013.pdf\">press
        release</a></li>\n  <li>Read the <a href=\"/en/static/the-financial-capability-of-15-17-year-olds\">full
        report</a></li>\n</ul>\n\n","published_at":"2015-03-16T11:19:26.000Z","objectID":"/en/corporate/attitudes-about-money-matters-and-financial-behaviours-among-young-people","_highlightResult":{"title":{"value":"Press
        release: Young people heavily influenc[...]
