<div class="l-constrained">
  <div class="global-alert--warning global-alert--in-page">
    <div class="global-alert__content-container">
      <p class="global-alert__heading"><%= t('car_cost_tool_error.title') %></p>
      <p class="global-alert__message"><%= t('car_cost_tool_error.description') %></p>
    </div>
  </div>
</div>
