---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/videos/paratoi-ar-gyfer-credyd.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - c743d5ee9f414f85c27f488491fb4543
    body:
      encoding: UTF-8
      string: '{"id":"paratoi-ar-gyfer-credyd","title":"Paratowch at Gredyd Uniongyrchol","body":"<p>Ym
        mis Ebrill 2013, dechreuodd y llywodraeth gyflwyno math newydd o gymorth ariannol
        o\u2019r enw\u00a0Gredyd Uniongyrchol. </p><p>Mae ar gyfer pobl sy\u2019n
        chwilio am waith neu sydd ar incwm isel ac yn y pendraw bydd yn disodli llawer
        o\u2019r budd-daliadau a chredydau treth maent yn eu derbyn ar hyn o bryd.
        </p><p>Mae yna bethau y gallwch eu gwneud nawr i sicrhau eich bod yn barod
        am y newidiadau pan fyddant yn digwydd. </p><p><iframe id=\"video-link\" width=\"620\"
        height=\"380\" src=\"https://www.youtube.com/embed/Bf3UL0EbeJE?wmode=transparent&rel=0&iv_load_policy=3\"
        frameborder=\"0\" allowfullscreen></iframe></p><p><a title=\"get ready welsh\"
        href=\"https://www.moneyadviceservice.org.uk/files/get-ready-for-universal-credit-welsh-doc.doc\">Darllenwch
        drawsgri fiad y fideo (Doc)</a></p>","categories":["videos","universal-credit"],"videoUrl":"https://www.youtube.com/embed/Bf3UL0EbeJE"}'
  recorded_at: Tue, 10 Feb 2015 15:43:17 GMT
recorded_with: VCR 2.9.2
