<% set_meta_tags(canonical: root_url,
                 alternate: alternate_home_map,
                 description: t('.description').strip) %>
<h1 class="visually-hidden"><%= t('layouts.base.title') %></h1>
<%= render 'shared/trust_banner' %>

<%= render 'shared/directory', items: category_navigation %>

<%= render 'shared/promos', items: t('.promoted') %>
