<% set_meta_tags(canonical:   root_url,
                 alternate:   alternate_home_map,
                 description: t('.description').strip) %>

<%= render 'shared/trust_banner' %>

<div class="temp-dynamic-directory-container">
  <%= render 'shared/directory', items: category_navigation %>
</div>

<%= render 'shared/promos', items: t('.promoted') %>
