<% set_meta_tags(canonical: root_url,
                 alternate: alternate_home_map,
                 description: t('.description').strip) %>

<%= render 'shared/trust_banner' %>

<% if Feature.active?(:dynamic_directory) %>
  <div class="temp-dynamic-directory-container">
    <%= render 'shared/directory',
               items: directory_categories %>
  </div>
<% else %>
  <%= render 'shared/directory',
             items: t('.featured').map(&:to_ostruct) %>
<% end %>


<%= render 'shared/promos', items: t('.promoted') %>
