<% set_meta_tags(canonical:   root_url,
                 alternate:   alternate_home_map,
                 title:       t('.title'),
                 description: t('.description').strip) %>


<%= heading_tag t('layouts.base.title'), class: 'visually-hidden' %>

<%= render 'shared/trust_banner' %>

<div class="l-home-directory">
  <div class="l-constrained">
    <%= render 'shared/directory', items: category_navigation %>
  </div>
</div>

<%= render 'shared/promos', items: t('.promoted') %>
