---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - ec38e69e198eaa1e894281aee30038c2
    body:
      encoding: UTF-8
      string: '[{"id":"debt-and-borrowing","type":"category","title":"Dyled a benthyca","description":"Cymryd
        rheolaeth dros ddyled, cael cyngor am ddim ar ddyledion, a sut i fenthyca''n
        fforddadwy.","contents":[{"id":"before-you-borrow","type":"category","title":"Cyn
        i chi fenthyca arian","description":"Dysgwch a oes arnoch angen benthyca arian
        ac a allwch ei fforddio. Dysgwch sut i gyfrifo gwir gost benthyca.","contents":[]},{"id":"taking-control-of-debt","type":"category","title":"Cymryd
        rheolaeth ar ddyled","description":"Ble i fynd i gael cyngor rhad ac am ddim
        ar ddyledion, sut i siarad \u00e2''r bobl y mae arnoch arian iddynt, ac awgrymiadau
        i''ch helpu i [...]
