---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/automatic-enrolment.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 81bae744e16c2afd29557fcead79f10f
    body:
      encoding: UTF-8
      string: '{"id":"automatic-enrolment","title":"Automatic enrolment","description":"Learn
        about automatic enrolment and how it affects you, and use our workplace pension
        advice tool and calculator.","parent_id":"work-pensions-and-retirement","contents":[{"id":"automatic-enrolment-into-a-workplace-pension","type":"guide","title":"Automatic
        enrolment \u2013 an introduction","description":"Joining your workplace pension
        scheme is a hassle-free way to start saving for later life"},{"id":"workplace-pension-contribution-calculator","type":"tool","title":"Workplace
        pension contribution calculator","description":"Use this calculator to work
        out how much you and your employer will each put into your pension pot"},{"id":"workplace-pension-changes-the-basics","type":"video","title":[...]
