---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/buying-a-home.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - fb01e865336b5199a8eb8cb5506d2dd9
    body:
      encoding: UTF-8
      string: '{"id":"buying-a-home","title":"Buying a home","description":"Work out
        your overall buying and moving costs, first time buyer advice, and tips and
        tools to help you work out what you can afford.","parent_id":"homes-and-mortgages","contents":[{"id":"estimate-your-overall-buying-and-moving-costs","type":"guide","title":"Estimate
        your overall cost of buying a house and moving","description":"Use our checklist
        of buying or moving costs to help you get a realistic picture of what it\u2019s
        all going to cost you"},{"id":"how-much-can-you-afford-to-borrow","type":"guide","title":"How
        much can you afford to borrow for a mortgage?","description":"Find out how
        lenders work out the mortgage amount you can afford"},{"id":"money-timeline-when-buying-property-england[...]
