---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/how-to-buy-a-car.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 0ec073db29fb256ea000aeb6d9b49884
    body:
      encoding: UTF-8
      string: '{"id":"how-to-buy-a-car","title":"How to buy a car","description":"What
        to consider before buying a new or used car, including your budget, car finance
        options, and how to negotiate the best deal.","parent_id":"cars-and-travel","contents":[{"id":"how-to-find-the-right-car-for-your-budget","type":"guide","title":"How
        to find the right car for your budget","description":"Tools and tips to help
        you work out your car-buying budget and practical needs, then find the car
        that meets them"},{"id":"car-finance-explained","type":"guide","title":"Car
        finance explained","description":"Different car finance options and what to
        consider when deciding how to pay for a new or used car"},{"id":"making-sure-you-can-meet-your-car-payments","type":"guide","title":"Ma[...]
