---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/jobs-and-tax.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 365a153c422a17db7643b36a3f9c597a
    body:
      encoding: UTF-8
      string: '{"id":"jobs-and-tax","title":"Jobs and tax","description":"Help with
        understanding your payslip and what to look for in your employment contract.","parent_id":"work-pensions-and-retirement","contents":[{"id":"tax-relief-on-pension-contributions","type":"guide","title":"Tax
        relief on pension contributions","description":"You\u2019ll get tax relief
        on any money you save into your pension, up to an annual limit of \u00a350,000
        or your earnings for the year"},{"id":"personal-insurance-when-youre-self-employed","type":"guide","title":"Personal
        insurance when you\u2019re self-employed","description":"When working for
        yourself, you need to consider your insurance needs at home and at work"},{"id":"business-insurance-when-youre-self-employed","type":"guide","title":"Business
        insurance when you\u2019re self employed","description":"When working for
        yourself, you need to consider your insurance needs at home and at work"},{"id":"thinking-of-starting-up-in-business","type":"guide","title":"Thinking
        of starting up in business?","description":"Lost your job and thinking of
        starting your own business or becoming self-employed? Find out more"},{"id":"changing-your-career-following-redundancy","type":"guide","title":"Changing
        your career following redundancy","description":"Facing redundancy and thinking
        about a career change? There\u2019s plenty of financial support available
        for retraining"},{"id":"checking-your-employment-contract","type":"guide","title":"Employment
        contracts: your rights and key terms explained","description":"Understanding
        your contract of employment, your legal rights and contractual rights, plus,
        what to do if your contract\u2019s unfair"},{"id":"apprenticeships-for-young-people","type":"guide","title":"Apprenticeships
        for young people","description":"Find out how to get an apprenticeship and
        what you\u2019re entitled to when working as an apprentice"},{"id":"help-and-advice-when-applying-for-a-job","type":"guide",[...]
