---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/managing-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - c3b37c2a6b69e6d753c2f78d0b06dc90
    body:
      encoding: UTF-8
      string: '{"id":"managing-money","title":"Managing money","description":"See
        how you can make your money go further and use our Budget planner to discover
        how much cash you have coming in and what you''re spending it on.","parent_id":"budgeting-and-managing-money","contents":[{"id":"beginners-guide-to-managing-your-money","type":"guide","title":"Beginner\u2019s
        guide to managing your money","description":"How to set up a budget, keep
        on top of your debts and start to save regularly"},{"id":"how-to-make-your-money-last-all-week","type":"action_plan","title":"Action
        plan - How to make your money last all week","description":"Stretch your money
        that little bit further in three steps"},{"id":"living-on-a-low-income-tips","type":"guide","title":"Budgeting
        tips when you\u2019re on a low[...]
