---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/pension-basics.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - aef449d7c749bacfb41ad3d90fd7f1ab
    body:
      encoding: UTF-8
      string: '{"id":"pension-basics","title":"Pension basics","description":"Find
        out why and when to save into a pension and how to work out what your pension
        pot might be.","parent_id":"work-pensions-and-retirement","contents":[{"id":"why-save-into-a-pension","type":"guide","title":"Why
        save into a pension?","description":"Pensions are an efficient way to save
        for retirement. Contributions are topped up by the taxman and often by employers"},{"id":"your-options-if-things-go-wrong-with-your-pension","type":"guide","title":"Your
        options if things go wrong with your pension","description":"How to tackle
        problems related to the State Pension, personal and workplace pensions, or
        pensions-related financial advice"},{"id":"p[...]
