---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/types-of-pensions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - fab9531b7dcdceffc2aa2ba500925ff8
    body:
      encoding: UTF-8
      string: '{"id":"types-of-pensions","title":"Types of pension","description":"From
        defined contribution and benefit schemes, to personal pensions and pensions
        for the self-employed.","parent_id":"work-pensions-and-retirement","contents":[{"id":"annuities-and-other-types-of-pension-income-your-options","type":"guide","title":"Annuities
        and other types of retirement income","description":"An overview of the features,
        benefits and risks of different types of annuity and other categories of pension
        income"},{"id":"pensions-for-the-self-employed","type":"guide","title":"Pensions
        for the self-employed","description":"If you\u2019re self-employed, saving
        for a pension poses a number of challenges, but it\u2019s easier to get started
        than you might think"},{"i[...]
