---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/types-of-retirement-income.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - b4e93cb3bcdcdc920f06978e3b0fdb24
    body:
      encoding: UTF-8
      string: '{"id":"types-of-retirement-income","title":"Types of retirement income","description":"Learn
        about the different types of annuity and other types of pension and retirement
        income.","parent_id":"work-pensions-and-retirement","contents":[{"id":"equity-release","type":"guide","title":"Equity
        release","description":"Equity release schemes are one way for home owners
        to fund retirement, but they are not suitable for everyone"},{"id":"new-rules-about-pensions-from-27-march-2014","type":"guide","title":"New
        rules about pensions from 27 March 2014","description":"Read our advice on
        the government\u2019s proposed pension changes from April 2015 and interim
        relaxed rules for cash lump sums and income withdrawal"},{"id":"home-r[...]
