---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/work-pensions-and-retirement.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 00cf4fd6d380a805c0eaa1ed9c692834
    body:
      encoding: UTF-8
      string: '{"id":"work-pensions-and-retirement","title":"Work, pensions and retirement","description":"Includes
        retirement advice, types of pension and retirement income, and information
        on automatic enrolment","parent_id":null,"contents":[{"id":"jobs-and-tax","type":"category","title":"Jobs
        and tax","description":"Help with understanding your payslip and what to look
        for in your employment contract."},{"id":"redundancy","type":"category","title":"Redundancy","description":"Help
        with making a redundancy plan, benefits you can claim, and your legal rights."},{"id":"pension-basics","type":"category","title":"Pension
        basics","description":"Find out why and when to save into a pension and how
        to work out what your pension pot might be."},{"id":"types-of-pensions","type":"category","title":"Types
        of pension","description":"From defined contribution and benefit schemes,
        to personal pensions and pensions for the self-employed."},{"id":"automatic-enrolment","type":"category","title":"Automatic
        enrolment","description":"Learn about automatic enrolment and how it affects
        you, and use our workplace pension advice tool and calculator."},{"id":"retirement-income-basics","type":"category","title":"Retirement
        income basics","description":"Setting a clear retirement income goal and managing
        your money once you\u2019ve stopped working."},{"id":"types-of-retirement-income","type":"category","title":"Types
        of retirement income","description":"Learn about the different types of annuity
        and other types of pension and retirement income."}]}'
  recorded_at: Tue, 13 Jan 2015 10:03:56 GMT
recorded_with: VCR 2.9.2
