.add-action {
  position: relative;
  background-color: $color-article-cta;
  padding: $baseline-unit $baseline-unit*2;
  margin: 0 0 $baseline-unit*8 0;
  display: inline;

  &:before {
    position: absolute;
    top: -10px;
    left: 0;
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent $color-article-cta;
  }
}
