// Call out containing a pull quotation or an emphasised fact from the many body of the content. Can also contain a link to an external source. Can contain a heading, but this is optional.
//
// Styleguide Call out

.callout {
  padding: $bl*3;
  margin: $bl*3 0;
  border-radius: 10px;
  color: $color-green-tertiary;
  background-color: $color-callout-background;

  > h3 {
    margin-bottom: $bl*3;
  }

  > p {
    @extend %text-callout;
    margin-top: 0;
  }

  .editorial & {
    float: right;
    @include respond-to($mq-l) {
      margin: 0 $bl*3 $bl*3 $bl*3;
      max-width: 38%;
    }
  }
}
