.callout {
  padding: $bl*3;
  margin: $bl*3 0;
  width: 100%;
  float: right;
  border-radius: 10px;
  color: $color-green-tertiary;
  background-color: $color-callout-background;

  @include respond-to($mq-l) {
    margin: 0 $bl*3 $bl*3 $bl*3;
    max-width: 38%;
  }

  > h3 {
    margin-bottom: $bl*3;
  }

  > p {
    @extend %text-callout;
    margin-top: 0;
  }
}
