// Collapsible sections. The first section will automatically be set to open on load, with any further sections closed (collapsed).
//
// Styleguide Collapsible component

.collapsible {
  @extend %collapsable-trigger;
  @extend %heading-small;

  position: relative;
  background-color: $color-action-item-heading-bg;
  padding: $baseline-unit;
  color: $color-action-item-heading;
  cursor:pointer;

  button {
    color: $color-action-item-heading;
    width: 100%;
    text-align: left;
  }

  &:before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: $color-action-item-heading-bg transparent transparent transparent;
    position: absolute;
    bottom: -10px;
    left: 0;
  }

  span {
    @include font-size(34);
    margin-right: $baseline-unit;
    margin-top: -6px;
    height: 28px;
    display: inline-block;
    color: $color-icon-open;
    vertical-align: middle;
  }
}

.collapsible-section {
  @extend %collapsable-target;

  border-left: 1px solid $color-action-item-border;
  border-right: 1px solid $color-action-item-border;
  border-bottom: 2px solid $color-action-item-border;
  padding: $baseline-unit*2;
  margin: -$baseline-unit*3 0 $baseline-unit*3 0;
}
