a:not([href*="moneyadviceservice"]):after {
  @extend %icon;
  @extend .icon--external-link;
  content: '';
  margin-left: 6px;
  display: inline-block;
}

// override for links that do not contain moneyadviceservice but are not external links
a[href^="/"]:after,
a[href^="#"]:after {
  display: none;
}

a[href$=".doc"] {
  margin-top: $baseline-unit*3;

  &:before {
    content: '';
    @extend %icon;
    @extend .icon--doc;
    padding-right: 5px;
  }
}

a[href$=".pdf"] {
  margin-top: $baseline-unit*3;

  &:before {
    content: '';
    @extend %icon;
    @extend .icon--pdf;
    padding-right: 5px;
  }
}
