img {
  max-width: 100%;
  margin-bottom: $bl*2;
}

p img {
  float:right;
}

.video-wrapper {
  //http://alistapart.com/article/creating-intrinsic-ratios-for-video
  clear: both;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: $bl*2;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}