<div class="related-links">
  <h2 class="related-links__heading">
    <%= t('.title') %>
  </h2>
  <ul class="unstyled-list">
    <% news_articles.each do |news_article| %>
      <li class="related-links__link">
        <%= link_to news_article.title, news_article.path %>
      </li>
    <% end %>
  </ul>
  <%= link_to t('.link_html'), main_app.news_path %>
</div>
