<div class="pagination">
  <% if news.prev_page? %>
    <%= link_to news_path(page: news.prev_page), class: 'button button--compact t-button--previous' do %>
      <span class="icon icon--left-chevron"></span>
      <span class="button--compact__text"><%= t('news.index.newer')%></span>
    <% end %>
  <% end %>
  <% if news.next_page? %>
     <%= link_to news_path(page: news.next_page), class: 'button button--compact t-button--next' do %>
      <span class="button--compact__text"><%= t('news.index.older')%></span>
      <span class="icon icon--right-chevron"></span>
    <% end %>
  <% end %>
</div>
