<div class="l-main editorial">
  <main role="main">
    <h1 itemprop="headline"><%= title t('.title') %></h1>
    <% news.each do |news_article| %>
      <%= render 'shared/news_item', news_article: news_article %>
    <% end %>
  </main>
</div>
