<div class="l-main editorial">
  <main role="main">
    <h1><%= title news_article.title %></h1>
    <p class="smallprint"><%= news_article.date %></p>

    <%= news_article.content %>
  </main>
</div>
