---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/before-you-borrow.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 0246d2905875f6881da2cddac138eaf7
    body:
      encoding: UTF-8
      string: '{"id":"before-you-borrow","title":"Before you borrow","description":"Find
        out if you need to borrow money and whether you can afford it. Learn how to
        work out the true cost of borrowing.","parent_id":"debt-and-borrowing","contents":[{"id":"do-you-need-to-borrow-money","type":"guide","title":"Do
        you need to borrow money?","description":"Planning a big purchase or need
        some extra cash? Borrowing might seem like the obvious solution but there
        could be a better option"},{"id":"how-to-work-out-the-true-cost-of-borrowing","type":"guide","title":"How
        to work out the true cost of borrowing","description":"When borrowing money,
        don''t simply look for a loan with the lowest monthly repayment. Before you
        sign on the dotted line, [...]
