---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/benefits-and-tax-in-retirement.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 33919816208cf3a93f36b751fc51c3ec
    body:
      encoding: UTF-8
      string: '{"id":"benefits-and-tax-in-retirement","title":"Benefits and tax in
        retirement","description":"Your State Pension entitlement, Pension Credit
        if you''re on a low income, tax and age-related allowances in retirement","parent_id":"pensions-and-retirement","contents":[{"id":"pension-credit","type":"guide","title":"Pension
        Credit","description":"Pension Credit is a valuable benefit \u2013 but you
        need to apply for it. Here\u2019s how it works and how to find out if you\u2019re
        eligible"},{"id":"age-related-personal-allowances","type":"guide","title":"Age-related
        personal allowances","description":"If you were born before 6 April 1948,
        you''re probably getting a higher tax-free Personal Allowance than younger
        taxpayers"},{"id":"state-pensions","type":"guide","title":"State Pensions","description":"Who\u2019s
        eligible for a State Pension, when you get it and how much you\u2019ll get"}]}'
  recorded_at: Wed, 04 Jun 2014 10:49:17 GMT
recorded_with: VCR 2.9.0
