---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/budgeting-and-managing-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 0a4bb152daf4d54c26a092ed9baecad6
    body:
      encoding: UTF-8
      string: '{"id":"budgeting-and-managing-money","title":"Budgeting and managing
        money","description":"Advice on running a bank account, planning your finances,
        and cutting costs.","parent_id":"money-topics","contents":[{"id":"running-a-bank-account","type":"category","title":"Running
        a bank account","description":"Find out how to manage a bank account, from
        paying money in to keeping track of interest and charges."},{"id":"managing-money","type":"category","title":"Managing
        money","description":"See how you can make your money go further and use our
        Budget planner to discover how much cash you have coming in and what you''re
        spending it on."},{"id":"student-and-graduate-money","type":"category","title":"Student
        and graduate money","description":"Help with preparing your child for student
        life, including tips on budgeting at college or university."},{"id":"cutting-costs","type":"category","title":"Cutting
        costs","description":"Help with trimming your energy, home phone and broadband
        bills, and tips on getting holidays for less."}]}'
  recorded_at: Fri, 06 Jun 2014 07:57:55 GMT
recorded_with: VCR 2.9.2
