---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/budgeting-when-out-of-work.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - f51e24f1966bfc76549662116204bf49
    body:
      encoding: UTF-8
      string: '{"id":"budgeting-when-out-of-work","title":"Budgeting when out of work","description":"Use
        our out-of-work checklist to stay in control of your finances, plus how to
        make the most of your redundancy pay","parent_id":"losing-your-job","contents":[{"id":"out-of-work-checklist-things-to-do-if-you-lose-your-job","type":"guide","title":"Out
        of work checklist \u2013 things to do if you lose your job","description":"If
        you\u2019ve lost your job and are out of work, use our checklist to help you
        get on top of your budgeting"},{"id":"review-your-budget-after-a-drop-in-income","type":"guide","title":"Review
        your budget after a drop in income","description":"How to manage your household
        budget after losing your job, and what you can do to cope with a loss of earnings"},{"id":"making-the-most-of-your-redundancy-pay","type":"guide","title":"Making
        the most of your redundancy pay","description":"Received a redundancy lump
        sum? You could use it to pay off debt, invest it, or even to set up a business"},{"id":"manage-your-budget-after-redundancy","type":"action_plan","title":"Action
        plan - Manage your budget after redundancy","description":"Use this step-by-step
        action plan to help you keep the household budget on track after redundancy"}]}'
  recorded_at: Wed, 04 Jun 2014 10:49:27 GMT
recorded_with: VCR 2.9.0
