---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/calculators.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 06aabc8e375b85398dd5e04fee01c150
    body:
      encoding: UTF-8
      string: '{"id":"calculators","title":"Calculators","description":"Our easy-to-use
        calculators can help you budget, save and cut back on costs","parent_id":"tools--resources","contents":[{"id":"savings-calculator","type":"tool","title":"Savings
        calculator","description":"You can use this calculator to find out how your
        savings might grow in the future or to help you work out how you can meet
        your savings goal"},{"id":"baby-costs-calculator","type":"tool","title":"Baby
        costs calculator","description":"Did you know that a baby could cost as much
        as \u00a37,200 or as little as \u00a31,600 in their first year, excluding
        childcare?"},{"id":"budget-planner","type":"tool"[...]
