---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/car-insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 796c46490306fd1eac6fe348a1251360
    body:
      encoding: UTF-8
      string: '{"id":"car-insurance","title":"Car insurance","description":"Choosing
        the right level of cover, getting the best deal, and tips for young drivers.","parent_id":"insurance","contents":[{"id":"car-insurance-choose-the-right-level-of-cover","type":"guide","title":"Car
        insurance \u2013 choose the right level of cover","description":"Master the
        jargon before you compare prices \u2013 understand the three levels of car
        insurance cover and find out which suits you best"},{"id":"car-insurance-how-to-get-the-best-deal","type":"guide","title":"Car
        insurance \u2013 How to get the best deal","description":"You can potentially
        save hundreds of pounds on your car insurance if you lower your risk, shop
        around and ask for a discount"},{"id":"a-good-car-insurance-policy","type":"guide","title":"Car
        insurance \u2013 what does a good policy look like?","description":"Check
        your car insurance policy against our list of \u2018must have\u2019 features
        to make sure it\u2019s good enough"},{"id":"young-drivers-insurance","type":"video","title":"Young
        drivers\u2019 insurance","description":""},{"id":"car-insurance-when-driving-abroad","type":"guide","title":"Car
        insurance when driving abroad","description":"Hiring a car on holiday or taking
        your car abroad? Make sure you\u2019re insured \u2013 and don\u2019t pay more
        than you need to"},{"id":"do-you-need-gap-insurance","type":"guide","title":"Do
        you need GAP insurance?","description":"If you\u2019re buying a new a car,
        most dealers will offer you GAP insurance \u2013 but is it worth it?"}]}'
  recorded_at: Wed, 04 Jun 2014 10:49:07 GMT
recorded_with: VCR 2.9.0
