---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/care-and-disability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - fa50bf2340d89d2aa64694455abf9fa2
    body:
      encoding: UTF-8
      string: '{"id":"care-and-disability","title":"Care and disability","description":"Choosing
        the right care services, support for carers and paying for the cost of care.","parent_id":"money-topics","contents":[{"id":"care-advice-and-help","type":"category","title":"Care
        advice and help","description":"Help with choosing the right care services,
        setting up a power of attorney, and dealing with problems."},{"id":"paying-for-care","type":"category","title":"Paying
        for care","description":"Learn about NHS and self-funding options, managing
        direct payments, and other ways to pay for your care."},{"id":"support-for-carers","type":"category","title":"Support
        for carers","description":"Find out about support available to carers and
        how to manage the money of someone you''re caring for."},{"id":"illness-and-disability","type":"category","title":"Illness
        and disability","description":"Advice about Personal Independence Payment,
        disability grants, aids and equipment."}]}'
  recorded_at: Wed, 04 Jun 2014 10:49:23 GMT
recorded_with: VCR 2.9.0
