---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/care-advice-and-help.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - e216fc38e4df374a3717136997dd6ce4
    body:
      encoding: UTF-8
      string: '{"id":"care-advice-and-help","title":"Care advice and help","description":"Help
        with choosing the right care services, setting up a power of attorney, and
        dealing with problems.","parent_id":"care-and-disability","contents":[{"id":"long-term-care-services-at-a-glance","type":"guide","title":"Long-term-care
        services at a glance","description":"There are different types of long-term
        care products and services. Find out what\u2019s best for you or a loved one"},{"id":"planning-ahead-for-when-you-cant-manage-your-money","type":"guide","title":"Planning
        ahead for when you can''t manage your money","description":"It\u2019s a good
        idea to decide now who\u2019ll manage your money when you can\u2019t do it
        any longer - find out how"},{[...]
