---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/choosing-a-pension.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 99f004173f17eee6614ea1d13f180af0
    body:
      encoding: UTF-8
      string: '{"id":"choosing-a-pension","title":"Choosing a pension","description":"Read
        our top tips for choosing pensions and find out about buying a pension and
        getting financial advice","parent_id":"pensions-and-retirement","contents":[{"id":"understanding-investment-fees","type":"guide","title":"Understanding
        investment fees","description":"The different types of investment fees you
        could be charged and the things you need to think about before paying them"},{"id":"when-and-where-to-get-pensions-help-and-advice","type":"guide","title":"When
        and where to get pensions help and advice","description":"Pensions can be
        daunting. But there are a number of places where you can get help and advice"},{"id":"do-you-need-a-financial-adviser","type":"guide","title":"Do
        you need a financial adviser?","description":"Find out when you may need to
        get financial advice and when going it alone may be okay"}]}'
  recorded_at: Wed, 04 Jun 2014 10:49:17 GMT
recorded_with: VCR 2.9.0
