---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/credit-cards-and-credit-ratings.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 027cdb0e9e2f04bd00c7f0a15f49e3bf
    body:
      encoding: UTF-8
      string: '{"id":"credit-cards-and-credit-ratings","title":"Credit cards and credit
        ratings","description":"Find out how to manage a credit card, how to check
        your credit report, and tips on how you can improve your credit rating.","parent_id":"debt-and-borrowing","contents":[{"id":"what-to-do-if-you-have-been-refused-a-loan-or-credit-card","type":"guide","title":"Refused
        credit or refused a loan - What you can do","description":"If you\u2019ve
        been turned down for credit find out what steps you can take to find out why"},{"id":"store-cards-explained","type":"guide","title":"Store
        cards","description":"A discount in your favourite store or a sneaky way to
        charge you high interest? See the pros and cons of store cards"},{"id":"catalogue-credit-or-shopping-accounts","type":"guide","title":"Catalogue
        c[...]
