---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/cutting-costs.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - c621caa03e3fe4f413184f6fc4d30c95
    body:
      encoding: UTF-8
      string: '{"id":"cutting-costs","title":"Cutting costs","description":"Help with
        trimming your energy, home phone and broadband bills, and tips on getting
        holidays for less.","parent_id":"budgeting-and-managing-money","contents":[{"id":"save-money-on-your-home-phone-and-broadband","type":"guide","title":"Save
        money on your home phone and broadband","description":"Save money with good
        deals and cost-cutting on your home phone and broadband. The savings can add
        up to hundreds of pounds a year"},{"id":"whats-the-best-way-to-finance-buying-a-car","type":"guide","title":"What\u2019s
        the best way to finance buying a car?","description":"What\u2019s the best
        way to finance the buying of a car? Loan, hire purchase or something else
        entirel[...]
