---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/divorce-and-separation.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - f0e92aca2adf50131dd5056e4f0ea240
    body:
      encoding: UTF-8
      string: '{"id":"divorce-and-separation","title":"Divorce and separation","description":"Find
        out how to manage your money and divide up what you own when going through
        divorce or separation.","parent_id":"births-deaths-and-family","contents":[{"id":"temporary-or-interim-maintenance-agreements","type":"guide","title":"Temporary
        or interim maintenance agreements","description":"Keep your financial position
        as stable as possible until final agreements have been sorted out"},{"id":"sorting-out-a-business-during-divorce","type":"guide","title":"Sorting
        out a business during divorce","description":"Dealing with a business interest
        when you divorce or dissolve your civil partnership"},{"id":"sorting-out-a-business-during-separation-from-your-partner","type":"guide","[...]
