---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/free-printed-guides.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - ba8de32a8f8722fef6418760d98f8da8
    body:
      encoding: UTF-8
      string: '{"id":"free-printed-guides","title":"Free printed guides","description":"Read
        our free printed guides, which give you clear, unbiased information and advice
        in Plain English","parent_id":"tools--resources","contents":[{"id":"free-printed-guides","type":"guide","title":"Free
        printed guides","description":"Our free printed guides give you clear, unbiased
        information and advice in plain English."}]}'
  recorded_at: Mon, 30 Jun 2014 11:04:06 GMT
recorded_with: VCR 2.9.2
