---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/getting-help-with-pensions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 170db021235f9d595a7f42524b4eed6e
    body:
      encoding: UTF-8
      string: '{"id":"getting-help-with-pensions","title":"Getting help with pensions","description":"Where
        to go for advice about pensions, and what to do if you want to complain about
        a pension provider or adviser","parent_id":"pensions-and-retirement","contents":[{"id":"your-options-if-things-go-wrong-with-your-pension","type":"guide","title":"Your
        options if things go wrong with your pension","description":"How to tackle
        problems related to the State Pension, personal and workplace pensions, or
        pensions-related financial advice"},{"id":"when-and-where-to-get-pensions-help-and-advice","type":"guide","title":"When
        and where to get pensions help and advice","description":"Pensions can be
        daunting. But there are a number of places where you can get help and advice"}]}'
  recorded_at: Wed, 04 Jun 2014 10:49:18 GMT
recorded_with: VCR 2.9.0
