---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/help-with-finding-a-job.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - a340ea20521319785300bc374a4e0f9d
    body:
      encoding: UTF-8
      string: '{"id":"help-with-finding-a-job","title":"Help with finding a job","description":"CV
        advice, job searching and interview tips; plus where to go if you''re thinking
        of a career change or starting a business","parent_id":"losing-your-job","contents":[{"id":"help-and-advice-when-applying-for-a-job","type":"guide","title":"Help
        and advice when applying for a job","description":"Get help and advice with
        your CV, job search and interviews when looking for work"},{"id":"changing-your-career-following-redundancy","type":"guide","title":"Changing
        your career following redundancy","description":"Facing redundancy and thinking
        about a career change? There\u2019s plenty of financial support available
        for retraining"},{"id":"thinking-of-starting-up-in-business","type":"guide","title":"Thinking
        of starting up in business?","description":"Lost your job and thinking of
        starting your own business or becoming self-employed? Find out more"}]}'
  recorded_at: Fri, 06 Jun 2014 07:58:14 GMT
recorded_with: VCR 2.9.2
