---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/help-with-loans.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 0f9074db2191586cbb2cafc93a6e8987
    body:
      encoding: UTF-8
      string: '{"id":"help-with-loans","title":"Help with loans","description":"Learn
        about how personal loans work, better alternatives to payday loans, and help
        when borrowing from a credit union.","parent_id":"debt-and-borrowing","contents":[{"id":"personal-loans","type":"guide","title":"Personal
        loans","description":"Make sure you get the right type of loan for you and
        don\u2019t pay more than you need to"},{"id":"payday-loans","type":"guide","title":"Payday
        loans advice","description":"Payday loans seem an easy solution when money\u2019s
        short, but often lead to serious debt. Use our online tool to find a cheaper,
        less risky alternative."},{"id":"alternatives-to-payday-loans","type":"guide","title":"Alternatives
        [...]
