---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/help-with-your-benefits.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - a9512981295a14e6c1e4ffb0916d364d
    body:
      encoding: UTF-8
      string: '{"id":"help-with-your-benefits","title":"Help with your benefits","description":"Help
        with getting the right entitlements, where to get benefits support and advice
        and what to do if your payments are cut.","parent_id":"benefits","contents":[{"id":"make-sure-youre-getting-the-right-entitlements","type":"guide","title":"Make
        sure you\u2019re getting the right entitlements","description":"Find out if
        you''re missing out on any benefits, tax credits or grants that you may be
        entitled to"},{"id":"benefit-changes-in-2013","type":"guide","title":"Benefit
        changes","description":"Find out about changes to DLA, Council Tax Benefit
        and other benefits, including the new benefit cap"},{"id":"universal-credit-timeline","type":"tool","title":"Benefit
        changes f[...]
