---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/help-with-mortgages.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 7f9f410c768f355d51d0ac4a8e6de115
    body:
      encoding: UTF-8
      string: '{"id":"help-with-mortgages","title":"Help with mortgages","description":"Get
        started with our beginner''s guide to mortgages, getting the right deal, and
        tips if you''re struggling to pay.","parent_id":"homes-and-mortgages","contents":[{"id":"mortgages-a-beginners-guide","type":"guide","title":"Mortgages
        \u2013 a beginner\u2019s guide","description":"Looking to buy your first home?  Get
        to grips with how mortgages work and find links to further information"},{"id":"mortgage-calculator","type":"tool","title":"Mortgage
        calculator","description":"Use this calculator to find out how much your monthly
        mortgage payments could be. This can help you work out how much you can afford
        to borrow"},{"id":"mortgages","type":"guide","title":"Co[...]
