---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/help-with-loans.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 261751cb9a7c7dc52af4d873d0630cfb
    body:
      encoding: UTF-8
      string: '{"id":"help-with-loans","title":"Help with loans","description":"Learn
        about how personal loans work, better alternatives to payday loans, and help
        when borrowing from a credit union.","parent_id":"debt-and-borrowing","contents":[{"id":"personal-loans","type":"guide","title":"Personal
        loans","description":"Make sure you get the right type of loan for you and
        don\u2019t pay more than you need to"},{"id":"second-charge-or-second-mortgages","type":"guide","title":"Second
        charge or second mortgages","description":"Second charge mortgages are loans
        secured on your home. They can be an alternative to remortgaging, but there
        are risks"},{"id":"payday-loans","type":"guide","title":"Payday loans advice","description":"P[...]
