---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/illness-and-disability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - cea3e7259b12bb1a1735cfa699dfa7d1
    body:
      encoding: UTF-8
      string: '{"id":"illness-and-disability","title":"Illness and disability","description":"Advice
        about Personal Independence Payment, disability grants, aids and equipment.","parent_id":"care-and-disability","contents":[{"id":"how-to-sort-out-your-money-if-you-become-ill-or-disabled","type":"guide","title":"How
        to sort out your money if you become ill or disabled","description":"Practical
        things to do to manage your money if you\u2019ve recently developed a long-term
        health condition or become disabled"},{"id":"support-to-help-you-keep-your-job-when-ill-or-disabled","type":"guide","title":"Support
        to help you keep your job when ill or disabled","description":"Support you\u2019re
        entitled to ask for so you can do your job when ill or disabled,[...]
