---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/investment-types.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 4d8386b8692a390be173f9fbba96adfb
    body:
      encoding: UTF-8
      string: '{"id":"investment-types","title":"Types of investment","description":"Information
        about stocks and shares, investment bonds, tracker funds, with-profits and
        endowment policies.","parent_id":"saving-and-investing","contents":[{"id":"unit-trusts-and-open-ended-investment-companies-oeics","type":"guide","title":"Unit
        Trusts and Open-Ended Investment Companies (OEICs)","description":"A simple
        way to start investing without a big spend up front"},{"id":"endowment-policies","type":"guide","title":"Endowment
        policies","description":"Saving for a long-term goal? Endowment policies give
        you a package that includes life assurance and some potential tax benefits"},{"id":"investment-bonds","type":"guide","title":"Investment
        bonds","description":"Got a lump[...]
