---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/letter-templates.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - a3c69c2d0dccd02c2d17347b44321e7e
    body:
      encoding: UTF-8
      string: '{"id":"letter-templates","title":"Letter templates","description":"Our
        easy-to-use letter templates are here to help you if you need to set up, cancel
        or complain about something","parent_id":"tools--resources","contents":[{"id":"letter-templates","type":"guide","title":"Letter
        templates","description":"Here are some helpful letter templates for you to
        use if you need to set up, cancel or complain about something"}]}'
  recorded_at: Mon, 30 Jun 2014 11:04:05 GMT
recorded_with: VCR 2.9.2
