---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/losing-your-job.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 32faf427c07878261cc7cdbf4f41c632
    body:
      encoding: UTF-8
      string: '{"id":"losing-your-job","title":"Losing your job","description":"How
        to get your money under control when faced with redundancy or job loss","parent_id":"money-topics","contents":[{"id":"redundancy---be-prepared","type":"category","title":"Redundancy
        - be prepared","description":"Managing money if your job is at risk, insuring
        yourself against redundancy\r\n                                    and what
        to do if you''re asked to work reduced hours\r\n                                "},{"id":"your-redundancy-rights","type":"category","title":"Your
        redundancy rights","description":"Redundancy advice and your legal rights,
        what process your employer must follow and how to tell[...]
