---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/managing-debt-when-out-of-work.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 4c91b62c3fff42283e66491665226417
    body:
      encoding: UTF-8
      string: '{"id":"managing-debt-when-out-of-work","title":"Managing debt when
        out of work","description":"How to review and prioritise your debts, how to
        start paying it off and where to get help if you''re struggling with debt","parent_id":"losing-your-job","contents":[{"id":"what-to-do-about-debt-if-you-lose-your-job","type":"guide","title":"What
        to do about debt if you lose your job","description":"Advice, tips and options
        on keeping up repayments and managing debts if you\u2019ve lost your job"}]}'
  recorded_at: Wed, 04 Jun 2014 10:49:28 GMT
recorded_with: VCR 2.9.0
