---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/managing-your-finances-in-retirement.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - bbe0c743eb7f9576e52f972147773b06
    body:
      encoding: UTF-8
      string: '{"id":"managing-your-finances-in-retirement","title":"Managing your
        finances in retirement","description":"Retirement can bring significant changes
        to your income and your outgoings and your entitlement to government benefits","parent_id":"pensions-and-retirement","contents":[{"id":"manage-your-money-in-retirement","type":"guide","title":"Manage
        your money in retirement","description":"Retirement can bring significant
        financial changes. Here\u2019s a range of tips and ideas to help you manage
        the transition"},{"id":"preparing-for-illness-old-age-and-death","type":"guide","title":"Preparing
        for illness, old age and death","description":"Considering how your money
        will be managed if you become ill and when you die is an important part of
        financial planning"},{"id":"funeral-plans","type":"guide","title":"Funeral
        plans","description":"Funeral plans are one way to cover the cost of a funeral
        - learn more about them and how they work before buying one"},{"id":"tax-and-benefits-when-youre-retired","type":"guide","title":"Tax
        and benefits when you\u2019re retired","description":"A list of factors that
        can affect your tax bill in retirement, and of payments such as State Pension
        you may be entitled to"}]}'
  recorded_at: Wed, 04 Jun 2014 10:49:16 GMT
recorded_with: VCR 2.9.0
