---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/maternity-and-paternity-rights.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - c095f1748ef36b17b4cf3999fcfc3f99
    body:
      encoding: UTF-8
      string: '{"id":"maternity-and-paternity-rights","title":"Maternity and paternity
        rights","description":"Find out how to claim maternity pay and leave from
        your employer and your rights when returning to work.","parent_id":"births-deaths-and-family","contents":[{"id":"paternity-leave-and-pay","type":"guide","title":"Paternity
        leave and pay","description":"If you\u2019re a new dad, you should get some
        pay from your employer while you\u2019re off work looking after your new baby"},{"id":"working-for-yourself-after-youve-had-a-baby","type":"guide","title":"Working
        for yourself after you''ve had a baby","description":"Looking to fit work
        around your baby? Going freelance or starting your own business could be the
        answer"},{"id":"your-options-for-paternity[...]
