---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/maternity-and-paternity-rights.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 816a5ef29e049c4b8a74e1d8175578a2
    body:
      encoding: UTF-8
      string: '{"id":"maternity-and-paternity-rights","title":"Maternity and paternity
        rights","description":"Find out how to claim maternity pay and leave from
        your employer and your rights when returning to work.","parent_id":"births-deaths-and-family","contents":[{"id":"maternity-allowance","type":"guide","title":"Maternity
        Allowance","description":"You might be able to get Maternity Allowance if
        you can\u2019t get Statutory Maternity Pay, perhaps because you\u2019re self-employed"},{"id":"maternity-pay-and-leave","type":"guide","title":"Maternity
        pay and leave","description":"If you\u2019re working, you\u2019ll normally
        be entitled to some pay from your employer while you''re off looking after
        your new baby"},{"id":"paternity-leave-and-pay","type":[...]
