---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/money-topics.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 6f80a3a59b12e5d7e5b250ae54e28217
    body:
      encoding: UTF-8
      string: '{"id":"money-topics","title":"Money topics","description":"Saving and
        investing, borrowing and debt, homes and mortgages, insurance, pensions and
        retirement","parent_id":null,"contents":[{"id":"debt-and-borrowing","type":"category","title":"Debt
        and borrowing","description":"Taking control of debt, getting free debt advice,
        and how to borrow affordably."},{"id":"budgeting-and-managing-money","type":"category","title":"Budgeting
        and managing money","description":"Advice on running a bank account, planning
        your finances, and cutting costs."},{"id":"saving-and-investing","type":"category","title":"Saving
        and investing","description":"How to save money, types of savings accoun[...]
