---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/mortgage-and-rent-problems.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 5d248655aebf2683dd23f98154bd9dd0
    body:
      encoding: UTF-8
      string: '{"id":"mortgage-and-rent-problems","title":"Mortgage and rent problems","description":"Help
        if you''re struggling with your mortgage or rent payments and information
        on government support if you can''t pay your mortgage.","parent_id":"debt-and-borrowing","contents":[{"id":"mortgage-arrears-if-you-have-problems-paying-your-mortgage","type":"guide","title":"Mortgage
        arrears or problems paying your mortgage","description":"If you''re in arrears
        with your mortgage you need to take action now. Follow these tips to get help
        and cut costs"},{"id":"rent-arrears-problems-paying-your-rent","type":"guide","title":"Rent
        arrears and problems paying your rent","description":"Why you need to take
        action and what to do if you\u2019re in arrears with your rent or are at risk
        of eviction"},{"id":"wha[...]
