---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/paying-for-care.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 2a4fa7f38f0a5e873710e724df648fa1
    body:
      encoding: UTF-8
      string: '{"id":"paying-for-care","title":"Paying for care","description":"Learn
        about NHS and self-funding options, managing direct payments, and other ways
        to pay for your care.","parent_id":"care-and-disability","contents":[{"id":"self-funding-your-long-term-care-your-options","type":"guide","title":"Self-funding
        your long-term care \u2013 your options","description":"Need to pay for your
        own long-term care or top up your government funding? Here are some of your
        options"},{"id":"are-you-eligible-for-nhs-continuing-care-funding","type":"guide","title":"Are
        you eligible for NHS Continuing Care funding?","description":"The cost of
        your ongoing care could be met by NHS Continuing Care funding. Find out what
        it covers and how you\u[...]
