---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/pensions-and-tax.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 60d07b145ca74eadaa367b1eb41f0002
    body:
      encoding: UTF-8
      string: '{"id":"pensions-and-tax","title":"Pensions and tax","description":"Tax
        relief on money you save into your pension, how your pension income is taxed
        and the lifetime allowance","parent_id":"pensions-and-retirement","contents":[{"id":"tax-relief-on-pension-contributions","type":"guide","title":"Tax
        relief on pension contributions","description":"You\u2019ll get tax relief
        on any money you save into your pension, up to an annual limit of \u00a350,000
        or your earnings for the year"},{"id":"the-lifetime-allowance-for-pension-savings","type":"guide","title":"Lifetime
        Allowance for pension savings","description":"If you accumulate more than
        \u00a31.5 million in pension savings, you risk suffering a heavy tax penalty"}]}'
  recorded_at: Fri, 06 Jun 2014 07:57:59 GMT
recorded_with: VCR 2.9.2
