---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/pensions-and-retirement.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 04790f78bda0f68eba814e8235624762
    body:
      encoding: UTF-8
      string: '{"id":"pensions-and-retirement","title":"Pensions and retirement","description":"How
        and when to start saving for a pension, getting the most from your pension
        fund and managing your money in retirement","parent_id":"money-topics","contents":[{"id":"saving-into-a-pension-for-the-first-time","type":"category","title":"Saving
        into a pension for the first time","description":"All you need to get started,
        including a ready reckoner that estimates how\n                                    much
        you should be saving each month\n                                "},{"id":"types-of-pension","type":"category","title":"Types
        of pension","description":"State pension, workplace pensions and personal
        pensions - an overview of\r\n                                     [...]
