---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/redundancy---be-prepared.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 8906ec76194e08611dcabd7ccf433af7
    body:
      encoding: UTF-8
      string: '{"id":"redundancy---be-prepared","title":"Redundancy - be prepared","description":"Managing
        money if your job is at risk, insuring yourself against redundancy and what
        to do if you''re asked to work reduced hours","parent_id":"losing-your-job","contents":[{"id":"managing-your-money-if-your-job-is-at-risk","type":"guide","title":"Managing
        money if your job is at risk","description":"Job loss on the horizon? How
        to take control of your finances and survive a period out of work"},{"id":"top-tips-for-making-money-when-faced-with-job-loss","type":"guide","title":"Top
        tips for making money when faced with job loss","description":"Facing redundancy?
        Find out how other people have managed to make some extra cash after losing
        their jobs"},{"id":"can-you-insure-yourself-aga[...]
