---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/renting-and-letting.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - cb2001ff4a8d6b056ea2e29a307d4ab9
    body:
      encoding: UTF-8
      string: '{"id":"renting-and-letting","title":"Renting and letting","description":"Advice
        to help you work out how much rent you can afford, and how to budget and share
        costs when renting.","parent_id":"homes-and-mortgages","contents":[{"id":"how-much-rent-can-you-afford","type":"guide","title":"How
        much rent can you afford?","description":"When working out what rent you can
        afford, remember to factor in upfront costs and your ongoing bills once you\u2019ve
        moved in"},{"id":"budgeting-and-sharing-costs-when-renting","type":"guide","title":"Budgeting
        and sharing costs when renting","description":"If you share with other people,
        here are some ways to budget and organise your bills so that you don\u2019t
        miss any payments"},{[...]
