---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/review-the-health-your-pension-savings.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - c77ecb2f9efcead89ac98aa2e7332775
    body:
      encoding: UTF-8
      string: '{"id":"review-the-health-your-pension-savings","title":"Review the
        health of your pension savings","description":"Use our step-by-step guidance
        to set your retirement income goal and check your progress towards it","parent_id":"pensions-and-retirement","contents":[{"id":"check-the-progress-of-your-pension-and-retirement-savings","type":"guide","title":"Check
        the progress of your pension and retirement savings","description":"Step-by-step
        instructions to help you work out whether your pension and other retirement
        savings are on track"},{"id":"trace-lost-pensions-and-request-pension-forecasts","type":"guide","title":"Trace
        lost pensions and request pension forecasts","description":"A step-by-step
        guide to tracking down your pensions and finding out how much you\u2019re
        likely to receive from them"},{"id":"making-the-most-of-your-pensions","type":"guide","title":"Making
        the most of your pensions","description":"Even if your pension savings are
        on track to meet your goal, there may be steps you can take to boost their
        performance"},{"id":"set-a-clear-retirement-income-goal","type":"guide","title":"Set
        a clear retirement income goal","description":"The first step in reviewing
        your pension savings is to work out the retirement income you\u2019re aiming
        for"},{"id":"how-to-deal-with-a-gap-in-your-pension-savings","type":"tool","title":"How
        to deal with a gap in your pension savings","description":"Use our ready reckoner
        to estimate the pension contributions needed to fill a shortfall in your likely
        retirement income"}]}'
  recorded_at: Wed, 04 Jun 2014 10:49:15 GMT
recorded_with: VCR 2.9.0
