---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/running-a-bank-account.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 9a70aae2c7ede0020581e8dc1d2eb6f0
    body:
      encoding: UTF-8
      string: '{"id":"running-a-bank-account","title":"Running a bank account","description":"Find
        out how to manage a bank account, from paying money in to keeping track of
        interest and charges.","parent_id":"budgeting-and-managing-money","contents":[{"id":"how-to-choose-the-right-bank-account","type":"guide","title":"How
        to choose the right bank account","description":"Choose the right bank account
        for you with the features you want, at the right price"},{"id":"how-to-open-a-bank-account","type":"action_plan","title":"Action
        plan - How to open a bank account","description":"Follow these steps to choose
        and open a bank account"},{"id":"running-your-bank-account","type":"guide","title":"Running
        your bank account","description":"How to manage your bank ac[...]
