---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/saving-into-a-pension-for-the-first-time.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - c869c8ffe20c496867e768bc5d29870f
    body:
      encoding: UTF-8
      string: '{"id":"saving-into-a-pension-for-the-first-time","title":"Saving into
        a pension for the first time","description":"All you need to get started,
        including a ready reckoner that estimates how much you should be saving each
        month","parent_id":"pensions-and-retirement","contents":[{"id":"why-save-into-a-pension","type":"guide","title":"Why
        save into a pension?","description":"Pensions are an efficient way to save
        for retirement. Contributions are topped up by the taxman and often by employers"},{"id":"your-first-pension-the-options","type":"guide","title":"Your
        first pension \u2013 the options","description":"If you have access to a workplace
        pension it\u2019s likely to be the best option, particularly if your employer
        will contribute to it"},{"id":"worried-about-the-cos[...]
