---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/saving-and-investing.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - cf6a3585ff1cb3695e3cce278691aed7
    body:
      encoding: UTF-8
      string: '{"id":"saving-and-investing","title":"Saving and investing","description":"How
        to save money, types of savings account, and getting started with investing.","parent_id":"money-topics","contents":[{"id":"how-to-save-money","type":"category","title":"How
        to save money","description":"Work out how much you can afford to save and
        find out how to set and reach your savings goal."},{"id":"savings-types","type":"category","title":"Types
        of savings","description":"Learn about savings accounts, cash ISAs, and how
        to save for children."},{"id":"how-to-invest-money","type":"category","title":"How
        to invest money","description":"Learn about investing basics, how to make
        an investment plan, and understanding your attitude to risk."},{"id":"investment-types","type":"category","title":"Types
        of investment","description":"Information about stocks and shares, investment
        bonds, tracker funds, with-profits and endowment policies."}]}'
  recorded_at: Fri, 06 Jun 2014 07:57:56 GMT
recorded_with: VCR 2.9.2
