---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/student-and-graduate-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 936fb4a0642966d6cae54d67cf1fb7a6
    body:
      encoding: UTF-8
      string: '{"id":"student-and-graduate-money","title":"Student and graduate money","description":"Help
        with preparing your child for student life, including tips on budgeting at
        college or university.","parent_id":"budgeting-and-managing-money","contents":[{"id":"preparing-your-son-or-daughter-for-student-life","type":"guide","title":"Preparing
        your son or daughter for student life","description":"Read our handy tips
        on budgeting and borrowing"},{"id":"managing-money","type":"video","title":"Managing
        money","description":"What\u2019s the best way to keep on top of your money
        and manage your finances?"},{"id":"financial-independence","type":"video","title":"Financial
        independence","description":"When do you reach that point when you realise
        you can\u2019t depend [...]
