---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/taking-control-of-debt.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - a30350fce9e3c09643125e5503376ff0
    body:
      encoding: UTF-8
      string: '{"id":"taking-control-of-debt","title":"Taking control of debt","description":"Where
        to get free debt advice, how to speak to the people you owe money to, and
        tips to help you pay back your debts in the right order.","parent_id":"debt-and-borrowing","contents":[{"id":"where-to-go-to-get-free-debt-advice","type":"guide","title":"Where
        to go to get free debt advice","description":"Find out where you can get free,
        confidential help if you are struggling with debt"},{"id":"how-to-prioritise-your-debts","type":"guide","title":"How
        to prioritise your debt","description":"If you are struggling to pay all your
        debts, you need to know which ones you should be paying as a priority"},{"id":"talk-to-the-people-you-owe-money-to","type":"guide","title":"Talk
        to the people you [...]
