---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/transferring-between-pension-schemes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - f6e9cd04dae0267a905fb98d24383aaa
    body:
      encoding: UTF-8
      string: '{"id":"transferring-between-pension-schemes","title":"Transferring
        between pension schemes","description":"How to transfer pensions between providers,
        for example if you want to merge different pension pots you''ve built up","parent_id":"pensions-and-retirement","contents":[{"id":"transferring-out-of-a-defined-benefit-pension-scheme","type":"guide","title":"Transferring
        out of a defined benefit pension scheme","description":"If you''re thinking
        about transferring out of a salary-related pension scheme get financial advice
        first \u2013 transfers are often a bad move"},{"id":"transferring-defined-contribution-pensions","type":"guide","title":"Transferring
        defined contribution pensions","description":"We set out seven key questions
        you should ask yourself before transferring pension savings from one scheme
        to another"}]}'
  recorded_at: Fri, 06 Jun 2014 07:58:00 GMT
recorded_with: VCR 2.9.2
