---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/travel-insurance.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 1413ea6262e545efd8fc5f70aeefe624
    body:
      encoding: UTF-8
      string: '{"id":"travel-insurance","title":"Travel insurance","description":"Learn
        how to choose the right level of cover, get the best deal, and how to make
        a travel insurance claim.","parent_id":"insurance","contents":[{"id":"do-you-need-travel-insurance","type":"guide","title":"Do
        you need travel insurance?","description":"If you are going abroad make sure
        you have travel insurance to stop a medical emergency turning into a financial
        disaster as well"},{"id":"travel-insurance-choosing-the-right-policy-and-cover","type":"guide","title":"Travel
        insurance \u2013 choose the right policy and cover","description":"Buying
        any old travel insurance policy might mean you''re not properly covered \u2013
        make sure yo[...]
