---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/types-of-pension.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - d49cc7cddab7cae0cf210dfc507f18d3
    body:
      encoding: UTF-8
      string: '{"id":"types-of-pension","title":"Types of pension","description":"State
        pension, workplace pensions and personal pensions - an overview of how each
        works","parent_id":"pensions-and-retirement","contents":[{"id":"multi-employer-pension-schemes","type":"guide","title":"Multi-employer
        pension schemes","description":"Large multi-employer schemes aim to provide
        low-cost, flexible pensions - find out more"},{"id":"state-pensions","type":"guide","title":"State
        Pensions","description":"Who\u2019s eligible for a State Pension, when you
        get it and how much you\u2019ll get"},{"id":"pensions-for-the-self-employed","type":"guide","title":"Pensions
        for the self-employed","description":"If you\u2019re self-employed, [...]
