---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/videos.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - f83ece2762b8731a218981e6a4e0cf81
    body:
      encoding: UTF-8
      string: '{"id":"videos","title":"Videos","description":"See our videos, covering
        subjects such as insurance, retirement savings and inflation","parent_id":"tools--resources","contents":[{"id":"get-ready-universal-credit","type":"video","title":"Get
        ready for Universal Credit","description":"In April 2013, the government started
        bringing in a new type of financial support called Universal Credit."},{"id":"your-top-tips-for-buying-and-running-a-car","type":"video","title":"Your
        top tips for buying and running a car","description":"Watch this video to
        find out how people would buy and run a car."},{"id":"timeline-to-buying-a-home","type":"video","title":"Timeline
        to buying a home","[...]
