---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/voluntary-redundancy-and-early-retirement.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 725333c64d052c10c3ba775757c1f17a
    body:
      encoding: UTF-8
      string: '{"id":"voluntary-redundancy-and-early-retirement","title":"Voluntary
        redundancy and early retirement","description":"Weigh up the pros and cons
        of voluntary redundancy and early retirement and consider the impact on your
        finances","parent_id":"losing-your-job","contents":[{"id":"considering-voluntary-redundancy","type":"guide","title":"Voluntary
        redundancy","description":"Weigh up the pros and cons of voluntary redundancy
        and consider the impact on your finances, income protection and job prospects"},{"id":"considering-early-retirement-instead-of-redundancy","type":"guide","title":"Considering
        early retirement instead of redundancy","description":"Before taking early
        retirement, you need to know the pros and cons \u2013 and whether you can
        afford to do it"}]}'
  recorded_at: Fri, 06 Jun 2014 07:58:13 GMT
recorded_with: VCR 2.9.2
