---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/categories/when-someone-dies.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 69a92b642e65a0363f11a4549cf4a21b
    body:
      encoding: UTF-8
      string: '{"id":"when-someone-dies","title":"When someone dies","description":"Learn
        how to deal with money after a death, from paying for the funeral to looking
        after the paperwork and household bills.","parent_id":"births-deaths-and-family","contents":[{"id":"making-or-reviewing-your-will-after-someone-dies","type":"guide","title":"Making
        or revising your will after someone dies","description":"It''s important to
        make a will or check an existing one after someone close to you dies"},{"id":"coping-with-debt-after-your-partner-dies","type":"guide","title":"Coping
        with debt after your partner dies","description":"What to do about debts and
        other repayment obligations, including your mortgage or rental payments, after
        your partner dies"},{"id":"claiming-bereavement-and-o[...]
