(function() {
  var $newsletterForm = $('.js-news-signup-test-form'),
      $newsletterInput = $('.js-news-signup-test-input'),
      errorClassName = 'is-errored',
      newsletterErrorId = 'newsletter_error',
      successClassName = 'form-success',
      $formUIContainer = $('.js-news-signup-inpage__form-container');

  <%= render 'common', success: @success %>

  <% if @success %>
  $newsletterForm.attr({
    'role': 'alert',
    'aria-live': 'polite'
  })
      .removeClass(errorClassName)
      .addClass(successClassName);

  $formUIContainer.after('<div class="news-signup-inpage__form-success-message"><%= flash[:success] %></div>');


  $newsletterInput.attr({'aria-invalid': false });
  <% else %>
  $newsletterForm.addClass(errorClassName);
  $newsletterForm.find('label')
      .attr('id', newsletterErrorId)
      .text('<%= flash[:error] %>');

  $newsletterInput.attr({'aria-invalid': true, 'aria-describedby': newsletterErrorId });
  <% end %>
})();

