<% content_for :main do %>
  <div class="l-container l-styleguide">
    <nav class="l-2col-side">
      <a>insert_dynamic_links_to_h2s</a>
    </nav>
    <div class="l-2col-main">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/styleguide' %>
