<% content_for :main do %>
  <div class="l-container l-styleguide">
    <div class="l-2col-side tempComponent">
      <h2>Table of Contents</h2>
      insert_dynamic_links_to_h2s
    </div>
    <div class="l-2col-main">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/styleguide' %>