.authentication {
  @extend .unstyled-list;
  text-align: right;
  margin-top: 23px;
}

.authentication__item {
  @include inline-block;
  padding: 0 0 0 $baseline-unit*2;
}

.authentication__link {
  @extend .unstyled-button;
  @include body(16, 18);

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}
