.authentication {
  @extend .unstyled-list;
  text-align: right;
  margin-top: 22px;
}

.authentication__item {
  @include inline-block;
  margin-right: -4px;
  line-height: 1;

  @include respond-to($mq-xl) {
    padding: 0 $baseline-unit*2;
    border-right: 1px solid $color-primary-nav;
  }

  .theme-cy & {
    padding-left: $baseline-unit;
  }
}

.authentication__item--last {
  border-right: 0;
}

.authentication__link,
.authentication__item > a {
  @extend .unstyled-button;
  @include body(14, 14);

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.authentication__item-divider {
  margin: 0 $baseline-unit;
}
