// Site wide breadcrumb
//
// Styleguide Breadcrumb

.breadcrumb {
  @include body(14, 18);
  @include inline-block;
  @include visually-hidden;
  margin-bottom: 0;

  &:last-child {
    @include inline-block;
    position: relative;
    overflow: visible;
    width: auto;
  }

  @include respond-to($mq-m) {
    @include inline-block;
    position: relative;
    overflow: visible;
    width: auto;
  }

  @include respond-to($mq-l) {
    @include body(16, 24);
  }
}

.breadcrumb__divider {
  @include body(16, 16);
  color: $breadcrumbs-divider-color;
  position: relative;
  top: 1px;

  &:before {
    padding: 0 6px 0 0;
    content: '\3008';

    @include respond-to($mq-m) {
      padding: 0 0 0 6px;
      content: '\3009';
    }
  }
}
