// Site wide breadcrumbs
//
// Styleguide Breadcrumbs

//.breadcrumbs {
//
//  ul {
//    height: 24px;
//  }
//}

.breadcrumbs__item {
  @include body(14, 18);
  @include inline-block;
  margin-bottom: 0;

  @include respond-to($mq-l) {
    @include body(16, 24);
  }
}

@include respond-to($mq-xs, $mq-m) {
  .breadcrumbs__item:not(:last-child) {
    @include visually-hidden;
  }
}

.breadcrumbs__divider:before {
  @extend %font-body;
  font-size: 32px;
  line-height: 0;
  color: $breadcrumbs-divider-color;
  position: relative;
  top: 4px;
  padding: 0 6px;
  content: '\002039';

  @include respond-to($mq-m) {
    content: '\00203A';
  }
}

