// Contact Panel
//
// Styleguide Contact Panel

.contact-panel {
  color: $color-grey-medium-dark;
  text-align: center;
  padding: $baseline-unit*4 0;
  margin-bottom: $baseline-unit*2;
  border-bottom: 1px solid $color-newsletter-input-border;

  @include respond-to($mq-m) {
    border-bottom: 0;
  }

  @include respond-to($mq-xl) {
    padding: $baseline-unit*4;
  }
}

.contact-panel--last {
  border-bottom: 0;
}

.contact-panel__heading {
  position: relative;
  margin-top: $baseline-unit*16;

  .icon {
    position: absolute;
    top: -90px;
    left: 50%;
  }

  .icon--web-chat {
    margin-left: -40px;
  }

  .icon--call-us {
    margin-left: -25px;
  }

  .icon--sharing {
    margin-left: -30px;
  }
}

.contact-panel__list {
  @extend .unstyled-list;
  margin: $baseline-unit*2 0;
}

.contact-panel__additional-info {
  @include body(16, 22);
  margin-bottom: 0;
}

.contact-panel__button-container {
  margin: $baseline-unit*2 0;

  @include respond-to($mq-l) {
    margin: $baseline-unit*4 0;
  }
}

.contact-panel__button {
  @include inline-block;

  &.is-disabled {
    visibility: hidden;
  }
}

.contact-panel__button--sharing {
  padding: 12px 20px;
  width: 65px;
  height: 50px;

  .icon {
    float: left;
  }
}

.contact-panel__telephone:link,
.contact-panel__telephone:visited,
.contact-panel__telephone:hover {
  @include inline-block;
  @include body(24, 48);
  @extend %font-heading-heavy;
  margin: $baseline-unit*2 0 $baseline-unit 0;
  color: $color-heading-default;

  @include respond-to($mq-l) {
    @include body(30, 48);
    margin: $baseline-unit*2 0 $baseline-unit 0;
  }
}

.contact-panel__border {
  border-right: 1px solid $color-newsletter-input-border;
  height: 0;
  float: left;
  margin-left: -1px;

  @include respond-to($mq-m) {
    height: 400px;
  }
}

.js .contact-panel__preloader {
  width: 30px;
  height: 30px;
  background: image_url('preloader_30x30.gif');
  margin: 0 auto;
}

.js .contact-panel__chat-javascript {
  display: none;
}

.no-js .contact-panel__chat-description {
  display: none;
}

.js .contact-panel__dynamic-content {
  &.is-loading {
    .contact-panel__chat-description,
    .contact-panel__button {
      visibility: hidden;
    }
    .contact-panel__preloader {
      visibility: visible;
    }
  }

  &.is-loaded {
    .contact-panel__chat-description,
    .contact-panel__button {
      visibility: visible;
    }
    .contact-panel__preloader {
      display: none;
    }
  }
}

.js .contact-panel__chat-closed {
  .contact-panel__dynamic-content {
    &.is-loading {
      .contact-panel__chat-description,
      .contact-panel__button {
        visibility: visible;
      }
      .contact-panel__preloader {
        display: none;
      }
    }
  }
}
