// Contact component for the website
//
// Styleguide contact

.contact {
  border-top: 3px solid $home-feature-list-border;
  padding-top: $baseline-unit*6;
  margin-bottom: $baseline-unit*4;
}


.contact__heading {
  @include font-size($poseidon);
  @include line-height(30, $poseidon);
  @include font-weight(bold);
  margin-top: 0;
  margin-bottom: $baseline-unit;

  @include respond-to($mq-m) {
    @include font-size($zeus);
    @include line-height(30, $zeus);
    margin-top: $baseline-unit*3;
  }
}

.contact__introduction {
  margin-bottom: $baseline-unit*3;
}

.contact__details-heading {
  @include font-weight(medium);
  color: $colour-contact-heading;
}

.contact__details-text {
  @include font-size($artemis);
  @include line-height(24, $artemis);
}
