// Contact component for the website
//
// Styleguide contact

.contact {
  border-top: 3px solid $home-feature-list-border;
  padding-top: $baseline-unit*6;
  margin-bottom: $baseline-unit*4;
}


.contact__heading {
  @include body(24, 30);
  @extend %font-heading-heavy;
  margin-top: 0;
  margin-bottom: $baseline-unit;

  @include respond-to($mq-m) {
    margin-top: $baseline-unit*3;
    @include body(29, 30);
  }
}

.contact__introduction {
  margin-bottom: $baseline-unit*3;
}

.contact__details-heading {
  @extend %font-heading-medium;
  color: $colour-contact-heading;
  margin-top: 0;
}

.contact__details-text {
  @include body(16, 24);
}
