// Contact component for the website
//
// Styleguide contact

.contact {
  border-top: 3px solid $home-feature-list-border;
  padding-top: $baseline-unit*6;
  margin-bottom: $baseline-unit*4;
}

.contact__heading {
  @extend %font-heading-heavy;
  @include body(21, 22);
  margin-top: 0;

  @include respond-to($mq-m) {
    @include body(21, 22);
  };

  @include respond-to($mq-l) {
    margin-bottom: $baseline-unit*5;
  };
}

.contact__introduction {
  @include body(16, 24);
  margin-bottom: 0;
  margin-top: $baseline-unit;
}

.contact__details-heading {
  @extend %font-heading-heavy;
  @include body(16, 24);
  color: $color-contact-heading;
  margin-top: 0;
  margin-bottom: $baseline-unit;
}

.contact__details-text {
  @include body(16, 24);
  padding-right: 6px;
}
