.cookie-message {
  @extend %clearfix;
  position: relative;
  background-color: $color-cookie-message-background;
  margin-bottom: px(12);
}

.cookie-message__content {
  @extend %type-small;
  @include column(12);
  margin-top: px(18);
  margin-bottom: px(18);
  padding-right: px(24);

  a {
    display: block;
    @extend %type-small;
    @include respond-to($mq-l) {
      display: inline;
    }
  }
}

.cookie-message__close-button {
  @extend .unstyled-button;
  padding: px(18) px(12) px(12) px(12);
  position: absolute;
  top: 0;
  right: 0;
}
