.cookie-message {
  @extend %clearfix;

  background-color: #fff;
  position: relative;
  z-index: 10;

  .l-constrained {
    position: relative;
  }
}

.cookie-message__content {
  @extend %type-small;
  @include column(12);
  margin-top: $baseline-unit*3;
  margin-bottom: $baseline-unit*3;
  padding-right: 76px;
  padding-right: calc(76px + #{$default-gutter*3});

  @include respond-to($mq-xs-max) {
    padding-right: calc(76px + #{$default-gutter});
  }

  @include respond-to($mq-l) {
    padding-right: 0;
  }
}

.cookie-message__link {
  margin-top: $baseline-unit*2;
  @extend %type-small;
}

.cookie-message__close-button {
  float: right;
  font-size: 0.875rem;
  padding: $baseline-unit $baseline-unit;
  margin: 0 0 $baseline-unit $baseline-unit*3;
}
