.cookie-message {
  @extend %clearfix;
}

.cookie-message__content {
  @extend %type-small;
  @include column(11);
  margin-top: $baseline-unit*3;
  margin-bottom: $baseline-unit*3;
}

.cookie-message__link {
  margin-top: $baseline-unit*2;
  display: block;
  @extend %type-small;

  @include respond-to($mq-l) {
    display: inline;
  }
}

.cookie-message__close-button {
  @extend .unstyled-button;
  position: absolute;
  right: 0;
  padding: $baseline-unit*3 $baseline-unit*2 $baseline-unit*2 $baseline-unit*2;
}
