// Directory navigation component found on the homepage
//
// Styleguide Directory

.directory {
  @extend .clearfix;
  width:100%;
  background-color: $color-directory-emphasized-bg;

  @include respond-to($mq-m) {
    padding-top: $baseline-unit*4;
    padding-bottom: $baseline-unit*2;
  }

  .flexbox & {
    /* @lintingIgnoreBegin */
    display: flex;
    flex-flow: column;

    @include respond-to($mq-m) {
      flex-flow: row;
      flex-wrap: wrap;
    }
    /* @lintingIgnoreEnd */
  }

}

.directory__item {
  @include column(12);
  border-bottom: 1px solid $color-white;

  @include respond-to($mq-m) {
    @include column(6);
    min-height: 133px;
    border-bottom: 0;
  }

  @include respond-to($mq-l) {
    @include column(4);
    min-height: 180px;
    margin-bottom: $baseline-unit*4;
  }

  @include respond-to($mq-xl) {
    min-height: 128px;
  }
}

.flexbox .directory__item {
  margin-right: $default-gutter;
  margin-left: $default-gutter;
  padding: $baseline-unit*3 0 $baseline-unit*2 0;
  margin-bottom: 0;
  min-height: 0;

  /* @lintingIgnoreBegin */
  @include respond-to($mq-m) {
    flex-basis: 46%;
  }

  @include respond-to($mq-l) {;
    flex-basis: 30%;
  }
  /* @lintingIgnoreEnd */
}

.directory__title {
  @include body(16, 18);
  margin-top: 0;
  margin-bottom: $baseline-unit;

  @include respond-to($mq-m) {
    @include body(22, 30);
    margin-bottom: $baseline-unit*2;
  }
}

.directory__link {
  @extend %font-heading-medium;

  &:link,
  &:visited,
  &:hover,
  &:focus {
    color: $color-heading-extra-small;
  }
}

.directory__description {
  display: none;

  @include respond-to($mq-m) {
    display: block;
  }
}
