// Directory navigation component found on the homepage
//
// Styleguide Directory

.directory {
  @extend .clearfix;
  width:100%;

  @include respond-to($mq-m) {
    padding-bottom: $baseline-unit*6;
  }

  .flexbox & {
    display: flex;
    flex-flow: column;

    @include respond-to($mq-m) {
      flex-flow: row;
      flex-wrap: wrap;
    }
  }
}

.directory__item {
  @include column(12);
  border-bottom: 1px solid $color-white;
  padding: $baseline-unit*3 0 $baseline-unit*2 0;

  @include respond-to($mq-m) {
    @include column(6);
    min-height: 145px;
    border-bottom: 0;
  }

  @include respond-to($mq-l) {
    @include column(4);
  }
}

.flexbox .directory__item {
  margin-right: $default-gutter;
  margin-left: $default-gutter;
  margin-bottom: 0;
  min-height: 0;

  @include respond-to($mq-m) {
    flex-basis: 46%;
  }

  @include respond-to($mq-l) {;
    flex-basis: 30%;
  }
}

.directory__title {
  @include body(16, 18);
  margin-top: 0;
  margin-bottom: $baseline-unit;

  @include respond-to($mq-m) {
    @include body(20, 24);
  }
}

.directory__link {
  @extend %font-heading-medium;
}

.directory__description {
  @include body(16, 24);
  margin-bottom: 0;
  display: none;

  @include respond-to($mq-m) {
    display: block;
  }
}
