// Footer Navigation
//
// Styleguide Footer Navigation

.footer-nav {
  display: none;

  .no-js & {
    @include respond-to($mq-m) {
      @include column(12);
    }
  }
}

.footer-nav__header[id]:before {
  $sticky-offset: $baseline-unit*9;

  content: '.';
  display: block;
  font-size: 0;
  height: $sticky-offset;
  margin-top: -$sticky-offset;
  visibility: hidden;

  @include respond-to($mq-m) {
    content: none;
  }
}

.footer-nav__categories {
  @include clearfix();

  list-style: none;
  padding: 0;
  margin: $baseline-unit*2 0;
}

.footer-nav__category {
  float: left;
  padding-right: $baseline-unit;
  margin-right: $baseline-unit;
  border-right: solid 1px;
  line-height: 1rem;
  margin-top: $baseline-unit;
  margin-bottom: $baseline-unit;

  @include respond-to($mq-s) {
    padding-right: 0;
    margin-right: $baseline-unit*3;
    border-right: none;
  }
}

.footer-nav__category:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.footer-nav__link {
  @include body(14, 18);

  &:focus {
    @include focus-outline;
  }
}
