.footer-primary__list {
  @extend %clearfix;
  @extend .unstyled-list;
  margin-top: $baseline-unit*6;
  margin-bottom: $baseline-unit*4;
}

.footer-primary__list-item {
  @include column(6);
  @include body(16, 22);

  &:nth-child(6),
  &:nth-child(7) {
    clear: left;
  }
}
