.footer-secondary {
  overflow: hidden;
  color: $color-text-icon;
  background-color: $color-green-primary;
  position: relative; // fix white space issue in Safari
}

.footer-secondary__list {
  @extend .unstyled-list;
  margin: $baseline-unit*2 0;
}

.footer-secondary__list-item {
  margin: 0;

  @include respond-to($mq-l) {
    @include inline-block;
    margin-right: $baseline-unit*3;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-secondary__link {
  @extend %type-navigation;
  @extend %link-nav-primary;
  line-height: 2.2;
}

.language-link .icon--globe {
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.accessibility-feedback-link .icon--accessibility {
  position: relative;
  top: 2px;
  margin-right: 4px
}
