// Footer Navigation
//
// Styleguide Footer Navigation

.footer-nav {
  @include column(12);
}

.footer-nav__header[id]:before {
  $sticky-offset: $baseline-unit*9;

  content: '.';
  display: block;
  font-size: 0;
  height: $sticky-offset;
  margin-top: -$sticky-offset;
  visibility: hidden;

  @include respond-to($mq-m) {
    content: none;
  }
}

.footer-nav__category {
  float: left;
  width: (100%) / 17;
  list-style: none;
  padding: 0;
}
