// Footer Secondary
//
// Styleguide Secondary Footer

.l-footer-secondary {
  .l-language-link {
    @include respond-to($mq-l) {
      display: none;
    }
  }
}

.footer-secondary__sign-out,
.footer-secondary__my-account,
.footer-secondary__sign-in,
.footer-secondary__register {
  @include respond-to($mq-xl) {
    display: none;
  }
}

.footer-secondary__sign-in {
  border-right: solid 1px;
}

.footer-secondary__opt-out {
  @extend %type-footer;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}
