.footer-secondary__list {
  @extend .unstyled-list;
  margin: $baseline-unit*2 0;
}

.footer-secondary__list-item {
  margin: 0;

  @include respond-to($mq-s) {
    @include inline-block;
    margin-right: $baseline-unit*3;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-secondary__link {
  @extend %type-navigation;
  @extend %link-nav-primary;
  line-height: 2.2;
}

.footer-secondary__opt-out {
    @extend %type-footer;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;

    &:hover,
    &:focus {
      outline: none;
      text-decoration: underline;
  }
}

.language-link .icon--globe {
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.accessibility-feedback-link .icon--accessibility {
  position: relative;
  top: 2px;
  margin-right: 4px;
}
