// Footer Secondary
//
// Styleguide Secondary Footer

.footer-secondary__sign-out,
.footer-secondary__my-account,
.footer-secondary__sign-in,
.footer-secondary__register {
  @include respond-to($mq-xl) {
    display: none;
  }
}

.footer-secondary__opt-out {
  @extend %type-footer;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

/* MPS TEXT AND LOGO */
.footer-secondary__mps-text {
  display: inline-block;
  & > * {
    display: block;
  }
}
.footer-secondary__mps-link {
  margin-top: $baseline-unit*2;
}