// Footer Secondary
//
// Styleguide Secondary Footer

.footer-secondary__list {
  @extend .unstyled-list;
  margin: $baseline-unit*2 0;
}

.footer-secondary__list-item {
  margin: 0;

  @include respond-to($mq-s) {
    @include inline-block;
    margin-right: $baseline-unit*3;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-secondary__link {
  @extend %font-body;
  @include body(14, 18);
  @extend %link-nav-primary;
  line-height: 2.2;

  .cy-theme & {
    @include body(13, 18);
  }
}

.footer-secondary__opt-out {
  @extend %type-footer;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.language-link .icon--globe {
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.accessibility-feedback-link .icon--accessibility {
  position: relative;
  top: 2px;
  margin-right: 4px;
}
