.form--your-goal .form__group {
  @include respond-to($mq-m) {
    float: left;
    width: 50%;
    padding-right: $gutter-width/2;
  }
}

.form--your-goal .form__group--last {
  padding-top: $baseline-unit*6;

  @include respond-to($mq-m) {
    padding-right: 0;
    padding-left: $gutter-width/2;
  }
}

.form--your-goal .form__row {
  margin-bottom: $baseline-unit*2;
}
