// We have an SVG element loaded at the top of each page containing a set of reusable SVG icons, which are referenced with the <use> tag from markup later in the page.
// These are preferrable over PNG sprite icons. Where necessary there should be a PNG fallback for the same icon.
// The advantages of using these is that we can alter colour and size with CSS, they offer support for all screen densities, as well as not requiring any extra HTTP requests to load.
//
// .svg-icon--plus - Plus icon
// .svg-icon--minus - Minus icon
// .svg-icon--arrow-right - Arrow
// .svg-icon--arrow-left - Arrow left
// .svg-icon--arrow-right - Arrow right
// .svg-icon--desktop-close-box - Close box (desktop)
// .svg-icon--mobile-close-box - Close box (mobile)
// .svg-icon--facebook - Facebook
// .svg-icon--twitter - Twitter
// .svg-icon--youtube - Youtube
// .svg-icon--email - Email
// .svg-icon--stripe-banner-arrow - ARROW
// .svg-icon--thumb-icon - Thumb
// .svg-icon--clear-english - Clear English icon
//
// Styleguide svg-icons

.svg-icon {
  display: block;
  html.no-svg & {
    display: none;
  }
}

// Normalise on the styleguide
.styleguide-element .svg-icon {
  fill: #000;
  max-width: 40px;
  max-height: 40px;
  position: static;
  margin: 0;
}

%small-svg-icon {
  width: 16px;
  height: 16px;
}


html.no-svg {

  .no-svg-icon {
    @extend .icon;
  }

  .no-svg-icon--default {
    @extend %small-svg-icon;
    background-color: #fff;
    background-image: none;
    border: 2px solid black;
  }
}

html.svg {
  // When browser supports SVG, hide any .icon siblings (PNG fallbacks) of the .svg-icon
  .svg-icon + span.icon {
    display: none;
  }
}

// Plus

.svg-icon--plus--yellow {
  @extend %small-svg-icon;
  fill: $color-yellow-dark;
}

.svg-icon--plus--blue {
  @extend %small-svg-icon;
  fill: $color-blue-medium;
}

// Minus

.svg-icon--minus--yellow {
  @extend %small-svg-icon;
  fill: $color-yellow-dark;
}

.svg-icon--minus--blue {
  @extend %small-svg-icon;
  fill: $color-blue-medium;
}

// Social sharing

.svg-icon--twitter,
.svg-icon--facebook,
.svg-icon--youtube,
.svg-icon--email {
  vertical-align: middle;
  fill: #fff;
  display: none;

  .svg & {
    display: block;
  }
}

.icon--twitter,
.icon--facebook,
.icon--youtube,
.icon--email {
  display: block;

  .svg & {
    display: none;
  }
}

// On-page feedback icons

.svg-icon--thumb-icon,
.icon--thumb-icon-up,
.icon--thumb-icon-down {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.svg-icon--thumb-button {
  width: 35px;
  height: 35px;
}

.icon--thumb-button {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.icon--thumb-icon-up {
  background-position: -889px -440px;
}

.icon--thumb-icon-down {
  background-position: -935px -436px;
}

// Clear English Standard
#svg-icon--clear-english {
  .st0 {
    fill: none;
  }

  .st1 {
    fill: #959CA1;
  }

  .st2 {
    stroke: #FFFFFF;
    stroke-width: 1.25;
  }

  .st3 {
    fill: #FFFFFF;
  }

  .st4 {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 3.4213;
  }

  .st5 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #004896;
  }
}

.icon--clear-english,
.svg-icon--clear-english {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: none;
}

.svg-icon--clear-english {
  .svg & {
    @include respond-to($mq-s) {
      display: block;
    }
  }
}

.icon--clear-english {
  background-image: image_url('CESWebsiteSILVER.png');
  background-repeat: no-repeat;

  @include respond-to($mq-s) {
    display: block;
  }
}
