// Styling for SVG icons, to be used instead of PNG sprite icons

.svg-icon {
  html.no-svg & {
    display: none;
  }
}

%small-svg-icon {
  width: 16px;
  height: 16px;
}

// Plus

.svg-icon--plus--yellow {
  @extend %small-svg-icon;
  fill: $color-yellow-dark;
}

.svg-icon--plus--blue {
  @extend %small-svg-icon;
  fill: $color-blue-medium;
}

// Minus

.svg-icon--minus--yellow {
  @extend %small-svg-icon;
  fill: $color-yellow-dark;
}

.svg-icon--minus--blue {
  @extend %small-svg-icon;
  fill: $color-blue-medium;
}

html.no-svg {

  .no-svg-icon {
    @extend .icon;
  }

  .no-svg-icon--default {
    @extend %small-svg-icon;
    background-color: #fff;
    background-image: none;
    border: 2px solid black;
  }

}
