.link-to-top-block {
  @extend %font-heading-heavy;
  display: block;
  padding: $baseline-unit*2 10px;
  background-color: $color-link-to-top-background;

  .icon {
    float: right;
    margin-top: 6px;
  }
}
