// A styled list of links - used for the parent categories
//
// Styleguide link-list-primary

.link-list-primary {
  @extend .unstyled-list;
}

.link-list-primary__item {
  @extend .unstyled-list;
  @include body(16, 22);
  border-bottom: 1px solid $color-link-list-primary-border-color;
  color: $color-link-list-text;
  padding: $baseline-unit*2 10px 0;
}

.link-list-primary--no-border .link-list-primary__item {
  border-bottom: none;
}

.link-list-primary__text {
  margin-bottom: $baseline-unit*2;
  display: inline-block;
}

// ----------- state --------------
.link-list-primary__item--selected {
  background: $color-link-list-selected-background;
}

.js .link-list__sub-list {
  display: none;
  &.is-active {
    display: block;
  }
}
