// A styled list of links - used for the parent categories
//
// Styleguide link-list-primary

.link-list-primary {
  @extend .unstyled-list;
}

.link-list-primary__item {
  @extend .unstyled-list;
  @include body(16, 22);
  border-bottom: 1px solid $color-link-list-primary-border-color;
}

.link-list-primary__link {
  padding: $baseline-unit*2 10px;
  display: block;
}


// ----------- state --------------
.link-list-primary__link.is-selected {
  background: $color-link-list-background;
}

.link-list-primary--expanded .link-list-primary__link.is-selected {
  background: transparent;
}
