.link-to-top-block {
  @extend %font-heading-heavy;
  display: block;
  padding: px(12) 10px;
  background-color: $color-link-to-top-background;
  margin-bottom: px(6);

  .icon {
    float: right;
    margin-top: 4px;
  }
}
