// A styled list of links - used for the parent categories
//
// Styleguide link-list-primary

.link-list-primary {
  @extend .unstyled-list;
}

.link-list-primary__item {
  @extend .unstyled-list;
  @include body(16, 22);
  border-bottom: 1px solid $color-link-list-primary-border-color;
  color: $color-link-list-text;
}

.link-list-primary__text {
  padding: px(12) 10px;
  display: block;
  background: $color-link-list-background;
}


// ----------- state --------------
.link-list-primary__text.is-selected {
  background: $color-link-list-selected-background;
}
