// A styled list of links - used for the parent categories
//
// Styleguide link-list-primary

.link-list-primary {
  @extend .unstyled-list;
}

.link-list-primary__item {
  @include body(16, 24);
  @extend .unstyled-list;
  border-bottom: 1px solid $color-link-list-primary-border-color;
}

.link-list-primary__link {
  padding: $baseline-unit*2 10px;
  display: block;
}

.link-list-primary__item--back-to-top {
  @extend %font-heading-heavy;
  background-color: $color-link-list-background;
}

// ----------- state --------------
.link-list-primary__link.is-selected {
  background: $color-link-list-background;
}

.link-list-primary__link--expanded.is-selected {
  background: transparent;
}
