.mas-logo__img {
  max-width: none;
  width: 200%;
  margin-left: -100%;
}

.mas-logo__link {
  display: block;
  overflow: hidden;
  width: 200px;

  @include respond-to($mq-m) {
    width: 285px;
  }

  &:focus {
    border-bottom: 1px solid $color-primary-nav;
  }
}
