.mas-button {
  @extend .button;
}

.mas-button--newsletter {
  @include body(12,14);
  background: $color-newsletter;
  border-bottom: 0;
  color: $color-white;
  font-weight: 500;
  text-transform: uppercase;

  .theme-cy & {
    white-space: normal;
  }

  &:focus,
  &:hover,
  &:active {
    color: $color-true-black;
    background: $color-newsletter-active;
    border-top: 0;
  }

  &:hover,
  &:active {
    outline: none;
  }

  &:visited,
  &:active {
    background: $color-newsletter;
    color: $color-white;
  }
}
