.mas-strapline {
  background-color: $breadcrumbs-background-color;

  .logo {
    float: right;
    margin-top: $baseline-unit*3;
    margin-right: $default-gutter;

    @include respond-to($mq-xs, $mq-l) {
      background-size: 275px;
      width: 75px;
      height: 30px;
    }

    @include respond-to(30.625em, $mq-l) {
      width: 170px;
    }

    @include respond-to(25em) {
      margin-top: $baseline-unit;
    }

    @include respond-to($mq-m) {
      margin-top: $baseline-unit*3;
    }

    @include respond-to($mq-l) {
      margin-top: $baseline-unit*3;
    }
  }

  .logo--green {
    @include respond-to($mq-xs, $mq-l) {
      background-position: 0px -75px;
    }

    @include respond-to($mq-l) {
      background-position: 0px -150px;
    }
  }
}

.mas-strapline__content {
  @extend %font-heading-heavy;
  @include column(12);
  padding: $baseline-unit*2 0;
  color: $color-heading-extra-small;
  margin-bottom: 0;
  max-width: 60%;

  @include respond-to(25em, $mq-s) {
    max-width: 75%;
  }

  @include respond-to($mq-m) {
    @include body(22, 22);
    padding: $baseline-unit*4 0;
  }

  @include respond-to($mq-l) {
    @include body(30, 36);
    padding: $baseline-unit*6 0;
  }
}
