.menu {
  @extend .unstyled-list;
  border-left: px(6) solid $color-grey-light;
  background-color: $color-white;
  margin-left: -6px;
  margin-right: -6px;

  > li {
    @extend .unstyled-list;
    border-top: 1px solid $color-grey-light;
    > a {
      padding: px(12) 0;
      display: block;
      color: $color-green-secondary;
    }
  }
}
