.mobile-nav {
  @extend .unstyled-list;
  display: none;
}

.mobile-nav__item {
  @extend %type-navigation;
  float: left;
  margin: $baseline-unit*2 $baseline-unit*1.5 0 0;
  border-radius: $baseline-unit/2;
  background-color: $color-green-tertiary;
}

.mobile-nav__link {
  @extend %link-nav-primary;
  padding: $baseline-unit*1.5;
  display: block;
}

.mobile-nav__link--search {
  padding: 9px 7px 5px 11px;
}

.mobile-nav__link--menu.is-on {
  background:red;
}
