// Buttons to open menu and search on mobile
//
// Styleguide Mobile navigation

.mobile-nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mobile-nav__item {
  @extend %type-navigation;
  float: left;
  margin: $baseline-unit $baseline-unit $baseline-unit 0;

  @include respond-to($mq-m) {
    margin: $baseline-unit*1.5 $baseline-unit $baseline-unit*1.5 0;
  }
}

.mobile-nav__link {
  @extend %link-nav-primary;
  padding: $baseline-unit*2;
  display: block;
  border-radius: $baseline-unit/2;
  background-color: $color-header-buttons;

  @include respond-to($mq-m) {
    padding: $baseline-unit*2.5;
  }

  &:hover,
  &:focus {
    background-color: $color-header-buttons;
  }
}

.mobile-nav__link--search {
  line-height: 0.8;
  padding: $baseline-unit*2 13px $baseline-unit*2 15px;
  background-color: $color-yellow-light;

  @include respond-to($mq-m) {
    display: none;
  }

  @include respond-to($mq-l) {
    line-height: inherit;
    padding: 15px 13px 9px 15px;
  }

  &:hover {
    .icon--search {
      background-position: -271px -7px;
      // Background size required for IE9 - 11
      background-size: 550px;
    }
  }

  &:focus {
    background-color: $color-yellow-dark;
  }

  &.is-on {
    background-color: $color-green-secondary;

    .icon--search {
      background-position: -303px -8px;
      // Background size required for IE9 - 11
      background-size: 550px;
    }

    &:before {
      @include triangle(bottom, 7, 14, $color-green-secondary);
      position: absolute;
      bottom: 2px;
      right: 23px;
    }
  }
}

.mobile-nav__link--menu.is-on {
  &:before {
    @include triangle(bottom, 7, 14, $color-green-secondary);
    position: absolute;
    bottom: 2px;
    left: 27px;
  }
}

.mobile-nav__link--search.is-on:hover,
.mobile-nav__link--search.is-on:focus,
.mobile-nav__link--menu.is-on:hover,
.mobile-nav__link--menu.is-on:focus {
  &:before {
    @include triangle(bottom, 7, 14, $color-green-secondary);
  }
}


.mobile-nav-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0,0,0,.5);

  &.is-active {
    display: block;
  }
}
