.mobile-nav {
  @extend .unstyled-list;
  display: none;
}

.mobile-nav__item {
  @extend %type-navigation;
  float: left;
  margin: $baseline-unit*1.5 $baseline-unit $baseline-unit*1.5 0;
  border-radius: $baseline-unit/2;
  background-color: $color-header-buttons;
}

.mobile-nav__link {
  @extend %link-nav-primary;
  padding: $baseline-unit*2.5;
  display: block;
}

.mobile-nav__link--search {
  padding: 15px 13px 11px 15px;
  &.is-on {
    &:before {
      @include triangle(bottom, 7, 14, $color-header-buttons);
      position: absolute;
      bottom: 2px;
      right: 23px;
    }
  }
}

.mobile-nav__link--menu.is-on {
  &:before {
    @include triangle(bottom, 7, 14, $color-header-buttons);
    position: absolute;
    bottom: 2px;
    left: 27px;
  }
}
