.newsletter-signup__heading {
  @extend %font-heading-heavy;
  @include body(24, 24);
  margin: 0;
  color: $color-newsletter-heading;
}

.newsletter-signup__label {
  @include body(18, 24);
  display: block;
  margin-bottom: $baseline-unit*2;
}

.newsletter-signup__input[type="text"] {
  @include body(16, 22);
  border: 1px solid $color-newsletter-input-border;
  height: auto;
  padding: $baseline-unit*2;
  margin-right: $baseline-unit;
  margin-bottom: $baseline-unit*3;
  max-width: 238px;

  @include respond-to($mq-l, $mq-xl) {
    max-width: 165px;
  }
}

.newsletter-signup__button {
  @include body(18, 24);
  height: auto;
  padding: 10px 12px;
}

.newsletter-signup__benefits-list {
  margin-top: $baseline-unit*4;

  @include respond-to($mq-m) {
    float: left;
    width: 50%;
  }
}

.newsletter-signup__form {
  margin-top: $baseline-unit*4;

  @include respond-to($mq-s) {
    @include column(6);
  }

  &.is-errored {
    margin-top: -$baseline-unit;

    @include respond-to($mq-xl) {
      margin-top: -$baseline-unit*2.5;
    }
  }
}
