%footer-secondary-text-size {
  @include body(16, 22);
}

.newsletter-signup__heading {
  @extend %font-heading-heavy;
  @include body(24, 24);
  margin: 0;
  color: $color-newsletter-heading;
}

.newsletter-signup__label {
  display: block;
  margin-bottom: $baseline-unit*2;
}

.newsletter-signup__input[type="text"] {
  @include body(16, 16);
  border: 1px solid $color-newsletter-input-border;
  height: auto;
  padding: $baseline-unit*2;
  margin-right: $baseline-unit;
  margin-bottom: $baseline-unit*3;
  max-width: 238px;

  @include respond-to($mq-l, $mq-xl) {
    max-width: 165px;
  }

  .theme-cy & {
    max-width: 208px;

    @include respond-to($mq-l, $mq-xl) {
      max-width: 135px;
    }
  }
}

.newsletter-signup__button {
  @extend %footer-secondary-text-size;
  height: auto;
  padding: 10px 12px;

  &:hover {
    background-color: $color-newsletter-button-on-hover;
  }
}

.newsletter-signup__benefits-list {
  @extend %footer-secondary-text-size;
  margin-top: $baseline-unit*4;

  @include respond-to($mq-l) {
    float: left;
    width: 50%;
  }
}

.newsletter-signup__form {
  margin-top: $baseline-unit*4;
  margin-bottom: -$baseline-unit*2;

  @include respond-to($mq-s) {
    margin-bottom: $baseline-unit*2;
  }

  @include respond-to($mq-l) {
    @include column(6);
  }

  &.is-errored {
    @include respond-to($mq-xl) {
      margin-top: -$baseline-unit*2.5;
    }
  }
}
