// Newsletter signup sticky footer component
//
// Styleguide Newsletter Signup Sticky

.news-signup-sticky {
  @extend %stripe-bg;
  @include clearfix;
  background-color: $color-off-white;
  margin: $baseline-unit*2 0 0 0;
  text-align: center;
  position: relative;
}

.news-signup-sticky--positioned {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.news-signup-sticky--visible {
  visibility: visible;
}

.news-signup-sticky__intro {
  @include body(16,18);
  color: $color-black;
  font-weight: 700;
  margin: $baseline-unit*3 auto;
  max-width: 240px;
  position: relative;

  @include respond-to($mq-m) {
    @include body(17,19);
    max-width: 400px;
  }
}

.news-signup-sticky__intro--second {
  @include body(15,17);
  font-weight: 700;
  color: $color-true-black;

  @include respond-to($mq-m) {
    @include body(16,18);
  }
}

.news-signup-sticky__inner {
  @include respond-to($mq-m) {
    &:after {
      background: image-url('newsletter_signup_image.png') no-repeat top right;
      background-size: 140px 132px;
      content: " ";
      height: 132px;
      left: 0;
      position: absolute;
      top: -5px;
      width: 20%;
    }
  }

  @include respond-to($mq-l) {
    &:after {
      width: 25%;
    }
  }

  @include respond-to($mq-xl) {
    &:after {
      width: 32%;
    }
  }
}

.news-signup-sticky__email-label {
  @include visually-hidden;
}

input[type="email"].news-signup-sticky__email-input {
  border-color: $color-newsletter;
  border-radius: 4px;
  margin: $baseline-unit;
  max-width: 188px;
  margin: 0 auto $baseline-unit*1.5 auto;
  display: block;
  padding: $baseline-unit*3 $baseline-unit;

  &:focus {
    outline: 2px solid $color-newsletter-active;
  }

  @include respond-to($mq-m) {
    display: inline-block;
    margin-right: $baseline-unit*2;
    position: relative;
    top: 1px;
  }
}

.news-signup-sticky__disclaimer {
  @include body(12,14);
  @include clearfix;
  font-weight: 500;
  color: $color-true-black;
  font-style: italic;
  text-align: center;
  margin: $baseline-unit*3 $baseline-unit 0 $baseline-unit;
  border-bottom: $baseline-unit*2 solid transparent;
}

.news-signup-sticky__close {
  @include body(40,25);
  position: absolute;
  right: 0;
  top: -$baseline-unit*5;
  color: $color-grey-light;

  @include respond-to($mq-m) {
    @include body(25,22);
    display: block;
    font-weight: 700;
    top: $baseline-unit*2;
    right: $baseline-unit*2;
    border-radius: 24px;
    padding: $baseline-unit $baseline-unit*1.7;
    background: $color-white;
  }
}
