$mq-news-signup-inpage-article: px(550);
$component-border-radius: 5px;
$component-background-color: $color-grey-concrete;
$component-input-error-border-colour: $color-red-medium;

.news-signup-inpage {
  @extend %stripe-bg;
  @include clearfix;
  display: none;
  position: relative;
  background-color: $component-background-color;
  border-radius: $component-border-radius;

  &.news-signup-inpage--in-article {
    display: block;
    margin-top: $baseline-unit*4;
    margin-bottom: $baseline-unit*2;
  }

}

.news-signup-inpage__form.is-errored {
  border-left: 0;
  padding-left: 0;

  .news-signup-inpage__text-container {
    position: relative;

    @include respond-to($mq-xs) {
      min-height: 180px;
    }

    @include respond-to($mq-s) {
      min-height: 170px;
    }

    @include respond-to($mq-m) {
      min-height: 130px;
    }

  }

  .news-signup-inpage__title {
    @include respond-to($mq-m) {
      display: none;
    }

  }

  .news-signup-inpage__supplementary-text {
    display: none;
  }

  .news-signup-inpage__email-label {
    @extend .is-errored;
    @include body(22, 26);
    border: 0;
    clip: auto;
    width: auto;
    height: auto;
    margin: auto;
    padding: initial;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond-to($mq-xs) {
      @include body(16, 22);
      margin-top: 80px;
      min-width: 215px;
    }

    @include respond-to($mq-s) {
      @include body(16, 22);
      margin-top: 70px;
      min-width: 290px;
    }

    @include respond-to($mq-m) {
      @include body(18, 22);
      margin-top: 0;
    }

    @include respond-to($mq-3col-layout) {
      min-width: 220px;
    }

    @include respond-to($mq-l) {
      min-width: 280px;
    }

    @include respond-to($mq-xl) {
      @include body(22, 26);
      min-width: 300px;
    }

  }

  .news-signup-inpage__form-container {

    input[type="email"] {
      border-color: $component-input-error-border-colour;

      &:focus {
        outline: 2px solid $component-input-error-border-colour;
      }

    }

  }

}

.news-signup-inpage__form.form-success {
  position: relative;
  height: 420px;

  @include respond-to($mq-m) {
    height: 210px;
  }

  .news-signup-inpage__title {
    @include respond-to($mq-m) {
      display: none;
    }

  }

  .news-signup-inpage__supplementary-text {
    display: none;
  }

  .news-signup-inpage__form-container {
    display: none;
  }

  .news-signup-inpage__form-success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include body(20, 26);
    color: $color-heading-extra-small;
    min-width: 270px;
    font-weight: 600;
    margin-top: 60px;

    @include respond-to($mq-m) {
      margin-top: 0;
      margin-left: 60px;
    }

    @include respond-to($mq-3col-layout) {
      margin-left: 70px;
      min-width: 190px;
    }

    @include respond-to($mq-l) {
      margin-left: 60px;
      min-width: 260px;
    }

  }

  & + .news-signup-inpage__footer {
    display: none;
  }

}

.news-signup-inpage__header {
  @include clearfix;
  display: block;
  position: relative;
}

.news-signup-inpage__text-container {
  position: relative;
  margin-left: 0;

  @include respond-to($mq-m) {
    margin-left: 140px;
  }

}

.news-signup-inpage__title {
  @include body(16, 22);
  color: $color-heading-extra-small;
  text-align: center;
  margin: 10px 170px 25px 20px;
  font-weight: 400;
  min-height: 130px;
  position: relative;

  @include respond-to($mq-s) {
    @include body(18, 24);
    margin: 0 170px 10px 20px;
    min-height: 110px;
  }

  @include respond-to($mq-m) {
    @include body(16, 23);
    margin: 20px 10px 10px 10px;
    min-height: 75px;
  }

  @include respond-to($mq-3col-layout) {
    @include body(16, 21);
    margin: 20px 20px 10px 20px;
  }

  @include respond-to($mq-l) {
    @include body(18, 24);
    margin: 20px 20px;
  }

  @include respond-to($mq-xl) {
    @include body(20, 24);
    margin: 20px 40px 15px 40px;
  }

}

.news-signup-inpage__title-text {
  @include respond-to($mq-xs) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 10px auto;
  }

  @include respond-to($mq-m) {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: auto;
  }

  @include respond-to($mq-3col-layout) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  @include respond-to($mq-l) {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: auto;
  }

}

.news-signup-inpage__supplementary-text {
  @include body(16, 24);
  color: $color-heading-extra-small;
  text-align: center;
  font-weight: 800;
  margin-top: $baseline-unit*3;

  @include respond-to($mq-s) {
    margin-top: 0;
  }

  @include respond-to($mq-m) {
    margin-bottom: 0;
  }

  @include respond-to($mq-l) {
    @include body(18, 24);
  }

}

.news-signup-inpage__email-label {
  @include visually-hidden;
}

.news-signup-inpage__image {
  display: block;
  position: absolute;
  background-color: transparent;
  background-image: image_url('news_signup_inpage/paper_clip_image.png');
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  width: 155px;
  height: 151px;
  margin-left: -10px;
  margin-top: -5px;

  @include device-pixel-ratio() {
    background-image: image_url('news_signup_inpage/paper_clip_image-2x.png');
  }

  @include respond-to($mq-m) {
    right: auto;
    left: 0;
  }

}

.news-signup-inpage__form-container {
  @include clearfix;
  display: block;
  position: relative;
  text-align: center;

  @include respond-to($mq-m) {
    margin-top: 30px;
  }

  @include respond-to($mq-3col-layout) {
    margin-top: 20px;
  }

  @include respond-to($mq-xl) {
    margin-top: 23px;
  }

  input[type="email"] {
    position: relative;
    top: 1px;
    width: 70%;
    height: 38px;
    border-color: $color-newsletter-input-border;
    border-radius: 4px;
    margin: 0 0 $baseline-unit*2 auto;
    text-align: center;

    @include respond-to($mq-s) {
      width: 45%;
      margin-right: $baseline-unit;
      margin-bottom: 0;
      text-align: left;
    }

    @include respond-to($mq-3col-layout) {
      width: 75%;
      margin-right: 0;
      margin-bottom: $baseline-unit*2;
      text-align: center;
    }

    @include respond-to($mq-l) {
      width: 40%;
      margin-right: $baseline-unit;
      margin-bottom: 0;
      text-align: left;
    }

  }

}

.news-signup-inpage__footer {
  position: relative;
  display: block;
  margin: 10px auto;
  text-align: center;

  @include respond-to($mq-s) {
    min-height: 40px;
    margin: 0 auto;
  }

  @include respond-to($mq-l) {
    margin-top: 10px;
  }

  @include respond-to($mq-l) {
    margin-top: 0;
  }

}

/* Leave the p.tag in place as other non-BEM compatible
CSS rules from the CMS are overiding the specificity. */
p.news-signup-inpage__privacy-text {
  @include body(13, 16);
  margin-bottom: 0;

  @include respond-to($mq-s) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  @include respond-to($mq-3col-layout) {
    @include body(11, 24);
  }

  @include respond-to($mq-l) {
    @include body(13, 24);
  }

  .ie8 & {
    position: relative;
    top: 10px;
    left: auto;
  }

  .ie7 & {
    position: relative;
    top: 10px;
    left: auto;
  }

}

.news-signup-inpage__privacy-text-link::after {
  margin-bottom: -4px;
}

.news-signup-inpage__privacy-text-section {
  display: block;

  @include respond-to($mq-s) {
    display: inline;
  }

}
