// Newsletter signup component
//
// Styleguide Newsletter Signup

%footer-secondary-text-size {
  @include body(16, 22);
}

.newsletter-strap {
  @include body(20, 24);
  color: $color-heading-extra-small;
}

.newsletter-signup__heading {
  @extend %font-heading-heavy;
  @include body(24, 24);
  margin: 0;
  color: $color-newsletter-heading;
}

.newsletter-signup__label {
  display: block;
  margin-bottom: $baseline-unit*2;
}

.newsletter-signup__input[type="text"] {
  @include body(16, 16);
  border: 1px solid $color-newsletter-input-border;
  height: auto;
  padding: $baseline-unit*1.5 $baseline-unit*2;
  margin: 0 auto $baseline-unit*2;
  max-width: 268px;
  display: block;
  border-radius: 4px;
}

.newsletter-signup__benefits-list {
  @extend %footer-secondary-text-size;
  margin-top: $baseline-unit*4;

  @include respond-to($mq-l) {
    float: left;
    width: 50%;
  }
}

.newsletter-signup__form {
  margin-top: $baseline-unit*4;
  margin-bottom: -$baseline-unit*2;

  @include respond-to($mq-s) {
    margin-bottom: $baseline-unit*2;
  }

  &.is-errored {
    @include respond-to($mq-xl) {
      margin-top: -$baseline-unit*2.5;
    }
  }
}
