// Newsletter component for the website
//
// Styleguide newsletter

.newsletter {}

.newsletter__heading {
  margin-top: 0;
}

.newsletter .newsletter__input {
  margin-right: 6px;
  margin-bottom: $baseline-unit;
  width: auto;
}

.newsletter__form-controls {
  display: table;
}

.newsletter__error {
  @extend %font-body;
  display: none;
  margin-bottom: $baseline-unit;
}

.newsletter__error--is-active {
  display: block;
}
