// Next steps component found on campaign pages. The entire block is a clickable "call to action" link
//
// Styleguide Next step

.next-step {
  margin-bottom: $baseline-unit;
}

.next-step__link {
  padding: $baseline-unit*2;
  display: block;

  &:hover,
  &:focus {
    color: $color-text-default;
    text-decoration: none;
    background-color: $breadcrumbs-background-color;
  }
}

.next-step__heading {
  @extend %font-heading-medium;
  @include body(20, 24);
  color: $color-link-default;
  margin-top: 0;
  margin-bottom: $baseline-unit;
}

.next-step__content {
  color: $color-text-default;
  margin: 0;
}
