// Search component found on the results page and the header
//
// Styleguide Search

.search {
  position: relative;

  .search__input {
    @extend %font-body;
    height: $baseline-unit*8;
    padding-left: $baseline-unit*2;
    background-color: $color-white;
    border: 1px solid $color-bluegrey-light;

    &::-webkit-input-placeholder {
      color: $color-search-text;
    }

    &:focus {
      background-color: $color-white;
    }
  }
}

.search__submit {
  @extend .unstyled-button;
  position: absolute;
  bottom: 0;
  right: 0;
  width: $baseline-unit*8;
  height: $baseline-unit*8;
  font-size: 24px;
  color: $color-search-text;

  .icon--search {
    @include search-icon-colour(green);
    position: absolute;
    top: $baseline-unit*2.5;
    left: $baseline-unit*2.5;
  }

  &:hover,
  &:focus {
    outline: 0;
    background-color: $color-green-secondary;

    .icon--search {
      @include search-icon-colour(white);
    }
  }

}

.search__submit--green {
  @include respond-to($mq-m) {
    background-color: $color-header-buttons;
    border-bottom-right-radius: $baseline-unit/2;
    border-top-right-radius: $baseline-unit/2;

    .icon--search {
      @include search-icon-colour(white);
    }
  }
}
