// Search component found on the results page and the header
//
// Styleguide Search

.search {
  position: relative;

  .search__input {
    @extend %font-body;
    height: px(48);
    padding-left: px(12);
    background-color: $color-white;
    border: 1px solid $color-bluegrey-light;

    &::-webkit-input-placeholder {
      color: $color-search-text;
    }

    &:focus {
      outline: 0;
      background-color: $color-white;
    }
  }
}

.search__submit {
  @extend .unstyled-button;
  position: absolute;
  bottom: 0;
  right: 0;
  width: px(48);
  height: px(48);

  .icon--search {
    @include search-icon-colour(green);
    position: absolute;
    top: 30%;
    left: 30%;
  }

  &:focus {
    outline: 0;
    background-color: $color-green-secondary;

    .icon--search {
      @include search-icon-colour(white);
    }
  }

}

.search__submit--green {
  @include respond-to($mq-m) {
    background-color: $color-header-buttons;
    border-bottom-right-radius: px(3);
    border-top-right-radius: px(3);

    .icon--search {
      @include search-icon-colour(white);
    }
  }
}
