// Link to allow a keyboard operator to skip the primary navigation and go directly to the main content
//
// Styleguide Skip to content

.skip-to-link {
  @extend %type-small;
  white-space: nowrap;
  display: block;
  padding: $baseline-unit;
  position: absolute;
  top: -1000px;
  left: 0;
  background-color: $color-skip-to-content;
  z-index: 12;
  &:focus {
    top: 0;
    left: 0;
  }
}
