// Social links component
//
// Styleguide Social Links

.social-links {
  @extend .unstyled-list;
  overflow: hidden;
  border-left: 1px solid $color-white-translucent-fallback;
  border-left: 1px solid $color-white-translucent;

  > li {
    @extend .unstyled-list;
    display: inline;
    float: left;
  }

  a {
    display: block;
    width: 48px;
    height: 44px;
    padding: 10px;
    background-color: $color-green-primary;
    border-right: 1px solid $color-white-translucent-fallback;
    border-right: 1px solid $color-white-translucent;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: darken($color-green-primary, 10%);
      border-bottom: none;
    }

    span:before {
      line-height: 2;
      color: $color-text-icon;
    }
  }

}
