%icon {
  .social-sharing & {
    background-image: none;
    display: none;
  }
}

.social-sharing {
  h2 {
    @include body(24, 30);
    color: $color-heading-extra-small;
    margin-bottom: $baseline-unit;
  }
}

.social-sharing__icon {
  @include respond-to($mq-s) {
    height: 40px;
    width: 68px;
  }
}
