// styles specific to the 'share this ...' section
.social-sharing__title {
  font-size: 1.3125rem;
  margin-bottom: $baseline-unit/2;
  color: $color-social-sharing-heading;
}

.social-sharing__item {
  margin: 0 10px 0 0;
  border-radius: 3px;
  position: relative;
  overflow: visible;

  &:last-child {
    margin-right: 0;
  }
}

.social-sharing__item:before {
  visibility: hidden;
}

.social-sharing__item__icon {
  width: 55px;
}

.social-sharing__item--facebook {
  background: $color-facebook;

  & > .social-sharing__item__icon:hover,
  & > .social-sharing__item__icon:focus {
    background: $color-facebook-hover;
  }

  .svg-icon--facebook,
  .icon--facebook {
    height: 33px;
    margin: 0 auto;
  }
}

.social-sharing__item--twitter {
  background: $color-twitter;

  & > .social-sharing__item__icon:hover,
  & > .social-sharing__item__icon:focus {
    background: $color-twitter-hover;
  }

  .svg-icon--twitter,
  .icon--twitter {
    height: 33px;
    margin: 0 auto;
  }
}

.social-sharing__item--email {
  background: $color-email;

  & > .social-sharing__item__icon:hover,
  & > .social-sharing__item__icon:focus {
    background: $color-email-hover;
  }

  .svg-icon--email,
  .icon--email {
    height: 33px;
    margin: 0 auto;
  }
}
