.list {
  > li.social-sharing__item:before {
    content: none;
  }
}

%icon {
  .social-sharing & {
    background-image: none;
    display: none;
  }
}

.icon {
  .social-sharing & {
    background-image: none;
    display: none;
  }
}

.social-sharing {
  h2 {
    @include body(24, 30);
    color: $color-heading-extra-small;
    margin-bottom: 0.5rem;
  }
}

.social-sharing__item {
  display: inline-block;
  margin: 0 10px 0 0;
  border-radius: 3px;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    line-height: 0;
  }
}

.social-sharing__icon {
  height: 33px;
  width: 55px;

  @include respond-to($mq-s) {
    height: 40px;
    width: 68px;
  }
}

.social-sharing__item--facebook {
  background: #3C5A99;

  a:hover {
    background: #214782;
  }
}

.social-sharing__item--twitter {
  background: #2BA9E1;

  a:hover {
    background: #1991b8;
  }
}

.social-sharing__item--email {
  background: #efba41;

  a:hover {
    background: #e8ae28;
  }
}
