.icon--web-chat {
  background-position: -909px -204px;
  width: 80px;
  height: 70px;
}

.icon--call-us {
  background-position: -688px -200px;
  width: 50px;
  height: 70px;
}

.icon--sharing {
  background-position: -922px -50px;
  width: 60px;
  height: 70px;
}

@include device-pixel-ratio() {
  .icon {
    background-size: 500px;
  }

  .icon--web-chat {
    background-position: -376px -85px;
  }

  .icon--call-us {
    background-position: -296px -79px;
  }

  .icon--sharing {
    background-position: -396px -6px;
  }

} // end media query
