---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/action_plans/claim-child-maintenance-from-your-ex.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/action_plans/claim-child-maintenance-from-your-ex>
        rel="alternate"; hreflang="en-GB"; title="Action plan - Arrange child maintenance
        with  your ex", <https://www.moneyadviceservice.org.uk/cy/action_plans/hawlio-cynhaliaeth-plant-gan-eich-cyn-gymar>
        rel="alternate"; hreflang="cy-GB"; title="Cynllun gweithredu - Hawliwch gynhaliaeth
        plant gan eich cyn bartner"
      X-Session-Id:
      - 37ae6465ed5d28839399b6f3753abac6
    body:
      encoding: UTF-8
      string: '{"id":"claim-child-maintenance-from-your-ex","title":"Action plan -
        Arrange child maintenance with  your ex","description":"Advice on claiming
        child maintenance from your ex including utilising the Child Support Agency
        (CSA) and striving to establish a family-based arrangement","body":"<p class=\"intro\"><img
        src=\"/images/new_action_plan_icon.jpg\"/>You can arrange child maintenance
        directly with your child\u2019s other parent or, if you can\u2019t agree,
        you can ask the Statutory Child Maintenance Service (formerly the Child Support
        Agency or CSA), or the courts to get involved. Follow this action plan to
        sort out your child maintenance payments.\u00a0\u00a0 </p><div class=\"action-item\"><h3>Step
        1 - Try to establish a family-based arrangement </h3><div class=\"collapsable\"><div
        class=\"why\"><h4>Why? </h4><p>It''s the quickest and easiest way to arrange
        child maintenance and has the advantage of being flexible and keeping open
        the lines of communication between you and your ex. </p></div><div class=\"how\"><h4>How?
        </h4><ul><li><a target=\"_blank\" data-link-type=\"external\" href=\"http://www.cmoptions.org/en/calculator/calculator.asp\">Use
        the child maintenance calculator on the CM Options website to see how much
        you could expect to receive</a></li><li><a target=\"_blank\" data-link-type=\"external\"
        href=\"http://www.cmoptions.org/en/family/index.asp\">Go to the CM Options
        website to get more information on family-based arrangements and download
        a form to record what you''ve a[...]
