features:
  action_plans: true
  agreements: true
  annuities_landing_page: true
  baby_cost_calculator: true
  budget_planner: true
  callback_requester: false
  car_cost_tool: true
  changes_for_2015: true
  chat: true
  contribution_calculator: true
  corporate_tool_directory: true
  cutback_calculator: true
  debt_advice_locator: true
  debt_and_mental_health: true
  debt_free_day_calculator: true
  debt_test: true
  health_check: true
  improvements: true
  latest_blog_post_links: true
  mortgage_calculator: true
  optimizely: true
  payday_loans: true
  pensions_and_retirement: true
  popular_links: true
  previous_and_next_links: true
  profile: true
  registration: true
  related_links: true
  reset_passwords: true
  rio: true
  savings_calculator: true
  settings: true
  sign_in: true
  timelines: true
