features:
  accessibility_link: true
  accessibility_statement: true
  annuities_landing_page: true
  budget_planner: true
  callback_requester: false
  car_cost_tool: true
  chat: true
  debt_advice_locator: true
  debt_free_day_calculator: true
  health_check: true
  interest_rate_campaign: true
  latest_blog_post_links: true
  mortgage_calculator: true
  pensions_lump_sum: true
  registration: true
  related_links: true
  reset_passwords: true
  savings_calculator: true
  settings: true
  sign_in: true
  profile: true
  improvements: true
  popular_links: true
  rio: true
  agreements: true
  timelines: true
