.l-category-filter {
  @include respond-to($mq-l) {
    @include column(4);
    margin-right: $baseline-unit;
  }
}

.l-category-detail {
  @include column(12);
  float: right;

  @include respond-to($mq-l) {
    @include column(8);
    float: right;
  }

  .category-detail__list {
    padding-left: $baseline-unit*6;
  }
}

.l-category-grid {

  .category-detail {
    padding: 0 $baseline-unit*4 $baseline-unit*3 0;

    @include respond-to($mq-m) {
      @include column(6);
      border: 0;
    }

    @include respond-to($mq-l) {
      @include column(4);

      // remove left margin due to semantic grid behaviour
      margin-left: 0;
    }
  }
}

// cannot use nth-of-type in IE8 so appending an nth-of-type class to stack the sections
.category-detail--3,
.category-detail--5,
.category-detail--7,
.category-detail--9,
.category-detail--11 {

  @include respond-to($mq-m) {
    clear: both;
  }

  @include respond-to($mq-l) {
    clear: none;
  }
}

.category-detail--4,
.category-detail--7,
.category-detail--10 {

  @include respond-to($mq-l) {
    clear: both;
  }
}
