
// Master container, controls max-width of content
//
// Styleguide layout-container
.l-container {
  @extend .clearfix;
  max-width: $mq-xl;
  margin:0 auto;
}

.l-container--body {
  background:$color-white;
}

// Layout 1 column full width
//
// Styleguide layout-1col
.l-1col {
  @include add-all-grid-spans(1, 1, 1, 1, 1);
}


// Layout 2 columns
//
// Styleguide layout-2col
.l-2col-side {
  @include add-all-grid-spans(1, 1, 1/3, 1/3, 1/3);
}

.l-2col-main {
  @include add-all-grid-spans(1, 1, 2/3, 2/3, 2/3);
}

.l-2col-even {
  @include add-all-grid-spans(1, 1, 1/2, 1/2, 1/2);
}

// Layout split
//
// Styleguide layout-split
.l-split-start {
  float: left;
}

.l-split-end {
  float: right;
}