// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


// Master container, controls max-width of content
//
// Styleguide layout-container
.l-container {
  @extend %clearfix;
  max-width: $mq-xl;
  margin:0 auto;
}

.l-container--body {
  margin-top: $bl*7;
  background:$color-white;
}

// Layout 1 column full width
//
// Styleguide layout-1col
.l-1col {
  @include column(12);
}


// Layout 2 columns
//
// Styleguide layout-2col
.l-2col-side {
  @include column(12);
  @include breakpoint($mq-m) {@include column(4);}
}

.l-2col-main {
  @include column(12);
  @include breakpoint($mq-m) {@include column(8);}
}

.l-2col-even {
  @include column(12);
  @include breakpoint($mq-m) {@include column(6);}
}

// Layout split
//
// Styleguide layout-split
.l-split-start {
  float: left;
}

.l-split-end {
  float: right;
}

// Layout Nested
//
// Styleguide layout-nested
.l-2col-main {
  ul {
    padding:0
  }
  li {
    display: block;
    min-height: 20px;
    margin-bottom: 10px;
    background: yellow;
  }

  @include breakpoint($mq-m) {
    ul {@include row(8);}
    li {@include column(2,8); margin-bottom: 10px;}
  }
}



