
.l-container {
  .dev-grid & {
    @include background-grid($color: blue);
  }

  @extend clearfix;
  max-width: $mq-xl;
  margin:0 auto;
}



.mainPageContent {
  background-color: $color-white-primary;
  margin: 0 auto;
  padding: 80px 0;
}
