.l-header {

  .mas-logo {
    position: relative;
    top: $baseline-unit*2;
    padding: $baseline-unit*5 0;
    margin: 0 0 0 $baseline-unit*2;
    @include respond-to($mq-l) {
      float: left;
      position: absolute;
      top: $baseline-unit*4;
    }
  }

  .mobile-nav {
    display: none;
  }

  .mobile-nav__item {
    margin: $baseline-unit*2 $baseline-unit*1.5 0 0;
    float: left;
  }

  .primary-nav {
    @include respond-to($mq-l) {
      margin: $baseline-unit*2 0;
      float: right;
    }
  }

  .js & {
    .mobile-nav {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      @include respond-to($mq-l) {
        display: none;
      }
    }

    .primary-nav,
    .search-box {
      display: none;
      &.is-on {
        display: block;
      }
      @include respond-to($mq-l) {
        display: block;
      }
    }

  }

}



// 1. Hide by default as don't want non-js users to see all sub-category links as page will be unusable.
//    They are able to get to sublinks on page refresh

.l-primary-nav-dropdown {
  @extend %collapsable-target;
  display:none; // 1

  @include respond-to($mq-l) {
    &.is-on {
      position: absolute;
      top: $baseline-unit*14;
      left: 0;
      z-index: 10;
    }
  }

  ul {
    margin: 0 auto;
    max-width: $mq-xl;
  }
}

.l-search-box {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}


