.l-homepage {
  h1 {
    @extend %heading-extra-large;
  }

  @include column(12);

  @include respond-to($mq-l) {
    padding: $baseline-unit*14 0 $baseline-unit*15;
  }

  @include respond-to($mq-m) {
    @include column(8);
    @include push(2);
    padding: $baseline-unit*6 0 $baseline-unit*15;
  }
}

.l-error-page {
  margin: $baseline-unit*15 0 $baseline-unit*29 0;
}

.l-article {
  @include column(12);
  @include respond-to($mq-m) {
    @include column(8);
  }
}

.l-footer {
  margin-top: $baseline-unit*6;
}
