.l-homepage {
  @include column(12);
  padding: $bl*14 0 $bl*15;

  @include respond-to($mq-m) {
    @include column(8);
    @include push(2);
  }
}

.l-error-page {
  margin: $bl*15 0 $bl*29 0;
}

.l-article {
  @include column(12);
  @include respond-to($mq-m) {
    @include column(8);
  }
}
