.l-homepage {
  h1 {
    @extend %heading-extra-large;
  }
  @include column(12);
  padding: 0;

  @include respond-to($mq-m) {
    @include column(8);
    @include push(2);
    padding: $baseline-unit*6 0 $baseline-unit*15;
  }
}

.l-error-page {
  margin: $baseline-unit*15 0 $baseline-unit*29 0;
}

.l-article {
  @include column(12);
  @include respond-to($mq-m) {
    @include column(8);
  }
}

.l-primary-nav {
  @extend %clearfix;
  margin: $baseline-unit*4 auto 0 auto;
  @include respond-to($mq-l) {
    margin: -$baseline-unit*5 auto $baseline-unit*4 auto;
  }
}

.l-primary-nav-dropdown {
  @extend %collapsable-target;
  @include respond-to($mq-l) {
    &.is-on {
      position: absolute;
      top: $baseline-unit*16;
      left: 0;
      z-index: 10;
    }
  }

  ul {
    margin: 0 auto;
    max-width: $mq-l;
  }
}

.l-search-box {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
