---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/automatic-enrolment.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - e0ab886bcd61cff380754607e58ac8ad
    body:
      encoding: UTF-8
      string: '{"id":"automatic-enrolment","title":"Cofrestru awtomatig","description":"Dysgwch
        am gofrestru awtomatig a sut mae\u2019n effeithio arnoch, a defnyddiwch ein
        hofferyn a chyfrifiannell cyngor pensiwn gweithle.","parent_id":"work-pensions-and-retirement","contents":[{"id":"cofrestriad-awtomatig-ar-bensiwn-man-gwaith","type":"guide","title":"Cofrestru
        awtomatig \u2013 cyflwyniad","description":"Mae ymuno \u00e2 chynllun pensiwn
        eich man gwaith yn ffordd ddidrafferth o ddechrau cynilo ar gyfer yn hwyrach
        mewn bywyd"},{"id":"cyfrifiannell-cyfraniadau-pensiwn-gweithle","type":"tool","title":"Cyfrifiannell
        cyfraniadau pensiwn gweithle","description":"Defnyddiwch y gyfrifiannell hon
        i weld faint y byddwch chi a\u2019ch cyflogwr yn ei roi yn eich cronfa bensiwn"},{"id":"newidiadau-p[...]
