---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/having-a-baby.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - baa757a8e9278400e0736acb88ac4eee
    body:
      encoding: UTF-8
      string: '{"id":"having-a-baby","title":"Cael babi","description":"Cymorth gyda
        rheoli eich arian cyn, yn ystod ac ar \u00f4l genedigaeth eich babi.","parent_id":"births-deaths-and-family","contents":[{"id":"hawliau-or-gwaith-pan-fyddwch-yn-feichiog","type":"guide","title":"Hawliau
        o\u2019r gwaith pan fyddwch yn feichiog","description":"Mae\u2019n rhaid i\u2019ch
        cyflogwr roi amser i ffwrdd gyda th\u00e2l i chi ar gyfer apwyntiadau cyn
        geni ac absenoldeb mamolaeth, yn ogystal \u00e2 th\u00e2l mamolaeth"},{"id":"cael-trefn-ar-gyllid-y-teulu-ar-ol-cael-babi","type":"guide","title":"Cael
        trefn ar gyllid y teulu ar \u00f4l cael babi","description":"Efallai mai dyma\u2019r
        tro cyntaf y byddwch wedi rhannu\u2019ch [...]
