---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/jobs-and-tax.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 874fbba8c5c7b5a640081c65d46126d5
    body:
      encoding: UTF-8
      string: '{"id":"jobs-and-tax","title":"Swyddi a threth","description":"Cymorth
        gyda deall eich slip cyflog a beth i edrych amdano yn eich cytundeb cyflogaeth.","parent_id":"work-pensions-and-retirement","contents":[{"id":"gostyngiad-treth-ar-gyfraniadau-pensiwn","type":"guide","title":"Gostyngiad
        treth ar gyfraniadau pensiwn","description":"Byddwch yn cael gostyngiad treth
        ar unrhyw arian yr ydych yn ei roi yn eich pensiwn, hyd at drothwy blynyddol
        o \u00a350,000 neu eich enillion am y flwyddyn"},{"id":"yswiriant-personol-pan-fyddwch-yn-hunangyflogedig","type":"guide","title":"Cymryd
        yswiriant personol pan ewch yn hunangyflogedig","description":"Pan fyddwch
        yn gweithio i chi\u2019ch hun, mae angen arnoch chi roi ystyriaeth i\u2019ch
        anghenion yswiriant yn eich cartref ac yn eich gwaith"},{"id":"yswiriant-busnes-pan-fyddwch-yn-hunangyflogedig","type":"guide","title":"Yswiriant
        busnes pan fyddwch yn hunangyflogedig","description":"Os byddwch yn gweithio
        i chi\u2019ch hun, bydd angen i chi ystyried eich anghenion yswiriant adref
        ac yn y gwaith"},{"id":"ydych-chin-ystyried-dechrau-busnes","type":"guide","title":"Ydych
        chi\u2019n ystyried dechrau busnes?","description":"Wedi colli\u2019ch swydd
        ac yn ystyried dechrau\u2019ch busnes eich hun neu hunangyflogaeth? Cael gwybod
        mwy"},{"id":"newid-gyrfa-ar-ol-dileu-swydd","type":"guide","title":"Newid
        gyrfa ar \u00f4l dileu swydd","description":"Yn wynebu dileu\u2019ch swydd
        ac yn ystyried newid gyrfa? Mae digonedd o gymorth ariannol ar gael ar gyfer
        ailhyfforddi"},{"id":"gwirio-eich-cytundeb-cyflogaeth","type":"guide","title":"Cytundebau
        cyflogaeth: eich hawliau a thermau allweddol wedi eu hegluro","description":"Deall
        eich cytundeb cyflogaeth, eich hawliau cyfreithiol a\u2019ch hawliau cytundebol,
        yn ogystal \u00e2 beth i\u2019w wneud os yw eich cytundeb yn un annheg"},{"id":"prentisiaethau-i-bobl-ifanc","type":"guide","title":"Prentisiaethau
        i bobl ifanc","description":"Canfyddwch beth allwch ei hawlio fel prentis"},{"id":"cymorth-a-chyngor-wrth-ymgeisio-am-swydd","type":"guide","title":"Cymorth
        a chyngor [...]
