---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/redundancy.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 2b0840ac3b39e04f20fc348509e226b3
    body:
      encoding: UTF-8
      string: '{"id":"redundancy","title":"Dileu swydd","description":"Cymorth gyda
        llunio cynllun dileu swydd, budd-daliadau y gallwch eu hawlio, a\u2019ch hawliau
        cyfreithiol.","parent_id":"work-pensions-and-retirement","contents":[{"id":"cadw-trefn-ar-eich-arian-os-ywch-swydd-mewn-perygl","type":"guide","title":"Cadw
        trefn ar eich arian os yw\u2019ch swydd mewn perygl","description":"Ydych
        chi\u2019n debygol o golli\u2019ch swydd? Sut i gael eich arian dan reolaeth
        ac ymdopi \u00e2 chyfnod allan o waith"},{"id":"dileu-swydd","type":"tool","title":"Cynllun
        Gweithredu - Dileu Swydd","description":"Os ydych newydd golli''ch swydd neu''n
        credu bod hynny''n debygol yn y dyfodol agos, defnyddiwch y cynllun gweithredu
        hwn sy''n dangos i chi, mewn[...]
