---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/retirement-income-basics.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 7fad662bb91eec076e73c26df3d6c03e
    body:
      encoding: UTF-8
      string: '{"id":"retirement-income-basics","title":"Ffeithiau sylfaenol ynghylch
        incwm ymddeol","description":"Gosod nod incwm ymddeol a rheoli\u2019ch arian
        ar \u00f4l ichi orffen gweithio.","parent_id":"work-pensions-and-retirement","contents":[{"id":"rheolau-newydd-ynghylch-pensiynau-o-27-mawrth-2014-ymlaen","type":"guide","title":"Rheolau
        newydd ynghylch pensiynau o 27 Mawrth 2014 ymlaen","description":"Darllenwch
        ein cyngor ar newidiadau arfaethedig y llywodraeth i bensiynau o Ebrill 2015
        a rheolau wedi\u2019u llacio dros dro ar gyfer cyfandaliadau arian parod a
        thynnu incwm"},{"id":"diogelu-eich-incwm-ar-ol-ymddeol","type":"guide","title":"Diogelu
        eich incwm ar \u00f4l ymddeol","description":"Gyda chyfnod gwarant neu fudd
        marwolaeth cyfandaliad, efallai y [...]
