---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/types-of-retirement-income.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 09dad9d08e618ee6c946ee380a41e15b
    body:
      encoding: UTF-8
      string: '{"id":"types-of-retirement-income","title":"Mathau o incwm ymddeol","description":"Darllenwch
        am y gwahanol fathau o flwydd-dal a mathau eraill o bensiwn ac incwm ymddeol.","parent_id":"work-pensions-and-retirement","contents":[{"id":"rhyddhau-ecwiti","type":"guide","title":"Rhyddhau
        ecwiti","description":"Mae cynlluniau rhyddhau ecwiti yn un ffordd i berchnogion
        tai ariannu eu hymddeoliad, ond nid ydynt addas i bawb"},{"id":"rheolau-newydd-ynghylch-pensiynau-o-27-mawrth-2014-ymlaen","type":"guide","title":"Rheolau
        newydd ynghylch pensiynau o 27 Mawrth 2014 ymlaen","description":"Darllenwch
        ein cyngor ar newidiadau arfaethedig y llywodraeth i bensiynau o Ebrill 2015
        a rheolau wedi\u2019u llacio dros dro ar gyf[...]
