---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/work-pensions-and-retirement.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - f2d3710a8700aefbbf4465df50af13d3
    body:
      encoding: UTF-8
      string: '{"id":"work-pensions-and-retirement","title":"Gwaith, pensiynau ac
        ymddeol","description":"Yn cynnwys cyngor ar ymddeol, mathau o bensiwn ac
        incwm ymddeol, a gwybodaeth ar gofrestru awtomatig","parent_id":null,"contents":[{"id":"jobs-and-tax","type":"category","title":"Swyddi
        a threth","description":"Cymorth gyda deall eich slip cyflog a beth i edrych
        amdano yn eich cytundeb cyflogaeth."},{"id":"redundancy","type":"category","title":"Dileu
        swydd","description":"Cymorth gyda llunio cynllun dileu swydd, budd-daliadau
        y gallwch eu hawlio, a\u2019ch hawliau cyfreithiol."},{"id":"pension-basics","type":"category","title":"Ffeithiau
        sylfaenol ynghylch pensiynau","description":"Dysgwch pam a phryd i gynilo
        i bensiwn a sut i gyfrifo faint fydd eich cronfa bensiwn."},{"id":"types-of-pensions","type":"category","title":"Mathau
        o bensiynau","description":"O gynlluniau cyfraniad diffiniedig a buddion,
        i bensiynau personol a phensiynau ar gyfer pobl hunangyflogedig."},{"id":"automatic-enrolment","type":"category","title":"Cofrestru
        awtomatig","description":"Dysgwch am gofrestru awtomatig a sut mae\u2019n
        effeithio arnoch, a defnyddiwch ein hofferyn a chyfrifiannell cyngor pensiwn
        gweithle."},{"id":"retirement-income-basics","type":"category","title":"Ffeithiau
        sylfaenol ynghylch incwm ymddeol","description":"Gosod nod incwm ymddeol a
        rheoli\u2019ch arian ar \u00f4l ichi orffen gweithio."},{"id":"types-of-retirement-income","type":"category","title":"Mathau
        o incwm ymddeol","description":"Darllenwch am y gwahanol fathau o flwydd-dal
        a mathau eraill o bensiwn ac incwm ymddeol."}]}'
  recorded_at: Thu, 12 Mar 2015 12:14:51 GMT
recorded_with: VCR 2.9.2
