.action-item {
  overflow: hidden;

  .collapsable {
    @extend %clearfix;
    margin-top: -5px;
    border-left: 1px solid $color-action-item-border;
    border-right: 1px solid $color-action-item-border;
    border-bottom: 1px solid $color-action-item-border;
  }

  h2 {
    @extend %heading-small;
    color: $color-action-item-heading;
    background-color: $color-action-item-heading-bg;
    padding: $baseline-unit $baseline-unit*2;
    margin: $baseline-unit*6 0 0 0;
    position: relative;

    &:before {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 10px 10px 0 0;
      border-color: $color-action-item-heading-bg transparent transparent transparent;
      position: absolute;
      bottom: -10px;
      left: 0;
    }

    span {
      font-size: 30px;
      margin-top: -6px;
      @include inline-block;
      color: $color-icon-open;
    }
  }

  h3 {
    @extend %heading-extra-small;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      @extend .list--unstyled-icon;
      margin: 0 0 $baseline-unit 0;
    }
  }
}

%action-item__section {
  @include column(12);
  padding: $baseline-unit*2 0;

  @include respond-to($mq-m) {
    @include column(6);
  }
}

.how {
  @extend %action-item__section;
}

.why {
  @extend %action-item__section;
}

