// Collapsible sections. The first section will automatically be set to open on load, with any further sections closed (collapsed).
//
// Styleguide Collapsible component

.collapsible {
  @extend %collapsable-trigger;
  @extend %heading-small;
  margin-bottom: px(24);
  padding: px(6) px(42) px(6) px(12);
  position: relative;
  color: $color-action-item-heading;
  background-color: $color-action-item-heading-bg;
  cursor: pointer;

  button {
    outline: none;
    color: $color-action-item-heading;
    width: 100%;
    text-align: left;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  .icon--toggle {
    position: absolute;
    top: px(12);
    right: px(12);
  }

  &.is-on {
    margin-bottom: 0;
  }
}

.collapsible-section {
  @extend %collapsable-target;
  border-left: 1px solid $color-action-item-border;
  border-right: 1px solid $color-action-item-border;
  border-bottom: 2px solid $color-action-item-border;
  padding: px(24) px(12) 0 px(12);
  margin: px(2) 0 px(36) 0;
}
