// apply a different style for links that appear only inside a paragraph in editorial content
.editorial p > a {
  color: $color-link-default;
  text-decoration: none;
  border-bottom: 1px solid lighten($color-link-default, 50%);

  &:visited {
    color: $color-link-default;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $color-link-default;
    text-decoration: none;
    border-bottom: 1px solid lighten($color-link-default, 30%);
  }
}

a:not([href*="moneyadviceservice"]):after {
  @extend %icon; // has to be a placeholder so IE8 shows other icons based on .icon - IE8 does not support :not CSS3 selector
  @extend .icon--external-link;
  content: '';
  margin-left: 6px;
  display: inline-block;
}

// override for links that do not contain moneyadviceservice but are not external links
a[href^="/"]:after,
a[href^="#"]:after,
a[href^="tel"]:after,
a[href^="mailto:"]:after,
a[href*="/maps/"]:after {
  display: none;
}

a[href$=".doc"] {
  margin-top: $baseline-unit*3;

  &:before {
    content: '';
    @extend .icon;
    @extend .icon--doc;
    padding-right: 5px;
  }
}

a[href$=".pdf"] {
  margin-top: $baseline-unit*3;

  &:before {
    content: '';
    @extend .icon;
    @extend .icon--pdf;
    padding-right: 5px;
  }
}
