// A plain list with no bullets but spacing between the child elements
//
// Styleguide plain-list

.plain-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  > li:before{
    content: none;
  }
}
