---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/news.json?limit=10&page_number=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 2a14949e19c172724ae72350a2e49e77
    body:
      encoding: UTF-8
      string: '[{"id":"sut-i-elwa-drwy-fargeinio-wrth-brynu-car-ail-law","title":"Sut
        i elwa drwy fargeinio wrth brynu car ail-law","description":"Bargeinio i brynu
        car ail-law? Dywedodd chwech o bob deg perchennog bod eu waledi\u2019n llawnach","body":"<p
        class=\"intro\"> Efallai nad yw bargeinio dros y pris y disgwylir i chi ei
        dalu yn ymddangos yn beth Prydeinig iawn i\u2019w wneud. Ond, ymddengys pan
        mae hi\u2019n amser prynu car ail-law nid yw\u2019r rhan fwyaf ohonom ofn
        ceisio gostwng y pris i gael y fargen orau. </p><p>Dengys ymchwil newydd gan
        y Gwasanaeth Cynghori Ariannol ar brynu car ail-law bod wyth allan o bob 10
        a brynodd gar yn ystod y flwyddyn ddiwethaf wedi ceisio sicrhau gostyngiad
        wrth brynu. </p><p>A llwyddodd chwech o bob 10 i gael rhywfaint o ostyngiad
        yn y pris - llwyddodd dynion ychydig yn well na merched, gyda 67% yn hoelio
        bargen o\u2019i gymharu \u00e2 60% o ferched. </p><p>Os nad ydych wedi bargeinio
        o\u2019r blaen, nid oes angen i chi bryderu. Defnyddiwch ein cyngor i gael
        y pris gorau am eich car nesaf. </p><h2>Adnabod eich Saab o\u2019ch Seat </h2><p>Os
        nad ydych yn gwybod pa gar i\u2019w brynu gwnewch eich gwaith cartref. Dechreuwch
        edrych ar geir ar y ffyrdd, gyda\u2019ch delwyr ceir lleol, ac mewn cylchgronau
        ceir a gwefannau moduro. </p><p>Hyd yn oed os yw eich bryd ar fodel neilltuol,
        gosodwch gyllideb ar gyfer yr hyn y gallwch ei fforddio. Peidiwch ag anghofio
        ystyried costau rhedeg. </p><p>Edrychwch ar ein <a title=\"Cyfrifiannell costau
        car\" tar[...]
