---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/news.json?limit=10&page_number=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - ebddb32c55da2e94941ff48f8317c833
    body:
      encoding: UTF-8
      string: '[{"id":"a-oes-gennych-chi-adduned-ariannol","title":"A oes gennych
        chi adduned ariannol? Gwnewch 2015 yn flwyddyn o reoli\u2019ch arian gyda\u2019n
        pum awgrym da","description":"Beth hoffech chi fedru ei fforddio\u2019 flwyddyn
        nesaf? A yw gwyliau teuluol neu gar newydd dan ystyriaeth? Neu efallai yr
        hoffech chi wybod sut i wneud i\u2019ch cynilion bara\u2019n hirach?","body":"<p
        class=\"intro\">Beth hoffech chi fedru ei fforddio\u2019 flwyddyn nesaf? A
        yw gwyliau teuluol neu gar newydd dan ystyriaeth? Neu efallai yr hoffech chi
        wybod sut i wneud i\u2019ch cynilion bara\u2019n hirach? </p><p>O\u2019r tri
        o bob pump o bobl a wnaeth adduned ar gyfer 2014, dywedodd tri chwarter ohonynt
        iddynt benderfynu canolbwyntio ar dargedau ariannol. </p><p>Beth bynnag fydd
        eich adduned, gall ein hawgrymiadau roi cymorth i chi sicrhau y bydd 2015
        yn flwyddyn lle bydd eich arian yn cychwyn gweithio er eich budd chi. </p><h2>1.
        Lluniwch gyllideb effeithiol </h2><p>I ddeall ym mha ffordd y gallwch chi
        gynilo, rhaid i chi ddeall eich patrwm gwariant, felly cyllidebu yw un o\u2019r
        pethau pwysicaf y gallwch ei wneud i roi hwb i\u2019ch cynlluniau ariannol
        ar gyfer y Flwyddyn Newydd. </p><p>Wrth edrych ar eich sefyllfa ariannol a
        dod o hyd i danysgrifiadau y gallwch eu canslo, neu chwilio am fargen well
        gydag yswiriant, gallwch arbed llawer iawn o arian. Edrychwch ar ein <[...]
