<% set_meta_tags(canonical: campaigns_revealed_the_true_cost_of_buying_a_car_url(locale: :en),
                 alternate: { en: campaigns_revealed_the_true_cost_of_buying_a_car_url(locale: :en),
                              cy: campaigns_edrychwch_cost_gwirioneddol_prynu_car_url(locale: :cy) }) %>

<% content_for(:alternate_link) do %>
  <%= link_to(campaigns_edrychwch_cost_gwirioneddol_prynu_car_url(locale: :cy), id: "cyLink", lang: "cy-GB") do %>
    <span class="icon icon--globe"></span>
    <%= t("locales.cy") %>
  <% end %>
<% end %>

  <div class="l-car-campaign-page-bg"></div>

  <div class="l-car-campaign editorial">
    <div class="l-car-campaign__banner"></div>

    <div class="l-car-campaign__section l-car-campaign__section--intro">
      <div class="l-car-campaign__section-text">
        <header>
          <h1>The real cost of motoring</h1>
          <p class="intro">
            Check out our new car buying journey, designed to take you through all your major motoring milestones. From buying, selling and running your car, we run through everything you need to know plus handy tools like <a href="http://www.moneyadviceservice.org.uk/car-costs-calculator">this Car costs calculator</a> to help you along the way.
          </p>
        </header>
      </div>
    </div>

    <div class="l-car-campaign__section l-car-campaign__section--buy">
      <div class="l-car-campaign__section-row">
        <h2 class="l-car-campaign__section-heading">How to buy a car</h2>
        <div class="l-car-campaign__section-text">
          <p>
            What to consider before buying a new or used car, including your budget, car finance options, and how to negotiate the best deal.
          </p>
        </div>

        <div class="l-car-campaign__section-media"></div>

        <div class="l-car-campaign__section-text">
          <ul class="unstyled-list">
            <li>
              <a href="/en/articles/how-to-find-the-right-car-for-your-budget">How to find the right car for your budget</a>
            </li>
            <li>
              <a href="/en/articles/car-finance-explained">Car finance explained</a>
            </li>
            <li>
              <a href="/en/articles/making-sure-you-can-meet-your-car-payments">Making sure you can meet your car payments</a>
            </li>
            <li>
              <a href="/en/articles/where-to-buy-a-new-car">Where to buy a new car</a>
            </li>
            <li>
              <a href="/en/articles/where-to-buy-a-used-car">Where to buy a used car</a>
            </li>
            <li>
              <a href="/en/articles/when-to-buy-a-car">When to buy a car</a>
            </li>
            <li>
              <a href="/en/articles/how-to-negotiate-when-buying-a-car">How to negotiate when buying a car</a>
            </li>
            <li>
              <a href="/en/articles/how-to-test-drive-and-check-a-new-car">How to test drive and check a new car</a>
            </li>
            <li>
              <a href="/en/articles/how-to-test-drive-and-check-a-used-car">How to test drive and check a used car</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="l-car-campaign__section-separator"></div>

    <div class="l-car-campaign__section l-car-campaign__section--run">
      <div class="l-car-campaign__section-row">
        <div class="l-car-campaign__section-text">
          <h2>Running a car</h2>
          <p>
            Your rights if something’s wrong with your new car, cutting car finance costs, top MOT tips, advice for younger drivers, plus could you manage without a car?
          </p>
        </div>

        <div class="l-car-campaign__section-media"></div>

        <div class="l-car-campaign__section-text">
          <ul class="unstyled-list">
            <li>
              <a href="/en/articles/your-rights-if-something-is-wrong-with-your-car">Your rights if something is wrong with your car</a>
            </li>
            <li>
              <a href="/en/articles/mot-test-explained">MOT test explained</a>
            </li>
            <li>
              <a href="/en/articles/cut-your-car-finance-hire-purchase-and-other-finance-costs">Cutting car finance costs</a>
            </li>
            <li>
              <a href="/en/articles/running-a-car-as-a-young-driver">Running a car as a young driver</a>
            </li>
            <li>
              <a href="/en/articles/managing-without-a-car">Managing without a car</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="l-car-campaign__section l-car-campaign__section--sell">
      <div class="l-car-campaign__section-row">
        <div class="l-car-campaign__section-text">
          <h2>How to sell a car</h2>
          <p>
            Find out about the different ways to sell a car, how to negotiate a good price, and your options for disposing of an old car.
          </p>
        </div>

        <div class="l-car-campaign__section-media"></div>

        <div class="l-car-campaign__section-text">
          <ul class="unstyled-list">
            <li>
              <a href="/en/articles/selling-your-car">Selling your car</a>
            </li>
            <li>
              <a href="/en/articles/how-to-sell-your-car-privately">How to sell your car privately</a>
            </li>
            <li>
              <a href="/en/articles/how-to-prepare-your-car-for-sale">How to prepare your car for sale</a>
            </li>
            <li>
              <a href="/en/articles/negotiating-when-selling-your-car">Negotiating when selling your car</a>
            </li>
            <li>
              <a href="/en/articles/how-to-dispose-of-an-old-car">How to dispose of an old car</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
