.js .collapsable__trigger-icon {
  margin-right: 7px;
  vertical-align: middle;
}

%collapsable-trigger {
  // Prevent accidental text selection
  user-select: none;

  .icon--toggle {
    background-position: -205px -75px;
    @include device-pixel-ratio() {
      background-position: -205px -10px;
    }
  }

  &.is-off {
    .icon--toggle {
      background-position: -156px -426px;
      @include device-pixel-ratio() {
        background-position: -74px -224px;
      }
    }
  }
}

%collapsable-target {

  .js & {
    display: none;
  }

  &.is-on {
    display: block;
  }

  &.is-off {
    display: none;
  }
}
