%styleguideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.styleguidePrimaryNav {
  font-size: 14px;
//  height: 45px;
  border-bottom: 4px solid $colorNavBorder;
  background-color: $colorNavBackground;
  margin: 0 -10px;

  > ul {
    @extend %styleguideNav;
    padding: 0 10px;

    > li {
      width: 100%;
      border-bottom: 1px solid $colorNavBorder;
//      text-align: center;
      padding: 10px 0;
//      border-right: 1px solid $colorNavBorder;
//      display: inline-block;
      &:hover .styleguidePrimaryNav-subMenu,
      &:focus .styleguidePrimaryNav-subMenu {
        background-color: $colorSubMenuBackground;
        opacity: 1;
      }
    }
  }
}

.styleguidePrimaryNav-subMenu {
  @extend %styleguideNav;
  position: relative;
  margin-left: -10px;
  margin-top: 10px;
  z-index: 1;
//  float: left;
//  opacity: 0;
  > li {
    padding: 5px 10px;
  }
}

.styleguidePrimaryNav-item {
  padding: 5px 10px;
}
