%styleguideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primaryNav {
  margin: 0 -10px;
  font-size: 16px;
  border-bottom: 4px solid $colorNavBorder;
  background-color: $colorNavBackground;

  > ul {
    @extend %styleguideNav;

    > li {
      width: 100%;
      border-top: 1px solid $colorNavBorder;

      &:hover .styleguidePrimaryNav-subMenu,
      &:focus .styleguidePrimaryNav-subMenu {
        background-color: $colorSubMenuBackground;
        opacity: 1;
      }

      @include respond-to($widthSmall) {
        display: inline-block;
        width: auto;
        border-bottom: none;
      }
    }
  }
}

.primaryNav-subMenu {
  @extend %styleguideNav;
  position: relative;
  z-index: 1;

  > li {
    border-top: 1px solid $colorNavBorder;
  }

  @include respond-to($widthSmall) {
    position: absolute;
    opacity: 0;
  }
}

.navToggle {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #FFF;
  text-align: left;
  border-top: 1px solid $colorNavBorder;
  &:hover,
  &:focus {
    border-top: 1px solid $colorNavBorder;
  }
  @include respond-to($widthSmall) {
    display: none;
  }
}

.js .primaryNav-list,
.js .primaryNav-subMenu {
  display: none;
  @include respond-to($widthSmall) {
    display: block;
  }
}

.navIcon {
  font-size: 10px;
  display: inline-block;
}