%styleguideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.styleguidePrimaryNav {
  font-size: 14px;
  height: 45px;
  border-bottom: 1px solid $colorNavBorder;
  background-color: $colorNavBackground;
  margin: 0 -10px;

  > ul {
    @extend %styleguideNav;
    padding: 10px;

    > li {
      width: 80px;
      padding: 5px 0;
      display: inline-block;
      &:hover .styleguidePrimaryNav-subMenu,
      &:focus .styleguidePrimaryNav-subMenu {
        background-color: $colorSubMenuBackground;
        opacity: 1;
      }
    }
  }

  a,
  a:visited {

  }
}

.styleguidePrimaryNav-subMenu {
  @extend %styleguideNav;
  position: relative;
  z-index: 1;
  float: left;
  opacity: 0;
  > li {
    padding: 5px 10px;
  }
}

.styleguidePrimaryNav-item {
  padding: 5px 10px;
}
