%bodyText {
  font-family: "Helvetica Neue";
  font-weight: 400;
  @include font-size(16);
  line-height: 1.4;
}

%primaryHeading {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
}