%styleguideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primaryNav {
  margin: 0 -10px 1em -10px;
  font-size: 16px;
  border-bottom: 4px solid $color-navBorder;
  background-color: $color-navBackground;

  > ul {
    @extend %styleguideNav;

    > li {
      width: 100%;
      border-top: 1px solid $color-navBorder;

      &:hover .styleguidePrimaryNav-subMenu,
      &:focus .styleguidePrimaryNav-subMenu {
        background-color: $color-subMenuBackground;
//        opacity: 1;
      }

      @include respond-to($mq-small) {
        display: inline-block;
        width: auto;
        border-bottom: none;
      }
    }
  }
}

.primaryNav-subMenu {
  @extend %styleguideNav;
  position: relative;
  z-index: 1;
  background-color: $color-subMenuBackground;

  > li {
    border-top: 1px solid $color-navBorder;
  }

  @include respond-to($mq-small) {
    position: absolute;
  }
}

.navToggle {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #FFF;
  text-align: left;
  border-top: 1px solid $color-navBorder;
  &:hover,
  &:focus {
    border-top: 1px solid $color-navBorder;
  }
  @include respond-to($mq-small) {
    display: none;
  }
}

.js .primaryNav-list {
  display: none;
  @include respond-to($mq-small) {
    display: block;
  }
}

.js .primaryNav-subMenu {
  display:none;
}

.navIcon {
  font-size: 10px;
  display: inline-block;
}

// Navigation links
nav a,
nav a:visited {
  display: inline-block;
  //color: $color-text--default;
  text-decoration: none;
  padding: 15px;
  width: 100%;
}

nav a:hover {
  //color: $color-green-primary;
  //background-color: $color-accessible-focus;
  border: none;
}


nav a:focus{
  //color: $color-green-primary;
  outline: 1px solid;
  //background-color: $color-accessible-focus;
  border-bottom: none;
}