%styleguideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.primaryNav {
  width: 100%;
  font-size: 12px;
  background-color: $color-navBackground;

  > ul {
    @extend %styleguideNav;

    > li {
      width: 100%;

      &:hover .styleguidePrimaryNav-subMenu,
      &:focus .styleguidePrimaryNav-subMenu {
        background-color: $color-subMenuBackground;
      }

      @include respond-to($mq-small) {
        display: inline-block;
        width: auto;
        border-bottom: none;
      }
    }
  }
}

.primaryNav-subMenu {
  @extend %styleguideNav;
  position: relative;
  z-index: 1;
  background-color: $color-subMenuBackground;

  @include respond-to($mq-small) {
    position: absolute;
  }
}



// Menu toggle when in mobile view
.navToggle {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border: none;
  color: $color-navText;
  background-color: $color-navBackground;
  text-align: left;
  border-top: 1px solid $color-navBorder;
  &:hover,
  &:focus {
    border-top: 1px solid $color-navBorder;
  }
  @include respond-to($mq-small) {
    display: none;
  }
}

.js .primaryNav-list {
  display: none;
  @include respond-to($mq-small) {
    display: block;
  }
}

.js .primaryNav-subMenu {
  display:none;
}

.navIcon {
  font-size: 8px;
  display: inline-block;
}



// Navigation links
nav a,
nav a:visited {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  width: 100%;
  color: white;
}

nav a:hover {
  border: none;
}


nav a:focus{
  outline: 1px solid;
  border-bottom: none;
}