.styleguidePrimaryNav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    display: inline-block;
    padding: 1em 0.5em;
  }
}

a,
a:visited{
  text-decoration: none;
}

a:hover {
  border-bottom:1px solid;
}


$color-accessible-yellow: #FFFFCC;

a:focus{
  outline: 1px solid;
  background-color: $color-accessible-yellow;
  border-bottom:1px dotted;
}

