$colorAccessibleFocus: #FFFFCC;
$colorNavBorder: #E6E6E6;
$colorNavBackground: #FFF;
$colorSubMenuBackground: #FFF;
$colorNavText: #2E3030;

$colorLinkHover: #388426;

$widthSmall: 480px;
$widthMedium: 600px;
$widthlarge: 900px;