$color-accessibleFocus: #FFFFCC;
$color-navBorder: #E6E6E6;
$color-navBackground: #FFF;
$color-subMenuBackground: #FFF;
$color-navText: #2E3030;

$color-linkHover: #388426;

$mq-small: 480px;
$mq-medium: 600px;
$mq-large: 900px;