---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/news.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Meta-Request-Version:
      - 0.2.8
      Etag:
      - '"fe92197f19aa04b05bb29e3549886d70"'
      X-Session-Id:
      - 8bba51b3670cb2132c93f67f3f72d1e0
    body:
      encoding: UTF-8
      string: '[{"id":"pum-peth-mae-angen-i-chi-eu-gwybod-am-fenthyciadau-diwrnod-cyflog","title":"Pum
        peth mae angen i chi eu gwybod am fenthyciadau diwrnod cyflog","description":"Mae
        hysbysebion ar gyfer benthyciadau diwrnod cyflog yn cynnig arian parod cyflym
        a rhwydd yn ymddangos ymhobman y dyddiau hyn.","body":"<p class=\"intro\">
        Mae hysbysebion ar gyfer benthyciadau diwrnod cyflog yn cynnig arian parod
        cyflym a rhwydd yn ymddangos ymhobman y dyddiau hyn. </p><p>Ac er bod rheolau
        newydd yn golygu bod rhaid i\u2019r hysbysebion hyn gynnwys rhybudd ynghylch
        cost uchel credyd tymor byr, nid oes gan y mwyafrif ddigon o le i egluro\u2019r
        risgiau sydd ynghlwm wrth gymryd benthyciad, er gwaethaf y ffaith bod llawer
        o bobl yn or-optimistaidd ynghylch eu gallu i\u2019w ad-dalu\u2019n llawn
        yn brydlon. </p><p>Dyma beth sydd angen i chi ei wybod os ydych yn ystyried
        cymryd benthyciad diwrnod cyflog. </p><h2>1.\u00a0\u00a0\u00a0\u00a0Mae gan
        fenthyciadau diwrnod cyflog gyfraddau llog uchel </h2><p>Rydym i gyd yn gwybod
        bod cyfraddau llog yn uwch ar fenthyciadau nag ar gynilion, ond gall y gwahaniaeth
        fod yn syfrdanol. Gallwch ddisgwyl ennill llai na 3% y gyfradd flynyddol gyfatebol
        (AER) ar gyfrif cynilo, ond fel arfer byddwch yn talu ychydig yn llai na 20%
        y gyfradd flynyddol ganrannol (APR) ar gerdyn credyd. Mae hyn yn ddibwys pan
        yw\u2019n cael ei g[...]
