<div class="l-error-page">
  <main>
    <div class="error-page-message ">
      <h1><%= t('errors.show.heading') %></h1>

      <p class="intro"><%= t('errors.show.intro') %></p>

      <a href="/" class="button button--primary"><%= t('errors.show.home_button') %></a>
    </div>
  </main>
</div>
