<% set_meta_tags(title: t(".#{@rescue_response}.title")) %>

<h1><%= t(".#{@rescue_response}.heading", default: t('.heading')) %></h1>

<p><%= t(".#{@rescue_response}.intro", default: t(".#{@rescue_response}.title")) %></p>

<p>You might find what you’re looking for in one of the following sections.</p>
