<% content_for(:engine_content) do %>
  <div class="global-alert__content-container">
    <%= heading_tag t(".#{@rescue_response}.heading", default: t('.heading')) %>
    <p><%= t(".#{@rescue_response}.intro", default: t(".#{@rescue_response}.title")) %></p>
    <p><%= t(".#{@rescue_response}.message") %></p>
  </div>
<% end %>
