<div class="l-inpage-nav">
  <div class="l-inpage-nav__item">
    <ul class="link-list-primary link-list-primary--no-border">
      <li class="link-list-primary__item">
        <a href="#" class="link-list-primary__text is-selected">Lorem ipsum</a>
      </li>
      <li class="link-list-primary__item">
        <a href="#" class="link-list-primary__text">Dolor sit amet</a>
      </li>
      <li class="link-list-primary__item">
        <a href="#" class="link-list-primary__text">Lorem ipsum</a>
      </li>
    </ul>
  </div>
  <div class="l-inpage-nav__item link-list-primary--no-border">
    <ul class="link-list-primary">
      <li class="link-list-primary__item">
        <a href="#" class="link-list-primary__text">Sit amet</a>
      </li>
      <li class="link-list-primary__item">
        <a href="#" class="link-list-primary__text">Lorem ipsum</a>
      </li>
      <li class="link-list-primary__item">
        <a href="#" class="link-list-primary__text">Dolor</a>
      </li>
    </ul>
  </div>
</div>
