<div class="l-promo-corporate">
  <div class="l-promo-corporate__item">
    <a class="promo__link" href="/en/">
      <img alt="" class="promo__img" src="/assets/promos/keys.jpg">
      <h2 aria-level="2" class="promo__heading " role="heading">Title</h2>
      <p class="promo__content">Content</p>
    </a>
  </div>
  <div class="l-promo-corporate__item">
    <a class="promo__link" href="/en/">
      <img alt="" class="promo__img" src="/assets/promos/keys.jpg">
      <h2 aria-level="2" class="promo__heading " role="heading">Title</h2>
      <p class="promo__content">Content</p>
    </a>
  </div>
  <div class="l-promo-corporate__item">
    <a class="promo__link" href="/en/">
      <img alt="" class="promo__img" src="/assets/promos/keys.jpg">
      <h2 aria-level="2" class="promo__heading " role="heading">Title</h2>
      <p class="promo__content">Content</p>
    </a>
  </div>
  <div class="l-promo-corporate__item">
    <a class="promo__link" href="/en/">
      <img alt="" class="promo__img" src="/assets/promos/keys.jpg">
      <h2 aria-level="2" class="promo__heading " role="heading">Title</h2>
      <p class="promo__content">Content</p>
    </a>
  </div>
</div>
