---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/articles/pam-cynilo-mewn-pensiwn.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/cy/articles/pam-cynilo-mewn-pensiwn>
        rel="alternate"; hreflang="cy-GB"; title="Pam cynilo mewn pensiwn?", <https://www.moneyadviceservice.org.uk/en/articles/why-save-into-a-pension>
        rel="alternate"; hreflang="en-GB"; title="Why save into a pension?"
      X-Session-Id:
      - e4f11c7e4e3d212004f32c38c52233cb
    body:
      encoding: UTF-8
      string: '{"id":"pam-cynilo-mewn-pensiwn","title":"Pam cynilo mewn pensiwn?","description":"Mae
        pensiynau\u2019n ffordd effeithlon o gynilo at eich ymddeoliad. Bydd y dyn
        treth, a chyflogwyr yn aml, yn ychwanegu at eich cyfraniadau","body":"<p class=\"intro\"><img
        src=\"/images/why-save-into-a-pension.jpg\"/>Efallai fod pensiynau\u2019n
        ymddangos yn gymhleth, ond mae\u2019r syniad sylfaenol yn un syml. Mae\u2019n
        werth deall eu buddion, oherwydd efallai na fydd eich Pensiwn y Wladwriaeth
        - er ei fod yn darparu sylfaen - yn ddigon i fyw arno. Mae angen i chi gynilo
        mwy. </p><h2>Pwysigrwydd cynilion ymddeol </h2><div class=\"callout\"><h3>WYDDECH
        CHI? </h3><p>Mae uchafswm Pensiwn y Wladwriaeth sylfaenol yn llawer is na\u2019r
        hyn y mae\u2019r rhan fwyaf o bobl yn dweud eu bod yn gobeithio ei gael ar
        \u00f4l ymddeol. </p></div><p>Mae dros hanner y bobl yn y DU naill ai\u2019n
        cynilo rhy ychydig i gael y safon bywyd y maent y gobeithio ei gael ar \u00f4l
        ymddeol, neu ddim yn cynilo at eu hymddeoliad o gwbl. </p><p>Os ydych chi
        yn y categori hwn, mae gennych chi dri dewis mewn gwirione[...]
