---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?cx=<GOOGLE_API_CX_EN>&key=<GOOGLE_API_KEY>&num=10&q=monuy&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ENTgmThqWzhSab7OnAl_tX_Fk04/t0V3s-qegDwL9Vui0Q1PHpbHGVI"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - monuy",
            "totalResults": "0",
            "searchTerms": "monuy",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "<GOOGLE_API_CX_EN>"
           }
          ]
         },
         "searchInformation": {
          "searchTime": 0.344432,
          "formattedSearchTime": "0.34",
          "totalResults": "0",
          "formattedTotalResults": "0"
         },
         "spelling": {
          "correctedQuery": "money",
          "htmlCorrectedQuery": "\u003cb\u003e\u003ci\u003emoney\u003c/i\u003e\u003c/b\u003e"
         }
        }
  recorded_at: Sat, 06 Jun 2015 22:00:48 GMT
recorded_with: VCR 2.9.2
