// Buttons
//
// :hover      - green
// :focus      - green
// :active     - green
// .is-disabled - green
// .button--primary            - yellow
// .button--primary:hover      - yellow
// .button--primary:focus      - yellow
// .button--primary:active     - yellow
// .button--primary.is-disabled - yellow
// .button--newsletter          - green
// .button--newsletter:hover    - green
// .button--newsletter:focus    - green
// .button--newsletter:active   - green
//
// Styleguide buttons

.button {
  @extend %type-button;
  padding: $button-padding-vertical $button-padding-horizontal;
  background: $color-button-default;
  transition: background 0.2s ease;
  border: none;
  border-radius: $button-border-radius;
  border-bottom: $button-border-width solid $color-button-default-border;

  &:focus {
    @include form-input-focus-outline;
  }

  &:focus,
  &:hover,
  &:active {
    background: $color-button-default-active;
    border-color: $color-button-default-border-active;
    text-decoration: none;
    color: $color-button-text;
  }

  &:active {
    padding-top: $button-padding-vertical - $button-border-width;
    border-bottom-color: $color-button-default-active;
    border-top: $button-border-width solid $color-button-default-border-active;
  }

  &.is-disabled,
  &[disabled] {
    box-shadow: none;
    background: $color-button-default-disabled;
    border-color: $color-button-default-border-disabled;
    color: $color-button-text-disabled;
  }
}

.button--primary {
  background: $color-button-primary;
  border-bottom-color: $color-button-primary-border;

  &:focus,
  &:hover,
  &:active {
    background: $color-button-primary-active;
    border-color: $color-button-primary-border-active;
  }

  &:active {
    border-bottom-color: $color-button-primary-active;
    border-top-color: $color-button-primary-border-active;
  }

  &.is-disabled,
  &[disabled] {
    background: $color-button-primary-disabled;
    border-color: $color-button-primary-border-disabled;
  }
}

// Requires the text to be wrapped in a sub-element in order to hide it at small viewport widths
//
// Styleguide Direction buttons

.button--compact {
  cursor: pointer;
  padding: 12px 8px;
  height: 52px;
  min-width: 80px;
  vertical-align: middle;

  > .icon {
    position: relative;
    top: 5px;
  }
}

.button--compact__text {
  margin-left: 5px;
  margin-right: 5px;
}

// Sits alongside a text input. Button height matches text input height.
//
// .button--inline-input
//
// Styleguide Inline buttons

.button--inline-input {
  @extend %type-button-inline-input;
  height: $input-height;
  line-height: 0;
  padding: 8px 10px;
  vertical-align: top;
}

// Smaller font / padding
//
// .button--small
//
// Styleguide Small buttons

.button--small {
  @extend %type-button-small;
  padding: 14px 16px;
}

// Lives in newsletter signup module
//
// .button--newsletter
//
// Styleguide Newsletter signup buttons

.button--newsletter {
  @include body(12,14);
  background: $color-newsletter;
  border-bottom: 0;
  color: $color-white;
  font-weight: 500;
  text-transform: uppercase;

  &:focus,
  &:hover,
  &:active {
    color: $color-true-black;
    background: $color-newsletter-active;
    outline: none;
    border-top: 0;
    padding-top: $button-padding-vertical;
  }

  &:visited,
  &:active {
    background: $color-newsletter;
    color: $color-white;
  }
}
