// Buttons

$button-border-radius: 4px;
$button-border-width: 3px;
$button-padding-vertical: 12px;
$button-padding-horizontal: 22px;
$button-padding-small-square: 8px;

$color-button-text: $color-black;
$color-button-text-disabled: #666969;

$color-button-default: $color-grey-normal;
$color-button-default-active: #dce0e0;
$color-button-default-disabled: #e8ebeb;

$color-button-default-border: $color-grey-seven;
$color-button-default-border-active: #b5b7b7;
$color-button-default-border-disabled: #cfd1d1;

$color-button-primary: $color-yellow-light;
$color-button-primary-active: #edde74;
$color-button-primary-disabled: #f2ebb2;

$color-button-primary-border: $color-yellow-dark;
$color-button-primary-border-active: #e1c260;
$color-button-primary-border-disabled: #eddfb2;
