---
http_interactions:
- request:
    method: post
    uri: https://soap.cap.co.uk/nvd/CAPNVD.asmx/GetBulkTechnicalData
    body:
      encoding: UTF-8
      string: password=<Password>&subscriberId=170796&database=CAR&capidList=86391&specDateList=&techDataList=CO2%2C+CC%2C+MPG_COMBINED%2C+MPG_URBAN%2C+MPG_EXTRAURBAN&returnVehicleDescription=true&returnCaPcodeTechnicalItems=false&returnCostNew=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<CAPDataSetResult xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"https://soap.cap.co.uk/nvd\">\r\n
        \ <Success>true</Success>\r\n  <FailMessage />\r\n  <Returned_DataSet>\r\n
        \   <xs:schema id=\"TechData\" xmlns=\"\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:msdata=\"urn:schemas-microsoft-com:xml-msdata\">\r\n      <xs:element
        name=\"TechData\" msdata:IsDataSet=\"true\" msdata:UseCurrentLocale=\"true\">\r\n
        \       <xs:complexType>\r\n          <xs:choice minOccurs=\"0\" maxOccurs=\"unbounded\">\r\n
        \           <xs:element name=\"Tech_Table\">\r\n              <xs:complexType>\r\n
        \               <xs:sequence>\r\n                  <xs:element name=\"CAPID\"
        type=\"xs:int\" minOccurs=\"0\" />\r\n                  <xs:element name=\"SpecDate\"
        type=\"xs:dateTime\" minOccurs=\"0\" />\r\n                  <xs:element name=\"Manufacturer\"
        type=\"xs:string\" minOccurs=\"0\" />\r\n                  <xs:element name=\"Range\"
        type=\"xs:string\" minOccurs=\"0\" />\r\n                  <xs:element name=\"Model\"
        type=\"xs:string\" minOccurs=\"0\" />\r\n                 [...]
