---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/articles/should-you-rent-or-buy.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/articles/should-you-rent-or-buy>
        rel="alternate"; hreflang="en-GB"; title="Rent or buy?", <https://www.moneyadviceservice.org.uk/cy/articles/a-ddylech-chi-rentu-neu-brynu>
        rel="alternate"; hreflang="cy-GB"; title="A ddylech chi rentu neu brynu?"
      X-Session-Id:
      - ca7f1ba5185fc07f4538c010888fd658
    body:
      encoding: UTF-8
      string: '{"id":"should-you-rent-or-buy","title":"Rent or buy?","description":"Can
        you afford to buy a property and, even if you can, is it a good idea \u2013
        or would you be better off renting instead?","body":"<html><body><p class=\"intro\"><img
        src=\"/images/should-you-rent-or-buy.jpg\"/>Buying a property is probably
        the biggest financial decision you\u2019ll ever have to make. How do you know
        whether it\u2019s the right decision for you right now \u2013 or whether you\u2019d
        be better off renting instead? </p><h2>Mortgage\u00a0or rent? </h2><p>Owning
        your own home is a huge commitment, not just to the building you buy and the
        area you choose to live in, but also to your life (and to another person if
        you are buying with a loved one or friend). </p><h3>Benefits of owning your
        home </h3><p>There are many benefits to home ownership. Here are just some
        of them. </p><ul><li>Once you\u2019ve paid off your mortgage, your home will
        be yours and it could be worth far more than you paid for it. </li></ul><ul><li>If
        your home increases in value you can use that equity to help you afford a
        bigger home or to fund a more comfortable retirement if you downsize. </li></ul><ul><li>When
        you retire you won\u2019t necessarily have the income you need to keep on
        paying rent \u2013 if you have paid your mortgage off you\u2019ll be living
    [...]
