---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 1b3b07edd180981bfe7a911cc2bda04c
    body:
      encoding: UTF-8
      string: '[{"id":"managing-your-money","type":"category","title":"Rheoli eich
        arian","description":"Cyngor, awgrymiadau ac offer i''ch helpu chi i gael
        trefn ar eich materion ariannol a gwneud i''ch arian fynd ymhellach.","contents":[{"id":"young-people-and-money","type":"category","title":"Gadael
        yr ysgol neu goleg","description":"Dechrau swydd neu ddod yn fyfyriwr, bydd
        angen i chi wneud penderfyniadau ariannol pwysig","contents":[{"id":"moving-into-work","type":"category","title":"Symud
        i waith","description":"Dysgwch am sut fyddwch yn cael eich talu a\u2019ch
        trethu yn y gwaith, a chymrwn olwg ar sylfaeni slipiau cyflog","contents":[]},{"id":"independent-living","type":"category","title":[...]
