<% set_meta_tags(description: action_plan.description,
                 canonical:   action_plan_url(action_plan.id),
                 alternate:   { action_plan.alternate.hreflang => action_plan.alternate.url }) %>

<div class="l-article editorial">
  <h1><%= title action_plan.title %></h1>

  <div id="action-plan-content">
    <%= action_plan.content %>
  </div>
</div>
