---
http_interactions:
- request:
    method: get
    uri: https://moneyadviceservice.apiary.io/en/articles/<%= id %>.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://www.moneyadviceservice.org.uk/cy/articles/ble-i-gael-cyngor-am-ddim-ynghylch-dyled>;
        rel="alternate"; hreflang="cy"; title="Ble i gael cyngor am ddim ynghylch
        dyled"
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 52e90108362ffd0200000967
    body:
      encoding: UTF-8
      string: |-
        {
            "url": "https://www.moneyadviceservice.org.uk/en/articles/<%= id %>",
            "title": "<%= title %>",
            "description": "<%= description %>",
            "body": "<%= body %>"
        }
  recorded_at: Wed, 29 Jan 2014 13:24:25 GMT
recorded_with: VCR 2.8.0
