<section>
  <div class="employer-best-practices__back-to-top">
    <a href="#back-to-top" class="employer-best-practices__back-to-top-link">
      <strong><%= t('employer_best_practices.back_to_top') %></strong>
    </a>
    <div class="employer-best-practices__triangle-up"></div>
  </div>
</section>
