// Call out containing a pull quotation or an emphasised fact from the many body of the content. Can also contain a link to an external source. Can contain a heading, but this is optional.
//
// Styleguide Call out

.callout {
  display: block;
  padding: $baseline-unit*3;
  margin: $baseline-unit*4 0;
  border-radius: 5px;
  background-color: $color-callout-background;

  > h3 {
    @extend %heading-extra-small;
    margin: 0 0 $baseline-unit 0;
    text-transform: capitalize;
  }

  p {
    @extend %type-callout;
    margin-top: 0;
  }

  .editorial & {
    @include respond-to($mq-l) {
      @include column(4, 8);
      float: right;
      margin: 0 $baseline-unit*2 $baseline-unit*2 $baseline-unit*2;
    }
  }
}
