.callout {
  padding: $gw;
  margin: $gw;
  max-width: 40%;
  float: right;
  border-radius: 10px;
  color: $color-green-primary;
  background-color: $color-callout-background;

  > p {
    @extend %text-callout;
    margin-top: 0;
  }
}