.category-detail {
  padding-bottom: $baseline-unit*3;
  border-bottom: 1px solid $color-category-border;
}

.category-detail__heading {
  a {
    color: $color-heading;
  }
}

.category-detail__list {
  @extend .list--unstyled;

  .icon {
    margin-left: -32px;
    margin-right: 12px;
  }
}
