.category-filter {
  @extend .list--unstyled;
  margin-top: $baseline-unit*8;
}

.category-filter__list-item {
  border-bottom: 1px solid $color-filter-border;
  background-color: $color-filter-background;
  margin-bottom: 0;
  @extend %type-navigation;

  a {
    padding: $baseline-unit*2;
    display: block;
  }
}

.is-selected {
  border-left: $baseline-unit solid $color-green-bright;
}
