.category-list {
  @include column(12);
  padding: 0 $baseline-unit*4 0 0;

  @include respond-to($mq-m) {
    @include column(6);
  }

  @include respond-to($mq-l) {
    @include column(4);
  }

  h2 {
    a {
      color: $color-heading;
    }
  }

  ul {
    @extend .list--unstyled;
  }

}

// cannot use nth-of-type in IE8 so appending an nth-of-type class to stack the sections
.category-3,
.category-5,
.category-7,
.category-9,
.category-11 {
  @include respond-to($mq-m) {
    clear: both;
  }
  @include respond-to($mq-l) {
    clear: none;
  }
}

.category-4,
.category-7,
.category-10 {
  @include respond-to($mq-l) {
    clear: both;
  }
}
