.category-list {
  @include column(12);
  padding: 0 $baseline-unit*4 0 0;

  @include respond-to($mq-m) {
    @include column(6);
    &:nth-of-type(2n+1) {
      clear: both;
    }
  }

  @include respond-to($mq-l) {
    @include column(4);
    &:nth-of-type(2n+1) {
      clear: none;
    }
    &:nth-of-type(3n+1) {
      clear: both;
    }
  }

  h2 {
    @extend %heading-link;
    a {
      color: $color-heading;
    }
  }

  ul {
    @extend .list--unstyled;
    li {
      margin-bottom: $baseline-unit;
    }
  }

}
