.cookie-message {
  @extend %clearfix;
  position: relative;
  background-color: $color-cookie-message-background;
  margin-bottom: $baseline-unit*2;
}

.cookie-message__content {
  @include column(12);
  @extend %type-small;
  margin-top: $baseline-unit*3;
  margin-bottom: $baseline-unit*3;
  padding-right: $baseline-unit*4;

  a {
    display: block;
    @include respond-to($mq-l) {
      display: inline;
    }
  }
}

.cookie-message__close-button {
  padding: $baseline-unit $baseline-unit*2 $baseline-unit*2 $baseline-unit*2;
  position: absolute;
  top: 0;
  right: 0;
}
