// body.dev exposes settings for grid so variable can be inspected
.dev {
}

.dev-grid {
  content: 'mq-xs = ' $mq-xs;
  content: 'mq-s = ' $mq-s;
  content: 'mq-m = ' $mq-m;
  content: 'mq-l = ' $mq-l;
  content: 'mq-xl = ' $mq-xl;

  .l-container {
    $color1: rgba(255, 50, 54, 1);
    $color2: rgba(255, 50, 54, 0);
    $color3: rgba(255, 50, 54, 0);
    $stop: 2%;

    background-image: linear-gradient(to bottom, $color1 0%, $color2 $stop, $color3 100%);
    background-size: 100% $lh;
    overflow: hidden;
  }
}
