.editorial {

  a[href^="http://"]:not([href*="moneyadviceservice"]):after,
  a[href^="www"]:not([href*="moneyadviceservice"]):after{
    @extend .icon;
    @extend .icon--externalLink;
    color: $color-link--external;
    padding-left: 5px;
  }

  a[href$=".doc"] {
    margin-top: $gw;
    display: inline-block;
    &:before {
      @extend .icon;
      @extend .icon--doc;
      padding-right: 5px;
    }
  }
}