// This component is purely used for scoping HTML we do not have control over which is output by the CMS.

.l-container.editorial {
  margin-top: $bl*7; // TODO: abstract this out when we have multiple page types
}

.editorial {
  background-color: $color-white;

  img {
    max-width: 100%;
  }

  .video-wrapper {
    //http://alistapart.com/article/creating-intrinsic-ratios-for-video
    clear: both;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  a:not([href*="moneyadviceservice"]):after {
    @extend .icon;
    @extend .icon--externalLink;
    color: $color-link-external;
    padding-left: 5px;
  }

  // override for links that do not contain moneyadviceservice but are not external links
  a[href^="/"]:after,
  a[href^="#"]:after {
    display: none;
  }

  a[href$=".doc"] {
    margin-top: $bl*3;

    &:before {
      @extend .icon;
      @extend .icon--doc;
      padding-right: 5px;
    }
  }

  table {
    @extend %text--table;
    text-align: left;
  }

  thead {
    color: $color-table-heading;
    background-color: $color-table-background;
  }

  tr:nth-child(even) {
    background-color: $color-table-background-alt;
  }

  th {
    padding: $bl*3 $bl*2;
    border: 1px solid $color-table-border;
  }

  td {
    padding: $bl*3 $bl*2;
    border: 1px solid $color-table-border;
  }

  .callout {
    padding: $bl*3;
    margin: $bl*3 0;
    width: 100%;
    float: right;
    border-radius: 10px;
    color: $color-green-tertiary;
    background-color: $color-callout-background;

//    @include add-all-grid-spans(1, 1, 1/3, 1/3, 1/3);

//    @include breakpoint($mq-m) {
//      @include grid-span($mq-m-c * 1/3);
//      margin: $bl*3;
//    }

    @include respond-to($mq-l) {
      margin: $bl*3;
      max-width: 38%;
    }

    > h3 {
      margin-bottom: $bl*3;
    }

    > p {
      @extend %text-callout;
      margin-top: 0;
    }
  }
}