// Content component that appears on the error page

.error-page-message {
  text-align: center;

  > h1 {
    margin-bottom: $baseline-unit*6;
  }

  > .button {
    margin-top: $baseline-unit*8;
  }
}
