.feedback {
  overflow: hidden;
  background-color: $color-feedback-background;
  padding: $bl*1.5 0 $bl 0;

  a {
  color: $color-white;
  }

  p {
    @extend %text-feedback;
    @include font-size(14);
    line-height: 1.5;
    margin: 0;
  }

  .icon--speech {
    @include font-size(48);
    float: left;
    display: inline-block;
    padding: 0 $bl*2 0 $bl;
    @include respond-to($mq-s){
      @include font-size(24);
    }
  }

}
