.feedback {
  overflow: hidden;
  background-color: $color-feedback-background;
  color: $color-white;
  padding: $bl*2 0;

  p {
    @extend %text-feedback;
    @include font-size(14);
    margin: 0;
  }

  .icon--speech {
    @include font-size(50);
    float: left;
    padding: 0 $bl*2;
  }

}
