// Internal links section of the site-wide footer.
//
// Styleguide Footer Site Links

.footer-site-links {
  background-color: $color-footer-bg;
  ul {
    @extend %clearfix;
  }

  li {
    @extend .list--unstyled;

    @include respond-to($mq-xs) {
      @include column(6);
    }
    @include respond-to($mq-s) {
      @include column(6);
    }
    @include respond-to($mq-m) {
      @include column(4);
    }
    @include respond-to($mq-l) {
      @include column(3);
    }
    @include respond-to($mq-xl) {
      @include column(2);
    }
  }

  a {
    @extend %type-small;
    @include links($color-link-nav, $color-link-nav);
    display: block;
    padding: $baseline-unit 0;
  }
}

.footer-site-links__internal-links {
  padding: $baseline-unit*2 0;
}

.footer-site-links__language {
  padding: $baseline-unit*2 0;
  border-top: 1px solid darken($color-grey-pale, 10%);

  .icon--globe {
    @include inline-block;
    margin-top: -3px;
    padding-right: $baseline-unit/2;
  }
}
