// Internal links section of the site-wide footer.
//
// Styleguide Footer Site Links

.footer-site-links {
  position: relative;
  background-color: $color-footer-bg;

  li {
    @extend .list--unstyled;
    padding: $baseline-unit 0;

    @include respond-to($mq-xs) {
      @include column(12);
    }
    @include respond-to($mq-s) {
      @include column(6);
    }
    @include respond-to($mq-m) {
      @include column(4);
    }
    @include respond-to($mq-l) {
      @include column(3);
    }
  }

  li > a {
    @extend %type-footer;
    @extend %link-nav-secondary;
    padding: $baseline-unit 0;
  }

  button {
    @extend %type-footer;
    text-align: left;
  }
}

.footer-site-links__internal-links {
  @extend %clearfix;
  padding: $baseline-unit*2 0;
}


.footer-site-links__cookie-link {
  position: relative;

  &.is-on:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 9px 12px 9px;
    border-color: transparent transparent $color-cookie-message-background transparent;
    position: absolute;
    bottom: -$baseline-unit*2;
    left: $baseline-unit*5.5;
  }
}

.footer-site-links__language {
  @extend %clearfix;
  border-top: 1px solid darken($color-grey-pale, 5%);

  @include respond-to($mq-m) {
    margin: 0;
  }

  %icon-width {
    width: 20px;
  }

  .icon--globe {
    @extend %icon-width;
    position: relative;
    top: 3px;
    height: 18px;
  }

  .icon--desktop-green {
    @extend %icon-width;
    position: relative;
    top: 2px;
  }

  .icon--speech-green {
    @extend %icon-width;
    position: relative;
    top: 3px;
  }

  li {
    padding: $baseline-unit 0;
    margin-bottom: $baseline-unit;
    margin-left: 0;

    @include respond-to($mq-xs) {
      @include column(12);
    }
    @include respond-to($mq-s) {
      padding: $baseline-unit*2 0;
      @include column(6);
    }
    @include respond-to($mq-m) {
      @include column(4);
    }
    @include respond-to($mq-l) {
      @include column(3);
    }
  }

}

.footer-site-links__opt_out {
  @extend %type-small;
  @extend %link-nav-secondary;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}
