// Internal links section of the site-wide footer.
//
// Styleguide Footer Site Links

.footer-site-links {
  background-color: $color-footer-bg;
  padding: $baseline-unit*5 0 $baseline-unit*6 0;

  li {
    font-family: MuseoSlab;
    font-weight: 700;
  }

  a {
    @include links($color-link-nav, $color-link-nav-visited);
  }
}
