// Internal links section of the site-wide footer.
//
// Styleguide Footer Site Links

.footer-site-links {
  background-color: $color-footer-bg;
  margin-top: $baseline-unit*2;

  li {
    @extend %type-footer-navigation;
    display: inline-block;
    width: 100%;

    @include respond-to($mq-m) {
      width: 49%;
    }

    @include respond-to($mq-l) {
      width: 24%;
    }

    &:nth-of-type(3),
    &:nth-of-type(6) {
      float: none;
    }
  }

  a {
    display: block;
    padding: $baseline-unit/2 0;
    @include links($color-link-nav, $color-link-nav);
  }
}

.footer-site-links__internal-links {
  padding: $baseline-unit*2 0;
}

.footer-site-links__language {
  padding: $baseline-unit*2 0;
//  margin-top: $baseline-unit*2;
  border-top: 1px solid darken($color-grey-pale, 10%);

  .icon--globe {
    @include inline-block;
    margin-top: -3px;
//    margin-left: -23px;
    padding-right: $baseline-unit/2;
//    opacity: 0.6;
  }
}
