// Internal links section of the site-wide footer.
//
// Styleguide Footer Site Links

.footer-site-links {
  padding: $bl*5 0 $bl*6 0;
  background-color: $color-footer-bg;
  
  ul {
    width: 500px;
  }

  li {
    @extend %font-museo700;
    width: 240px;

    @include respond-to(600px) {
      display: inline-block;
    }
  }

  a {
    @extend %link-nav;
  }
}