// Internal links section of the site-wide footer.
//
// Styleguide Footer Site Links

.footer-site-links {
  background-color: $color-footer-bg;
  padding: 0 0 $bl*6 0;

  ul {
    padding: $bl*4 0;
//    border-top: 1px solid darken($color-grey-pale, 10%);
  }

  li {
    font-family: MuseoSlab;
    font-weight: 700;
  }

  a {
    @extend %link-nav;
  }
}
