// Social Links in the footer with the mas homepage link
//
// Styleguide footerSocialLinks


.footerSocialLinks {
  padding: 0 10px;
  overflow: hidden;
  color: $color-text--icon;
  background-color: $color-green-primary;
  border-bottom: 1px solid $color-white-translucent;
}
