// Social Links in the footer with the mas homepage link
//
// Styleguide Footer Social Links

.footer-social-links {
  overflow: hidden;
  color: $color-text--icon;
  background-color: $color-green-primary;
  border-bottom: 1px solid $color-white-translucent;
}
