// Internal links section of the site-wide footer.
//
// Styleguide Footer Site Links

.footer-site-links {
//  height: $bl*33;
  padding: $bl*5 0 $bl*6 0;
  background-color: $color-footer-bg;

  li {
    font-family: MuseoSlab;
    font-weight: 700;
  }

  a {
    @extend %link-nav;
  }
}