// Internal links section of the site-wide footer.
//
// Styleguide Footer Site Links

.footer-site-links {
  background-color: $color-footer-bg;
  padding: $baseline-unit*4 0 $baseline-unit*5 0;

  li {
    @extend %type-small;
    font-family: MuseoSlab;
    font-weight: 700;
    display: inline-block;
    //    float: left;
    width: 100%;
    @include respond-to($mq-m) {
      width: 49%;
    }

    @include respond-to($mq-l) {
      width: 25%;
    }

    &:nth-of-type(3),
    &:nth-of-type(6) {
      float: none;
    }
  }

  a {
    display: block;
    padding: $baseline-unit/2 0;
    @include links($color-link-nav, $color-link-nav-visited);
  }
}
