// Header component for the main website
//
// Styleguide header

.header {
  position: relative;
  border-bottom: $baseline-unit/2 solid $color-green-light;
  background: $color-green-primary;

  @if $responsive == true {
    background-size: contain;
    @include respond-to($mq-l) {
      background: $color-green-primary image_url('stripes.svg') 90% 0 no-repeat;
    }
  }
}
