// Header component for the main website
//
// Styleguide header

.header {
  position:relative;
  padding: $baseline-unit*4 0 0 0;
  border-bottom: $baseline-unit/2 solid $color-green-light;
  background: $color-green-primary;
  background: $color-green-primary image_url('stripes.svg') 90% 0 no-repeat;
}
