// Header component for the main website
//
// Styleguide header

.header {
  padding: $baseline-unit*4 0 0 0;
  background: $color-green-primary;
  border-bottom: $baseline-unit/2 solid $color-green-light;
}
