.home-promoted {
  @extend .list--unstyled;
  @extend %clearfix;

  @include respond-to($mq-m) {
    margin-top: $baseline-unit*4;
  }
}

.home-promoted__item {
  @include respond-to($mq-s) {
    @include column(4);
  }

  @include respond-to($mq-l) {
    @include column(3);
    &:first-child {
      @include push(3);
    }
  }

  p {
    @extend %type-homepage-headings;
    padding: $baseline-unit*2 $baseline-unit;

    @include respond-to($mq-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }
}
