.home-promoted {
  @extend .list--unstyled;
  @extend %clearfix;
  margin-bottom: $baseline-unit*4;
}

.home-promoted__item {
  @include column(12);

  &:first-child {
    @include push(3);
  }

  a {
    @extend %type-promoted-content;
    display: block;
  }

  img {
    display: block;
    width: 100%;
    margin: $baseline-unit*4 0 $baseline-unit*2;
  }

  @include respond-to($mq-s) {
    @include column(4);
  }

  @include respond-to($mq-l) {
    @include column(3);
  }
}
