.home-feature {
  background-color: $home-page-feature;
}

.home-feature__content {
  @extend %clearfix;
  padding: $baseline-unit*8 0 0 0;
  background: transparent image_url('home-illustration.jpg') 0 100px no-repeat;

  @include respond-to($mq-m) {
    background-position: 0 0;
  }

  @include respond-to($mq-l) {
    background-position: 0 100%;
    padding-bottom: $baseline-unit*4;
  }
}

.home-feature__heading {
  @extend %heading-display;
  color: $color-text-default;
  padding: 0 $baseline-unit;
  margin: 0;
  height: 265px;

  @include respond-to($mq-m) {
    @include column(7);
    @include push(5);
    margin-top: $baseline-unit*5;
    margin-bottom: $baseline-unit*8.5;
    height: auto;
  }

  @include respond-to($mq-l) {
    padding: 0;
    @include column(3);
    height: 243px;
  }
}

.home-feature__list {
  @extend %clearfix;
  @extend .list--unstyled;
  clear: both;
  float: left;
  width: 100%;
  background-color: $home-feature-list-bg;

  li {
    padding: $baseline-unit*2 $baseline-unit;
    margin: 0;
    border-top: 1px solid $home-feature-list-border;
    &:first-child {
      border: none;
    }
  }

  a {
    @extend %type-homepage-headings;
    display: block;
  }

  p {
    display: none;
  }

  @include respond-to($mq-m) {
    clear: none;
    background: transparent;
    padding: $baseline-unit*5 0;
    border-top: 2px solid $home-feature-list-border;

    li {
      @include column(6);
      min-height: 110px;
      border: none;
    }

    p {
      display: block;
    }
  }

  @include respond-to($mq-l) {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 0;

    li {
      @include column(3);
      padding: 0;
      min-height: 150px;
      margin-bottom: 0;
    }
  }
}
