.home-contact {
  display: block;
  clear:both;
  padding:$baseline-unit * 4 0;
  border-top:1px solid #edf0f0;
  border-bottom:1px solid #edf0f0;

  .home-contact-header,
  .home-contact-details {
    @include column(12);
  }

  .home-contact-header {
    h2 {
      margin:0 0 $baseline-unit*3;
    }
    p {
      @extend %font-body;
      @include body(24, 30);
      color: $color-home-copy;
      margin-bottom: $baseline-unit*4
    }
  }

  .home-contact-details {
    h3 {
      @include body(18, 24);
      margin:0 0 $baseline-unit*2;
    }
    p {
      @include paragraph(14, 18);
    }
  }

  .home-contact-number {
    @extend %font-heading-heavy;
    @include body(32, 36);
    display: block;
    color:$color-home-number;
    margin:0 0 $baseline-unit*4;
  }

  @include respond-to($mq-l) {
    .home-contact-header {
      @include column(8);
    }
    .home-contact-details {
      @include column(4);
    }
  }
}