.home-contact {
  display: block;
  clear: both;
  padding: $baseline-unit * 4 0;
  border-top: 1px solid $color-grey-palest;
  border-bottom: 1px solid $color-grey-palest;
}

.home-contact__header,
.home-contact__details {
  @include column(12);
}

.home-contact__header {
  @include respond-to($mq-m) {
    @include column(6);
  }

  h2 {
    @extend %type-contact-heading;
    margin: 0;
  }

  p {
    margin-bottom: $baseline-unit*4
  }

  @include respond-to($mq-m) {
    h2 {
      margin: $baseline-unit*7 0 $baseline-unit 0;
    }
  }

  @include respond-to($mq-l) {
    @include column(6);
    @include push(3);
  }
}

.home-contact__details {
  @include respond-to($mq-m) {
    @include column(6);
  }

  h3 {
    @extend %font-body;
    letter-spacing: 0;
    @include body(18, 24);
    margin: 0 0 $baseline-unit*2;
  }

  p {
    @extend %type-medium;
  }

  @include respond-to($mq-l) {
    @include column(3);
  }
}

.home-contact__number {
  @extend %type-home-number;
  display: block;
  color: $color-home-number;
  margin: 0 0 $baseline-unit*2;

  @include respond-to($mq-l) {
    pointer-events: none;
    cursor: default;
  }
}
