// We are using a png sprite for our icons to ensure browser compatibility.
// The sprite contains at two sizes, original and double, to support high density screens.
//
// .icon--logo - mas logo (small)
// .icon--youtube - youtube logo
// .icon--facebook - facebook icon
// .icon--twitter - twitter icon
// .icon--globe - globe icon to symbolise language change
// .icon--up-arrow - up arrow icon
// .icon--desktop - desktop computer icon
// .icon--external-link - icon for an external link
// .icon--tick - tick icon
// .icon--cross - cross icon
// .icon--doc - WORD document icon
// .icon--pdf - PDF document icon
// .icon--down-chevron - down chevron icon
// .icon--up-chevron - up chevron icon
// .icon--left-chevron - left chevron icon
// .icon--right-chevron - right chevron icon
// .icon--close - close icon
// .icon--search - green search icon
// .icon--search-white - white search icon
//
// Styleguide icons

.icon {
  background-image: image_url('icon-sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.icon--logo {
  background-position: -233px -266px;
  width: 56px;
  height: 26px;
}

.icon--youtube {
  background-position: -4px -70px;
  width: 30px;
  height: 30px;
}

.icon--facebook {
  background-position: -36px -70px;
  width: 24px;
  height: 24px;
}

.icon--twitter {
  background-position: -69px -70px;
  width: 26px;
  height: 25px;
}

.icon--globe {
  background-position: -107px -269px;
  width: 20px;
  height: 20px;
}

.icon--up-arrow {
  background-position: -308px -173px;
  width: 8px;
  height: 12px;
}

.icon--desktop {
  background-position: -371px -174px;
  width: 16px;
  height: 13px;

  // temp style to adjust icon to sit with text
  position: relative;
  top: 2px;
}

.icon--desktop-green {
  background-position: -437px -174px;
  width: 16px;
  height: 13px;

  // temp style to adjust icon to sit with text
  position: relative;
  top: 2px;
}

.icon--external-link {
  background-position: -8px -170px;
  width: 18px;
  height: 18px;
}

.icon--speech-green {
  background-position: -402px -75px;
  width: 20px;
  height: 16px;
}

// LIST ICONS
.icon--tick {
  background-position: -39px -268px;
  width: 21px;
  height: 16px;
}

.icon--cross {
  background-position: -207px -270px;
  width: 21px;
  height: 16px;
}

// DOCUMENT ICONS
.icon--doc {
  background-position: -108px -171px;
  width: 18px;
  height: 18px;
}

.icon--pdf {
  background-position: -142px -171px;
  width: 18px;
  height: 18px;
}

// CHEVRON ICONS
.icon--down-chevron {
  background-position: -238px -76px;
  width: 18px;
  height: 12px;
}

.icon--up-chevron {
  background-position: -205px -75px;
  width: 18px;
  height: 16px;
}

.icon--left-chevron {
  background-position: -339px -72px;
  width: 12px;
  height: 19px;
}

.icon--right-chevron {
  background-position: -374px -72px;
  width: 12px;
  height: 19px;
}

.icon--close {
  background-position: -140px -268px;
  width: 18px;
  height: 18px;
}

// SEARCH ICONS
.icon--search {
  background-position: -172px -268px;
  width: 20px;
  height: 17px;
}

.icon--search-white {
  background-position: -271px -73px;
  width: 20px;
  height: 17px;
}

// -----------------------------------------------------
//  HIGH DEFINITION ICONS
// -----------------------------------------------------

@include device-pixel-ratio() {
  .icon {
    background-size: 339px;
  }

  .icon--logo {
    background-position: -149px -122px;
  }

  .icon--youtube {
    background-position: -4px -4px;
  }

  .icon--facebook {
    background-position: -36px -4px;
  }

  .icon--twitter {
    background-position: -70px -3px;
  }

  .icon--globe {
    background-position: -106px -105px;
  }

  .icon--up-arrow {
    background-position: -169px -82px;
  }

  .icon--desktop {
    background-position: -199px -84px;
  }

  .icon--desktop-green {
    background-position: -231px -84px;
  }

  .icon--external-link {
    background-position: -8px -53px;
  }

  .icon--speech-green {
    background-position: -304px -57px;
  }

  // LIST ICONS
  .icon--tick {
    background-position: -40px -105px;
  }

  .icon--cross {
    background-position: -205px -105px;
  }

  // DOCUMENT ICONS
  .icon--doc {
    background-position: -107px -55px;
  }

  .icon--pdf {
    background-position: -140px -55px;
  }

  // CHEVRON ICONS
  .icon--down-chevron {
    background-position: -238px -10px;
  }

  .icon--up-chevron {
    background-position: -205px -10px;
  }

  .icon--left-chevron {
    background-position: -240px -105px;
  }

  .icon--right-chevron {
    background-position: -258px -106px;
  }

  .icon--close {
    background-position: -139px -105px;
  }

  // SEARCH ICONS
  .icon--search {
    background-position: -172px -104px;
  }

  .icon--search-white {
    background-position: -272px -8px;
  }
}
