// Icons
//
// .icon--masLogo       - money advice service logo
// .icon--youtube       - \e605
// .icon--facebook       - \e61c
// .icon--twitter       - \e608
//
// Styleguide icons

#section-icons .styleguide-element {
  background-color: $color-green-primary;
}

.icon {
  display:block;
  color: $color-icon-font;
  background-color: transparent;
  line-height: 1;
  font-family: 'icomoon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--masLogo {
  width: 80px;
  height: 35px;
  margin: 6px 0;
  background: transparent image_url('mas-logo-small.svg') 0 0 no-repeat;
  background-size: contain;
}

.icon--youtube {
  font-size: 24px;
  &:before {
    content: '\e605';
  }
}

.icon--facebook {
  font-size: 24px;
  &:before {
    content: '\e61c';
  }
}
.icon--twitter {
  font-size: 24px;
  &:before {
    content: '\e608';
  }
}

