// Icons
//
// .icon--masLogo       - money advice service logo
// .icon--youtube       - \e605
// .icon--facebook       - \e61c
// .icon--twitter       - \e608
//
// Styleguide icons

#section-icons .styleguide-element {
  background-color: darkgrey;
}

.icon {
  display:block;
  color: $color-icon-font;
  background-color: transparent;
  line-height: 1;
  font-family: 'icomoon';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--masLogo {
  width: 55px;
  height: 25px;
  margin: 10px 0;
  background: $color-green-primary image_url('logo-mas-small.png') 0 0 no-repeat;
}

.icon--youtube {
  font-size: 26px;
  margin-right: -3px;
  &:before {
    content: '\e605';
  }
}

.icon--facebook {
  font-size: 25px;
  margin-right: -5px;
  &:before {
    content: '\e61c';
  }
}
.icon--twitter {
  font-size: 28px;
  margin-right: -4px;
  &:before {
    content: '\e608';
  }
}

