// Icons
//
// .icon--masLogo       - .png
// .icon--youtube       - \e605
// .icon--facebook      - \e61c
// .icon--twitter       - \e608
// .icon--menu          - \e600
// .icon--search        - \e604
// .icon--tick          - \e609
// .icon--externalLink  - \e619
// .icon--doc           - \e611
// .icon--open           - \e603
// .icon--closed           - \e603
//
// Styleguide icons

.icon {
  background-color: transparent;
  line-height: 1;
  font-family: 'icon-font';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--masLogo {
  width: $bl*9;
  height: $bl*5;
  display:block;
  margin: $bl*2 0 0 0;
  background: transparent image_url('mas-logo-small.png') 0 0 no-repeat;
  background-size: contain;
}

.icon--youtube {
  font-size: 24px;
  &:before {
    content: '\f167';
  }
}

.icon--facebook {
  font-size: 24px;
  &:before {
    content: '\f09A';
  }
}

.icon--twitter {
  font-size: 24px;
  &:before {
    content: '\f099';
  }
}

.icon--externalLink {
  &:after {
    content: '\e608';
  }
}

.icon--tick {
  &:before {
    content: '\e01E';
  }
}

.icon--doc {
  &:before {
    content: '\e601';
  }
}

// TODO replace these with ICONS asap

.icon--open {
  &:before {
    content: "\e606";
  }
}

.icon--closed {
  &:before {
    content: '\e607';
  }
}
