// Icons
//
// .icon--logo       - .png
// .icon--youtube       - \e605
// .icon--facebook      - \e61c
// .icon--twitter       - \e608
// .icon--telephone     - telephone
// .icon--tick          - \e609
// .icon--cross          - \e609
// .icon--external-link  - \e619
// .icon--link  - \e619
// .icon--info  - \e619
// .icon--doc           - \e611
// .icon--pdf           - \e602
// .icon--video           - \e602
// .icon--tool           - \e602
// .icon--open          - \e603
// .icon--closed        - \e0012
// .icon--close         - \e60A
// .icon--desktop       - \e603
// .icon--speech        - \e609
// .icon--search        - \e00E
// .icon--up-arrow        - \e00E
// .icon--back-arrow        - \e00E
//
// Styleguide icons

.icon {
  background-image: image_url('icon-sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.icon--youtube {
  background-position: -4px -70px;
  width: 26px;
  height: 30px;
}

.icon--facebook {
  background-position: -36px -70px;
  width: 24px;
  height: 24px;
}

.icon--twitter {
  background-position: -69px -70px;
  width: 26px;
  height: 25px;
}

.icon--telephone {
  background-position: -104px -70px;
  width: 24px;
  height: 24px;
}

.icon--up-arrow {
  background-position: -308px -173px;
  width: 8px;
  height: 12px;
}

.icon--back-arrow {
  background-position: -170px -71px;
  width: 21px;
  height: 21px;
}

.icon--external-link {
  background-position: -8px -170px;
  width: 18px;
  height: 18px;
}

.icon--link {
  background-position: -240px -172px;
  width: 15px;
  height: 15px;
}

.icon--share {
  background-position: -40px -172px;
  width: 16px;
  height: 16px;
}

.icon--print {
  background-position: -73px -170px;
  width: 17px;
  height: 16px;
}

.icon--tick {
  background-position: -39px -268px;
  width: 21px;
  height: 16px;
}

.icon--cross {
  background-position: -207px -270px;
  width: 21px;
  height: 16px;
}

.icon--doc {
  background-position: -108px -171px;
  width: 14px;
  height: 16px;
}

.icon--pdf {
  background-position: -142px -171px;
  width: 14px;
  height: 16px;
}

.icon--down-chevron {
  background-position:-238px -76px;
  width: 18px;
  height: 12px;
}

.icon--up-chevron {
  background-position: -205px -75px;
  width: 18px;
  height: 16px;
}

.icon--close {
  background-position: -140px -268px;
  width: 16px;
  height: 16px;
}

.icon--desktop {
  background-position: -371px -174px;
  width: 16px;
  height: 13px;
}

.icon--speech {
  background-position: -138px -74px;
  width: 19px;
  height: 16px;
}

.icon--search {
  background-position: -172px -268px;
  width: 17px;
  height: 17px;
}

.icon--search-white   {
  background-position: -271px -73px;
  width: 17px;
  height: 17px;
}

.icon--globe {
  background-position: -107px -269px;
  width: 16px;
  height: 16px;
}

.icon--info {
  background-position: -78px -264px;
  width: 8px;
  height: 22px;
}

.icon--logo {
  background-position: -233px -267px;
  width: 54px;
  height: 19px;
}
