// Larger text size for the article introductory paragraph.
//
// Styleguide intro

.intro {
  @extend %text-introParagraph;
  @extend %clearfix;
  clear: both;
  line-height: $bl*5;

  > img {
    @include respond-to(700px) {
      float:left;
      margin-right: $bl*3;
    }
  }
}

