%link-nav {
  color: $color-link-nav;
  text-decoration: none;

  &:visited {
    color: $color-link-nav-visited;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $color-link-nav;
    text-decoration: underline;
  }
}

// apply a different style for links that appear only inside a paragraph in editorial content
.editorial p > a {
  color: $color-link-default;
  text-decoration: none;
  border-bottom: 1px solid lighten($color-link-default, 50%);

  &:visited {
    color: $color-link-default;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $color-link-default;
    text-decoration: none;
    border-bottom: 1px solid lighten($color-link-default, 30%);
  }
}

.video-wrapper + a {
  display: block;
}

