// The basic unordered list style with coloured bullet points
//
// Styleguide list

.list {
  list-style: none;

  > li:before {
    @include typography(body, 24);
    content:'\2022';
    color: $color-list-bullet;
    @include inline-block;
    position: relative;
    width: 0;
    height: 0;
    left: -20px;
    top: 0;
  }
}

// A list that has ticks and crosses for bullet points
//
// Styleguide list--benefits

.list--benefits {
  list-style: none;


  li:before {
    @include typography(body, 18);
    color: $color-list-yes;
    content: '\e01E';
    display: block;
    font-family: 'icon-font';
    position: relative;
    width: 0;
    height: 0;
    left: -25px;
    top: 0;
  }

  .no:before {
    content: '\e01D';
    color: $color-list-no;
  }
}

// Default list style for editorial content
.editorial ul {
  @extend .list;
}

// Yes/No list style for editorial content
.editorial .yes-no {
  @extend .list--benefits;
}

// Basic unstyled list without bullet points and with margins and padding removed.
// ...it can also be used as a helper class to remove formatting from a list element.
//
// Styleguide list--unstyled

.list--unstyled {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list--unstyled-icon:before {
  content: none;
}
