.mas-logo {
  height: 36px;
  width: 170px;

  @include respond-to($mq-m) {
    width: 216px;
  }

  @if $responsive == true {
    background: transparent image_url('mas-logo.svg') 0 0 no-repeat;
    background-size: contain;
  } @else {
    background: transparent image_url('mas-logo.png') 0 0 no-repeat;
  }
}

.mas-logo-small {
  width: 54px;
  height: 30px;
  display: block;
  margin: $baseline-unit*2 0 0 0;

  @if $responsive == true {
    background: transparent image_url('mas-logo-small.svg') 0 0 no-repeat;
    background-size: contain;
  } @else {
    background: transparent image_url('mas-logo-small.png') 0 0 no-repeat;
  }
}
