.mas-logo {
  width: 180px;

  @include respond-to($mq-m) {
    width: 244px;
  }

}

.mas-logo-small {
  width: 54px;
  height: 30px;
  display: block;
  margin: $baseline-unit*1.5 0 0 0;

  @if $responsive == true {
    background: transparent image_url('mas-logo-small.svg') 0 0 no-repeat;
    background-size: contain;
  } @else {
    background: transparent image_url('mas-logo-small.png') 0 0 no-repeat;
  }
}
