.menu {
  @extend .list--unstyled;
  border-left: $baseline-unit solid $color-grey-light;
  background-color: $color-white;
  margin-left: -6px;
  margin-right: -6px;

  > li {
    @extend .list--unstyled;
    border-top: 1px solid $color-grey-light;
    > a {
      padding: $baseline-unit*1.5 $baseline-unit $baseline-unit*1.5 0;
      display: block;
      color: $color-green-secondary;
    }
  }
}
