.mobile-nav {
  @extend .list--unstyled;
  display: none;
}

.mobile-nav__item {
  @extend %type-navigation;
  border-radius: $baseline-unit/2;
  background-color: $color-green-tertiary;

  a {
    @include links($color-primary-nav, $color-primary-nav-visited);
    display: block;
    padding: $baseline-unit*1.5 $baseline-unit*2;
    &:hover {
      text-decoration: none;
    }
  }
}

.mobile-nav__item--search {
  a {
    padding-right:6px;
    padding-bottom:2.6px;
  }

  .icon--search-white {
    position:relative;
    left:-1px;
    top:1px;
  }

}
