.mobile-nav {
  @extend .list--unstyled;
  display: none;
}

.mobile-nav__item {
  @extend %type-navigation;
  border-radius: $baseline-unit;
  background-color: $color-green-tertiary;

  a {
    @include links($color-primary-nav, $color-primary-nav-visited);
    display: block;
    padding: $baseline-unit*1.5 $baseline-unit*2;
    &:hover {
      text-decoration: none;
    }
  }

  .icon--search {
    @include body(20, 18);
    @include respond-to($mq-m) {
      @include body(22, 22);
    }
  }
}
