// Message to notify the user that they are on the mobile responsive site and a button to allow the user to "opt out" or switch between the mobile responsive site and the fixed desktop site.
//
// Styleguide Opt out bar

.opt-out-bar {
  overflow: hidden;
  text-align: center;
  background-color: $color-opt-out-background;

  p {
    @extend %type-small;
    margin: $baseline-unit*2 0;
    @include respond-to($mq-m) {
      @include column(8);
      margin-top: $baseline-unit*2;
      margin-bottom: $baseline-unit*2;
      text-align: left;
    }
  }

  form {
    @include respond-to($mq-m) {
      @include column(4);
      text-align: right;
    }
  }
}

.opt-out-bar__button {
  @extend %type-small;
  @extend %font-smoothing;
  padding: $baseline-unit*2 0;
  color: $color-link-default;
  border: 0;
  background: transparent;
  border-top: 1px solid $color-grey-light;

  @include respond-to($mq-m) {
    border: 0;
  }

  &:before {
    @extend .icon;
    @include inline-block;
    padding-right: $baseline-unit;
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}
