// Handoff banner to allow the user to switch between the mobile responsive site and the fixed desktop site.
//
// Styleguide Website version toggle

.message-bar {

}
input {
background: transparent url('bg_button_a.gif') no-repeat scroll top right;
color: #444;
display: block;
float: left;
font: normal 12px arial, sans-serif;
height: 24px;
margin-right: 6px;
padding-right: 18px; /* sliding doors padding */
text-decoration: none;
}

