// Message to notify the user that they are on the mobile responsive site and a button to allow the user to "opt out" or switch between the mobile responsive site and the fixed desktop site.
//
// Styleguide Opt out bar

.opt-out {
  overflow: hidden;
  background-color: $color-opt-out-background;

  p {
    @extend %type-small;
    margin: $baseline-unit 50px $baseline-unit $baseline-unit;

    @include respond-to($mq-m) {
      @include column(6);
      margin-top: $baseline-unit*2;
      margin-bottom: $baseline-unit*2;
    }

    @include respond-to($mq-l) {
      @include column(9);
      margin-top: $baseline-unit*2;
      text-align: left;
    }
  }

  .icon--desktop {
    position: relative;
    top: 2px;
  }
}

.opt-out__desktop {
  @include respond-to($mq-m) {
    @include column(6);
  }

  @include respond-to($mq-l) {
    @include column(3);
    padding-right: $baseline-unit*9;
  }
}

.opt-out__button {
  @extend %type-small;
  padding: 0 0 $baseline-unit*2 $baseline-unit;
  color: $color-link-default;
  border: 0;
  background: transparent;

  &:before {
    @extend .icon;
    padding-right: $baseline-unit;
  }

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }

  @include respond-to($mq-m) {
    padding: $baseline-unit*2 0;
  }
}

.opt-out__close {
  position: absolute;
  top: 0;
  right: 0;
}

.opt-out__button--close {
  @extend .opt-out__button;
  padding: $baseline-unit*2;
}

