// Message to notify the user that they are on the mobile responsive site and a button to allow the user to "opt out" or switch between the mobile responsive site and the fixed desktop site.
//
// Styleguide Opt out bar

.opt-out-bar {
  overflow: hidden;
  text-align: center;
  background-color: $color-opt-out-background;

  p {
    @extend %text-message-small;
    margin: $bl 0;
    @include respond-to($mq-m) {
      @include column(8);
      padding: $bl 0;
      text-align: left;
    }
  }

  form {
    @include respond-to($mq-m) {
      @include column(4);
      text-align: right;
    }
  }
}

.opt-out-bar__button {
  @extend %text-message-small;
  @extend %link-nav;
  display: inline-block;
  background: transparent;
  border: 0;
  padding: $bl 0;
  border-top: 1px solid $color-grey-light;
  @include respond-to($mq-m) {
    border: 0;
  }

  &:before {
    @extend .icon;
    padding-right: $bl;
  }

  &:hover {
    text-decoration: underline;
  }
}
