// Pagination for the search results page.
//
// Styleguide pagination

.pagination {
  padding: $baseline-unit*2;
  background-color: $color-pagination-background;

  &:before {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 24px 24px;
    border-color: transparent transparent darken($color-pagination-background, 5%) transparent;
  }

  li {
    display: inline-block;
  }

  a {
    @include links($color-text-default, $color-text-default);
    &.is-selected {
      text-decoration: underline;
    }
  }

}
