// The primary website page navigation.
//
// Styleguide Primary Navigation

.primary-nav {
  @extend .list--unstyled;
  z-index: 2;

  @include respond-to($mq-l) {
    float: right;
  }
}

.primary-nav__item {
  @extend %collapsable-trigger;
  @extend %heading-nav-one;
  padding: $baseline-unit*1.5 $baseline-unit;
  border-top: 1px solid $color-white-translucent;
  //  position: relative;

  @include respond-to($mq-l) {
    display: inline-block;
    padding: 0;
    width: 110px;
    border: 0;
    text-align: center;
    line-height: 1.3;
  }

  &:first-child {
    @include respond-to($mq-l) {
      width: 95px;
    }
  }

  &:last-child {
    border-bottom: 1px solid $color-white-translucent;
    @include respond-to($mq-l) {
      border: 0;
    }
  }

  > a {
    padding: 0 $baseline-unit*2;
    color: $color-white;
    @include respond-to($mq-l) {
      display: inline-block;
    }
  }
  overflow: visible;
}

.l-primary-nav-dropdown {
  @extend %collapsable-target;
  @include respond-to($mq-l) {
    &.is-on {
      position: absolute;
      top: $baseline-unit*16;
      left: 0;
      z-index: 10;
    }
  }

  ul {
    margin: 0 auto;
    max-width: $mq-l;
  }
}

.menu {
  @extend .list--unstyled;
  border-left: $baseline-unit solid $color-grey-light;
  background-color: $color-white;
  margin-left: -6px;
  margin-right: -6px;

  > li {
    border-top: 1px solid $color-grey-light;
    padding: $baseline-unit*1.5 $baseline-unit $baseline-unit*1.5 $baseline-unit*2;
    padding: $baseline-unit*2 $baseline-unit;
    > a {
      color: $color-green-secondary;
    }
  }

}

.primary-nav__dropdown {
  padding: $baseline-unit*4;
  width: 100%;
  background-color: $color-submenu-background;
  border-bottom: 3px solid $color-submenu-border;

  li {
    @extend %heading-nav-two;
    margin-right: $baseline-unit*2;
    border-top: 0;
    border-bottom: 1px solid $color-submenu-list-border;
    text-align: left;
    width: 32%;
    float: left;
  }
}

//
//.menu {
//  @extend .list--unstyled;
//  border-stle: 1px solid;
//  padding: 4px;
//
//  @include respond-to($mq-s) {
//    border-color: margin background:colour
//  }
//
//  @include respond-to($mq-l) {
//    border-left:
//  }
//}
//
