// The primary website page navigation.
//
// Styleguide Primary Navigation

.primary-nav {
  @extend .list--unstyled;
  @extend %font-heading-bold;
  z-index: 2;
}

.primary-nav__item {
  @extend %collapsable-trigger;
  @extend %type-navigation;
  border-top: 1px solid $color-white-translucent;

  @include respond-to($mq-l) {
    @include inline-block;
    padding: 0;
    width: 110px;
    border: 0;
    text-align: center;
    line-height: 1.3;
  }

  &:first-child {
    @include respond-to($mq-l) {
      width: 95px;
    }
  }

  &:nth-of-type(2) {
    @include respond-to($mq-l) {
      width: 122px;
    }
  }

  &:last-child {
    border-bottom: 1px solid $color-white-translucent;
    @include respond-to($mq-l) {
      border: 0;
    }
  }

  a {
    @include links($color-primary-nav, $color-primary-nav-visited, $color-primary-nav-focus);
    @include inline-block;
    width: 100%;
    padding: $baseline-unit*2;
    position: relative;
  }

  a.is-on:after {
    @include respond-to($mq-m) {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $color-submenu-background transparent;
      position: absolute;
      bottom: -8px;
      left: 42%;
    }
  }
}

.primary-nav__dropdown {
  width: 100%;
  background-color: $color-submenu-background;
  @include respond-to($mq-l) {
    border-bottom: 3px solid $color-submenu-border;
    padding: $baseline-unit*4;

  }

  li {
    @extend %type-small;
    margin-right: $baseline-unit*2;
    border-top: 0;
    border-bottom: 1px solid $color-submenu-list-border;
    text-align: left;
    padding-left: $baseline-unit*2;
    @include respond-to($mq-l) {
      padding-left: 0;
      width: 32%;
      float: left;
    }
  }

  a {
    @include links($color-link-nav, $color-link-nav-visited);
  }
}

//.js {
//  .primary-nav,
//  .search-box {
//    display: none;
//    @include respond-to($mq-l) {
//      display: block;
//    }
//  }
//}



