// The primary website page navigation.
//
// Styleguide Primary Navigation

.primary-nav {
  @extend .list--unstyled;
  z-index: 2;
}

.primary-nav__item {
  @extend .list--unstyled;
  @extend %collapsable-trigger;
  border-top: 1px solid $color-white-translucent;

  @include respond-to($mq-l) {
    @include inline-block;
    padding: 0;
    width: 95px;
    border: 0;
    text-align: center;
  }

  &:first-child {
    @include respond-to($mq-l) {
      width: 95px;
    }
  }

  &:nth-of-type(2) {
    @include respond-to($mq-l) {
      width: 122px;
    }
  }

  &:last-child {
    border-bottom: 1px solid $color-white-translucent;
    @include respond-to($mq-l) {
      border: 0;
    }
  }

  a {
    @extend %type-primary-navigation;
    @include links($color-primary-nav, $color-primary-nav-visited);
    @include inline-block;
    width: 100%;
    padding: $baseline-unit*2;
    position: relative;
  }

  a.is-on:after {
    @include respond-to($mq-l) {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $color-submenu-background transparent;
      position: absolute;
      bottom: -4px;
      left: 50%;
      margin-left: -10px;
    }
  }
}

.primary-nav__dropdown {
  width: 100%;
  background-color: $color-submenu-background;

  @include respond-to($mq-l) {
    padding: $baseline-unit*4;
  }

  li {
    @extend %type-small;
    border-top: 0;
    border-bottom: 1px solid $color-submenu-list-border;
    text-align: left;
    padding-left: $baseline-unit*2;
    @include respond-to($mq-l) {
      @include column(4);
      margin-right: $baseline-unit*2;
      padding-left: 0;
      border: 0;
    }
  }

  a {
    @extend %type-navigation;
    @include links($color-link-nav, $color-link-nav-visited);
  }
}


