// The primary website page navigation.
//
// Styleguide Primary Navigation

.primary-nav {
  @extend .list--unstyled;
  @extend %font-museo700;
  z-index: 2;
}

.primary-nav__item {
  @extend %collapsable-trigger;
  @extend %type-navigation;
  border-top: 1px solid $color-white-translucent;

  @include respond-to($mq-l) {
    display: inline-block;
    padding: 0;
    width: 110px;
    border: 0;
    text-align: center;
    line-height: 1.3;
  }

  &:first-child {
    @include respond-to($mq-l) {
      width: 95px;
    }
  }

  &:last-child {
    border-bottom: 1px solid $color-white-translucent;
    @include respond-to($mq-l) {
      border: 0;
    }
  }

  > a {
    display: inline-block;
    width: 100%;
    padding: $baseline-unit*2;
    color: $color-white;
    position: relative;
  }

  a.is-on:after {
    @include respond-to($mq-m) {
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $color-submenu-background transparent;
      position: absolute;
      bottom: -8px;
      left: 42%;
    }
  }
}

.mobile-nav {
  @extend .list--unstyled;
}

.mobile-nav__item {
  @extend %type-navigation;
  padding: $baseline-unit*1.5 $baseline-unit*2;
  border-radius: $baseline-unit;
  background-color: $color-green-tertiary;
  &:last-child {
    padding: 4px 9px;
  }

  a {
    color: $color-white;
    text-decoration: none;
  }

  .icon--search {
    @include typography(body, 21);
  }
}

.primary-nav__dropdown {
  width: 100%;
  background-color: $color-submenu-background;
  @include respond-to($mq-l) {
    border-bottom: 3px solid $color-submenu-border;
    padding: $baseline-unit*4;

  }

  li {
    @extend %type-small;
    margin-right: $baseline-unit*2;
    border-top: 0;
    border-bottom: 1px solid $color-submenu-list-border;
    text-align: left;
    padding-left: $baseline-unit*2;
    @include respond-to($mq-l) {
      width: 32%;
      float: left;
    }
  }
}

.js .primary-nav,
.js .search-box {
  display: none;
  @include respond-to($mq-l) {
    display: block;
  }
}
