// Content box that appears on article pages displaying what categories an
// article belongs to
//
// Styleguide related categories

.related-categories {
  border-top: 1px solid #edf0f0;
  border-bottom: 1px solid #edf0f0;

  h2 {
    @extend %heading-extra-small;
  }

  @include respond-to($mq-m) {
    border-bottom: none;
  }
}

.related-categories_heading {
  @extend %heading-extra-small;
}
