// This search bar appears in the header of the page.
//
// Styleguide Search

.search-box {
  display: none;
  position: relative;
  margin: 0 auto;
  padding: $baseline-unit;
  background-color: $color-green-quaternary;
  width: 100%;
}

.search-box__input {
  @extend %font-museo700;
  width: 100%;
  height: $baseline-unit*7;
  padding-left: $baseline-unit*2;
  border: 0;
  @include respond-to($mq-l) {
  }
}

.search-box__submit {
  @extend .button--unstyled;
  position: absolute;
  bottom: -1px;
  right: 6px;
  height: $baseline-unit*7;
  font-size: 24px;
  color: $color-green-secondary;
}
