// Link to allow a keyboard operator to skip the primary navigation and go directly to the main content
//
// Styleguide Skip to content

.skip-to-content {
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  &:focus {
    top: 0;
  }
}
