// Social links component
//
// Styleguide Social Links

.social-links {
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-left: 1px solid $color-white-translucent;

  > li {
    display: inline;
    float: left;
    margin-bottom: 0;
  }

  a {
    display: block;
    width: 48px;
    height: 44px;
    padding-left: 27%;
    background-color: $color-green-primary;
    border-right: 1px solid $color-white-translucent;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: darken($color-green-primary, 10%);
      border-bottom: none;
    }

    span:before {
      line-height: 2;
      color: $color-text-icon;
    }
  }

  .icon--facebook {
    font-size: 22px;
    margin-left: 5px;
  }

  .icon--youtube {
    font-size: 22px;
    margin-left: 1px;
  }

  .icon--twitter {
    font-size: 22px;
  }

}
