// Social links component
//
// Styleguide socialLinks

.socialLinks {
  padding: 0;
  margin: 0;
  border-left: 1px solid $color-white-translucent;

  > li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 5px 4px 5px 6px;
    margin-right: -4px; // important to keep to prevent inline-block margins
    background-color: $color-green-primary;
    border-right: 1px solid $color-white-translucent;

    span:before {
      color: $color-icon-font;
    }
    &:hover,
    &:focus {
      background-color: darken($color-green-primary, 10%);
      border-bottom: none;
    }
  }
}