// Social links component
//
// Styleguide Social Links

.social-links {
  padding: 0;
  margin: 0;
  border-left: 1px solid $color-white-translucent;

  > li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 13px;
    margin-right: -4px; // important to keep to prevent inline-block margins
    background-color: $color-green-primary;
    border-right: 1px solid $color-white-translucent;

    span:before {
      color: $color-text--icon;
    }
    &:hover,
    &:focus {
      background-color: darken($color-green-primary, 10%);
      border-bottom: none;
    }
  }
}