---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/credit-cards-and-credit-ratings.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - ace71bbf75722a43a5e850eba8d73249
    body:
      encoding: UTF-8
      string: '{"id":"credit-cards-and-credit-ratings","title":"Cardiau credyd a statws
        credyd","description":"Dysgwch sut i reoli cerdyn credyd, sut i wirio''ch
        adroddiad credyd, ac awgrymiadau ynghylch sut y gallwch wella''ch statws credyd.","parent_id":"debt-and-borrowing","contents":[{"id":"beth-iw-wneud-os-gwrthodwyd-benthyciad-neu-gerdyn-credyd-i-chi","type":"guide","title":"Beth
        i\u2019w wneud os gwrthodwyd benthyciad neu gerdyn credyd i chi","description":"Os
        ydych chi wedi cael eich gwrthod am gredyd, cewch wybod pa gamau y gallwch
        eu cymryd i ganfod pam"},{"id":"cardiau-siop","type":"guide","title":"Canllaw
        i cardiau siop","description":"Disgownt yn eich hoff siop neu ffordd gyfrwys
        o gael llog uchel gennych? Gweler manteision ac anfanteision cardiau siop"},{"id":"credyd-catalog-neu-gyfrifon-siopa","type":[...]
