---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/help-with-loans.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - a2b66aad8bd60e320b94df7b795c9888
    body:
      encoding: UTF-8
      string: '{"id":"help-with-loans","title":"Cymorth gyda benthyciadau","description":"Dysgwch
        am sut mae benthyciadau personol yn gweithio, dewisiadau eraill gwell na benthyciadau
        diwrnod cyflog, a chymorth wrth fenthyca gan undeb credyd.","parent_id":"debt-and-borrowing","contents":[{"id":"benthyciadau-personol","type":"guide","title":"Benthyciadau
        personol","description":"Gwnewch yn si\u0175r eich bod yn cael y benthyciad
        iawn ar eich cyfer chi ac nad ydych chi\u2019n talu mwy na\u2019r hyn y mae
        angen ichi ei dalu"},{"id":"ail-forgeisi-neu-forgeisi-ail-arwystl","type":"guide","title":"Ail
        forgeisi neu forgeisi ail arwystl","description":"Benthyciadau wedi''u gwarantu
        ar eich cartref yw morgeisi ail arwystl. Gall fod yn ddewis arall yn lle ailforgeisio,
        ond mae [...]
