---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/homes-and-mortgages.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: |-
        500 Internal Server Error
        If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong.
  recorded_at: Tue, 30 Sep 2014 14:08:23 GMT
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/homes-and-mortgages.json
    body:
      encoding: UTF-8
      string: |-
        500 Internal Server Error
        If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong.
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 7a8eaf6c229c8c0c00588bf197f92217
    body:
      encoding: UTF-8
      string: '{"id":"homes-and-mortgages","title":"Cartrefi a morgeisi","description":"Popeth
        y mae angen i chi ei wybod am brynu cartref a dewis y morgais cywir","parent_id":null,"contents":[{"id":"buying-a-home","type":"category","title":"Prynu
        cartref","description":"Cyfrifwch eich costau prynu a symud cyffredinol, cyngor
        i brynwyr tro cyntaf, ac awgrymiadau ac offer i''ch helpu chi i gyfrifo beth
        allwch ei fforddio."},{"id":"renting-and-letting","type":"category","title":"Rhentu
        a gosod","description":"Cyngor i''ch helpu i gyfrifo faint o rent y gallwch
        chi fforddio, a sut i gyllidebu a rhannu costau wrth rentu."},{"id":"types-of-mortgage","type":"category","title":"Mathau
        o forgeisi","description":"Dysgwch am wahanol fathau o forgeisi, o ad-daliad
        a llog yn unig i ecwiti a rennir a phrynu-i-osod."},{"id":"help-with-mortgages","type":"category","title":"Cymorth
        gyda morgeisi","description":"Dechreuwch arno gyda''n canllaw dechreuwyr i
        forgeisi, cael y fargen gywir, ac awgrymiadau os ydych yn profi anawsterau
        wrth dalu."}]}'
  recorded_at: Tue, 30 Sep 2014 14:08:23 GMT
recorded_with: VCR 2.9.2
