---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/managing-money.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: |-
        500 Internal Server Error
        If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong.
  recorded_at: Wed, 10 Sep 2014 12:45:45 GMT
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/managing-money.json
    body:
      encoding: UTF-8
      string: |-
        500 Internal Server Error
        If you are the administrator of this website, then please read this web application's log file and/or the web server's log file to find out what went wrong.
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 9a7edbead5846c6e099707a24bdcb4a8
    body:
      encoding: UTF-8
      string: '{"id":"managing-money","title":"Rheoli arian","description":"Gwiriwch
        sut y gallwch wneud i''ch arian fynd ymhellach a defnyddiwch ein Cynllunyddcyllideb
        i weld faint o arian sydd gennych yn dod i mewn ac ar beth yr ydych yn ei
        wario.","parent_id":"budgeting-and-managing-money","contents":[{"id":"canllaw-syml-i-reoli-eich-arian","type":"guide","title":"Canllaw
        syml i reoli eich arian","description":"Sut i osod cyllideb, aros ar y blaen
        i ddyledion a dechrau cynilo''n rheolaidd"},{"id":"sut-i-wneud-ich-arian-bara-drwyr-wythnos","type":"action_plan","title":"Cynllun
        gweithredu - Sut i wneud i\u2019ch arian bara drwy\u2019r wythnos","description":"Tri
        cham tuag at ymestyn eich arian ychydig ymhellach"},{"id":"byw-ar-incwm-isel-awgrymiadau","type":"guide","title":"Awgrymiadau
        cyllidebu pan y[...]
