---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/types-of-mortgage.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 5c7faa15a3632f38d4bfd8e5de270772
    body:
      encoding: UTF-8
      string: '{"id":"types-of-mortgage","title":"Mathau o forgeisi","description":"Dysgwch
        am wahanol fathau o forgeisi, o ad-daliad a llog yn unig i ecwiti a rennir
        a phrynu-i-osod.","parent_id":"homes-and-mortgages","contents":[{"id":"beth-yw-morgais-gwrthbwyso","type":"video","title":"Beth
        yw Morgais Gwrthbwyso?","description":"Gwyliwch y fideo hwn i gael gwybod
        beth yw Morgais Gwrthbwyso ac a allai fod yn addas i chi"},{"id":"adolygwch-gynllun-ad-daliad-llog-yn-unig","type":"action_plan","title":"Cynllun
        gweithredu - Adolygwch gynllun ad-daliad llog yn unig","description":"Gwiriwch
        fod eich cronfeydd ar y llwybr iawn i ad-dalu\u2019r benthyciad yn llawn pan
        fydd yn ddyledus"},{"id":"gwnewch-gynllun-ad-dalu-llog-yn-unig[...]
