---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/universal-credit.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 58e762d8a3bd35a7ef1ced0af40f9380
    body:
      encoding: UTF-8
      string: '{"id":"universal-credit","title":"Credyd Cynhwysol","description":"Paratowch
        am y taliad misol sengl newydd sydd wedi dechrau disodli chwe budd-daliad
        presennol.","parent_id":"benefits","contents":[{"id":"credyd-cyffredinol-cyflwyniad","type":"guide","title":"Credyd
        Cyffredinol - cyflwyniad","description":"Mae Credyd Cyffredinol yn fath newydd
        o gymorth ariannol i bobl sy\u2019n chwilio am waith neu ar incwm isel \u2013
        dysgwch sut y gallai hyn effeithio arnoch chi"},{"id":"paratoi-ar-gyfer-credyd","type":"video","title":"Paratowch
        at Gredyd Uniongyrchol","description":"Ym mis Ebrill 2013, dechreuodd y llywodraeth
        gyflwyno math newydd o gymorth ariannol o\u2019r enw Credyd Cynhwysol."},{"id":"p[...]
