---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/categories/videos.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - fc7f6857d42ffbd59d8b52af740471e1
    body:
      encoding: UTF-8
      string: '{"id":"videos","title":"Fideos","description":"Edrychwch ar ein fideos,
        yn trafod materion fel yswiriant, cynilo ar gyfer ymddeol a chwyddiant","parent_id":"tools-and-calculators","contents":[{"id":"paratoi-ar-gyfer-credyd","type":"video","title":"Paratowch
        at Gredyd Uniongyrchol","description":"Ym mis Ebrill 2013, dechreuodd y llywodraeth
        gyflwyno math newydd o gymorth ariannol o\u2019r enw Credyd Cynhwysol."},{"id":"eich-awgrymiadau-ar-gyfer-prynu-a-rhedeg-car","type":"video","title":"Eich
        awgrymiadau ar gyfer prynu a rhedeg car","description":"Gwyliwch y fideo yma
        i weld sut y byddai pobl yn prynu a rhedeg car"},{"id":"llinell-amser-i-brynu-cartref","type":"video","title":"Llinell
      [...]
