<div class="l-constrained">
  <div class="l-campaign__content">
    <h1><%= t('companies.standalone_title') %></h1>
    <p><%= t('companies.standalone_intro') %></p>

    <%= company_list.content %>

    <p>
      <%= t('companies.back_to_faq_html') %>
    </p>
</div>
