<div class="l-constrained">
  <div class="l-campaign__content">
    <h1>Frequently Asked Questions</h1>
    <p>From 1 January 2015, some fee-charging Debt Management firms will stop trading. This means that if you are one of their customers-your debt management plan will no longer be paid on your behalf. You should act now to make sure you stay on top on your debts.</p>
    <p>There’s no need to worry though. There is free advice and support available to help you sort things out.</p>
    <p class="faq__q">Why has this happened?</p>
    <p class="faq__a">The Financial Conduct Authority recently introduced a number of consumer credit rules to change the way Debt Management firms operate and treat their customers. As a result of these some fee-charging Debt Management firms have chosen to exit the market.</p>
    <p class="faq__q">What do I need to do first?</p>
    <p class="faq__a">Speak with a free debt advice provider about your situation as soon as you can. They can help you look at all your options and check that staying in a debt management plan is still the right thing for you. If it is, they’ll help you set one up for free.</p>
    <p class="faq__q">Where can I go to for free debt advice?</p>
    <p class="faq__a">Visit www.moneyadviceservice.org.uk/debtmanagement or call us on 0800 XXX XXXX to access the most appropriate free debt advice service for you.</p>
    <p class="faq__q">How quickly do I need to act?</p>
    <p class="faq__a">The people you owe money to will be sympathetic if you act quickly. If you don’t, things could get worse and you may end up deeper in debt.  A free debt advice provider will be able to help you identify your best course of action.</p>
    <p class="faq__q">How can I get free debt advice?</p>
    <p class="faq__a">You can receive debt advice online, by email, over the phone or face to face. So you can speak with someone in the way that you prefer at a time that is convenient for you.</p>
    <p class="faq__q">Do I still owe money?</p>
    <p class="faq__a">Even though the Debt Management firm you were using has closed down it does not mean your debts will be cleared. It is important to seek free debt advice to find out what steps you should now take.</p>
    <p class="faq__q">What about the money I have already paid?</p>
    <p class="faq__a">Money you have already paid should have gone to reduce your debts but the people you owe money to may have continued to add interest and charges. This means the overall amount you owe may not have reduced significantly. It is important to get free, impartial advice quickly to understand exactly how much you owe so you can find the debt solution that is best for you.</p>
    <p class="faq__q">Should I cancel my direct debits?</p>
    <p class="faq__a">If your debt management firm has closed and you have a direct debit set up with them you should cancel it as soon as possible. A free debt adviser will be able to tell you the best way you can continue your debt repayments.</p>
    <p class="faq__q">Will the people I owe money to start contacting me?</p>
    <p class="faq__a">The people you owe money to are likely to get in touch with you but their priority will be to ensure that you find an alternative advice provider. They will provide a period of forbearance. This means they will not take further action for a limited time. This should give you time to get debt advice and find an alternative debt repayment solution. If you do not take action your creditors will get in touch and expect you to begin making payments directly to them.</p>
    <p class="faq__q">Are fee-charging Debt Management firms bad?</p>
    <p class="faq__a">Charging a fee to provide debt management has been a commonplace business practice for many years. While some firms are choosing to leave the market at this time it does not mean that you should avoid all firms who operate in this way. However, the services a fee-charging firm provide will be similar to those you can get free of charge. All the free debt advice providers we recommend are confidential, impartial and give high-quality advice.</p>
    <p class="faq__q">Can I trust the advice they will give me?</p>
    <p class="faq__a">Debt advisers give expert advice to hundreds of thousands of people every year and will understand the situation you are in. They are highly trained and will be able to give you the support you need to manage and reduce your debts. The benefits of seeking advice are that:
    <ul class="list">
      <li>You continue to repay what you owe</li>
      <li>An adviser will continue to liaise with the people you owe money to you will receive on-going support if you need it.
    </ul>
    </p>
    <p class="faq__q">Who do I get in touch with if I want to complain about the debt management firm?</p>
    <p class="faq__a">You can contact the Financial Ombudsman Service via their website: <a href="http://www.financial-ombudsman.org.uk/contact/index.html">financial-ombudsman.org.uk/contact</a>. Or call the consumer helpline on <a href="tel:08000234567">0800 023 4 567</a> (from a landline) or <a href="tel:03001239123">0300 123 9 123</a> (from a mobile). Lines are open Monday to Friday – 8am to 8pm, Saturday – 9am to 1pm.</p>
    <a href="/en/campaigns/debt-management" class="button button--primary">Debt management plan</a>
</div>
