<%= image_tag('campaign/interest-rate-rise-campaign-bg.jpg', alt: '', class: 'l-campaign-image') %>

<div class="l-constrained">
  <section class="l-debtmanagement">
    <div class="l-debtmanagement__inner">
      <h1>What to do now your debt management firm has closed down</h1>
      <p>Now that the firm that runs your debt management plan has closed down you may be wondering what to do.</p>
      <p>There’s no need to worry.  We can help to get you free debt advice now. So you can keep up the good work you’ve already done to take control of your debts and make sure your repayments stay on track.</p>
      <p>A free debt advice provider will help you look at all your options and check that staying in a debt management plan is still the right thing for you. If it is, they’ll help you set one up for free, so you could be debt free sooner than you’d planned.</p>
      <p>What’s more, if a debt management plan is no longer appropriate, they’ll advise you about other ways to manage your debt and help you to decide what’s best for you.</p>
    </div>

    <a class="l-debtmanagement__button button button--primary" href="#go_to_faq">Get debt help now</a>
    <%= image_tag('http://placehold.it/300x300', alt: '', class: 'l-debtmanagement__image-small') %>
  </section>

  <section class="l-debtmanagement">
    <%= image_tag('http://placehold.it/300x300', alt: '', class: 'l-debtmanagement__image-small l-debtmanagement__image-small--left') %>

    <div class="l-debtmanagement__inner">
      <h2>Act quickly to manage your debts</h2>
      <p>It’s really important to talk to an expert adviser about your situation as soon as you can. The people you owe money to will be sympathetic if you act quickly. If you don’t, things could get worse and you may end up deeper in debt.</p>
      <p>All the free debt advice providers we recommend are confidential, impartial and give high-quality advice.</p>
      <p>They will understand the situation you’re in and they give expert advice to hundreds of thousands of people every year.</p>
      <p>For more information read our <a id="go_to_faq" href="/faq">Frequently Asked Questions</a>
    </div>
  </section>


  <section class="l-debtmanagement">
    <h2>Get free advice</h2>

    <p>You can get free advice online, email or face to face. Getting advice means you can</p>

    <ul class="list-benefits">
      <li>Continue to repay what you owe</li>
      <li>Get on-going support if you need it</li>
      <li>Ask your debt adviser to talk to the people you owe money to on your behalf.</li>
    </ul>

    <form>
      <label class="l-debtmanagement__radio-item"><input type="radio" name="country_group" /> England</label>
      <label class="l-debtmanagement__radio-item"><input type="radio" name="country_group" /> Wales</label>
      <label class="l-debtmanagement__radio-item"><input type="radio" name="country_group" /> Scotland</label>
      <label class="l-debtmanagement__radio-item"><input type="radio" name="country_group" /> Northern Ireland</label>
    </form>
  </section>
</div>
