<% set_meta_tags(canonical: campaign_url('revealed-the-true-cost-of-buying-a-car'),
                 alternate: { en: campaign_url('revealed-the-true-cost-of-buying-a-car'),
                              cy: campaign_url('revealed-the-true-cost-of-buying-a-car-welsh') }) %>

<% content_for(:alternate_link) do %>
  <%= link_to(campaign_path('revealed-the-true-cost-of-buying-a-car-welsh'), id: "cyLink", lang: "cy-GB") do %>
    <span class="icon icon--globe"></span>
    <%= t("locales.cy") %>
  <% end %>
<% end %>

car stuff
