@import 'settings';

@import 'dough/assets/stylesheets/lib';
@import 'yeast/assets/lib/all';

// temporary to override Dough
.button {
  &:focus {
    outline: 2px solid $color-focus;
  }
}

$color-input-focus-border-color: $color-yellow-dark !important;

// temporary to override Yeast
%link-nav-secondary {
  &:hover,
  &:focus {
    text-decoration: underline !important;
  }

  &:hover {
    outline: none;
    color: $color-link-nav;
  }

  &:focus {
    color: $color-black;
  }
}

// Helpers
@import 'helpers/form-input';
@import 'helpers/form-input-focus';
@import 'helpers/layout';
@import 'helpers/rails_reset';
@import 'helpers/video_wrapper';

// Base
@import 'base/variables';
@import 'base/forms';
@import 'base/headings';
@import 'base/images';
@import 'base/links';
@import 'base/lists';
@import 'base/paragraphs';
@import 'base/reset';
@import 'base/type';

// Dough
@import 'dough/assets/stylesheets/common';
@import 'dough/assets/stylesheets/optional';

// Layout
@import 'layout/variables';
@import 'layout/common/all';
@import 'layout/page_specific/all';

// Dough Theme Components
@import 'components/dough_theme/variables';
@import 'components/dough_theme/*/_all.scss';

// Local Components
@import 'components/common/all';
@import 'components/page_specific/all';

.editorial {
  @import 'components/cms/all';
}

@import 'print';

