// Money Advice Service stylesheets
// http://www.moneyadviceservice.org.uk
//
// Default MAS colours/settings, mixins, grid and typography:
// [Yeast](https://github.com/moneyadviceservice/yeast)
//
// Base component and typography(element level):
// [Dough](https://github.com/moneyadviceservice/dough)
//
// Dough component styling can be overridden within:
// `/components/mas_dough_theme/`

// Enable/disable components
@import "settings";

// Default Dough typography and variables
@import "dough/assets/stylesheets/lib";

// Default yeast typography and variables
@import "yeast/assets/lib/all";

// MAS site helper files for form inputs, rails overrides and videos
@import "helpers/*";

// MAS site base element styles
@import "base/*";

// Dough default components
@import "dough/assets/stylesheets/common";

// Dough optional components
@import "dough/assets/stylesheets/optional";

// MAS site layout
// Use .l- prefix when creating new layout selectors
@import "layout/variables";
@import "layout/common/all";
@import "layout/page_specific/all";

// MAS site components
@import "components/common/all";
@import "components/page_specific/all";

// MAS Dough component theme
// Overrides default Dough component theme
@import "components/mas_dough_theme/variables";
@import "components/mas_dough_theme/*/_all.scss";

// CMS-generated content
.editorial {
  @import "components/cms/all";
}

@import "print";
