// $debug: development_environment();

@import 'singularitygs';
@import 'breakpoint';

@import 'lib/variables';
@import 'lib/functions';
@import 'lib/mixins';
@import 'lib/placeholders';
@import 'lib/grid';

@import 'layout/common';

@import 'components/header';
@import 'components/footer_site_links';
@import 'components/footer_social_links';
@import 'components/breadcrumb';
@import 'components/icon';
@import 'components/button';
@import 'components/social_links';