$responsive: true;
@import 'dough/assets/stylesheets/lib/variables';

@font-face {
  font-family: Museo Sans;
  src: font-url('mas-fonts/app/assets/fonts/mas/fonts/MuseoSans_300.woff');
  font-weight: 300;
}

@font-face {
  font-family: Museo Sans;
  src: font-url('mas-fonts/app/assets/fonts/mas/fonts/MuseoSans_700.woff');
  font-weight: 700;
}

// AMP specific classes
.amp-article {
  font-family: Museo Sans;
  color: $color-grey-primary;
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  padding: 0 0.6rem 1px 0.6rem;
  background-color: white;
  overflow: auto;
}

.amp-article__header {
  background-color: $color-green-primary;
  height: 2rem;
  padding: 0.8rem 0 0.5rem 0.4rem;
}

.amp-article__mas-logo {
  width: 12rem;
  display: block;
  background-image: url(/assets/logo-en-white.png);
  height: 30px;
  background-size: cover;
}

// AMP element and class styles (that come from contento)
.amp-body {
  max-width: 36rem;
  margin: 0 auto;
}

body {
  background-color: $color-grey-pale;
}

h1 {
  font-size: 1.9rem;
  line-height: 2.25rem;
  margin-top: 0;
  padding-top: 2rem;
  margin-bottom: 1rem;
  color: $color-green-secondary;
}

h2 {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: $color-green-secondary;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.875rem;
  margin-top: 1.375rem;
  margin-bottom: 0.6875rem;
  color: $color-green-secondary;
}

table {
  text-align: left;
  margin: 1.5rem 0;
  border-spacing: 0;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

thead tr {
  background-color: $color-grey-nine;
}

th, th p {
  font-weight: 700;
}

th, td {
  vertical-align: top;
  padding: 0.75rem;
  border-right: 1px solid $color-green-one;
  width: auto;
  font-size: 14px;
}

th:last-child, td:last-child {
  border-right: 0;
}

tr:nth-child(even) {
  background-color: $color-grey-ten;
}

a {
  color: $color-blue-medium;
}

strong {
  font-weight: 700;
}

.callout {
  padding: 1.25rem 0 0.5rem 0;
  margin: 1.5rem 0;
  border-radius: 5px;
  background-color: $color-green-pale;
  clear: right;
}

.callout p {
  margin: 0 1.125rem 1.125rem 1.125rem;
}

.callout h3 {
  margin: 0 1.125rem 0.375rem;
  text-transform: capitalize;
}

.add-action {
  position: relative;
  background-color: $color-blue-light;
  padding: 0.375rem 0.75rem;
  display: block;
  margin: 1.875rem 0;
  clear: both;
  color: $color-grey-primary;
  line-height: 1.5rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}
