$responsive: true;

@import 'lib/grid';
@import 'lib/variables/colours';
@import 'lib/variables/grid';
@import 'lib/variables/buttons';
@import 'lib/functions';
@import 'lib/mixins/breakpoints';
@import 'lib/mixins/type';
@import 'lib/placeholders';


@import 'styleguide/sg_syntax';
@import 'styleguide/sg_base';
@import 'styleguide/sg_navigation';
@import 'styleguide/sg_example';
