<div class="l-1col">
  <ol class="category-detail__list contents">
    <% contents.each do |item| %>
      <li class="category-detail__list-item">
        <span class="icon icon--<%= item.type.gsub(/_/, '-') %>"></span>
        <span class="visually-hidden"><%= item.type.gsub(/_/, ' ') %></span>
        <%= link_to item.title, item.path %>
      </li>
    <% end %>
  </ol>
</div>
