<% contents.each_with_index do |parent_category, i| %>
  <section class="category-detail category-detail--<%= i+1 %>">
    <h2><%= link_to parent_category.title, parent_category.path, class: 'category-detail__heading' %></h2>

    <% if parent_category.contents.present? %>
      <ol class="category-detail__list">
        <% parent_category.contents.each do |child_category| %>
          <li class="category-detail__list-item"><%= link_to child_category.title, child_category.path %></li>
        <% end %>
      </ol>
    <% end %>

    <a class="link-to-top-inline" href="#top">
      <span class="icon icon--up-arrow"></span>
      <%= t('categories.show.go_to_top_html') %>
    </a>
  </section>
<% end %>
