<%= heading_tag 'How can we help?', level: 2, class: 'l-category__top__link-list-heading' %>
<ul class="link-list">
  <% category.links.each do |link| %>
    <li class="link-list__item">
      <a class="link-list__item__link" href="<%= link['url'] %>"><%= link['text'] %></a>
    </li>
  <% end %>
</ul>
