<p>
  <strong>How can we help?</strong>
</p>
<ul class="category-link-list">
  <% category.links.each do |link| %>
    <li class="category-link-list__item">
      <a class="category-link-list__item__link" href="<%= link['url'] %>"><%= link['text'] %></a>
    </li>
  <% end %>
</ul>
