<% set_meta_tags(canonical: category.canonical_url, alternate: category.alternate_options) %>

<%= render 'shared/breadcrumbs', breadcrumbs: breadcrumbs %>

<div class="l-1col">
  <% set_meta_tags(description: category.description) %>

  <h1><%= title category.title %></h1>

  <p class="intro intro--constrained"><%= category.description %></p>
</div>

<%= category.render_contents %>
