<% set_meta_tags(description: category.description) %>

<h1><%= title category.title %></h1>
<p class="intro"><%= category.description %></p>

<% if category.subcategory? %>
  <%= render partial: 'content_items', locals: { items: category.contents } %>
<% else %>
  <%= render partial: 'subcategories', locals: { subcategories: category.contents } %>
<% end %>
