---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/articles/pam-bod-cynilon-rheolaidd-yn-talu-ffordd.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/cy/articles/pam-bod-cynilon-rheolaidd-yn-talu-ffordd>
        rel="alternate"; hreflang="cy-GB"; title="Pam bod cynilo'n rheolaidd yn talu
        ffordd", <https://www.moneyadviceservice.org.uk/en/articles/why-it-pays-to-save-regularly>
        rel="alternate"; hreflang="en-GB"; title="Why it pays to save regularly"
      X-Session-Id:
      - d10b71b15c036ffb98516f42b1af9e7a
    body:
      encoding: UTF-8
      string: '{"id":"pam-bod-cynilon-rheolaidd-yn-talu-ffordd","title":"Pam bod cynilo''n
        rheolaidd yn talu ffordd","description":"Mae mynd i''r arfer o gynilo''n rheolaidd
        yn golygu y bydd eich cynilion yn tyfu''n gyflym \u2013 mae''n gyflym ac yn
        hawdd dechrau arni","body":"<p class=\"intro\"><img src=\"/images/why-it-pays-to-save-regularly.png\"/>Os
        ydych yn cynilo\u2019n rheolaidd, byddwch yn sylweddoli\u2019n gyflym bod
        eich cynilion yn ffynnu ac yn dal i gynyddu. Ewch i''r arfer a gwyliwch wrth
        i''ch arian droi''n fwy o arian. </p><h2>Gwnewch gynilo\u2019n arferiad </h2><div
        class=\"callout\"><p>Mae mynd i''r arfer o gynilo''n rheolaidd yn bwysicach
        na faint y byddwch yn ei gynilo - cewch eich synnu o weld pa mor gyflym y
        gall ychydig bunnoedd y mis dyfu! </p></div><p>Y ffordd hawsaf o gynilo''n
        llwyddiannus yw trefnu eich bod yn ychwanegu ychydig yn awtomatig at eich
        cynilion bob mis. Drwy wneud hynny, ni fydd yn rhaid i chi gofio gwneud y
        taliad ac ni chewch eich temtio i fethu mis. Cyn pen dim, byddwch wedi tyfu
        swm sylweddol o gynilion; er enghraifft, un ffordd i arbed treth yn effeithlon
        yw trwy ISA arian parod. </p><p>Un o\u2019r ffyrdd cyflymaf i wneud hyn yw
        trefnu archeb sefydlog (taliad rheolaidd) o gyfrif cyfredol banc i mewn i''ch
        dewis gyfrif cynilo. </p><p><div class=\"add-action\"><a href=\"/en/articles/direct-debits-and-standing-orders\">Canfyddwch
        fwy am archebion sefydlog</a> <a href=\"#\" class=\"action-email\" data-action-id=\"\"
        data-article-id=\"direct-debits-and-standing-orders\" data-article-type=\"guide\"
        id=\"email_me_direct-debits-and-standing-orders\" tabindex=\"0\">E-bostio
        hwn <span class=\"visuallyhidden\">dudalen</span></a><form action=\"/cy/action_items/internal?article_id=direct-debits-and-standing-orders&amp;article_type=guide\"
        class=\"action-form\" data-remote=\"true\" data-resource-path=\"/cy/action_items/internal?article_id=direct-debits-and-standing-orders&amp;article_type=guide\"
        method=\"post\" name=\"guide_direct-debits-and-standing-orders\"><div><input
        class=\"action-submit\" data-action-event=\"add\" tabindex=\"0\" type=\"submit\"
        value=\"Ychwanegu i&#x27;m rhestr tasgau i&#x27;w cyflawni\" /><input name=\"authenticity_token\"
        type=\"hidden\" value=\"dezSzDwLOSa5dSl6AvgcaGDP+UsaAQyxq1KcOIEp214=\" /></div></form>
        </div></p><h2>Gwnewch ef ar ddiwrnod cyflog </h2><p>Yr amser gorau i roi arian
        o''r neilltu yw yn syth ar \u00f4l i chi gael eich talu, felly trefnwch eich
        archeb sefydlog i fynd allan ar, neu''n syth wedi, diwrnod cyflog. </p><p>Neu
        gofynnwch i''ch gweithle a oes ganddynt gynllun cynilo - ac ystyriwch ymuno
        ag ef os felly. Mae hyn yn [...]
