---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/cy/action_plans/rhoi-hwb-ich-pensiwn-yn-agos-at-eich-ymddeoliad.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/action_plans/boost-your-pension-near-retirement>
        rel="alternate"; hreflang="en"; title="Action plan - Boost your pension near
        retirement"
      X-Session-Id:
      - 3b8f4fcc07b47580a496fe2e18255742
    body:
      encoding: UTF-8
      string: '{"id":"rhoi-hwb-ich-pensiwn-yn-agos-at-eich-ymddeoliad","title":"Cynllun
        gweithredu - Rhoi hwb i\u2019ch pensiwn yn agos at eich ymddeoliad","description":"Cyngor
        ymarferol ar sut i gynyddu eich cynllun pensiwn gan gynnwys gohirio eich ymddeoliad
        a thalu rhagor i\u2019ch cynllun pensiwn.","body":"<p class=\"intro\"><img
        alt=\"Cynllun gweithredu - Sut i agor cyfrif banc\" src=\"/images/new_action_plan_icon.jpg\"/>Agosaf
        yn y byd ydych chi at ymddeol, lleiaf yn y byd o gyfle sydd gennych o ran
        llenwi unrhyw fwlch yn eich cynilion pensiwn. Ond efallai bod rhai camau y
        gallwch eu cymryd i helpu creu\u2019r math o incwm yr ydych yn gobeithio ymddeol
        arno. </p><div class=\"action-item\"><h3>1 Talu mwy i\u2019ch cronfa bensiwn
        </h3><div class=\"collapsable\"><div class=\"why\"><h4>Pam? </h4><p>Gall gostyngiad
        yn y dreth ychwanegu llawer at unrhyw gyfraniadau ychwanegol y byddwch yn
        eu gwneud cyn ymddeol. Mae hyn yn arbennig o wir os ydych yn talu Treth Incwm
        cyfradd uwch. </p></div><div class=\"how\"><h4>Sut? </h4><ul><li><a href=\"https://www.moneyadviceservice.org.uk/cy/articles/ffyrdd-o-gynyddu-eich-pensiwn-wrth-ich-ymddeoliad-agosau\">Darllenwch
        ein herthygl Ffyrdd o roi hwb i\u2019ch pensiwn cyn i chi ymddeol</a></li></ul><p>Cysylltwch
        \u00e2 darparwr eich cynllun pensiwn i holi am gynyddu eich cyfraniadau </p><ul><li><a
        href=\"https://www.moneyadviceservice.org.uk/cy/articles/gostyngiad-treth-ar-gyfraniadau-pensiwn\">Sylwer
        bod cyfyngiad blynyddol ar y cyfraniadau a fydd yn g[...]
