<header id="headerSite">
  <nav id="navSite">
    <div class="brand">
      <a href="/">
        <img src="/svg/rainbow2.svg" alter=""/>
        <img src="/svg/text2.svg" alt="the money advice service"/>
      </a>
    </div>

    <div id="navSite-mini">
      <a class="mini-nav do-toggle" data-toggle-group="navSite-mini" href="#navSite-topics" data-toggle-text="<i></i>">
        <i><em>Menu</em></i>
      </a>
      <a class="mini-search do-toggle" data-toggle-anim="false" data-toggle-group="navSite-mini" href="#navSite-search" title="search" data-toggle-text="<i></i>">
        <i><span>Search </span> </i>
      </a>
    </div>

    <form action="/search" method="get" id="navSite-search">
      <label class="accessibleHide">Search for something exciting</label>
      <input class="typeahead" name="query" type="text" placeholder="Ask MA.."/>
      <button class="" type="submit">Search</search>
    </form>
  </nav>
</header>

<div class="outer outerNav">
  <div class="wrap">

    <ul id="navSite-topics">
      <li class="home">
        <a href="/"><span class="icon-home"></span><!--img src="/img/icon-home.png" alt="Home" class="svg" /--></a>
      </li>

      <li>
        <a class="do-toggle" href="/categories/life-events" data-toggle-group="navSite">Life events<i></i></a>

        <ul class="is-toggleTarget">
          <li><a href="/categories/young-people-and-money">Leaving school or college</a></li>
          <li><a href="/categories/setting-up-home">Setting up home</a></li>
          <li><a href="/categories/having-a-baby">Having a baby</a></li>
          <li><a href="/categories/losing-your-job">Losing your job</a></li>
          <li><a href="/categories/becoming-ill-or-disabled">Becoming ill or disabled </a></li>
          <li><a href="/categories/divorce-and-separation">Divorce and separation</a></li>
          <li><a href="/categories/retirement">Retirement</a></li>
          <li><a href="/categories/long-term-care">Long-term care</a></li>
          <li><a href="/categories/when-someone-dies">When someone dies</a></li>
        </ul>
      </li>

      <li>
        <a class="do-toggle" href="/categories/managing-your-money" data-toggle-group="navSite">Managing your
          money<i></i></a>

        <ul class="is-toggleTarget">
          <li><a href="/categories/managing-your-money-better">Managing your money better</a></li>
          <li><a href="/categories/how-to-review-or-reduce-borrowing">How to review or reduce borrowing</a></li>
          <li><a href="/categories/money-saving-tips">Money saving tips</a></li>
          <li><a href="/categories/universal-credit-and-other-benefits">Universal Credit and other benefits</a></li>
          <li><a href="/categories/work-and-money">Work and money</a></li>
          <li><a href="/categories/bank-accounts-and-credit-or-debit-cards">Bank accounts and credit or debit cards</a>
          </li>
          <li><a href="/categories/scams-and-identity-theft">Scams and identity theft</a></li>
          <li><a href="/categories/money-complaints-and-compensation">Money complaints and compensation</a></li>
          <li><a href="/categories/financial-help-and-advice">Financial help and advice</a></li>
          <li><a href="/categories/help-someone-else-with-money">Help someone else with money</a></li>
          <li><a href="/categories/wills-and-estate-planning">Wills and estate planning</a></li>
        </ul>
      </li>

      <li>
        <a class="do-toggle" href="/categories/money-topics" data-toggle-group="navSite">Money topics<i></i></a>

        <ul class="is-toggleTarget">
          <li><a href="/categories/saving-and-investing">Saving and investing</a></li>
          <li><a href="/categories/borrowing-money">Borrowing money</a></li>
          <li><a href="/categories/managing-debt">Debt management</a></li>
          <li><a href="/categories/homes-and-mortgages">Homes and mortgages</a></li>
          <li><a href="/categories/insurance">Insurance</a></li>
          <li><a href="/categories/pensions-and-retirement">Pensions and retirement</a></li>
        </ul>
      </li>

      <li>
        <a class="do-toggle" href="/categories/tools--resources" data-toggle-group="navSite">Tools &amp;
          resources<i></i></a>

        <ul class="is-toggleTarget">
          <li><a href="/categories/budget-planner">Budget planner</a></li>
          <li><a href="/categories/health-check">Money Health Check</a></li>
          <li><a href="/categories/action-plans">Action plans</a></li>
          <li><a href="/categories/calculators">Calculators</a></li>
          <li><a href="/categories/comparison-tables">Comparison tables</a></li>
          <li><a href="/categories/letter-templates">Letter templates</a></li>
          <li><a href="/categories/order-forms">Order forms</a></li>
          <li><a href="/categories/free-printed-guides">Free printed guides</a></li>
          <li><a href="/categories/videos">Videos</a></li>
          <li><a href="/categories/workplace-pension-advice-tool">Workplace pension advice tool</a></li>
          <li><a href="/categories/interactive-timelines">Interactive timelines</a></li>
        </ul>
      </li>

      <li>
        <a href="/news">News &amp; features</a>
      </li>

    </ul>
  </div>
</div>
