<div class="central_search-beta">
  <div class="central_search-beta__content">  
    <div class="central_search-beta__headline">
      Free and impartial money advice, set up by government
    </div>
    <div class="central_search-beta__search-box">
      <%= render 'shared/home_beta/search_beta' %>
    </div> 
  </div>
</div>
