<% lang = 'cy' %>

<div class="leader" data-component="leader">
  <div class="leader__content leader__content--<%= lang %>">
    <%= image_tag("hero/hero-image-mobile-#{lang}-#{rand(3)}.png", class: 'leader__content-mobile-image').html_safe %>
  </div>
</div>
