---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?page_number=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - ef2994ecd6aa19a5bfb701b4df7771cb
    body:
      encoding: UTF-8
      string: '[{"id":"10-worst-ways-to-waste-your-hard-earned-cash","title":"10 worst
        ways to waste your hard-earned cash","description":"No one has money to burn,
        so it makes sense to avoid spending more than you need to on financial products
        and services.","body":"<p class=\"intro\"> No one has money to burn, so it
        always makes sense to steer clear of unnecessary spending. We\u2019ve put
        together a list of 10 things to avoid if you want to cut your overheads. </p><p
        class=\"intro\">It\u2019s unlikely you\u2019ll be able to make all the savings
        mentioned here, but if you did you could save yourself more than \u00a36,000
        a year. </p><h2>1.\u00a0\u00a0\u00a0\u00a0Paying your energy bill by cash
        or cheque </h2><p>No one wants to pay more for their energy than they have
        to, yet according to <em>Which?</em> paying by cash or cheque costs \u00a392
        more on average than paying by direct debit. </p><p>Energy companies tend
        to offer a cheaper tariff if you set up a monthly payment plan.\u00a0\u00a0If
        you''re worried you''ll end up paying too much,\u00a0you can read your meter
        regularly and often provide your supplier with the figures to help keep you
        on track.\u00a0\u00a0 </p><p>Read our guide <a title=\"Save money on your
        bills\" target=\"_bla[...]
