---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?page_number=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 0fd9726334dfcfe16450a14f34552cf8
    body:
      encoding: UTF-8
      string: '[{"id":"students-turn-to-parents-rather-than-work-to-meet-money-shortfalls","title":"Students
        turn to parents rather than work to meet money shortfalls","description":"More
        students are relying on their parents for cash rather than work to see them
        through their studies.","body":"<p class=\"intro\">More students are relying
        on their parents for cash rather than work to see them through their studies.
        </p><p>According to this year\u2019s <a title=\"student money survey\" target=\"_blank\"
        href=\"http://www.savethestudent.org/money/student-money-survey-results.html\">National
        Student Money Survey</a> by Save the S[...]
