---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?page_number=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 15dce44d8303c24fab3b9c0c79562131
    body:
      encoding: UTF-8
      string: '[{"id":"disability-benefit-changes-need-a-rethink","title":"Disability
        benefit changes ''need a rethink\u2019","description":"Thousands of disabled
        people could lose some benefits because of changes to the new system of Personal
        Independence Payments, a campaign group has warned","body":"<p><strong> Date
        published: 13 January 2013\u00a0</strong></p><p class=\"intro\">Thousands
        of disabled people could lose some benefits because of changes to the new
        system of Personal Independence Payments, a campaign group has warned. </p><p>According
        to We Are Spartacus, tougher rules that assess how far a person can walk means
        many claimants will lose help with transport from April. </p><p>Under the
        new rules, those unable to walk more than 20 metres would be eligible, rather
        than the previous distance of 50 metres used as a qualifier for Disability
        Living Allowance (DLA). </p><p>About 3.2 million people receive DLA, a payment
        of between \u00a320.55 and \u00a3131.50 a week to help them in leading independent
        lives. </p><p>The move is to Personal Independence Payments is being taken
        by the Department of Work and Pensions in a bid to bring the benefit up to
        date and make it much clearer. </p><p>It claims that a similar number of people
        currently under DLA will be entitled to extra mobility help. </p><p><strong>Do
        you have mobility issues? <a title=\"action plan\" href=\"https://www.moneyadviceservice.org.uk/en/action_plans/find-out-what-benefits-you-qualify-for\">Take
        our Action plan - Find out what benefits you qualify for</a></strong>. </p><p><em>Photo
        credit: PA\u00a0</em></p>","date":"2013-01-16T12:12:27+00:00"},{"id":"nine-million-relying-on-a-windfall-to-fund-retirement","title":"Nine
        million relying on a windfall to fund retirement","description":"More than
        nine million workers \u2013 almost one in five of the population \u2013 are
        relying on some sort of windfall to fund their retirement years, according
        to new findings from LV=","body":"<p><strong> Date published: 14 January 2013</strong></p><p
        class=\"intro\">More than nine milli[...]
