---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - b7fede1a19aaa3b7223d710b2fba28de
    body:
      encoding: UTF-8
      string: '[{"id":"over-gbp10-billion-worth-of-unworn-clothes-in-british-women\u2019s-wardrobes-22012014","title":"Over
        \u00a310 billion worth of unworn clothes in British women\u2019s wardrobes","description":"An
        estimated \u00a310 billion pounds worth of clothes lie unloved and unworn
        in British women\u2019s wardrobes, left over from shopping sprees and Saturday
        afternoons on the UK\u2019s high streets.","body":"<p class=\"intro\">An estimated
        \u00a310 billion pounds worth of clothes lie unloved and unworn in British
        women\u2019s wardrobes, left over from shopping sprees and Saturday afternoons
        on the UK\u2019s high streets. </p><p>That\u2019s according to findings of
        a survey released by VestiaireCollective.com. </p><p>The study of over 1,000
        adults also shows four out of five women have items that haven\u2019t been
        worn for over a year \u2013 with one fifth of their wardrobe collecting dust.
        </p><p>Over one in three women admits they don''t know everything that''s
        in their wardrobe or have also stopped wearing some of their clothes because
        they have put on weight and they no longer fit. </p><p>The average value of
        a woman\u2019s wardrobe - clothes, handbags and accessories - is \u00a31,909,
        the value of the contents rising with age: 18-24 year olds typically have
        wardrobes worth \u00a31,495, with those aged 55 and over valued at \u00a32,232.
        </p><p><em>\u201cIt is sad to see so many once loved items lying unworn in
        women\u2019s wardrobes. Clean and well-kept branded items will sell in a few
        days and will give the seller extra money to spend on something that won\u2019t
        be forgotten or will actually fit,\u201d</em> said Fanny Moizant, from Vestiaire
        Collective. </p><p>If you plan on selling unwanted stuff, do your research
        online to see what\u2019s selling. </p><p><a data-type=\"action\" href=\"/en/tools/quick-cash-finder\">Feel
        you are spending too much generally? Use our Quick cash finder to see where
        you could be making savings</a></p><p><em>Photo: PA. </em></p>","date":"2015-04-16T09:19:26+00:00"},{"id":"creating-the-purrfect-christmas-\u2013-have-you-spent-on-your-pets-this-festive-season","title":"Creating
        the purrfect Christmas \u2013 have you spent on your pets this festive season?","description":"Christmas
        can be an expensive time of year and the costs can quickly add up. But are
        you factoring your furry friends into your Christmas spend?","body":"<p class=\"intro\">Christmas
        can be an expensive time of year and the costs can quickly add up. According
        to the Money Advice Service\u2019s annual Christmas spending survey, the average
        Brit will be spending around \u00a3218 on presents this year. But are you
        factoring your furry friends into your Christmas spend? </p><p>Pet owners
        are set to spend an average of \u00a334.63 on their cats and dogs at Christmas
        \u2013 resulting in a collective festive spend of more than \u00a3739m, according
        to a survey by Sainsbury\u2019s Pet Insurance. </p><p>The survey also revealed
        you are more likely to pamper your pooch, with dogs receiving an average of
        \u00a323.22 worth of presents, and 74% of dog owners planning to get their
        dog a gift; compared to \u00a317.48 per cat and 63% of cat owners expecting
        to splash the cash. </p><p>A generous five per cent of cat owners and six
        per cent of dog owners will spend more than \u00a350 on their pet. </p><h2>Keeping
        Christmas costs under control </h2><p>To make sure you don\u2019t end up with
        a Christmas spending calamity, making a list of everything you expect to spend
        on Christmas \u2013 including your pets - and sticking to it can really help
        you keep an eye on your finances. </p><p> Using our <a title=\"Quick cash
        finder\" href=\"/en/tools/quick-cash-finder\">Quick cash finder</a> can help
        you see where you can make snips to your spending, and take[...]
