---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=53
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 708068d23336c4156c303376a48fabce
    body:
      encoding: UTF-8
      string: '[{"id":"money-advice-service-consults-on-improving-debt-advice-in-uk","title":"Money
        Advice Service consults on improving debt advice in the UK","description":"The
        Money Advice Service has begun a 12 week consultation on quality standards
        within the debt advice sector in the UK","body":"<p><strong> Date published:
        19 December 2012\u00a0</strong></p><p class=\"intro\">The Money Advice Service
        has begun a 12 week consultation on quality standards within the debt advice
        sector in the UK. </p><p>We took on responsibility for the co-ordination of
        the sector earlier in 2012, with a remit to improve the accessibility, quality
        and consistency of debt advice. </p><p>The quality of debt advice is recognised
        to vary across the country and the new consu[...]
