---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - e139fb43489623b50968b93511a438e8
    body:
      encoding: UTF-8
      string: '[{"id":"think-twice-before-taking-out-these-financial-products","title":"Think
        twice before taking out these financial products","description":"There are
        many financial products that might seem appealing at first but are less so
        when you dig a little deeper. Here\u2019s a selection of goods you might want
        to avoid","body":"<p class=\"intro\"> As if life wasn\u2019t difficult enough,
        there are numerous financial products that might seem good on first viewing
        but are less appealing when you dig a little deeper. Here\u2019s a selection
        of goods you might want to avoid, unless you are sure you\u2019ll enjoy the
        benefits. </p><h2>Mobile phone insurance </h2><p>Mobile phone insurance could
        be a waste of money if you don\u2019t have a history of losing your handset
        or your phone is cheap. That\u2019s because mobile phone cover can cost anything
        from \u00a316 to \u00a3300 a year. </p><p>However, it may be worth considering
        if you have an expensive phone or are locked into a long-term contract. If
        you couldn''t afford to replace your phone without insuring it, consider starting
       [...]
