---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 9cd4dbd1ee9eaf9b3d443cff2d43a35c
    body:
      encoding: UTF-8
      string: '[{"id":"how-haggling-when-buying-a-second-hand-car-can-pay-dividends","title":"How
        haggling when buying a second-hand car can pay dividends","description":"Haggling
        over a used car? Six out of ten owners said their wallets preferred it","body":"<p
        class=\"intro\"> Haggling over the price you''re being asked to pay might
        not seem like a very British thing to do. But it seems when it comes to buying
        a second-hand car most of us aren\u2019t afraid to try to beat down a price
        to get the best deal. </p><p>New research by the Money Advice Service into
        buying a used car shows eight out of 10 of people who bought a car in the
        past year tried to negotiate a discount when buying. </p><p>And more than
        six in 10 people got some money off the price - men fared slightly better
        than women, with 67% bagging a discount compared to 60%. </p><p>If you\u2019re
        new to the art of haggling, don\u2019t be daunted. Use our advice to get the
        best price for your next car. </p><h2>Know your Saab from your Seat </h2><p>If
        you don\u2019t know which car you are after do your research. Start looking
        at cars on the road, at your local car dealers, and in car magazines and motoring
        websites. </p><p>Even if you are after a particular model, set yourself a
        budget for what you can afford to pay. Don''t forget to look at running costs.
        </p><p>Visit our <a title=\"Car costs calculator\" target=\"_blank\" href=\"https://www.moneyadviceservice.o[...]
