---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - a4bbc428f01cf8525ba820f6d087bf7a
    body:
      encoding: UTF-8
      string: '[{"id":"two-thirds-struggle-to-repay-their-payday-loan","title":"Two-thirds
        of users of our Payday loans tool struggle to repay","description":"Stats
        from our payday loans tool shows you should look for alternatives now, rather
        than wait for new rules","body":"<p class=\"intro\">Payday loans could be
        capped so people never have to pay back more than double the amount borrowed.
        The daily interest rate could be capped at 0.8% while any default fees would
        be limited to \u00a315, cutting back how much people could end up owing. </p><p>The
        Financial Conduct Authority (FCA), who regulate the fi[...]
