---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=52
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 5c45a0f31aed6deed201e84a2e38adc0
    body:
      encoding: UTF-8
      string: '[{"id":"energy-bills-for-elderly-have-doubled-since-2005","title":"Energy
        bills for elderly have doubled since 2005","description":"Energy bills for
        the elderly have doubled since 2005, according to new research","body":"<p><strong>Date
        published: 11 January 2013</strong>\u00a0\u00a0 </p><p class=\"intro\">Energy
        bills for the over-65s have doubled since 2005, according to new findings
        from Saga. </p><p>Together, the UK\u2019s 12.85 million pensioners spent a
        staggering \u00a317.4 billion on electricity and fuel bills in 2012. </p><p>Saga
        claims that this demonstrates the alarming rate at which energy prices have
        been increasing in recent years. </p><p>Many energy providers increased prices
        in late 2012 and further price increases are due this month (January 2013)
        from more companies. </p><p>Saga\u2019s findings show that the portion of
        income spent by over 50s on fuel has increased at a faster rate than for the
        rest of the population meaning that these price increases pose even more of
        a financial issue for this demographic. </p><p>Recent research amongst 8,500
        people over 50 from Saga has shown that almost three in five are worrying
        about the costs of heating their homes this winter and more than one in three
        are already struggling with heating bills. </p><p><a data-type=\"action\"
        hreflang=\"en\" href=\"/content/guides/help-with-fuel-costs\">Struggling with
        your fuel bills? Read our guide Help with fuel costs</a><br/><em>Photo credit:
        PA</em></p>","date":"2013-01-16T12:11:52+00:00"},{"id":"boost-in-brand-new-car-sales","title":"Boost
        in brand new car sales","description":"Car buyers fork out for new fuel-efficient
        vehicles in four-year sales high due to long-term savings","body":"<p><strong>Date
        published: 10 January 2013\u00a0</strong>\u00a0 </p><p class=\"intro\">New
        car sales in the UK have reached a four-year high thanks to fuel-efficient
        models, says a car industry body.</p><p>The Society of Motor Man[...]
