---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - 84f043ece1d3b2673dfdd8a75cc02d2b
    body:
      encoding: UTF-8
      string: '[{"id":"buying-a-car-uks-most-reliable-cars-revealed-in-new-survey","title":"Buying
        a car? UK''s most reliable cars revealed in new survey","description":"Which?
        Car Survey unveils its 2014 winners in eight categories","body":"<p class=\"intro\">Which?
        Car Survey, the UK''s biggest round-up of car reliability and satisfaction,
        has unveiled its 2014 winners in eight categories. </p><p>This year, more
        than 49,000 car owners reported back on 58,055 cars and Which? Car rated 283
        models on durability, breakdowns, faults and time off the road. </p><p>The
        Citro\u00ebn C1 supermini, which has just been replaced by a new model, was
        the most reliable new car of 2014, with a reliability rating of 99.3% for
        the first three years. </p><p>The Toyota Avensis was the most reliable car
        over three years old, with a score of 97% </p><p>BMW and Toyota took joint
        manufacturer honours - both coming top in two of the eight car classes. </p><h2>Most
        reliable cars in each class </h2><p><strong>Superminis</strong>: Citro\u00ebn
        C1 (2005-2014, petrol versions) 99.3% </p><p><strong>Medium cars: </strong>Toyota
        Auris (2012-) 98.8% </p><p><strong>Large cars:</strong> Skoda Octavia (2013-)
        98.7% </p><p><strong>Luxury cars:</strong> Mercedes-Benz E-class (2009-) 94.5%
        </p><p><strong>Estate cars:</strong> BMW 3 Series Touring (2012-) 96.6% </p><p><strong>MPVs:
        </strong>Toyota Verso (2009-) 98.5% </p><p><strong>4x4s/SUVs:</strong> Honda
        CR-V (201[...]
