---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/news.json?limit=10&page_number=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Session-Id:
      - e0b803c5f8a0450ca770dc20999ead39
    body:
      encoding: UTF-8
      string: '[{"id":"10-easy-ways-to-cut-your-train-fare","title":"10 easy ways
        to cut your train fares","description":"We show you how to save by rail","body":"<p>It
        can sometimes be cheaper to get the train to Paris than to Leeds. But a few
        simple tricks should help cut the price of travelling by train in the UK.
        </p><p>We show you exactly how much ten tricks reduce prices on different
        routes. Next time you book a ticket, try them out to see what you can save.
        </p><h2>1)\u00a0\u00a0\u00a0\u00a0Big savings when you buy in advance </h2><p>Travelling
        from London to Manchester between 5pm and 6pm can be expensive. Buying your
        ticket on the day would cost you \u00a3160.50. </p><p>Buy it four weeks ahead
        and the same trains were \u00a3113. And if you can plan three months in advance,
        the lowest fare is \u00a335.50. </p><p><strong>So on this route, booking three
        months in advance would SAVE \u00a3125. </strong></p><h2>2)\u00a0\u00a0\u00a0\u00a0Lower
        the price by going later </h2><p>Just by taking the train three hours later
        on the same London to Manchester route, you could get a ticket for \u00a378.70
        (on the day) or \u00a312.50 (three months in advance). </p><p><strong>That\u2019s
        a SAVING of \u00a381.80 on the day.</strong></p><h2>3)\u00a0\u00a0\u00a0\u00a0Split
        your ticke[...]
