<body>
  <ul>
    <li class="category-filter__list-item"><a href="#first">All</a></li>
    <li class="category-filter__list-item"><a href="#first">First</a></li>
    <li class="category-filter__list-item"><a href="#second">Second</a></li>
  </ul>

  <section>
    <h2 id="first" class="category-detail__heading">First</h2>
    <div class="category-detail__content">content</div>
  </section>

  <section>
    <h2 id="second" class="category-detail__heading">Second</h2>
    <div class="category-detail__content">content</div>
  </section>
</body>
