<body>
  <style>
    .collapsible-section {
      display:block;
      min-height:20px;
      background:red;
    }
    .is-on.collapsible-section {display:block;}
    .is-off.collapsible-section {display:none;}
  </style>

  <section>
    <h1>Basic Tests</h1>
    <h2 id="toggleButton1" class="collapsible">Trigger 1</h2>
    <div id="toggleTarget1" class="collapsible-section">
      <p>Target content 1</p>
    </div>

    <h2 id="toggleButton2" class="collapsible is-off">Trigger 2</h2>
    <div id="toggleTarget2" class="collapsible-section is-off">
      <p>Target content 2</p>
    </div>

    <h2 class="collapsible">Trigger 3</h2>
    <div class="collapsible-section">
      <p>Target content 3</p>
    </div>

    <h2 class="collapsible">Trigger 4</h2>
    <div class="collapsible-section">
      <p>Target content 4</p>
    </div>
  </section>

  <section>
    <h1>Options test</h1>

    <ul id="optionsTest">
      <li>
        <a href="#1">trigger</a>
        <ul>
          <li><a href="#11">link</a></li>
        </ul>
      </li>
      <li>
        <a href="#2">trigger</a>
        <ul>
          <li><a href="#22">link</a></li>
        </ul>
      </li>
      <li>
        <a href="#3">trigger</a>
        <ul>
          <li><a href="#33">link</a></li>
        </ul>
      </li>
      <li>
        <a href="#4">trigger</a>
        <ul>
          <li><a href="#44">link</a></li>
        </ul>
      </li>
    </ul>

  </section>
  
</body>