<body>
  <style>
  </style>

  <h2 id="toggleButton1" class="collapsible">Bank of Ireland UK: Basic Cash Account</h2>

  <div id="toggleTarget1" class="collapsible-section">
    <p><strong>You must provide one original document from each of the lists below.</strong></p>
    <table class="datatable-default">
      <thead>
      <tr>
        <td width="50%"><strong>Proof of identity</strong></td>
        <td width="50%"><strong>Proof of address</strong></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Full valid signed passport</td>
        <td>UK photo card driving licence (full or provisional) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>Current UK or EU national identity card (with photograph)</td>
        <td>UK paper driving licence (full only) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>Current electoral identity card for Northern Ireland (Northern Ireland only)</td>
        <td>EU/USA/Canadian/Australian photo card driving licence (full only) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>UK photo card driving licence (full or provisional)</td>
        <td>Bank, building society, mortgage, credit union, Post Office account or credit card statement dated within the
          last six months
        </td>
      </tr>
      <tr>
        <td>UK paper driving licence (full only)</td>
        <td>Utility bill, utility final demand and reminders (not mobile phone) dated within the last six months</td>
      </tr>
      <tr>
        <td>EU/USA/Canadian/Australian photo card driving licence (full only)</td>
        <td>Council Tax (or rates) bill or payment book dated within the last 12 months</td>
      </tr>
      <tr>
        <td>Current firearms certificate</td>
        <td>DWP/Benefits agency/Northern Ireland Housing Executive notification letter confirming your current right to
          benefits or State Pension dated within the last six months
        </td>
      </tr>
      <tr>
        <td>Student identification/matriculation card from a recognised university or college (students only, must show
          date of birth and/or address) valid for the current academic year
        </td>
        <td>HMRC correspondence eg Tax Coding Notice (P60 and P45 not accepted) dated within the last six months</td>
      </tr>
      <tr>
        <td>Trans-link Smart &amp; Senior Smart Pass for customers over 60 (Northern Ireland only)</td>
        <td>Original vehicle registration document</td>
      </tr>
      <tr>
        <td></td>
        <td>Motor insurance certificate/schedule dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Motor tax correspondence dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Current tenancy agreement or rent card from a local council or housing association</td>
      </tr>
      <tr>
        <td></td>
        <td>Solicitor’s letter confirming recent house purchase or Land Registry confirmation (previous address should be
          verified) dated within the last three months
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Home insurance certificate/schedule dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Electoral register (not electoral identity card)</td>
      </tr>
      <tr>
        <td></td>
        <td>Letter from college or university confirming your student status and address. This applies to student bank
          accounts only where level 2 EDD or above is required
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Accession-state workers Registration Card issued by the Home office (only when you are using a full valid
          signed passport for proof of identity) dated within the last six months
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Certificate from a supplier of utilities confirming the arrangement to pay for the services on prepayment
          terms
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Credit reference agency search (only with consent, and not for people under 18 years of age)</td>
      </tr>
      </tbody>
    </table>
  </div>


  <h2 class="collapsible">Bank of Ireland UK: Basic Cash Account</h2>

  <div class="collapsible-section">
    <p><strong>You must provide one original document from each of the lists below.</strong></p>
    <table class="datatable-default">
      <thead>
      <tr>
        <td width="50%"><strong>Proof of identity</strong></td>
        <td width="50%"><strong>Proof of address</strong></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Full valid signed passport</td>
        <td>UK photo card driving licence (full or provisional) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>Current UK or EU national identity card (with photograph)</td>
        <td>UK paper driving licence (full only) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>Current electoral identity card for Northern Ireland (Northern Ireland only)</td>
        <td>EU/USA/Canadian/Australian photo card driving licence (full only) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>UK photo card driving licence (full or provisional)</td>
        <td>Bank, building society, mortgage, credit union, Post Office account or credit card statement dated within the
          last six months
        </td>
      </tr>
      <tr>
        <td>UK paper driving licence (full only)</td>
        <td>Utility bill, utility final demand and reminders (not mobile phone) dated within the last six months</td>
      </tr>
      <tr>
        <td>EU/USA/Canadian/Australian photo card driving licence (full only)</td>
        <td>Council Tax (or rates) bill or payment book dated within the last 12 months</td>
      </tr>
      <tr>
        <td>Current firearms certificate</td>
        <td>DWP/Benefits agency/Northern Ireland Housing Executive notification letter confirming your current right to
          benefits or State Pension dated within the last six months
        </td>
      </tr>
      <tr>
        <td>Student identification/matriculation card from a recognised university or college (students only, must show
          date of birth and/or address) valid for the current academic year
        </td>
        <td>HMRC correspondence eg Tax Coding Notice (P60 and P45 not accepted) dated within the last six months</td>
      </tr>
      <tr>
        <td>Trans-link Smart &amp; Senior Smart Pass for customers over 60 (Northern Ireland only)</td>
        <td>Original vehicle registration document</td>
      </tr>
      <tr>
        <td></td>
        <td>Motor insurance certificate/schedule dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Motor tax correspondence dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Current tenancy agreement or rent card from a local council or housing association</td>
      </tr>
      <tr>
        <td></td>
        <td>Solicitor’s letter confirming recent house purchase or Land Registry confirmation (previous address should be
          verified) dated within the last three months
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Home insurance certificate/schedule dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Electoral register (not electoral identity card)</td>
      </tr>
      <tr>
        <td></td>
        <td>Letter from college or university confirming your student status and address. This applies to student bank
          accounts only where level 2 EDD or above is required
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Accession-state workers Registration Card issued by the Home office (only when you are using a full valid
          signed passport for proof of identity) dated within the last six months
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Certificate from a supplier of utilities confirming the arrangement to pay for the services on prepayment
          terms
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Credit reference agency search (only with consent, and not for people under 18 years of age)</td>
      </tr>
      </tbody>
    </table>
  </div>


  <h2 class="collapsible">Bank of Ireland UK: Basic Cash Account</h2>

  <div class="collapsible-section">
    <p><strong>You must provide one original document from each of the lists below.</strong></p>
    <table class="datatable-default">
      <thead>
      <tr>
        <td width="50%"><strong>Proof of identity</strong></td>
        <td width="50%"><strong>Proof of address</strong></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Full valid signed passport</td>
        <td>UK photo card driving licence (full or provisional) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>Current UK or EU national identity card (with photograph)</td>
        <td>UK paper driving licence (full only) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>Current electoral identity card for Northern Ireland (Northern Ireland only)</td>
        <td>EU/USA/Canadian/Australian photo card driving licence (full only) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>UK photo card driving licence (full or provisional)</td>
        <td>Bank, building society, mortgage, credit union, Post Office account or credit card statement dated within the
          last six months
        </td>
      </tr>
      <tr>
        <td>UK paper driving licence (full only)</td>
        <td>Utility bill, utility final demand and reminders (not mobile phone) dated within the last six months</td>
      </tr>
      <tr>
        <td>EU/USA/Canadian/Australian photo card driving licence (full only)</td>
        <td>Council Tax (or rates) bill or payment book dated within the last 12 months</td>
      </tr>
      <tr>
        <td>Current firearms certificate</td>
        <td>DWP/Benefits agency/Northern Ireland Housing Executive notification letter confirming your current right to
          benefits or State Pension dated within the last six months
        </td>
      </tr>
      <tr>
        <td>Student identification/matriculation card from a recognised university or college (students only, must show
          date of birth and/or address) valid for the current academic year
        </td>
        <td>HMRC correspondence eg Tax Coding Notice (P60 and P45 not accepted) dated within the last six months</td>
      </tr>
      <tr>
        <td>Trans-link Smart &amp; Senior Smart Pass for customers over 60 (Northern Ireland only)</td>
        <td>Original vehicle registration document</td>
      </tr>
      <tr>
        <td></td>
        <td>Motor insurance certificate/schedule dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Motor tax correspondence dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Current tenancy agreement or rent card from a local council or housing association</td>
      </tr>
      <tr>
        <td></td>
        <td>Solicitor’s letter confirming recent house purchase or Land Registry confirmation (previous address should be
          verified) dated within the last three months
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Home insurance certificate/schedule dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Electoral register (not electoral identity card)</td>
      </tr>
      <tr>
        <td></td>
        <td>Letter from college or university confirming your student status and address. This applies to student bank
          accounts only where level 2 EDD or above is required
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Accession-state workers Registration Card issued by the Home office (only when you are using a full valid
          signed passport for proof of identity) dated within the last six months
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Certificate from a supplier of utilities confirming the arrangement to pay for the services on prepayment
          terms
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Credit reference agency search (only with consent, and not for people under 18 years of age)</td>
      </tr>
      </tbody>
    </table>
  </div>


  <h2 class="collapsible">Bank of Ireland UK: Basic Cash Account</h2>

  <div class="collapsible-section">
    <p><strong>You must provide one original document from each of the lists below.</strong></p>
    <table class="datatable-default">
      <thead>
      <tr>
        <td width="50%"><strong>Proof of identity</strong></td>
        <td width="50%"><strong>Proof of address</strong></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Full valid signed passport</td>
        <td>UK photo card driving licence (full or provisional) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>Current UK or EU national identity card (with photograph)</td>
        <td>UK paper driving licence (full only) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>Current electoral identity card for Northern Ireland (Northern Ireland only)</td>
        <td>EU/USA/Canadian/Australian photo card driving licence (full only) when not used for proof of identity</td>
      </tr>
      <tr>
        <td>UK photo card driving licence (full or provisional)</td>
        <td>Bank, building society, mortgage, credit union, Post Office account or credit card statement dated within the
          last six months
        </td>
      </tr>
      <tr>
        <td>UK paper driving licence (full only)</td>
        <td>Utility bill, utility final demand and reminders (not mobile phone) dated within the last six months</td>
      </tr>
      <tr>
        <td>EU/USA/Canadian/Australian photo card driving licence (full only)</td>
        <td>Council Tax (or rates) bill or payment book dated within the last 12 months</td>
      </tr>
      <tr>
        <td>Current firearms certificate</td>
        <td>DWP/Benefits agency/Northern Ireland Housing Executive notification letter confirming your current right to
          benefits or State Pension dated within the last six months
        </td>
      </tr>
      <tr>
        <td>Student identification/matriculation card from a recognised university or college (students only, must show
          date of birth and/or address) valid for the current academic year
        </td>
        <td>HMRC correspondence eg Tax Coding Notice (P60 and P45 not accepted) dated within the last six months</td>
      </tr>
      <tr>
        <td>Trans-link Smart &amp; Senior Smart Pass for customers over 60 (Northern Ireland only)</td>
        <td>Original vehicle registration document</td>
      </tr>
      <tr>
        <td></td>
        <td>Motor insurance certificate/schedule dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Motor tax correspondence dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Current tenancy agreement or rent card from a local council or housing association</td>
      </tr>
      <tr>
        <td></td>
        <td>Solicitor’s letter confirming recent house purchase or Land Registry confirmation (previous address should be
          verified) dated within the last three months
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Home insurance certificate/schedule dated within the last 12 months</td>
      </tr>
      <tr>
        <td></td>
        <td>Electoral register (not electoral identity card)</td>
      </tr>
      <tr>
        <td></td>
        <td>Letter from college or university confirming your student status and address. This applies to student bank
          accounts only where level 2 EDD or above is required
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Accession-state workers Registration Card issued by the Home office (only when you are using a full valid
          signed passport for proof of identity) dated within the last six months
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Certificate from a supplier of utilities confirming the arrangement to pay for the services on prepayment
          terms
        </td>
      </tr>
      <tr>
        <td></td>
        <td>Credit reference agency search (only with consent, and not for people under 18 years of age)</td>
      </tr>
      </tbody>
    </table>
  </div>
  
</body>