<body>
  <style>
    .collapsible-section {
      display:block;
      min-height:20px;
      background:red;
    }
    .js-active.collapsible-section {display:none;}
  </style>

  <h2 id="toggleButton1" class="collapsible">Trigger 1</h2>
  <div id="toggleTarget1" class="collapsible-section">
    <p>Target content 1</p>
  </div>

  <h2 id="toggleButton2" class="collapsible js-active">Trigger 2</h2>
  <div id="toggleTarget2" class="collapsible-section js-active">
    <p>Target content 2</p>
  </div>

  <h2 class="collapsible">Trigger 3</h2>
  <div class="collapsible-section">
    <p>Target content 3</p>
  </div>

  <h2 class="collapsible">Trigger 4</h2>
  <div class="collapsible-section">
    <p>Target content 4</p>
  </div>
  
</body>