<body>
  <style>
    body {
      margin:0;
      padding:0;
      height:3000px;
    }
    .wp-container {
      position:absolute;
      top:0;
      height:3000px;
    }
  </style>

  <div class="wp-container">
    <h1>Test for scrollTracking</h1>
  </div>
</body>