<div class="l-profile">
  <div class="l-profile__intro">
    <h1 class="l-profile__intro__heading"><%= t('.heading', first_name_with_possession: singular_noun_possessive(current_user.first_name)) %></h1>
    <p class="intro"><%= t('.intro') %></p>
    <ul class="l-profile__intro__links list list--inline">
      <li><%= link_to t('.change_settings'), edit_user_registration_path %></li>
    </ul>
  </div>
  <div class="l-profile__tools">
    <%= render 'your_tools' %>
  </div>
</div>
