<h1>Styleguide</h1>

<%= styleguide_section @sections['buttons'] do %>
  <button class="button $modifier_class">Button (button.button)</button>
  <%= link_to 'Button (a.button)', '#', class: 'button $modifier_class' %>
<% end %>
