---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/articles/why-it-pays-to-save-regularly.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/articles/why-it-pays-to-save-regularly>
        rel="alternate"; hreflang="en-GB"; title="Why it pays to save regularly",
        <https://www.moneyadviceservice.org.uk/cy/articles/pam-bod-cynilon-rheolaidd-yn-talu-ffordd>
        rel="alternate"; hreflang="cy-GB"; title="Pam bod cynilo'n rheolaidd yn talu
        ffordd"
      X-Session-Id:
      - 6c16d5663b449936fbbc4be1d0e5cf72
    body:
      encoding: UTF-8
      string: '{"id":"why-it-pays-to-save-regularly","title":"Why it pays to save
        regularly","description":"A regular savings habit makes your savings grow
        fast \u2013 getting started is quick and easy","body":"<p class=\"intro\">If
        you save regularly, you\u2019ll quickly find that your savings add up and
        keep growing. Get into the habit and watch your money turn into more money.
        </p><h2>Make saving a habit </h2><iframe frameborder=\"0\" height=\"413\"
        width=\"680\" src=\"https://www.youtube.com/embed/M3Oe4n9ZRj4\">&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
        id=\"XinhaEditingPostion\"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
        id=\"XinhaEditingPostion\"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;span
        id=\"XinhaEditingPostion\"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
        </iframe><div class=\"callout\"><p>Getting into a regular savings habit is
        more important than how much you put away \u2013 you will be surprised how
        quickly a few pounds each month builds up! </p></div><p>The easiest way to
        get your savings working for you is to set things up so that you automatically
        add a little bit each month to your savings. That way you won\u2019t have
        to remember to make the payment and you won\u2019t be tempted to skip a month.
        Before you know it, you\u2019ll have built up a solid chunk of savings for
        example, one way of saving tax efficiently is through a Cash ISA. </p><p>One
        of the quickest way to do this is to set up a standing order (a regular payment)
        from a bank current account into your chosen savings account. </p><p><div
        class=\"add-action\"><a href=\"/en/articles/direct-debits-and-standing-orders\">Find
        out more about standing orders </a> <a href=\"#\" class=\"action-email\" data-action-id=\"\"
        data-article-id=\"direct-debits-and-standing-orders\" data-article-type=\"guide\"
        id=\"email_me_direct-debits-and-standing-orders\" tabindex=\"0\">Email this
        <span class=\"visuallyhidden\">page</span></a><form action=\"/en/action_items/internal?article_id=direct-debits-and-standing-orders&amp;article_type=guide\"
        class=\"action-form\" data-remote=\"true\" data-resource-path=\"/en/action_items/internal?article_id=direct-debits-and-standing-orders&amp;article_type=guide\"
        method=\"post\" name=\"guide_direct-debits-and-standing-orders\"><div><input
        class=\"action-submit\" data-action-event=\"add\" tabindex=\"0\" type=\"submit\"
        value=\"Add to my to do list\" /><input name=\"authenticity_token\" type=\"hidden\"
        value=\"kau2yJgXqK6c8Sbl95H2UAB5AkNm32vikpc00NQrfkQ=\" /></div></form> </div></p><h2>Do
        it on pay day </h2><p>The best time to put a bit of money aside is just after
        you\u2019ve been paid, so set up your standing order to go out on, or just
        after pay day. </p><p>Or ask your workplace if they have a savings scheme
        \u2013 and think about joining it if they do. This makes saving even easier,
        because the mone[...]
