<%= render layout: 'layouts/application_shared' do %>

  <% if content_for?(:context_bar) %>
    <div class="l-context-bar">
      <div class="l-constrained">
        <%= yield :context_bar %>
      </div>
    </div>
  <% end %>

  <div class="l-constrained" id="main" tabindex="-1">
    <%= content_for?(:constrained_main) ? yield(:constrained_main) : yield %>
  </div>
<% end %>

