<%= render layout: 'layouts/application_shared' do %>

  <% if content_for?(:context_bar) %>
    <div class="l-context-bar">
      <div class="l-constrained">
        <%= yield :context_bar %>
      </div>
    </div>
  <% end %>

  <div class="l-constrained t-default-main-content" <%== 'id="main"' if default_main_content_location? %> tabindex="-1">
    <%= yield %>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      // this only works because the parent in AEM receives the message
      // and has code to act on it
      if (window.parent && window.parent.postMessage) {
        window.parent.postMessage({scrollToTop: true}, '*');
      }
    });
  </script>
<% end %>
