<%= render layout: 'layouts/application_shared' do %>
  <% if content_for?(:context_bar) %>
    <div class="l-context-bar">
      <div class="l-constrained">
        <%= yield :context_bar %>
      </div>
    </div>
  <% end %>

  <div id="main" tabindex="-1">
    <!-- @MS Needs a conditional logic -->
    <div class="l-constrained">
      <%=  render 'shared/tool_alert' %>
    </div>
    <!-- @MS End of conditional logic -->
    <%= yield %>
  </div>
<% end %>
