<%= render layout: 'layouts/application_shared' do %>
  <% if content_for?(:context_bar) %>
    <div class="l-context-bar">
      <div class="l-constrained">
        <%= yield :context_bar %>
      </div>
    </div>
  <% end %>

  <div id="main" tabindex="-1">
    <% if display_banner_warning? && whitelisted? %>
      <div class="l-constrained">
        <%=  render 'shared/banner_alert' %>
      </div>
    <% end %>
    <%= yield %>
  </div>
<% end %>
