<% content_for :main do %>

  <% if content_for?(:breadcrumbs) %>
    <div class="breadcrumbs">
      <div class="l-constrained">
        <%= yield :breadcrumbs %>
      </div>
    </div>
  <% end %>

  <div class="l-constrained l-padded" id="main" tabindex="-1">
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
