<% content_for :main do %>

  <% if content_for?(:breadcrumb) %>
    <nav class="l-context-bar">
      <div class="l-constrained">
        <%= yield :breadcrumb %>
      </div>
    </nav>
  <% end %>

  <div class="l-constrained l-padded" id="main" tabindex="-1">
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
