<% content_for :main do %>

  <% if content_for?(:context_bar) %>
    <nav class="l-context-bar l-padded">
      <div class="l-constrained">
        <%= yield :context_bar %>
      </div>
    </nav>
  <% end %>

  <div class="l-constrained l-padded" id="main" tabindex="-1">
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
