<!DOCTYPE html>
<html>
  <head>
    <title>MAS Offline page</title>
    <%= stylesheet_link_tag 'dough/assets/stylesheets/basic' %>
    <%= stylesheet_link_tag 'enhanced_responsive', media: 'only all' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
