<!DOCTYPE html>
<html>
  <head>
    <title>MAS Offline page</title>
    <%= stylesheet_link_tag 'dough/assets/stylesheets/basic' %>
    <%= stylesheet_link_tag 'enhanced_responsive', media: 'only all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
