<!DOCTYPE html>
<html>
  <head>
    <title>MAS Offline page</title>
    <link rel="stylesheet" media="screen" href="/assets/dough/assets/stylesheets/basic.css">
    <link rel="stylesheet" media="screen" href="/assets/enhanced_responsive.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
