.l-contact-panels {
  margin-top: 40px;
  border-top: $default-border-thin;
}

.l-contact-panels--no-border-top {
  margin-top:40px;
  border-top:none;
}

.l-contact-panel {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(4);
  }
}
