.l-contact-cell {
  @include column(12);
  @extend %clearfix;

  @include respond-to($mq-s) {
    @include column(6);

    &:first-child {
      @include column(12);
    }
  }

  @include respond-to($mq-l) {
    @include column(3);

    &:first-child {
      @include column(3);
    }
  }
}

.l-contact-cell--separated {
  position: relative;

  &:after {
    background: #ccc;
    bottom: 0;
    content: '';
    display: none;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 1px;

    @include respond-to($mq-l) {
      display: block;
    };
  }
}
