.l-context-bar {
  @include respond-to($mq-xs, $mq-s-max) {
    @include visually-hidden;
  }

  @include respond-to($mq-m) {
    background-color: $breadcrumbs-background-color;
    padding-top: $baseline-unit*3;
    padding-bottom: $baseline-unit*3;

    .breadcrumbs,
    .related-categories {
      @include column(12);
    }
  }
}
