.l-context-bar {
  padding-top: $baseline-unit;
  padding-bottom: $baseline-unit;
  background-color: $breadcrumbs-background-color;

  @include respond-to($mq-m) {
    padding-top: $baseline-unit*3;
    padding-bottom: $baseline-unit*3;
  }

  .breadcrumbs,
  .related-categories {
    @include column(12);
  }
}
