.l-context-bar {
  padding-top: px(12);
  padding-bottom: px(12);
  background-color: $breadcrumbs-background-color;

  @include respond-to($mq-m) {
    padding-top: px(18);
    padding-bottom: px(18);
  }

  .breadcrumbs,
  .related-categories {
    @include column(12);
  }
}
