.l-contact-panels {
  overflow: hidden;
  position: relative;
  height: auto;
  margin-top: 40px;
  border-top: $default-border-thin;

  @include respond-to($mq-l) {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: $baseline-unit*4;
      left: 50%;
      border-right: 1px solid $color-newsletter-input-border;
      width: 1px;
      min-height: 400px;
    }
  }
}

.l-contact-panels--no-border-top {
  margin-top: 40px;
  border-top: 0;
}

.l-contact-panels--homepage {
  border-top: 0;
  margin-top: 0;
}

.l-contact-panel {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(6);
  }
}