.l-contact-panels {
  position: relative;
  margin-top: 40px;
  border-top: $default-border-thin;
}

.l-contact-panels--no-border-top {
  margin-top: 40px;
  border-top: 0;
}

.l-contact-panels--homepage {
  border-top: 0;
  margin-top: 0;

  @include respond-to($mq-l) {
    &:before, &:after {
      content: "";
      position: absolute;
      border-right: 1px solid $color-newsletter-input-border;
      height: 400px;
      left: 33.3333%;
    }

    &:after {
      right: 33.3333%;
    }
  }
}

.l-contact-panel {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(4);
  }
}
