.l-footer {
  .social-links {
    float: right;
  }

  .icon--logo {
    margin-top: $baseline-unit*2;
  }

  .footer-site-links__login {
    @include respond-to($mq-m) {
      display: none;
    }
  }

}
