.l-footer {
  position: relative; // Fixes Safari bug so please don't remove

  // Old footer styles - to be removed once new footer is turned on.

  .social-links {
    float: right;
  }

  .icon--logo {
    margin-top: $baseline-unit*2;
  }

  .footer-site-links__login {
    @include respond-to($mq-m) {
      display: none;
    }

    > form {
      @include inline-block;
    }
  }

  .authentication__link {
    @extend %link-nav-secondary;
  }
}

// New footer components

.l-footer-primary {
  background-color: $color-footer-bg;
}

.l-footer-primary__left {
  @include column(12);
  margin-top: $baseline-unit*6;

  @include respond-to($mq-l) {
    @include column(8);
  }
}

.l-footer-primary__right {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(4);
  }
}

.l-footer-secondary {
  overflow: hidden;
  color: $color-text-icon;
  background-color: $color-green-primary;
  position: relative; // fix white space issue in Safari
}

.l-footer-secondary__list--left {
  @include column(12);

  @include respond-to($mq-s) {
    @include column(6);
  }

  @include respond-to($mq-l) {
    @include column(4);
  }
}

.l-footer-secondary__list--right {
  @include column(12);

  @include respond-to($mq-s) {
    @include column(6);
  }

  @include respond-to($mq-l) {
    @include column(8);
    text-align: right;
    float: right;
  }
}
