// Fixed footer panel, fixed at bottom of viewport
//
// Styleguide Fixed Footer Panel

.l-footer-fixed {
  bottom: 2px;
  left: 0;
  position: fixed;
  width: 100%;
}

.l-footer-fixed-container {
  padding-bottom: 150px;
}
