.l-footer {
  position: relative; // Fixes Safari bug so please don't remove
}

.l-footer-primary {
  background-color: $color-footer-bg;

  .l-constrained {
    position: relative;
  }
}

.l-footer-primary__left {
  @include column(12);
  margin-top: $baseline-unit*6;

  @include respond-to($mq-s) {
    @include column(6);
  }

  @include respond-to($mq-l) {
    @include column(6);
  }
}

.l-footer-primary__right {
  @include column(12);
  text-align: center;

  @include respond-to($mq-s) {
    text-align: left;
  }

  @include respond-to($mq-s, $mq-s-max) {
    .l-footer-primary__list--left {
      margin-bottom: 0;
    }

    .l-footer-primary__list--centre {
        margin-top: 0;
        margin-bottom: 0;
    }

    .l-footer-primary__list--right {
        margin-top: 0;
    }
  }

  @include respond-to($mq-s) {
    @include column(6);
  }

  @include respond-to($mq-l) {
    @include column(6);
  }
}

.l-footer-primary__list {
  @extend %clearfix;
  @extend .unstyled-list;
  margin-top: $baseline-unit*6;
  margin-bottom: $baseline-unit*4;
}

.l-footer-primary__social-sharing {
  @mixin counter-inline() {
    text-align: left;

    .button {
      position: absolute;
    }

    .social-sharing__counter {
      position: relative;
      top: 27.5px;
      transform: translateY(-50%);
      margin: 0 0 0 55px;
      padding: 0 0 0 10px;
    }

    .footer-primary__list-item {
      position: absolute;
      top: 50%;
      margin-top: -27.5px;
    }
  }

  .button,
  .button:active,
  .button:focus {
    border-bottom: none;
    border-radius: 50%;
    border: none;
  }

  .social-sharing__counter {
    margin: $baseline-unit 0;
    color: $color-black;
  }

  margin-top: 0;
  padding-left: 0;
  text-align: center;

  @include respond-to($mq-s, $mq-s-max) {
    @include counter-inline;
  }

  @include respond-to($mq-xl) {
    @include counter-inline;
  }

  .twitter-link,
  .twitter-link:active,
  .twitter-link:focus {
    background: $color-twitter;
    padding: 18.5px 16.426px; // (55px - 18px) / 2 - (55px - (184.573px * (18 / 150))) / 2

    &:hover {
      background: $color-twitter-hover;
    }
  }

  .facebook-link,
  .facebook-link:active,
  .facebook-link:focus {
    background: $color-facebook;
    padding: 16.5px 21.788px; // (55px - 22px) / 2 - (55px - (77.8924px * (22 / 150))) / 2

    &:hover {
      background: $color-facebook-hover;
    }
  }

  .youtube-link,
  .youtube-link:active,
  .youtube-link:focus {
    background: $color-youtube;
    padding: 18.5px 14.704px; // (55px - 18px) / 2 - (55px - (213.264px * (18 / 150))) / 2

    &:hover {
      background: $color-youtube-hover;
    }
  }
}

.social-sharing__counter__total {
  font-weight: bold;
  display: block;
  @include body(24, 24);

  @include respond-to($mq-l) {
    @include body(30, 30);
  }
}

.social-sharing__counter__label {
  display: block;
  @include body(14, 14);
}

.l-footer-primary__list--left {
  @include column(4);
  min-height: 55px;

  @include respond-to($mq-s, $mq-s-max) {
    @include column(12);
    position: relative;
  }
}

.l-footer-primary__list--centre {
  @include column(4);
  min-height: 55px;

  @include respond-to($mq-s, $mq-s-max) {
    @include column(12);
    position: relative;
  }
}

.l-footer-primary__list--right {
  @include column(4);
  min-height: 55px;

  @include respond-to($mq-s, $mq-s-max) {
    @include column(12);
    position: relative;
  }

  .footer-primary__list-item {
    line-height: 1;

    .footer-primary__blog-link,
    .footer-primary__blog-link:visited,
    .footer-primary__blog-link:focus,
    .footer-primary__blog-link:active {
      background: $color-mas-blog-blue;
      border-radius: 5px;
      border-bottom: none;
      color: $color-mas-blog-button;
      font-weight: 700;
      padding: $baseline-unit*2 px(24);
      text-transform: uppercase;
      text-decoration: none;
      @include body(18, 18);

      @include respond-to($mq-xl) {
        position: absolute;
        top: 50%;
        margin-top: -21px;
      }
    }

    .footer-primary__blog-link:hover {
      text-decoration: none;
      background-color: $color-mas-blog-blue-hover;
    }
  }
}

.l-footer-secondary {
  overflow: hidden;
  color: $color-text-icon;
  background-color: $color-green-primary;
  position: relative; // fix white space issue in Safari

  .l-footer-authentication-link {
    @include respond-to($mq-xl) {
      display: none;
    }

    > form {
      @include inline-block;
    }
  }

  .l-language-link {
    @include respond-to($mq-l) {
      display: none;
    }
  }
}

.l-footer-secondary__list--left {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(4);
  }
}

.l-footer-secondary__list--right {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(8);
    text-align: right;
    float: right;
  }
}
