.l-footer {
  position: relative; // Fixes Safari bug so please don't remove

  // OLD FOOTER STYLES

  .social-links {
    float: right;
  }

  .icon--logo {
    margin-top: $baseline-unit*2;
  }

  .footer-site-links__login {
    @include respond-to($mq-m) {
      display: none;
    }

    > form {
      @include inline-block;
    }
  }

  .authentication__link {
    @extend %link-nav-secondary;
  }

  // NEW FOOTER COMPONENT STYLES

  .footer-secondary__list--left {
    @include column(12);

    @include respond-to($mq-s) {
      @include column(6);
    }

    @include respond-to($mq-l) {
      @include column(4);
    }
  }

  .footer-secondary__list--right {
    @include column(12);

    @include respond-to($mq-s) {
      @include column(6);
    }

    @include respond-to($mq-l) {
      @include column(8);
      text-align: right;
      float: right;
    }
  }

  .newsletter-signup {
    @include column(12);

    @include respond-to($mq-l) {
      @include column(8);
    }
  }

  .footer-primary__list {
    @include column(12);

    @include respond-to($mq-l) {
      @include column(4);
    }
  }

  .footer-primary__list-item {
    width: 50%;
    float: left;

    &:nth-child(6),
    &:nth-child(7) {
      clear: left;
    }
  }

}
