.l-main {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(7);
    @include pull(2);
    float: right;
    margin-bottom: 42px;
  }
}

.l-nav {
  float: left;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 42px;

  @include respond-to($mq-m) {
    @include column(3);
  }
}
