.l-main {
  @include column(12);
  min-height: $baseline-unit*100;

  @include respond-to($mq-m) {
    @include column(9);

    float: right;
    margin-bottom: 42px;
  }
}

.l-main__row {
  @include row(9);
}

// Main content container with only one column
//
// Styleguide layout-main-single

.l-main__cell-single {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(9);
  }
}

// Main content container with two columns
//
// Styleguide layout-main-double

.l-main__cell-double-primary {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(8);
  }
}

.l-main__cell-double-secondary {
  @include column(12);

  @include respond-to($mq-l) {
    @include column(4);
    margin-top: 130px;
    float: right;
  }
}

.l-nav {
  float: left;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 42px;

  @include respond-to($mq-m) {
    @include column(3);
  }

  .link-list-primary {
    @include column(12);
  }

  .link-to-top-block {
    @include respond-to($mq-m) {
      display: none;
    }
  }
}
