.l-main {
  @include column(12);

  @include respond-to($mq-m) {
    @include column(9);
    float: right;
    margin-bottom: 42px;
  }

  @include respond-to($mq-l) {
    @include column(7);
    @include pull(2);
    float: right;
    margin-bottom: 42px;
  }
}

.l-nav {
  float: left;
  margin: 60px 0 42px 0;

  @include respond-to($mq-m) {
    @include column(3);
    margin-top: 60px;
  }

  .link-list-primary__item {
    @include column(12);

    @include respond-to($mq-m) {
      width: 100%;
      margin: 0;
    }
  }

  .link-list-primary__item--back-to-top {
    width: 100%;
    margin-left: 0;

    @include respond-to($mq-m) {
      display: none;
    }
  }
}
