.l-header {
  position: relative;
  background: $color-green-primary;
  min-height: $baseline-unit*11;

  .mobile-nav {
    display: none;
  }

  .mas-logo {
    @include respond-to($mq-m) {
      float: left;
      margin-top: $baseline-unit*1.5;
      margin-bottom: $baseline-unit*1.5;
    }
  }

  .primary-nav {
    @include respond-to($mq-m) {
      margin: $baseline-unit*2 0;
      float: right;
    }
  }

  .search {
    width: 100%;
    margin: 0;
  }

  .l-search {
    background-color: $color-grey-pale;
    padding: $baseline-unit*3 $baseline-unit;
    border-bottom: 1px solid $color-white;


    @include respond-to($mq-m) {
      border: 0;
      background-color: transparent;
      padding: 0;

      @include column(4);
      float: right;
      margin-top: $baseline-unit*3;
      margin-bottom: $baseline-unit*3;

      .search__input {
        border: 0;
        border-radius: $baseline-unit/2;
      }
    }
  }


  .mobile-nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    @include respond-to($mq-m) {
      display: none;
    }
  }

  .no-js & .mobile-nav__item--search {
    display: none;
  }

  .js & .nav {
    display: none;

    &.is-on {
      display: block;
    }
  }

  .js & .l-search {
    display: none;

    &.is-on {
      display: block;
    }

    @include respond-to($mq-m) {
      display: block;
    }
  }
}

.l-menu-nav {
  @extend %clearfix;
  background: $color-white;
  margin-top: 2px;

  @include respond-to($mq-m) {
    display: none;
  }

  .link-list-primary {
    @include column(12);
  }

  .link-list-primary__item:last-child {
    border-bottom: 0;
  }
}

// 1. Hide by default as don't want non-js users to see all sub-category links as page will be unusable.
//    They are able to get to sublinks on page refresh

.l-primary-nav-dropdown {
  @extend %collapsable-target;
  display: none; // 1

  @include respond-to($mq-m) {
    &.is-on {
      position: absolute;
      top: $baseline-unit*14;
      left: 0;
      z-index: 10;
    }
  }

  .theme-cy & {
    top: 76px;
  }

  ul {
    margin: 0 auto;
    max-width: $mq-xl;
  }
}

