.l-header {
  width: 100%;
  z-index: 200;
  min-height: $baseline-unit*9;
  background-color: transparent;

  @include respond-to($mq-m) {
    background: $color-green-primary;
    min-height: $baseline-unit*11;
  }

  .mobile-nav {
    display: none;
  }

  .mas-logo {
    @include column(4);
    margin-bottom: $baseline-unit*2;
    margin-top: $baseline-unit*2;
    position: relative;

    @include respond-to($mq-m) {
      @include column(10);
      vertical-align: top;
      margin-top: 12px;
      margin-bottom: $baseline-unit*2;
    }

    @include respond-to($mq-l) {
      @include column(8);
      margin-bottom: $baseline-unit;
    }

    @include respond-to($mq-xl) {
      @include column(6);

      .theme-cy & {
        @include column(7);
      }
    }
  }

  .authentication {
    @include column(1);
    display: none;

    @include respond-to($mq-l) {
      @include inline-block;
    }

    @include respond-to($mq-xl) {
      @include column(3);
    }
  }

  .language-link {
    @include respond-to($mq-m) {
      display: none;
    }
  }

  .authentication__item {
    display: none;

    @include respond-to($mq-xl) {
      @include inline-block;
    }
  }

  .l-language-link {
    @include respond-to($mq-m) {
      @include inline-block;
    }
  }

  .authentication__link,
  .authentication__item > a {
    @extend %font-heading-medium;
    color: $color-white;

    &:visited {
      color: $color-white;
    }
  }

  .l-authentication {
    @include respond-to($mq-l) {
      @include column(4);
    }

    @include respond-to($mq-xl) {
      @include column(6);

      .theme-cy & {
        @include column(5);
      }
    }
  }

  .icon--globe {
    display: none;
  }

  .search {
    margin: 0;
    width: 100%;
  }

  .l-search {
    background-color: $color-grey-pale;
    border-bottom: 1px solid $color-white;
    clear: both;
    padding: $baseline-unit*3 $baseline-unit;

    @include respond-to($mq-l) {
      @include column(3);
      border: 0;
      background-color: transparent;
      clear: none;
      margin-top: $baseline-unit*2;
      margin-bottom: $baseline-unit*2;
      padding: 0;

      .search__input {
        border: 0;
        border-radius: $baseline-unit/2;
      }
    }

    .theme-cy & {
      @include respond-to($mq-xl) {
        @include column(2);
      }
    }
  }

  .mobile-nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    @include respond-to($mq-m) {
      top: 3px;
    }

    @include respond-to($mq-l) {
      display: none;
    }
  }

  .no-js & .mobile-nav__item--search {
    display: none;
  }

  .js & .nav {
    display: none;

    &.is-on {
      display: block;

      .nav__strapline {
        display: block;
        @include column(12);
        background: $color-grey-pale;
        color: $color-true-black;
        padding: $baseline-unit*2 10px;

        @include respond-to($mq-small-tablet) {
          display: none;
        }
      }
    }
  }

  .js & .l-search {
    display: none;

    &.is-on {
      display: block;
    }

    @include respond-to($mq-l) {
      display: block;
    }
  }
}

.l-header__content {
  position: fixed;
  background-color: $color-green-primary;
  z-index: 150;
  max-height: 100%;
  overflow-y: auto;

  @include respond-to($mq-m) {
    position: relative;
    overflow-y: visible;
    background-color: transparent;
  }
}

.l-header__content--non-sticky {
  position: relative;
  overflow-y: auto;

  @include respond-to($mq-m) {
    overflow-y: visible;
  }
}

.l-menu-nav {
  @extend %clearfix;
  background: $color-white;
  clear: both;

  @include respond-to($mq-l) {
    display: none;
  }

  .link-list-primary {
    @include column(12);
  }

  .link-list-primary__item:last-child {
    border-bottom: 0;
  }
}

.l-header__strapline {
  display: none;

  @include respond-to($mq-m) {
    @include paragraph(14, 24);
    border-left: 1px solid rgb(255,255,255);
    color: $color-white;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 0;
    padding-left: $baseline-unit*3;
    position: absolute;
    top: 50%;
    margin-top: -$baseline-unit*1.5;

    .theme-cy & {
      padding-left: $baseline-unit;
    }
  }

  @include respond-to($mq-m) {
    .theme-cy & {
      padding-left: $baseline-unit*3;
    }
  }
}
