.l-header {
  position: relative;
  background: $color-green-primary;
  min-height: $baseline-unit*11;

  .mobile-nav {
    display: none;
  }

  .mas-logo {
    @include column(4);
    margin-top: $baseline-unit*3;
    margin-bottom: $baseline-unit*3;

    @include respond-to(px(600)) {
      @include column(10);
      margin-top: 0;
      vertical-align: top;
    }

    @include respond-to($mq-l) {
      @include column(8);
    }

    @include respond-to($mq-xl) {
      @include column(6);

      .theme-cy & {
        @include column(7);
      }
    }
  }

  .authentication {
    @include column(1);
    display: none;

    @include respond-to($mq-l) {
      @include inline-block;
    }

    @include respond-to($mq-xl) {
      @include column(3);
    }
  }

  .language-link {
    @include respond-to($mq-m) {
      display: none;
    }
  }

  .authentication__item {
    display: none;

    @include respond-to($mq-xl) {
      @include inline-block;
    }
  }

  .l-language-link {
    @include respond-to($mq-m) {
      @include inline-block;
    }
  }

  .authentication__link,
  .authentication__item > a {
    @extend %font-heading-medium;
    color: $color-white;

    &:visited {
      color: $color-white;
    }
  }

  .l-authentication {
    @include respond-to($mq-m) {
      @include column(8);
    }
  }

  .icon--globe {
    display: none;
  }

  .search {
    width: 100%;
    margin: 0;
  }

  .l-search {
    background-color: $color-grey-pale;
    padding: $baseline-unit*3 $baseline-unit;
    border-bottom: 1px solid $color-white;
    clear: both;

    @include respond-to($mq-l) {
      @include column(3);
      border: 0;
      background-color: transparent;
      padding: 0;
      clear: none;
      margin-top: $baseline-unit*2;
      margin-bottom: $baseline-unit*2;

      .search__input {
        border: 0;
        border-radius: $baseline-unit/2;
      }
    }

    .theme-cy & {
      @include respond-to($mq-xl) {
        @include column(2);
      }
    }
  }

  .mobile-nav {
    display: block;
    position: absolute;
    top: 3px;
    right: 0;

    @include respond-to($mq-l) {
      display: none;
    }
  }

  .no-js & .mobile-nav__item--search {
    display: none;
  }

  .js & .nav {
    display: none;

    &.is-on {
      display: block;

      .nav__strapline {
        @include column(12);
        padding: $baseline-unit*2 10px;
        color: #000;
        background: $color-grey-pale;

        @include respond-to(px(600)) {
          display: none;
        }
      }
    }
  }

  .js & .l-search {
    display: none;

    &.is-on {
      display: block;
    }

    @include respond-to($mq-l) {
      display: block;
    }
  }
}

.l-menu-nav {
  @extend %clearfix;
  background: $color-white;
  clear: both;

  @include respond-to($mq-l) {
    display: none;
  }

  .link-list-primary {
    @include column(12);
  }

  .link-list-primary__item:last-child {
    border-bottom: 0;
  }
}

.l-header__strapline {
  display: none;

  @include respond-to(px(600)) {
    @include paragraph(16, 24);
    border-left: 1px solid rgba(255,255,255,.3);
    display: inline-block;
    padding-left: $baseline-unit*3;
    margin-top: $baseline-unit*4;
    color: $color-white;

    .theme-cy & {
      padding-left: $baseline-unit;
    }
  }

  @include respond-to($mq-m) {
    .theme-cy & {
      padding-left: $baseline-unit*3;
    }
  }
}
