.l-news-signup-inpage {

  .button--newsletter {
    width: 70%;
    margin-left: 0;

    @include respond-to($mq-s) {
      width: 45%;
      margin-left: $baseline-unit;
    }

    @include respond-to($mq-3col-layout) {
      width: 75%;
      margin-left: 0;
    }

    @include respond-to($mq-l) {
      width: 40%;
      margin-left: $baseline-unit;
    }
  }

}
