---
http_interactions:
- request:
    method: get
    uri: https://www.moneyadviceservice.org.uk/en/action_plans/decide-whether-to-rent-or-buy.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Link:
      - <https://www.moneyadviceservice.org.uk/en/action_plans/decide-whether-to-rent-or-buy>
        rel="alternate"; hreflang="en-GB"; title="Action plan - Decide whether to
        rent or buy", <https://www.moneyadviceservice.org.uk/cy/action_plans/penderfynwch-naill-ai-rhentu-neu-brynu>
        rel="alternate"; hreflang="cy-GB"; title="Cynllun gweithredu - Penderfynwch
        naill ai rhentu neu brynu"
      X-Session-Id:
      - 5c18d41080d1707c0e874def94696997
    body:
      encoding: UTF-8
      string: '{"id":"decide-whether-to-rent-or-buy","title":"Action plan - Decide
        whether to rent or buy","description":"Practical advice to help you work out
        whether buying or renting a property is best for you.","body":"<p class=\"intro\"><img
        src=\"/images/ap0039-action-plan-decide-whether-to-rent-or-buy.jpg\"/>Buying
        a property is probably the biggest financial decision you\u2019ll ever have
        to make. Follow these steps to help work out whether it is better for you
        to rent or buy. </p><div class=\"action-item\"><h3>List the pros and cons
        of buying a property </h3><div class=\"collapsable\"><div class=\"why\"><h4>Why?
        </h4><p>Writing everything down in one place will help focus the mind when
        deciding whether to buy or rent\u00a0- and will be a useful reference point
        when looking at your finances, especially if money is tight. </p></div><div
        class=\"how\"><h4>How? </h4><ul><li><a href=\"https://www.moneyadviceservice.org.uk/en/articles/should-you-rent-or-buy\">Check
        out this list of pros and cons of home ownership</a></li><li><a href=\"https://www.moneyadviceservice.org.uk/en/articles/your-legal-and-financial-responsibilities-when-renting\">Read
        our guide Your legal and financial responsibilities when renting</a></li></ul><p>Now
        grab a pen and make your own list! </p></div></div></div><div class=\"action-item\"><h3>Compare
        the potential[...]
